esed-data-int-app/install/repository/CMM/3rdPartyCMM/HrmsBase/HR_LA_LF_JC_SYNC.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by Ashutosh Rana (TCS) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://collab.safeway.com/it/architecture/info/hrlbragrmnt" targetNamespace="http://collab.safeway.com/it/architecture/info/hrlbragrmnt" elementFormDefault="qualified">
	<xsd:element name="HR_LA_LF_JC" type="HR_LA_LF_JC_TypeShape"/>
	<xsd:complexType name="HR_LA_LF_JC_TypeShape">
		<xsd:sequence>
			<xsd:element name="FieldTypes" type="FieldTypes_TypeShape"/>
			<xsd:element name="MsgData" type="MsgData_TypeShape"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FieldTypes_TypeShape">
		<xsd:all>
			<xsd:element name="HR_LABOR_AGRMNT" type="FieldTypesHR_LABOR_AGRMNT_TypeShape"/>
			<xsd:element name="HR_LBR_FACILITY" type="FieldTypesHR_LBR_FACILITY_TypeShape"/>
			<xsd:element name="HR_LBR_JOBCODE" type="FieldTypesHR_LBR_JOBCODE_TypeShape"/>
			<xsd:element name="S_LA_DPT_JC" type="FieldTypesS_LA_DPT_JC_TypeShape"/>
			<xsd:element name="PSCAMA" type="FieldTypesPSCAMA_TypeShape"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="FieldTypesHR_LABOR_AGRMNT_TypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="FieldTypesCharFieldType"/>
			<xsd:element name="LABOR_AGREEMENT" type="FieldTypesCharFieldType"/>
			<xsd:element name="EFFDT" type="FieldTypesDateFieldType"/>
			<xsd:element name="EFF_STATUS" type="FieldTypesCharFieldType" minOccurs="0"/>
			<xsd:element name="UNION_CD" type="FieldTypesCharFieldType" minOccurs="0"/>
			<xsd:element name="BARG_UNIT" type="FieldTypesCharFieldType" minOccurs="0"/>
			<xsd:element name="DESCR" type="FieldTypesCharFieldType"/>
			<xsd:element name="DESCRSHORT" type="FieldTypesCharFieldType" minOccurs="0"/>
			<xsd:element name="CONTRACT_BEGIN_DT" type="FieldTypesDateFieldType" minOccurs="0"/>
			<xsd:element name="CONTRACT_END_DT" type="FieldTypesDateFieldType" minOccurs="0"/>
			<xsd:element name="CNTRCT_RATIFY_DT" type="FieldTypesDateFieldType" minOccurs="0"/>
			<xsd:element name="LBR_EXPIRY_RULE_ID" type="FieldTypesCharFieldType" minOccurs="0"/>
			<xsd:element name="CARRYOVR_ACCR_TIME" type="FieldTypesCharFieldType" minOccurs="0"/>
			<xsd:element name="CARRYOVR_WP_STEP" type="FieldTypesCharFieldType" minOccurs="0"/>
			<xsd:element name="CARRYOVR_WP_STP_DT" type="FieldTypesCharFieldType" minOccurs="0"/>
			<xsd:element name="JOBCODE_FLG" type="FieldTypesCharFieldType" minOccurs="0"/>
			<xsd:element name="SENIORITY_RULE_FLG" type="FieldTypesCharFieldType" minOccurs="0"/>
			<xsd:element name="FACILITY_FLG" type="FieldTypesCharFieldType" minOccurs="0"/>
			<xsd:element name="COMMENTS" type="FieldTypesCharFieldType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="class" type="xsd:string" use="required" fixed="R"/>
	</xsd:complexType>
	<xsd:complexType name="FieldTypesHR_LBR_FACILITY_TypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="FieldTypesCharFieldType"/>
			<xsd:element name="LABOR_AGREEMENT" type="FieldTypesCharFieldType"/>
			<xsd:element name="EFFDT" type="FieldTypesDateFieldType"/>
			<xsd:element name="LABOR_FACILITY_ID" type="FieldTypesCharFieldType"/>
		</xsd:sequence>
		<xsd:attribute name="class" type="xsd:string" use="required" fixed="R"/>
	</xsd:complexType>
	<xsd:complexType name="FieldTypesHR_LBR_JOBCODE_TypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="FieldTypesCharFieldType"/>
			<xsd:element name="LABOR_AGREEMENT" type="FieldTypesCharFieldType"/>
			<xsd:element name="EFFDT" type="FieldTypesDateFieldType"/>
			<xsd:element name="SETID_JOBCODE" type="FieldTypesCharFieldType"/>
			<xsd:element name="JOBCODE" type="FieldTypesCharFieldType"/>
			<xsd:element name="LABOR_JOB_CLASS" type="FieldTypesCharFieldType"/>
			<xsd:element name="EMPL_CTG" type="FieldTypesCharFieldType"/>
			<xsd:element name="HIER_SEQ_NUM" type="FieldTypesNumberFieldType" minOccurs="0"/>
			<xsd:element name="SETID_SALARY" type="FieldTypesCharFieldType" minOccurs="0"/>
			<xsd:element name="SAL_ADMIN_PLAN" type="FieldTypesCharFieldType" minOccurs="0"/>
			<xsd:element name="GRADE" type="FieldTypesCharFieldType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="class" type="xsd:string" use="required" fixed="R"/>
	</xsd:complexType>
	<xsd:complexType name="FieldTypesS_LA_DPT_JC_TypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="FieldTypesCharFieldType"/>
			<xsd:element name="LABOR_AGREEMENT" type="FieldTypesCharFieldType"/>
			<xsd:element name="EFFDT" type="FieldTypesDateFieldType"/>
			<xsd:element name="LABOR_FACILITY_ID" type="FieldTypesCharFieldType"/>
			<xsd:element name="SETID_JOBCODE" type="FieldTypesCharFieldType"/>
			<xsd:element name="JOBCODE" type="FieldTypesCharFieldType"/>
			<xsd:element name="STATUS_DT" type="FieldTypesDateFieldType"/>
			<xsd:element name="EFF_STATUS" type="FieldTypesCharFieldType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="class" type="xsd:string" use="required" fixed="R"/>
	</xsd:complexType>
	<xsd:complexType name="FieldTypesPSCAMA_TypeShape">
		<xsd:sequence>
			<xsd:element name="LANGUAGE_CD" type="FieldTypesCharFieldType" minOccurs="0"/>
			<xsd:element name="AUDIT_ACTN" type="FieldTypesCharFieldType" minOccurs="0"/>
			<xsd:element name="BASE_LANGUAGE_CD" type="FieldTypesCharFieldType" minOccurs="0"/>
			<xsd:element name="MSG_SEQ_FLG" type="FieldTypesCharFieldType" minOccurs="0"/>
			<xsd:element name="PROCESS_INSTANCE" type="FieldTypesNumberFieldType" minOccurs="0"/>
			<xsd:element name="PUBLISH_RULE_ID" type="FieldTypesCharFieldType" minOccurs="0"/>
			<xsd:element name="MSGNODENAME" type="FieldTypesCharFieldType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="class" type="xsd:string" use="required" fixed="R"/>
	</xsd:complexType>
	<xsd:complexType name="FieldTypesCharFieldType">
		<xsd:attribute name="type" type="xsd:string" use="required" fixed="CHAR"/>
	</xsd:complexType>
	<xsd:complexType name="FieldTypesNumberFieldType">
		<xsd:attribute name="type" type="xsd:string" use="required" fixed="NUMBER"/>
	</xsd:complexType>
	<xsd:complexType name="FieldTypesDateFieldType">
		<xsd:attribute name="type" type="xsd:string" use="required" fixed="DATE"/>
	</xsd:complexType>
	<xsd:complexType name="FieldTypesTimeFieldType">
		<xsd:attribute name="type" type="xsd:string" use="required" fixed="TIME"/>
	</xsd:complexType>
	<xsd:complexType name="FieldTypesDateTimeFieldType">
		<xsd:attribute name="type" type="xsd:string" use="required" fixed="DATETIME"/>
	</xsd:complexType>
	<xsd:complexType name="FieldTypesImageRefFieldType">
		<xsd:attribute name="type" type="xsd:string" use="required" fixed="IMAGEREFERENCE"/>
	</xsd:complexType>
	<xsd:complexType name="MsgData_TypeShape">
		<xsd:sequence>
			<xsd:element name="Transaction" type="Transaction_TypeShape" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Transaction_TypeShape">
		<xsd:all>
			<xsd:element name="HR_LABOR_AGRMNT" type="HR_LABOR_AGRMNTMsgDataRecord_TypeShape" minOccurs="0"/>
			<xsd:element name="PSCAMA" type="PSCAMAMsgDataRecord_TypeShape"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="HR_LABOR_AGRMNTMsgDataRecord_TypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="SETID_TypeShape">
				<xsd:annotation>
					<xsd:documentation>SetID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LABOR_AGREEMENT" type="LABOR_AGREEMENT_TypeShape" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>LABOR_AGREEMENT defines general information about labor agreements which is a character of length 6.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EFFDT" type="EFFDT_TypeShape">
				<xsd:annotation>
					<xsd:documentation>Effective Date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EFF_STATUS" type="EFF_STATUS_TypeShape" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Effective Date Status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UNION_CD" type="UNION_CD_TypeShape" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>UNION_CD refers to the appropriate Union Code defined in the Unions component. is a character of length 3</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BARG_UNIT" type="BARG_UNIT_TypeShape" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>BARG_UNIT defines the Bargaining units having a one to one relationship with labor agreements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DESCR" type="DESCR_TypeShape" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DESCRSHORT" type="DESCRSHORT_TypeShape" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short Description of 10 chars</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CONTRACT_BEGIN_DT" type="CONTRACT_BEGIN_DT_TypeShape" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contract Begin Date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CONTRACT_END_DT" type="CONTRACT_END_DT_TypeShape" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contract end date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CNTRCT_RATIFY_DT" type="CNTRCT_RATIFY_DT_TypeShape" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contract Ratification Date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LBR_EXPIRY_RULE_ID" type="LBR_EXPIRY_RULE_ID_TypeShape" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Labor Recall Expiry Rule ID
Prompt Table: HR_RCL_EXP_TBL</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CARRYOVR_ACCR_TIME" type="CARRYOVR_ACCR_TIME_TypeShape" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Wage Progression Hours Worked
Y/N Table Edit</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CARRYOVR_WP_STEP" type="CARRYOVR_WP_STEP_TypeShape" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Step ID
Y/N Table Edit</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CARRYOVR_WP_STP_DT" type="CARRYOVR_WP_STP_DT_TypeShape" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Step Entry Date
Y/N Table Edit</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="JOBCODE_FLG" type="JOBCODE_FLG_TypeShape" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>JOBCODE_FLG allows the system to validate the job code assigned to a worker Job Data - Job Information page (JOB_DATA_JOBCODE),is a character of length 1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SENIORITY_RULE_FLG" type="SENIORITY_RULE_FLG_TypeShape" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SENIORITY_RULE_FLG is set if the agreement includes rules regarding seniority, layoffs, and recalls, assign the recall expiration rule, seniority dates and tie breakers and it is a character of length 1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FACILITY_FLG" type="FACILITY_FLG_TypeShape" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FACILITY_FLG denotes the facility flag which is set  to manage layoff and recall events, assign the labor facilities that are tied to this agreement and it is a character of length 1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="COMMENTS" type="COMMENTS_TypeShape" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Free Comments</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="class" type="xsd:string" use="required" fixed="R"/>
	</xsd:complexType>
	<xsd:complexType name="HR_LBR_FACILITYMsgDataRecord_TypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="SETID_TypeShape"/>
			<xsd:element name="LABOR_AGREEMENT" type="LABOR_AGREEMENT_TypeShape"/>
			<xsd:element name="EFFDT" type="EFFDT_TypeShape"/>
			<xsd:element name="LABOR_FACILITY_ID" type="LABOR_FACILITY_ID_TypeShape"/>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="S_LA_DPT_JC" type="S_LA_DPT_JCMsgDataRecord_TypeShape"/>
				<xsd:element name="PSCAMA" type="PSCAMAMsgDataRecord_TypeShape" minOccurs="0"/>
			</xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="class" type="xsd:string" use="required" fixed="R"/>
	</xsd:complexType>
	<xsd:complexType name="S_LA_DPT_JCMsgDataRecord_TypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="SETID_TypeShape"/>
			<xsd:element name="LABOR_AGREEMENT" type="LABOR_AGREEMENT_TypeShape"/>
			<xsd:element name="EFFDT" type="EFFDT_TypeShape"/>
			<xsd:element name="LABOR_FACILITY_ID" type="LABOR_FACILITY_ID_TypeShape"/>
			<xsd:element name="SETID_JOBCODE" type="SETID_JOBCODE_TypeShape"/>
			<xsd:element name="JOBCODE" type="JOBCODE_TypeShape"/>
			<xsd:element name="STATUS_DT" type="STATUS_DT_TypeShape"/>
			<xsd:element name="EFF_STATUS" type="EFF_STATUS_TypeShape" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="class" type="xsd:string" use="required" fixed="R"/>
	</xsd:complexType>
	<xsd:complexType name="HR_LBR_JOBCODEMsgDataRecord_TypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="SETID_TypeShape"/>
			<xsd:element name="LABOR_AGREEMENT" type="LABOR_AGREEMENT_TypeShape"/>
			<xsd:element name="EFFDT" type="EFFDT_TypeShape"/>
			<xsd:element name="SETID_JOBCODE" type="SETID_JOBCODE_TypeShape"/>
			<xsd:element name="JOBCODE" type="JOBCODE_TypeShape"/>
			<xsd:element name="LABOR_JOB_CLASS" type="LABOR_JOB_CLASS_TypeShape"/>
			<xsd:element name="EMPL_CTG" type="EMPL_CTG_TypeShape"/>
			<xsd:element name="HIER_SEQ_NUM" type="HIER_SEQ_NUM_TypeShape" minOccurs="0"/>
			<xsd:element name="SETID_SALARY" type="SETID_SALARY_TypeShape" minOccurs="0"/>
			<xsd:element name="SAL_ADMIN_PLAN" type="SAL_ADMIN_PLAN_TypeShape" minOccurs="0"/>
			<xsd:element name="GRADE" type="GRADE_TypeShape" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="class" type="xsd:string" use="required" fixed="R"/>
	</xsd:complexType>
	<xsd:complexType name="SETID_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SETID_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LABOR_AGREEMENT_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="LABOR_AGREEMENT_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EFFDT_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="EFFDT_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EFF_STATUS_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="EFF_STATUS_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="UNION_CD_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="UNION_CD_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="BARG_UNIT_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="BARG_UNIT_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DESCR_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="DESCR_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DESCRSHORT_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="DESCRSHORT_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CONTRACT_BEGIN_DT_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CONTRACT_BEGIN_DT_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CONTRACT_END_DT_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CONTRACT_END_DT_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CNTRCT_RATIFY_DT_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CNTRCT_RATIFY_DT_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LBR_EXPIRY_RULE_ID_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="LBR_EXPIRY_RULE_ID_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CARRYOVR_ACCR_TIME_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CARRYOVR_ACCR_TIME_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CARRYOVR_WP_STEP_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CARRYOVR_WP_STEP_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CARRYOVR_WP_STP_DT_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CARRYOVR_WP_STP_DT_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="JOBCODE_FLG_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="JOBCODE_FLG_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SENIORITY_RULE_FLG_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SENIORITY_RULE_FLG_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="FACILITY_FLG_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="FACILITY_FLG_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="COMMENTS_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="COMMENTS_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="SETID_TypeDef">
		<xsd:annotation>
			<xsd:documentation>SetID</xsd:documentation>
			<xsd:documentation>SETID is a character of length 5. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LABOR_AGREEMENT_TypeDef">
		<xsd:annotation>
			<xsd:documentation>LABOR_AGREEMENT is a character of length 6. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EFFDT_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Effective Date</xsd:documentation>
			<xsd:documentation>EFFDT is a date.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="(\d{4}-\d{2}-\d{2})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EFF_STATUS_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Effective Status</xsd:documentation>
			<xsd:documentation>EFF_STATUS is a character of length 1. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UNION_CD_TypeDef">
		<xsd:annotation>
			<xsd:documentation>UNION_CD is a character of length 3. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BARG_UNIT_TypeDef">
		<xsd:annotation>
			<xsd:documentation>BARG_UNIT is a character of length 4. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DESCR_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Description</xsd:documentation>
			<xsd:documentation>DESCR is a character of length 30</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DESCRSHORT_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Short Description</xsd:documentation>
			<xsd:documentation>DESCRSHORT is a character of length 10</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CONTRACT_BEGIN_DT_TypeDef">
		<xsd:annotation>
			<xsd:documentation>CONTRACT_BEGIN_DT is a date.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="(\d{4}-\d{2}-\d{2})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CONTRACT_END_DT_TypeDef">
		<xsd:annotation>
			<xsd:documentation>CONTRACT_END_DT is a date.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="(\d{4}-\d{2}-\d{2})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CNTRCT_RATIFY_DT_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Contract Ratified Date</xsd:documentation>
			<xsd:documentation>CNTRCT_RATIFY_DT is a date.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="(\d{4}-\d{2}-\d{2})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LBR_EXPIRY_RULE_ID_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Labor Recall Expiry Rule ID</xsd:documentation>
			<xsd:documentation>LBR_EXPIRY_RULE_ID is a character of length 11. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CARRYOVR_ACCR_TIME_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Wage Progression Hours Worked</xsd:documentation>
			<xsd:documentation>CARRYOVR_ACCR_TIME is a character of length 1. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CARRYOVR_WP_STEP_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Step ID</xsd:documentation>
			<xsd:documentation>CARRYOVR_WP_STEP is a character of length 1. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CARRYOVR_WP_STP_DT_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Step Entry Date</xsd:documentation>
			<xsd:documentation>CARRYOVR_WP_STP_DT is a character of length 1. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="JOBCODE_FLG_TypeDef">
		<xsd:annotation>
			<xsd:documentation>JOBCODE_FLG is a character of length 1. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SENIORITY_RULE_FLG_TypeDef">
		<xsd:annotation>
			<xsd:documentation>SENIORITY_RULE_FLG is a character of length 1. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FACILITY_FLG_TypeDef">
		<xsd:annotation>
			<xsd:documentation>FACILITY_FLG is a character of length 1. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="COMMENTS_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Comment                       </xsd:documentation>
			<xsd:documentation>COMMENTS is a character of length 0</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="LABOR_FACILITY_ID_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="LABOR_FACILITY_ID_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="LABOR_FACILITY_ID_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Labor Facility ID</xsd:documentation>
			<xsd:documentation>LABOR_FACILITY_ID is a character of length 10. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SETID_JOBCODE_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SETID_JOBCODE_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="JOBCODE_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="JOBCODE_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LABOR_JOB_CLASS_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="LABOR_JOB_CLASS_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EMPL_CTG_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="EMPL_CTG_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="HIER_SEQ_NUM_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="HIER_SEQ_NUM_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SETID_SALARY_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SETID_SALARY_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SAL_ADMIN_PLAN_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SAL_ADMIN_PLAN_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="GRADE_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="GRADE_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="SETID_JOBCODE_TypeDef">
		<xsd:annotation>
			<xsd:documentation>SETID_JOBCODE is a character of length 5. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="JOBCODE_TypeDef">
		<xsd:annotation>
			<xsd:documentation>JOBCODE is a character of length 6. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LABOR_JOB_CLASS_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Labor job class</xsd:documentation>
			<xsd:documentation>LABOR_JOB_CLASS is a character of length 10. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EMPL_CTG_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Created by:Siva Viswanathan
Date Created:12-13-2013
Description:Added field label S_SLIM_CAT</xsd:documentation>
			<xsd:documentation>EMPL_CTG is a character of length 6. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HIER_SEQ_NUM_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Bumping Sequence</xsd:documentation>
			<xsd:documentation>HIER_SEQ_NUM is a number of length 4 with a decimal position of 0</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SETID_SALARY_TypeDef">
		<xsd:annotation>
			<xsd:documentation>SETID_SALARY is a character of length 5. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SAL_ADMIN_PLAN_TypeDef">
		<xsd:annotation>
			<xsd:documentation>SAL_ADMIN_PLAN is a character of length 4. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GRADE_TypeDef">
		<xsd:annotation>
			<xsd:documentation>GRADE is a character of length 3. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="STATUS_DT_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="STATUS_DT_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="STATUS_DT_TypeDef">
		<xsd:annotation>
			<xsd:documentation>STATUS_DT is a date.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="(\d{4}-\d{2}-\d{2})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PSCAMAMsgDataRecord_TypeShape">
		<xsd:sequence>
			<xsd:element name="LANGUAGE_CD" type="LANGUAGE_CD_TypeShape" minOccurs="0"/>
			<xsd:element name="AUDIT_ACTN" type="AUDIT_ACTN_TypeShape" minOccurs="0"/>
			<xsd:element name="BASE_LANGUAGE_CD" type="BASE_LANGUAGE_CD_TypeShape" minOccurs="0"/>
			<xsd:element name="MSG_SEQ_FLG" type="MSG_SEQ_FLG_TypeShape" minOccurs="0"/>
			<xsd:element name="PROCESS_INSTANCE" type="PROCESS_INSTANCE_TypeShape" minOccurs="0"/>
			<xsd:element name="PUBLISH_RULE_ID" type="PUBLISH_RULE_ID_TypeShape" minOccurs="0"/>
			<xsd:element name="MSGNODENAME" type="MSGNODENAME_TypeShape" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="class" type="xsd:string" use="required" fixed="R"/>
	</xsd:complexType>
	<xsd:complexType name="LANGUAGE_CD_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="LANGUAGE_CD_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AUDIT_ACTN_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="AUDIT_ACTN_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="BASE_LANGUAGE_CD_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="BASE_LANGUAGE_CD_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSG_SEQ_FLG_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="MSG_SEQ_FLG_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PROCESS_INSTANCE_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="PROCESS_INSTANCE_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PUBLISH_RULE_ID_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="PUBLISH_RULE_ID_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSGNODENAME_TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="MSGNODENAME_TypeDef">
				<xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="LANGUAGE_CD_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Language Code</xsd:documentation>
			<xsd:documentation>LANGUAGE_CD is a character of length 3. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AUDIT_ACTN_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Audit Action Code for Application Messages.  This tells the subscriber whether the row has been added, changed, or deleted.</xsd:documentation>
			<xsd:documentation>AUDIT_ACTN is a character of length 1. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BASE_LANGUAGE_CD_TypeDef">
		<xsd:annotation>
			<xsd:documentation>BASE_LANGUAGE_CD is a character of length 3. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MSG_SEQ_FLG_TypeDef">
		<xsd:annotation>
			<xsd:documentation>MSG_SEQ_FLG is a character of length 1. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PROCESS_INSTANCE_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Process Instance</xsd:documentation>
			<xsd:documentation>PROCESS_INSTANCE is a number of length 10 with a decimal position of 0</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PUBLISH_RULE_ID_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Publish Rule ID</xsd:documentation>
			<xsd:documentation>PUBLISH_RULE_ID is a character of length 30. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MSGNODENAME_TypeDef">
		<xsd:annotation>
			<xsd:documentation>Application Message Node Name.  Name of the Application Message Node Definition.</xsd:documentation>
			<xsd:documentation>MSGNODENAME is a character of length 30. Allows Uppercase characters including numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
