esed-data-int-app/install/repository/CMM/3rdPartyCMM/HrmsBase/WORKFORCE_SYNC.xsd

<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by Ashutosh Rana (TCS) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://collab.safeway.com/it/architecture/info/wfsync" targetNamespace="http://collab.safeway.com/it/architecture/info/wfsync" elementFormDefault="qualified">
	<xsd:element name="S_WORKFORCE_SYNC_RES" type="S_WORKFORCE_SYNC_REStype"/>
	<xsd:complexType name="S_WORKFORCE_SYNC_REStype">
		<xsd:sequence>
			<xsd:element name="PER_ORG_ASGN" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EMPLID" type="xsd:int" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>EMPLID is a field to store Applicant/Employee ID which is a character of length 11</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EMPL_RCD" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>EMPL_RCD is a field to store Employee Record which is a number of length 3</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PER_ORG" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>PER_ORG is field to store Organizational Relationship which a character of length 3</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ORG_INSTANCE_ERN" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>ORG_INSTANCE_ERN is a field to store Organizational Instance which is  number of length 3</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="POI_TYPE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>POI_TYPE is a field to store Person of Interest Type which is a character of length 5</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="BENEFIT_RCD_NBR" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>BENEFIT_RCD_NBR denotes Benefit Record Number which is a number of length 3</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="HOME_HOST_CLASS" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>HOME_HOST_CLASS denotes Home/Host Classification which is a character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CMPNY_DT_OVR" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>CMPNY_DT_OVR denotes Override Company Sen. Dt which is character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CMPNY_SENIORITY_DT" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>CMPNY_SENIORITY_DT denotes Company Seniority Date which is a date variable.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SERVICE_DT_OVR" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>SERVICE_DT_OVR denotes Override Service Date which is a character of length 1.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SERVICE_DT" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>SERVICE_DT denotes Service data of an employee which is a data variable.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SEN_PAY_DT_OVR" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>SEN_PAY_DT_OVR is a date which denotes Override Seniority Pay Date of an employee.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SENIORITY_PAY_DT" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>SENIORITY_PAY_DT is a date which denotes Seniority Pay Calc Date of an employee.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PROF_EXPERIENCE_DT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>PROF_EXPERIENCE_DT is a date which denotes Professional Experience Date of an employee.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LAST_VERIFICATN_DT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>LAST_VERIFICATN_DT is a date which describes Last Verification Date of an employee.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PROBATION_DT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>PROBATION_DT is date which denotes Probation Date of an employee.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LAST_INCREASE_DT" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>LAST_INCREASE_DT is a date which denotes Date Last Increase of an employee.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="OWN_5PERCENT_CO" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>OWN_5PERCENT_CO is field which denotes whether the emplyoee Owns 5% (or More) of Company.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="BUSINESS_TITLE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>BUSINESS_TITLE is a field which stores the employee's Business Title.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="POSITION_PHONE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>POSITION_PHONE is a field which stores the specific phone number of an employee.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LAST_CHILD_UPDDTM" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>LAST_CHILD_UPDDTM is a field which stores Last Update to Assignment Data.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PER_ORG_INST" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="EMPLID" type="xsd:int" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EMPLID indicates Employee Number.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ORG_INSTANCE_ERN" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ORG_INSTANCE_ERN is the field used to denote Organizational Instance (also referred to as an Employment Instance, a contingent worker instance, or a POI instance) it is number field oflength 3.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PER_ORG" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>PER_ORG Defines the Organizational Relationship(s) that a Person has to the Organization.  These are Employee, Contingent Worker, and Persons of Interest.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="POI_TYPE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>POI_TYPE is the Person of Interest Type which is a categorization of the Person of Interest relationships, a person can have multiple POI_TYPES and some POI_TYPES require JOB information.A 5 length character.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ORIG_HIRE_OVR" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Indicates if Original hire date was overridden.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ORIG_HIRE_DT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ORIG_HIRE_DT denotes original hire date of the employee</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ORIG_INST_SRV_OVR" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ORIG_INST_SRV_OVR is used to indicate whether the user has overridden the Organizational Instance Service Date. If they have, then the field will not be set by the JOB peoplecode.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ORIG_INST_SRV_DT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ORIG_INST_SRV_DT indicates the Org Instance Service Date.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="NEE_PROVIDER_ID" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>NEE_PROVIDER_ID indicates the ID for the Non Employee Provider, Agency, or Employer.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LASTUPDDTTM" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>LASTUPDDTTM is the Last updated timestamp.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LASTUPDOPRID" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>LASTUPDOPRID indicates the Last updated by user information.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="JOB" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="EMPLID" type="xsd:int" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EMPLID is a field to store Applicant/Employee ID which is a character of length 11</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EMPL_RCD" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EMPL_RCD is a field to store Employee Record which is a number of length 3</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EFFDT" type="xsd:date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EFFDT is a field to store effective date which denotes a date fron when the employee is active.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EFFSEQ" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EFFSEQ is a field to store effective sequence of effective dated employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PER_ORG" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>PER_ORG is field to store person organisation.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="DEPTID" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>DEPTID is field to store department code used in Albertsons.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="JOBCODE" type="xsd:short" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>JOBCODE is field to store job code used in Albertsons which describes various jobs.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="POSITION_NBR" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>POSITION_NBR is a field to store Position number of the employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SUPERVISOR_ID" type="xsd:int" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>SUPERVISOR_ID is a field to store the empl id of the supervisor for particular employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="HR_STATUS" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>HR_STATUS is a field to store status of employee either active ot Inactive.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="APPT_TYPE" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>APPT_TYPE is a field to store the Appointment Type of the employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="MAIN_APPT_NUM_JPN" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>MAIN_APPT_NUM_JPN  is a field to store Main Appointment Number for that employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="POSITION_OVERRIDE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>POSITION_OVERRIDE  is a field to store Override Position Data of an employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="POSN_CHANGE_RECORD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>POSN_CHANGE_RECORD is a field to store Position Management Record of an employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EMPL_STATUS" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EMPL_STATUS is a field to store status of an employee whether he is active/leave/retire.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ACTION" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ACTION is a field to store the recent action performed on the employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ACTION_DT" type="xsd:date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ACTION_DT is a field to store the date when the action is performed on the employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ACTION_REASON" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ACTION_REASON is a field to store the action description performed on the employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LOCATION" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>LOCATION is a field to the location code of that particular employee</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="TAX_LOCATION_CD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>TAX_LOCATION_CD is the tax location of the employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="JOB_ENTRY_DT" type="xsd:date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>JOB_ENTRY_DT is a field to store the job entry date of an employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="DEPT_ENTRY_DT" type="xsd:date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>DEPT_ENTRY_DT is a field to store when the employee enroled in that department.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="POSITION_ENTRY_DT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>POSITION_ENTRY_DT is a field to store the position entry date of an employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SHIFT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>SHIFT is a field which denotes the shift of the employee either normal/night.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="REG_TEMP" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>REG_TEMP is a field which denotes that the employee is Regular/Temporary Position.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="FULL_PART_TIME" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>FULL_PART_TIME is a field which denotes the employee is a full time or part time employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="COMPANY" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>COMPANY denotes the company of that employee working.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PAYGROUP" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>PAYGROUP denotes the paygroup of the company that employee belongs to.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="BAS_GROUP_ID" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>BAS_GROUP_ID is a field to store BAS Group ID of that employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ELIG_CONFIG1" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ELIG_CONFIG1 is a field to Eligibility Config Field of that employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ELIG_CONFIG2" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ELIG_CONFIG2 is a field to Eligibility Config Field of that employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ELIG_CONFIG3" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ELIG_CONFIG3 is a field to Eligibility Config Field of that employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ELIG_CONFIG4" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ELIG_CONFIG4 is a field to Eligibility Config Field of that employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ELIG_CONFIG5" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ELIG_CONFIG5 is a field to Eligibility Config Field of that employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ELIG_CONFIG6" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ELIG_CONFIG6 is a field to Eligibility Config Field of that employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ELIG_CONFIG7" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ELIG_CONFIG7 is a field to Eligibility Config Field of that employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ELIG_CONFIG8" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ELIG_CONFIG8 is a field to Eligibility Config Field of that employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ELIG_CONFIG9" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ELIG_CONFIG9 is a field to Eligibility Config Field of that employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="BEN_STATUS" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>BEN_STATUS is a field to store Benefits Employee  of the employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="BAS_ACTION" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>BAS_ACTION is a field to store Benefits Administration Action of the employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="COBRA_ACTION" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>COBRA_ACTION is a field to store COBRA_ACTION of the employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EMPL_TYPE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EMPL_TYPE is a field to store Employee Type Default.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="HOLIDAY_SCHEDULE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>HOLIDAY_SCHEDULE	denotes the Holiday Schedule ID of the employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="STD_HOURS" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>STD_HOURS denotes the standard hours assigned to the employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="STD_HRS_FREQUENCY" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>STD_HRS_FREQUENCY indicates the Standard Work Period. It is 5 length Character.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="OFFICER_CD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>OFFICER_CD describes the officer code. It is one length Character.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EMPL_CLASS" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EMPL_CLASS indicates Employee Classification whether Employee or contigent worker or POI.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SAL_ADMIN_PLAN" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>SAL_ADMIN_PLAN is the Salary Administration Plan.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="GRADE" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>GRADE indicates the salary Grade.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="GRADE_ENTRY_DT" type="xsd:date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>GRADE_ENTRY_DT gives the Salary GradeENtry Date.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="STEP" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>STEP is a field created when save a job code is saved .The system uses rate code defaulting rules (instead of the Job Code and Salary Step setup tables) for the compensation defaulting.One length integer with 2 decimal places.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="STEP_ENTRY_DT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>STEP_ENTRY_DT is the entry date of the step.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="GL_PAY_TYPE" type="xsd:short" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>GL_PAY_TYPE describes General Ledger Pay Type.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ACCT_CD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ACCT_CD indicates the Account or Combination Code.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EARNS_DIST_TYPE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EARNS_DIST_TYPE indicates the Earnings Distribution Type.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="COMP_FREQUENCY" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>COMP_FREQUENCY indicates Compensation Frequency. It is 5 length Character.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="COMPRATE" type="xsd:float" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>COMPRATE indicates the Compensation Rate/Frequency.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CHANGE_AMT" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>CHANGE_AMT indicates Change Amount of Fixed Salary.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CHANGE_PCT" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>CHANGE_PCT is the Change Percent.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ANNUAL_RT" type="xsd:int" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ANNUAL_RT indicates the annual Rate.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="MONTHLY_RT" type="xsd:float" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>MONTHLY_RT indicates the monthly rate.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="DAILY_RT" type="xsd:float" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>DAILY_RT indicates the daily rate.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="HOURLY_RT" type="xsd:float" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>HOURLY_RT indicates the daily rate.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ANNL_BENEF_BASE_RT" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ANNL_BENEF_BASE_RT specifies a compensation amount used to calculate benefits and benefit deductions for an employee.  The base compensation amount may include commissions and bonuses in addition to regular compensation.  If no Annual Benefits Base Rate is entered, then benefits calculations are based on an employee's regular compensation.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SHIFT_RT" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>SHIFT_RT indicates Shift Differential Rate.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SHIFT_FACTOR" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>SHIFT_FACTOR indicates Shift Differential Factor.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CURRENCY_CD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>CURRENCY_CD is used to indicate the currency code. It is a 3 length Character.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="BUSINESS_UNIT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>BUSINESS_UNIT is used o determine the Business Unit.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SETID_DEPT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>SETID_DEPT is used to determine Department Setid.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SETID_JOBCODE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>SETID_JOBCODE is used to determine JobCode Setid.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SETID_LOCATION" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>SETID_LOCATION is used to determine Location Setid.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SETID_SALARY" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>SETID_SALARY is used to determine Salary Setid. </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SETID_EMPL_CLASS" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>SETID_EMPL_CLASS is used to determine Employee Classification Setid.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="REG_REGION" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>REG_REGION is the  job code's regulatory region.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="DIRECTLY_TIPPED" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>DIRECTLY_TIPPED is an 1 length character which indicates the Tip.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="FLSA_STATUS" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>FLSA_STATUS  indicates whether this job is exempt or nonexempt according to the FLSA. This value becomes the default for the FLSA status on all worker job records that are associated with this job code.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EEO_CLASS" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EEO_CLASS idicates EEO Classification.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="FUNCTION_CD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>FUNCTION_CD is the code that best categorizes the job by function, such as administrative, legal, or management.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="TARIFF_GER" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>TARIFF_GER indicates Tarrif. A 2length Character </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="TARIFF_AREA_GER" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>TARIFF_AREA_GER indicates the Tarrif Area.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PERFORM_GROUP_GER" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>PERFORM_GROUP_GER indiactes the Performance Group</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LABOR_TYPE_GER" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>LABOR_TYPE_GER indicates the Labor Type.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SPK_COMM_ID_GER" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>SPK_COMM_ID_GER indicates Spokesmen Committee ID </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="HOURLY_RT_FRA" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>HOURLY_RT_FRA is a field to store Hours Type for france employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ACCDNT_CD_FRA" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ACCDNT_CD_FRA is a field to store Work Accident Type Code</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="VALUE_1_FRA" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>VALUE_1_FRA is a custom field to store random value.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="VALUE_2_FRA" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>VALUE_2_FRA is a custom field to store random value.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="VALUE_3_FRA" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>VALUE_3_FRA is a custom field to store random value.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="VALUE_4_FRA" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>VALUE_4_FRA is a custom field to store random value.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="VALUE_5_FRA" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>VALUE_5_FRA is a custom field to store random value.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CTG_RATE" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>CTG_RATE  is a field to store Category Rate.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PAID_HOURS" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Number of Paid Hours</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PAID_FTE" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>PAID_FTE is a field to store the paid fte value of an employee</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PAID_HRS_FREQUENCY" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>PAID_HRS_FREQUENCY is a field to store the Paid Work Period of an employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="UNION_FULL_PART" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>UNION_FULL_PART is a field to store the emplpoyee's Union Participation.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="UNION_POS" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>UNION_POS is a field to store the Union Position of an employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="MATRICULA_NBR" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>MATRICULA_NBR is a field to store Last Matricula Number Assigned to the employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SOC_SEC_RISK_CODE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>SOC_SEC_RISK_CODE is a field to store Occupation Codeof an employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="UNION_FEE_AMOUNT" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>UNION_FEE_AMOUNT is a field to store Union Fee Amount of an emplpoyee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="UNION_FEE_START_DT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>UNION_FEE_START_DT is a union start date of an employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="UNION_FEE_END_DT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>UNION_FEE_END_DT is a union end date of an employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EXEMPT_JOB_LBR" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EXEMPT_JOB_LBR is a field to store the Exempted value of the employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EXEMPT_HOURS_MONTH" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EXEMPT_HOURS_MONTH is a field to store the Exempted Hours per Month of the employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="WRKS_CNCL_FUNCTION" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>WRKS_CNCL_FUNCTION is a field to store Works Council Function of an employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="INTERCTR_WRKS_CNCL" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>INTERCTR_WRKS_CNCL is a field to store InterCtr.Works Cnil Function of an employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CURRENCY_CD1" type="xsd:string" minOccurs="0"/>
									<xsd:element name="PAY_UNION_FEE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>PAY_UNION_FEE is a field to store pay union fee of an employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="UNION_CD" type="xsd:byte" minOccurs="0"/>
									<xsd:element name="BARG_UNIT" type="xsd:short" minOccurs="0"/>
									<xsd:element name="UNION_SENIORITY_DT" type="xsd:date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>UNION_SENIORITY_DT is a field to store the union seniority date of an employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ENTRY_DATE" type="xsd:date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ENTRY_DATE is a field to store the entry date of an employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LABOR_AGREEMENT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>LABOR_AGREEMENT indicates the labor Agreement.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EMPL_CTG" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EMPL_CTG describes the employee category and is 6 length Character.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EMPL_CTG_L1" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EMPL_CTG_L1 indicates Employee Sub Category 1.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EMPL_CTG_L2" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EMPL_CTG_L2 indicates Employee Sub Category 2.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SETID_LBR_AGRMNT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>SETID_LBR_AGRMNT is a field to store setid of the particular labor agreement.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="WPP_STOP_FLAG" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>WPP_STOP_FLAG denotes Stop Wage Progression data of the employee.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LABOR_FACILITY_ID" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>LABOR_FACILITY_ID is  field to store labor agreement's facility id.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LBR_FAC_ENTRY_DT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>LBR_FAC_ENTRY_DT field is used to store the Labor Facility Entry Date</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LAYOFF_EXEMPT_FLAG" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>LAYOFF_EXEMPT_FLAG is used to represent a flag for layoff exemption</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LAYOFF_EXEMPT_RSN" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>LAYOFF_EXEMPT_RSN is used to store the reason for Layoff Exemption </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="GP_PAYGROUP" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>GP_PAYGROUP is used to represent paygroup value</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="GP_DFLT_ELIG_GRP" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>GP_DFLT_ELIG_GRP is used to store the paygroup eligibility value</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="GP_ELIG_GRP" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>GP_ELIG_GRP is used to represent the eligibility group</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="GP_DFLT_CURRTTYP" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>GP_DFLT_CURRTTYP is used to store the paygroup current paygroup rate type value</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CUR_RT_TYPE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>CUR_RT_TYPE is used to store the exchange rate type value</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="GP_DFLT_EXRTDT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>GP_DFLT_EXRTDT is used to store the default exchange rate type value</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="GP_ASOF_DT_EXG_RT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>GP_ASOF_DT_EXG_RT is used to store the as of rate</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ADDS_TO_FTE_ACTUAL" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ADDS_TO_FTE_ACTUAL is denotes actual full time equivalent value</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CLASS_INDC" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>CLASS_INDC field is used to store classification/unclassification indicator</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ENCUMB_OVERRIDE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ENCUMB_OVERRIDE field is used to denotes Encumbrance Override</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="FICA_STATUS_EE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>FICA_STATUS_EE is used to store employee Federal Insurace Contributions Act status</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="FTE" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>FTE denotes Full Time Equivalency</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PRORATE_CNT_AMT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>PRORATE_CNT_AMT denotes ProRate contract change amount</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PAY_SYSTEM_FLG" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>PAY_SYSTEM_FLG denotes payroll system flag</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="BORDER_WALKER" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>BORDER_WALKER field is used store cross border worker details</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LUMP_SUM_PAY" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>LUMP_SUM_PAY is used to store Lump Sum Retro Payment details</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CONTRACT_NUM" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>CONTRACT_NUM denotes Contrct number</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="JOB_INDICATOR" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>JOB_INDICATOR denotes job indicator</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="WRKS_CNCL_ROLE_CHE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>WRKS_CNCL_ROLE_CHE field is used to denote work council role</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="BENEFIT_SYSTEM" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>BENEFIT_SYSTEM denotes benefit system</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="WORK_DAY_HOURS" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>WORK_DAY_HOURS field denotes Number of Hours in a Work Day</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="REPORTS_TO" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>REPORTS_TO is used to represent Reports To Position Number</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="FORCE_PUBLISH" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Flag to determine the force publish.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="JOB_DATA_SRC_CD" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>JOB_DATA_SRC_CD denotes job source code</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ESTABID" type="xsd:short" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ESTABID denotes esbilishment ID</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SUPV_LVL_ID" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>SUPV_LVL_ID denotes Supervisor level ID</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SETID_SUPV_LVL" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>SETID_SUPV_LVL denotes Supervisor level SetID</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ABSENCE_SYSTEM_CD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ABSENCE_SYSTEM_CD denotes Absense Management system code</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="POI_TYPE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>POI_TYPE denotes Person of Interest type</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="HIRE_DT" type="xsd:date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>HIRE_DT denotes First Hire date</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LAST_HIRE_DT" type="xsd:date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>LAST_HIRE_DT denotes Last start date</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="TERMINATION_DT" type="xsd:date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>TERMINATION_DT denotes Termination date</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ASGN_START_DT" type="xsd:date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ASGN_START_DT denotes First assignment start date</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LST_ASGN_START_DT" type="xsd:date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>LST_ASGN_START_DT denotes Last assignment start date</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ASGN_END_DT" type="xsd:date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ASGN_END_DT denotes First assignment end date</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LDW_OVR" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>LDW_OVR denotes Override- Last day worked</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LAST_DATE_WORKED" type="xsd:date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>LAST_DATE_WORKED denotes Last date worked</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EXPECTED_RETURN_DT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EXPECTED_RETURN_DT field is used to store the expected return date</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EXPECTED_END_DATE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EXPECTED_END_DATE field is used to store the expected end date</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="AUTO_END_FLG" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>AUTO_END_FLG field is used to monitor when the job ended automatically</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LASTUPDDTTM" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>LASTUPDDTTM denotes Last update date/Time</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LASTUPDOPRID" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>LASTUPDOPRID denotes Last update User ID</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="BEN_PROG_PARTIC" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="EMPLID" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EMPLID indicates Employee Number.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EMPL_RCD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EMPL_RCD is a field to store Employee Record which is a number of length 3</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="COBRA_EVENT_ID" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Cobra Coverage Event ID</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EFFDT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Effective date for record</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="BENEFIT_PROGRAM" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Name of the Benefit program</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="PER_ORG_ASG_MIL" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="EMPLID" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EMPLID indicates Employee Number.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EMPL_RCD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EMPL_RCD denotes the Employee Record number</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="MIL_EARLY_PROM_DT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Denotes Early retirement date from military</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="PER_ORG_ASG_HP" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="EMPLID" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EMPLID indicates Employee Number.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EMPL_RCD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EMPL_RCD denotes the Employee Record number</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="TENURE_ACCR_FLG" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>TENURE_ACCR_FLG indiactes the Accrue Tenure Services. A one length Character</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="FTE_TENURE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>FTE_TENURE indicates the  Accrual Full Time Equivalent Tenure.One length integer with 2 decimal places.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EG_GROUP" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EG_GROUP indicates Service Calculation Group.Generally blank for all. A 6 length Character.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="FTE_FLX_SRVC" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>FTE_FLX_SRVC indiactes Full Time Equivalent for Service Accruals.One length integer with 2 decimal places.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="APPOINT_END_DT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>APPOINT_END_DT indicates the Appointment End Date.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CONTRACT_LENGTH" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>CONTRACT_LENGTH indicates the contract length. A one character Field.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="HP_EMPLT_TEACH" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="EMPLID" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EMPLID indicates Employee Number.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EMPL_RCD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>EMPL_RCD denotes employee recors number.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="DATA_KEY1_DT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>DATA_KEY1_DT indicates Data Key Date or teaching Change Date.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="HP_STATS_RPT_FLAG" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation> HP_STATS_RPT_FLAG Stats-Can Report Flag </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="HP_STATS_DUTIES" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>HP_STATS_DUTIES indicates Duties. Mostly is used for Canada information. A 2 LENGTH CHARACTER FIELD.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="HP_STATS_SUBJ_CD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>HP_STATS_SUBJ_CD indiactes Principal Subject Taught. A 5 length Character.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="HP_TEACHING_LOAD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>HP_TEACHING_LOAD indicates Canadian Teaching Load. One length integer with 2 decimal places.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="HP_FTTE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>HP_FTTE indicates Full-Time Teaching Equivalent. A one length Character.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="HP_COLLAPSE_INDC" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>HP_COLLAPSE_INDC indiactes  whether collapsed into FT Job. A one length Character.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
