Repository/CMM/3rdPartyCMM/POSLog/SafewayPOSlogExtensions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by Sai Nuthakki (Albertsons) -->
<!-- ********************************************************************* -->
<!-- Copyright 2012, Safeway, Inc.                                         -->
<!--                                                                       -->
<!-- This document/file contains proprietary data that is the property of  -->
<!-- Safeway, Inc.  Information contained herein may not be used,          -->
<!-- copied or disclosed in whole or in part except as permitted by a      -->
<!-- written agreement signed by an officer of Safeway.                    -->
<!--                                                                       -->
<!-- Unauthorized use, copying or other reproduction of this document/file -->
<!-- is prohibited by law.                                                 -->
<!-- ********************************************************************* -->
<!--                                                                       -->
<!-- *********************************************************************    
     $Id: SafewayPOSlogExtensions.0.1.xsd,v 1.2 2012/06/08 18:37:44 SAFEWAY01\pharv01 Exp $
     $Revision: 1.2 $
     $Date: 2012/06/08 18:37:44 $
     $Source: /poscvs/SwyRepos/Shared/POSLog/SafewayPOSlogExtensions.0.1.xsd,v $
     $Log: SafewayPOSlogExtensions.0.1.xsd,v $
		2019/07/11 snuth00 
	 Added DocumentType and StarbucksExtenstionsType
	 2013/07/02 Safeway01\snuth00
	 Added Tender type/SubTender type enumeration extensions
     2013/06/26 SAFEWAY01\snuth00
     Added IBM specific common elements type.
     Revision 1.2  2012/06/08 18:37:44  SAFEWAY01\pharv01
     Cleaned up, and removed retail section from item

     Revision 1.1  2012/06/08 17:20:07  SAFEWAY01\pharv01
     Initial dump in
     ********************************************************************* -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Q1="http://www.nrf-arts.org/IXRetail/namespace/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="qualified">
	<!--07/13/2021  Changed EcomOrderNbr to PartnerOrderId in BUsinessPartnerType-->
	<!--06/16/2021  Added new type BusinessPartnerType to identify 3rd party orders and deliveries in a store.-->
	<!--03/16/2021 Added ScreenID as an attribute to QuestionID in Customer survey type.-->
	<!--02/04/2021  Added CustomerSurveyType to capture survey on pin pad.-->
	<!--02/02/2021  Added new complex type PAGExtensonsType for price accuracy gaurentee to customers.-->
	<!--03/11/2020 changes to transactionLinkType, modified element names, though not standard but to accommdate app code.-->
	<!--03/05/2020 changed RXTransactionId to RxTx though it is not standard naming convention to avoid major code changes.-->
	<!--07/11/2019    snuth00  Added DocumentType and StrabucksExtensionsType  -->
	<!-- *********************************************************************    
     * Simple types defined here                                           *
     ********************************************************************* -->
	<xs:import namespace="http://www.nrf-arts.org/IXRetail/namespace/" schemaLocation="POSLogV2.2.1-Strict.xsd"/>
	<xs:complexType name="BusinessPartnerType">
		<xs:annotation>
			<xs:documentation>Defines 3rd party partners participated in order fulfillment and delivery in a retail store. ex: Doordash, Uber, Instacart..etc</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BusinessPartnerId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BusinessPartnerNm">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PartnerOrderId">
				<xs:annotation>
					<xs:documentation>Corresponding Order id from Partner systems</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="LoyaltyAccountID" minOccurs="0"/>
			<xs:element ref="LoyaltyCardID" minOccurs="0"/>
			<xs:element name="QuickResponseCd" type="xs:string">
				<xs:annotation>
					<xs:documentation>Partner QR code scanned at POS to get the partner details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentType">
		<xs:annotation>
			<xs:documentation>Defines document id, name, create timestamp</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocumentID" default="0" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AlternateDocumentID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentNm" default="PurchaseOrder" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the doc, ex Purchase order, Sales Order, Invoice, POSlog</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreationDt" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Date and time the document( PO or Invoice or any other messages) created.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreationTm" type="xs:time"/>
			<xs:element name="Description" default="" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Dsc of the document. ex safeway purchase order, safeway invoice..etc</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SourceApplicationCd" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Applications from where the data is being sourced from into the message.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TargetApplicationCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Target Application that consumes the message.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Note" default="" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GatewayNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the EDI gateway. Ex: Gentran, Axaway, Oracle B2B</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SenderId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EDI message sender Id</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReceiverId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EDI message Receiver Id</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RoutingSystemNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the routing system. Ex iTrade, wims Fax</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InternalFileTransferInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that the source of the messages is from an internal file transfer from Albertsons applications.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InterchangeDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EDI Data interchange date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InterchangeTime" type="xs:time" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EDI Data interchange time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExternalTargetInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if the target system receiving the message is an External or Internal to Albertsons cos. Ex: outbound invoice to wholesale customers is an external message where as outbound invoice to Albertsons Lawson is an Internal message.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DataClassification" type="DataClassificationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataClassificationType">
		<xs:annotation>
			<xs:documentation>Common type to classify the data in a BOD. It helps to identify the type of data in a BOD from security and confidentiality perspective and alert BOD publishers and consumers to encrypt the data in rest and data in motion.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DataClassificationLevel" type="CodeWithDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>various levels of data classification

1- Confidential/Restricted, data encryption needed for data in motion and data in rest. Business Approval needed to publish and consume the data. ex: ssn, credit card, payroll, phi,pci data

2- Internal - No encryption but approval needed to store and transmit, ex PO, Store Order, Org Master

3- Public - no approval/authentication needed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BusinessSensitivityLevel" type="CodeWithDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data sensitivity from the internal business perspective, not related to regulatory restrictions.

Critical 
High
Medium
Low</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PHIdataInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if the BOD carries any PHI (personal Health Info) data elements.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PCIdataInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if the BOD carries any PCI (payment card info) data elements.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PIIdataInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if the BOD carries any PII (person identification Info) data elements.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CodeWithDescriptionType">
		<xs:annotation>
			<xs:documentation>Generic code and description type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Code" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NegativePriceType">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:complexType name="TransactionLinkType">
		<xs:annotation>
			<xs:documentation>Defines link to customer's pharmacy transaction in a virtual POS transaction to post third party payment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReasonCd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BusinessUnitId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="TerminalId" minOccurs="0"/>
			<xs:element ref="TransactionDt" minOccurs="0"/>
			<xs:element name="TerminalSequenceNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sequence number generated with in the terminal.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransactionEndTm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>POS transaction end time</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RxExtensionsType">
		<xs:annotation>
			<xs:documentation>To define Pharmcy transaction specific attributes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RxTx" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Key to uniquely identify the POSLog pharmacy transactions. It's a combination of BatchId + WorkstationId+SequenceNumber generated by the workstation for the transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartialFillInd" type="xs:string" minOccurs="0"/>
			<xs:element name="PartialFillAmt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PatientAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Amount patient is responsible for.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ThirdPartyAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Amount third party like Insurance company is responsible for.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PAGExtensionsType">
		<xs:annotation>
			<xs:documentation>This extension captures Price Accuracy Guarantee specific adjustment information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MatchedItemCode" type="Q1:POSItemID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Item code on which the Price Accuracy Guarantee was applied</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="Q1:POSLogQuantity" form="qualified" minOccurs="0"/>
			<xs:element name="OriginalUnitPrice" type="Q1:POSLogAmount" form="qualified" minOccurs="0"/>
			<xs:element name="AdjustedUnitPrice" type="Q1:POSLogAmount" form="qualified" minOccurs="0"/>
			<xs:element name="TotalDiscountAmount" type="Q1:POSLogAmount" form="qualified" minOccurs="0"/>
			<xs:element name="Department" type="Q1:POSLogMerchandiseHierarchy" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StarbucksExtensionsType">
		<xs:sequence>
			<xs:element name="MerchandId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="TransactionNbr" minOccurs="0"/>
			<xs:element name="RetryInd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="TerminalId" minOccurs="0"/>
			<xs:element name="StartbucksStoreNbr" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AlbertsonsStoreNbr" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="LoyaltyAccountID" minOccurs="0"/>
			<xs:element ref="LoyaltyCardID" minOccurs="0"/>
			<xs:element name="RewardType" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SequenceNbr" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Sequence of the redemption in order</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="RewardCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Coupon/reward code redeemed</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ItemId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Item code/sku of the associated item that coupon was rewarded against</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ItemDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of hte item/sku</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="VoidInd" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CodeIsItemCodeType">
		<xs:annotation>
			<xs:documentation>CodeIsItemCode maps to Toshiba’s “Manufacturers Coupon Key Hit” INDICAT2 item flag</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="SwyRetailTransactionTotalType">
		<xs:annotation>
			<xs:documentation>Safeway extension to retail transaction total type enumerations.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Q1:RetailTransactionTotalTypeExtension">
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="swy:TransactionGrossPositivePositiveAmount"/>
			<xs:enumeration value="swy:TransactionGrossPositiveNegativeAmount"/>
			<xs:enumeration value="swy:TransactionGrossNegativePositiveAmount"/>
			<xs:enumeration value="swy:TransactionGrossNegativeNegativeAmount"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SwySubTenderType">
		<xs:annotation>
			<xs:documentation>Safeway Extension to Tender Sub Type Enumerations.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Q1:TypeCodeExtension">
			<xs:enumeration value="Swy:PayRoll"/>
			<xs:enumeration value="Swy:PayRollwFee"/>
			<xs:enumeration value="Swy:Debit"/>
			<xs:enumeration value="Swy:EBTCash"/>
			<xs:enumeration value="Swy:Scheck"/>
			<xs:enumeration value="Swy:FFwd"/>
			<xs:enumeration value="Swy:Encashment"/>
			<xs:enumeration value="Swy:ThirdParty"/>
			<xs:enumeration value="Swy:Discover"/>
			<xs:enumeration value="Swy:CorpCharge"/>
			<xs:enumeration value="Swy:Fleet"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SwyTenderType">
		<xs:annotation>
			<xs:documentation>Safeway Extension to TenderType enumerations.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Q1:TypeCodeExtension">
			<xs:enumeration value="Swy:Misc"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SectionIDType">
		<xs:annotation>
			<xs:documentation>
        This retail section extension (POS minor department) is required for the cases where there is a retail coupon discounting the item 
        price and the retail coupon is in a different section then the item.  The retail section for the item is stored in the MerchandisingHierarchy 
        and this extension has been added to hold the retail section of the coupon.
      </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ==========================================
                                Utility Simple Types
           ========================================== -->
	<xs:simpleType name="ibmBit">
		<xs:annotation>
			<xs:documentation>for IBM INDICAT fields</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ibmBitFlag">
		<xs:annotation>
			<xs:documentation>for IBM INDICAT fields</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="true"/>
			<xs:enumeration value="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ibmBitMap8">
		<xs:annotation>
			<xs:documentation>for IBM INDICAT fields</xs:documentation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRComplexType composition="unorderedSet"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="Bit0" type="ibmBitFlag"/>
			<xs:element name="Bit1" type="ibmBitFlag"/>
			<xs:element name="Bit2" type="ibmBitFlag"/>
			<xs:element name="Bit3" type="ibmBitFlag"/>
			<xs:element name="Bit4" type="ibmBitFlag"/>
			<xs:element name="Bit5" type="ibmBitFlag"/>
			<xs:element name="Bit6" type="ibmBitFlag"/>
			<xs:element name="Bit7" type="ibmBitFlag"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ibmBitMap16">
		<xs:annotation>
			<xs:documentation>for IBM INDICAT fields</xs:documentation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRComplexType composition="unorderedSet"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="Bit0" type="ibmBitFlag"/>
			<xs:element name="Bit1" type="ibmBitFlag"/>
			<xs:element name="Bit2" type="ibmBitFlag"/>
			<xs:element name="Bit3" type="ibmBitFlag"/>
			<xs:element name="Bit4" type="ibmBitFlag"/>
			<xs:element name="Bit5" type="ibmBitFlag"/>
			<xs:element name="Bit6" type="ibmBitFlag"/>
			<xs:element name="Bit7" type="ibmBitFlag"/>
			<xs:element name="Bit8" type="ibmBitFlag"/>
			<xs:element name="Bit9" type="ibmBitFlag"/>
			<xs:element name="Bit10" type="ibmBitFlag"/>
			<xs:element name="Bit11" type="ibmBitFlag"/>
			<xs:element name="Bit12" type="ibmBitFlag"/>
			<xs:element name="Bit13" type="ibmBitFlag"/>
			<xs:element name="Bit14" type="ibmBitFlag"/>
			<xs:element name="Bit15" type="ibmBitFlag"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ibmBitMap24">
		<xs:annotation>
			<xs:documentation>for IBM INDICAT fields</xs:documentation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRComplexType composition="unorderedSet"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="Bit0" type="ibmBitFlag"/>
			<xs:element name="Bit1" type="ibmBitFlag"/>
			<xs:element name="Bit2" type="ibmBitFlag"/>
			<xs:element name="Bit3" type="ibmBitFlag"/>
			<xs:element name="Bit4" type="ibmBitFlag"/>
			<xs:element name="Bit5" type="ibmBitFlag"/>
			<xs:element name="Bit6" type="ibmBitFlag"/>
			<xs:element name="Bit7" type="ibmBitFlag"/>
			<xs:element name="Bit8" type="ibmBitFlag"/>
			<xs:element name="Bit9" type="ibmBitFlag"/>
			<xs:element name="Bit10" type="ibmBitFlag"/>
			<xs:element name="Bit11" type="ibmBitFlag"/>
			<xs:element name="Bit12" type="ibmBitFlag"/>
			<xs:element name="Bit13" type="ibmBitFlag"/>
			<xs:element name="Bit14" type="ibmBitFlag"/>
			<xs:element name="Bit15" type="ibmBitFlag"/>
			<xs:element name="Bit16" type="ibmBitFlag"/>
			<xs:element name="Bit17" type="ibmBitFlag"/>
			<xs:element name="Bit18" type="ibmBitFlag"/>
			<xs:element name="Bit19" type="ibmBitFlag"/>
			<xs:element name="Bit20" type="ibmBitFlag"/>
			<xs:element name="Bit21" type="ibmBitFlag"/>
			<xs:element name="Bit22" type="ibmBitFlag"/>
			<xs:element name="Bit23" type="ibmBitFlag"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ibmBitMap32">
		<xs:annotation>
			<xs:documentation>for IBM INDICAT fields</xs:documentation>
		</xs:annotation>
		<xs:all minOccurs="1" maxOccurs="1">
			<xs:element name="Bit31" type="ibmBitFlag"/>
			<xs:element name="Bit0" type="ibmBitFlag"/>
			<xs:element name="Bit1" type="ibmBitFlag"/>
			<xs:element name="Bit2" type="ibmBitFlag"/>
			<xs:element name="Bit3" type="ibmBitFlag"/>
			<xs:element name="Bit4" type="ibmBitFlag"/>
			<xs:element name="Bit5" type="ibmBitFlag"/>
			<xs:element name="Bit6" type="ibmBitFlag"/>
			<xs:element name="Bit7" type="ibmBitFlag"/>
			<xs:element name="Bit8" type="ibmBitFlag"/>
			<xs:element name="Bit9" type="ibmBitFlag"/>
			<xs:element name="Bit10" type="ibmBitFlag"/>
			<xs:element name="Bit11" type="ibmBitFlag"/>
			<xs:element name="Bit12" type="ibmBitFlag"/>
			<xs:element name="Bit13" type="ibmBitFlag"/>
			<xs:element name="Bit14" type="ibmBitFlag"/>
			<xs:element name="Bit15" type="ibmBitFlag"/>
			<xs:element name="Bit16" type="ibmBitFlag"/>
			<xs:element name="Bit17" type="ibmBitFlag"/>
			<xs:element name="Bit18" type="ibmBitFlag"/>
			<xs:element name="Bit19" type="ibmBitFlag"/>
			<xs:element name="Bit20" type="ibmBitFlag"/>
			<xs:element name="Bit21" type="ibmBitFlag"/>
			<xs:element name="Bit22" type="ibmBitFlag"/>
			<xs:element name="Bit23" type="ibmBitFlag"/>
			<xs:element name="Bit24" type="ibmBitFlag"/>
			<xs:element name="Bit25" type="ibmBitFlag"/>
			<xs:element name="Bit26" type="ibmBitFlag"/>
			<xs:element name="Bit27" type="ibmBitFlag"/>
			<xs:element name="Bit28" type="ibmBitFlag"/>
			<xs:element name="Bit29" type="ibmBitFlag"/>
			<xs:element name="Bit30" type="ibmBitFlag"/>
		</xs:all>
	</xs:complexType>
	<!-- *********************************************************************    
     * Complex types defined here                                          *
     ********************************************************************* -->
	<xs:complexType name="SwyItemExtensionsType">
		<xs:annotation>
			<xs:documentation>
        This is a container for all Safeway extensions to items (sales/returns)
        We do this so that we can enforce referential integrity within the extensions.
        
        The negative price tag should be set based on bit 2 of indicat2 (price is negative
        due to deal), and indicates that the extended price field needs to be negated.
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="EntryMethodCode" minOccurs="0"/>
			<xs:element name="NegativePrice" type="NegativePriceType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Negative price due to deal.Source field in Tlog : Item Indicat2 - Bit10</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="FuelItem" minOccurs="0"/>
			<xs:element ref="LogAll" minOccurs="0"/>
			<xs:element ref="LogException" minOccurs="0"/>
			<xs:element ref="AliasItemFile" minOccurs="0"/>
			<xs:element ref="NoItemMovement" minOccurs="0"/>
			<xs:element ref="FoodStampItem" minOccurs="0"/>
			<xs:element ref="NonDiscountable" minOccurs="0"/>
			<xs:element ref="CouponMultiplication" minOccurs="0"/>
			<xs:element ref="OverrideRequired" minOccurs="0"/>
			<xs:element ref="DataEntry" minOccurs="0"/>
			<xs:element ref="MultiPriced" minOccurs="0"/>
			<xs:element ref="WeightOrQuantity" minOccurs="0"/>
			<xs:element ref="StoreCouponCreated" minOccurs="0"/>
			<xs:element ref="FoodStampKey" minOccurs="0"/>
			<xs:element ref="CancelKey" minOccurs="0"/>
			<xs:element ref="RefundKey" minOccurs="0"/>
			<xs:element ref="StoreCouponKey" minOccurs="0"/>
			<xs:element ref="ManufacturerCouponKey" minOccurs="0"/>
			<xs:element ref="DepositKey" minOccurs="0"/>
			<xs:element ref="WeightKeyed" minOccurs="0"/>
			<xs:element ref="QuantityKeyed" minOccurs="0"/>
			<xs:element ref="TareKeyed" minOccurs="0"/>
			<xs:element ref="ScaleWeight" minOccurs="0"/>
			<xs:element ref="QuantityRequired" minOccurs="0"/>
			<xs:element ref="RepeatQuantity" minOccurs="0"/>
			<xs:element ref="CouponQuantity" minOccurs="0"/>
			<xs:element ref="QuantityEntryMethod" minOccurs="0"/>
			<xs:element name="PharmacyExtension" type="RxExtensionsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SwyPriceDerivationRuleExtensionsType">
		<xs:annotation>
			<xs:documentation>
        This is a container for all Safeway extensions to PriceDerivationRule
        We do this so that we can enforce referencial integrity within the extensions.
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="POSCouponPLU" type="xs:integer" minOccurs="0"/>
			<xs:element name="SectionID" type="SectionIDType" form="qualified" minOccurs="0"/>
			<xs:element name="Quantity" type="xs:decimal" minOccurs="0"/>
			<xs:element name="CurrentFamilyCode" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Current family code of the item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreviousFamilyCode" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Prvious family code to which the item belongs to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="EntryMethodCode" minOccurs="0"/>
			<xs:element name="NegativePrice" type="NegativePriceType" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Resulted in negative price for the item due to a deal. Source field in Tlog : Item Indicat2 - Bit10</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="FuelItem" minOccurs="0"/>
			<xs:element name="WeightItem" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the item as a weight measured item.Source field in Tlog : Item Indicat1 - Bit17</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnteredPriceUsed" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that the user entered price was used.Source field in Tlog : Item Indicat1 - Bit18</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriceRequired" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Source field in Tlog : Item Indicat1 - Bit19</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="LogAll" minOccurs="0"/>
			<xs:element ref="LogException" minOccurs="0"/>
			<xs:element ref="AliasItemFile" minOccurs="0"/>
			<xs:element ref="NoItemMovement" minOccurs="0"/>
			<xs:element name="TaxPlanA" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that Tax Plan A applies to this item.Source field in Tlog : Item Indicat1 - Bit24</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxPlanB" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that Tax Plan B applies to this item.Source field in Tlog : Item Indicat1 - Bit25</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxPlanC" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that Tax Plan C applies to this item.Source field in Tlog : Item Indicat1 - Bit26</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxPlanD" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that Tax Plan D applies to this item.Source field in Tlog : Item Indicat1 - Bit27</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="FoodStampItem" minOccurs="0"/>
			<xs:element ref="NonDiscountable" minOccurs="0"/>
			<xs:element ref="CouponMultiplication" minOccurs="0"/>
			<xs:element ref="OverrideRequired" minOccurs="0"/>
			<xs:element ref="MultiPriced" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Multi Priced Item. Multipricing group number / Mix and match number (used when a
combination of items compose a deal; value 0-99, 0 = mix only with self) Source field in Tlog : Item Indicat2 - Bit4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WeightOrQuantity" minOccurs="0"/>
			<xs:element ref="StoreCouponCreated" minOccurs="0"/>
			<xs:element ref="TaxKey" minOccurs="0"/>
			<xs:element ref="FoodStampKey" minOccurs="0"/>
			<xs:element ref="CancelKey" minOccurs="0"/>
			<xs:element ref="RefundKey" minOccurs="0"/>
			<xs:element ref="StoreCouponKey" minOccurs="0"/>
			<xs:element name="TaxPlanE" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that Tax Plan E applies to this item.Source field in Tlog : Item Indicat? - Bit??</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxPlanF" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that Tax Plan F applies to this item.Source field in Tlog : Item Indicat? - Bit??</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxPlanG" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that Tax Plan G applies to this item.Source field in Tlog : Item Indicat? - Bit??</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxPlanH" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that Tax Plan H applies to this item.Source field in Tlog : Item Indicat? - Bit??</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MultiPriceGroupNbr" type="xs:string" minOccurs="0"/>
			<xs:element name="DealQuantity" type="xs:integer" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of items in the deal up to this point.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriceMethod" type="xs:string" minOccurs="0"/>
			<xs:element name="SaleQuantity" type="xs:integer" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pricing quantity from the item record count or weight of items in the deal
(value 0-99, 0 is equivalent to 1).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SalePrice" type="xs:decimal" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pricing data from the item record Pricing method 0 or 1: format
00pppppppp where:
pppppppp = unit price if SALEQUAN = 0 or 1
= deal price if SALEQUAN &gt; 1
Pricing method 2: format pppppsssss where:
ppppp = package deal price
sssss = single unit price
Pricing method 3 or 4 format uuuuurrrrr where:
uuuuu = unit price
rrrrr = reduced price</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasuredQuantity" type="xs:decimal" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Entered item quantity or weight or volume.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WeightKeyed" minOccurs="0"/>
			<xs:element ref="QuantityKeyed" minOccurs="0"/>
			<xs:element ref="TareKeyed" minOccurs="0"/>
			<xs:element ref="ScaleWeight" minOccurs="0"/>
			<xs:element ref="QuantityRequired" minOccurs="0"/>
			<xs:element ref="RepeatQuantity" minOccurs="0"/>
			<xs:element ref="CouponQuantity" minOccurs="0"/>
			<xs:element ref="QuantityEntryMethod" minOccurs="0"/>
			<xs:element name="PAGItemInfo" type="PAGExtensionsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SwyTxnExtensionsType">
		<xs:annotation>
			<xs:documentation>           This is a container for all Safeway extensions to POSLog Transaction.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SwyTransactionID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Key to uniquely identify the POSLog transactions. It's a combination of BatchId + WorkstationId+SequenceNumber generated by the workstation for the transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RingTime" type="xs:decimal" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total Ring time for the transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TenderTime" type="xs:decimal" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total Tender time for the Transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LockTime" type="xs:decimal" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total Terminal Lock time in the Transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdleTime" type="xs:decimal" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total Idle time of the terminal within the transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TOF" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates TOF - Terminal Offline, Recovery Transaction. 
Source field in Tlog : Hdr Indicat1 - Bit1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreviousTLOGCloseString" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Transaction copied after a previous TLOG close indicator.
                      Source field in Tlog : Hdr Indicat1 - Bit2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalRecords" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates additional records for this transaction.
Source field in Tlog : Hdr Indicat1 - Bit12</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NotFirstRecord" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Not first record for this transaction Indicator
                        Source Field in Tlog : Hdr Indicat1 - Bit13</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxnTransfered" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that the Txn was transfered from a different workstation
                      Source Field in Tlog : Hdr Indicat1 - Bit18</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxnMonitored" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Source Field in Tlog : Hdr Indicat1 - Bit19</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TerminalAcct" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the Terminal accountability of the cash register.
Source Field in Tlog : Hdr Indicat1 - Bit31</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TenderRejected" type="xs:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tender Rejected indicator. Source field inTLog : Hdr Indicat1 - Bit26</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransactionType" type="xs:string"/>
			<xs:element ref="EcommOrderNumber" minOccurs="0"/>
			<xs:element name="BusinessPartner" type="BusinessPartnerType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SwyRetailTxnExtensionsType">
		<xs:annotation>
			<xs:documentation>
        This is a container for all Safeway extensions to retail transaction.
        We do this to enforce some sort of integrity whilst still staying true
        to the ARTS model.
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LoyaltyProgram" type="SwyLoyaltyProgramType" form="qualified" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="CustomerSurvey"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PriceFactorType">
		<xs:annotation>
			<xs:documentation>
        Price factor is the divisor for pricing like 2 for $1.00. Sometime this is not divisible.
        Safeway uses this a lot.
      </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="Q1:QuantityCommonData">
				<xs:attribute name="factorType" type="xs:NCName" default="base"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SwyLoyaltyProgramType">
		<xs:annotation>
			<xs:documentation>This is a container for all Loyalty program related extensions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LoyaltyProgramID" type="xs:string" form="qualified">
				<xs:annotation>
					<xs:documentation>Identifies the Loyalty program offered to retail customer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="LoyaltyAccountID"/>
			<xs:element name="LoyaltyLookupID" type="xs:string" form="qualified" minOccurs="0"/>
			<xs:element ref="LoyaltyCardID" minOccurs="0"/>
			<xs:element name="OfferDeliveryStatus" type="OfferDeliveryStatusType" default="OnlineToCopient" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Represents Offer Delivery Status from the offer system to the retail customer transaction. '00' for Offer successfully delivered and '01' for Offer delivery failed(timed out to copient). '03' Offline to Copient.</xs:documentation>
					<xs:documentation source="WMQI_DOCUMENTATION">Represents\sOffer\sDelivery\sStatus\sfrom\sthe\soffer\ssystem\sto\sthe\sretail\scustomer\stransaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerLookupStatus" type="CustomerLookupStatusType" default="Valid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Represents Customer identification Status using club card or phone number at the retail counter.       '0' for Customer successfully identified and '1' for Customer identification failed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardScanTypeCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer Club card entry mode
“P” – primary, x’50’
“M” – manual, x’4D’
“S” – secondary, x’53’
“F” – Fast Forward Card Swipe, x’46’

Note: “S” and “F” are normally replaced with a “P” when the primary card number is available in the T2 response or from the ‘cross reference file”, CROSSREF.DAT, which stores the actual club card number and its corresponding Alternate (Secondary) ID, which can be either the fast forward card number or phone number or fast forward personal code. When an Alternate ID was used and Corema is down and there’s no record in CROSSREF.DAT, “S” will be used if phone number was entered and “F” will be used if a fast forward card was swiped.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="EntryMethod" type="LoyaltyEntryMethodType"/>
	</xs:complexType>
	<xs:complexType name="SwyControlTxnExtensionsType">
		<xs:annotation>
			<xs:documentation>This is a container for all Safeway extensions to POSLog Control transaction.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NoSaleTxn" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TenderRemoval"/>
						<xs:enumeration value="TillContentsReport"/>
						<xs:enumeration value="TenderVerified"/>
						<xs:enumeration value="TillOpen"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SwyTenderExtensionsType">
		<xs:annotation>
			<xs:documentation>This is a container for all Safeway extensions to Tender line item under retail transaction.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TenderFee" type="xs:decimal" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tender Fee collected. Mapped to FSM-TENDFEEAMT</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EFTSequenceNumber" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Electronic Funds Transfer sequence number.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SwyTaxExtensionsType">
		<xs:annotation>
			<xs:documentation>This is a container for all Safeway extensions to Tax line item under retail transaction.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TaxKey" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IBMCommonElementsType">
		<xs:annotation>
			<xs:documentation>This is a container for all IBM specific elements like iNDICAT fields.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GroceryItemIndicat1" type="ibmBitMap32" minOccurs="0"/>
			<xs:element name="GroceryItemIndicat2" type="ibmBitMap16" minOccurs="0"/>
			<xs:element name="GroceryItemIndicat3" type="xs:integer" minOccurs="0"/>
			<xs:element name="GroceryItemIndicat4" type="ibmBitMap32" minOccurs="0"/>
			<xs:element name="GroceryIndicat1.HDR" type="ibmBitMap32" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- *********************************************************************    
     * Elements are defined here.                                          *
     * Each new element should be preceeded by a comment of the XPATH of   *
     * where in the ARTS model this should live. There should be an xs:any *
     * at that point                                                       *
     ********************************************************************* -->
	<xs:element name="SwyItemExtensions" type="SwyItemExtensionsType">
		<xs:annotation>
			<xs:documentation> /POSLog/Transaction/RetailTransaction/LineItem/(Sale|Return)/tns:SwyItemExtensions </xs:documentation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/SwyItemExtensions;XSDElementDeclaration$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="SwyPriceDerivationRuleExtensions" type="SwyPriceDerivationRuleExtensionsType">
		<xs:annotation>
			<xs:documentation>/POSLog/Transaction/RetailTransaction/LineItem/(Sale|Return)/RetailPriceModifier/PriceDerivationRule/tns:SafewayPriceDerivationRuleExtensions --&gt;
</xs:documentation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/SwyPriceDerivationRuleExtensions;XSDElementDeclaration=1$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="SwyRetailTxnExtensions" type="SwyRetailTxnExtensionsType">
		<xs:annotation>
			<xs:documentation> /POSLog/Transaction/RetailTransaction/tns:SwyRetailTxnExtensions </xs:documentation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/SwyRetailTxnExtensions;XSDElementDeclaration=2$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="SwyTxnExtensions" type="SwyTxnExtensionsType">
		<xs:annotation>
			<xs:documentation> /POSLog/Transaction/tns:SwyTxnExtensions</xs:documentation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/SwyTxnExtensions;XSDElementDeclaration=3$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="SwyControlTxnExtensions" type="SwyControlTxnExtensionsType">
		<xs:annotation>
			<xs:documentation>/POSLog/Transaction/ControlTransaction/tns:SwyControlTxnExtensions</xs:documentation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/SwyControlTxnExtensions;XSDElementDeclaration=4$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="SwyTenderExtensions" type="SwyTenderExtensionsType">
		<xs:annotation>
			<xs:documentation>/POSLog/Transaction/RetailTransaction/LineItem/tns:SwyTenderExtensions</xs:documentation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/SwyTenderExtensions;XSDElementDeclaration=5$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="SwyTaxExtensions" type="SwyTaxExtensionsType">
		<xs:annotation>
			<xs:documentation>/POSLog/Transaction/RetailTransaction/LineItem/tns:SwyTaxExtensions</xs:documentation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/SwyTaxExtensions;XSDElementDeclaration=6$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="SwyGiftCardExtensions" type="SwyGiftCardExtensionsType">
		<xs:annotation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/SwyGiftCardExtensions;XSDElementDeclaration=7$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="SwyLoyaltyProgram" type="SwyLoyaltyProgramType">
		<xs:annotation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/SwyLoyaltyProgram;XSDElementDeclaration=8$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="IBMCommonElements" type="IBMCommonElementsType">
		<xs:annotation>
			<xs:documentation>This is a container for all IBM specific common elements.</xs:documentation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/IBMCommonElements;XSDElementDeclaration=9$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="PriceFactor" type="PriceFactorType">
		<xs:annotation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/PriceFactor;XSDElementDeclaration=10$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="CodeIsItemCode" type="CodeIsItemCodeType">
		<xs:annotation>
			<xs:documentation>/POSLog/Transaction/RetailTransaction/LineItem/Tender/Coupon</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LogAll" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Log all occurances indicator.Source field in Tlog : Item Indicat1 - Bit20. Default False.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LogException" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Log item as an exception.Source field in Tlog : Item Indicat1 - Bit21.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FuelItem" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Indicates Fuel item sale.Source field in Tlog : Item Indicat1 - Bit15, Default False.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AliasItemFile" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Indicates that the item is from Alias item file. Source field in Tlog : Item Indicat1 - Bit22</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NoItemMovement" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>No Item movement kept indicator. Source field in Tlog : Item Indicat1 - Bit23</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FoodStampItem" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Food Stamp Item Indicator.  Source field in Tlog : Item Indicat1 - Bit28</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NonDiscountable" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Indicates that the Item in not discountable. Source field in Tlog : Item Indicat1 - Bit30</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CouponMultiplication" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Coupon multiplication allowed indicator. Source field in Tlog : Item Indicat1 - Bit31</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OverrideRequired" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation> Indicates that the override was required for this txn item. Source field in Tlog : Item Indicat2 - Bit6</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DataEntry" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Data entry with item.  Source field in Tlog : Item Indicat2 - Bit5</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MultiPriced" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Multi Priced Item. Source field in Tlog : Item Indicat2 - Bit4</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WeightOrQuantity" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Weight of the item or quantity of the item entered.Source field in Tlog : Item Indicat2 - Bit3</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FoodStampKey" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Food Stamp Key Pressed. Source field in Tlog : Item Indicat2 - Bit0</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CancelKey" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Cancel Key Pressed. Source field in Tlog : Item Indicat2 - Bit15</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="QuantityRequired" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Quantity required for the item. Source field in Tlog : Item Ext Indicat1 - Bit2</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CouponQuantity" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Coupon enlarged quantity. Source field in Tlog : Item Ext Indicat1 - Bit0.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StoreCouponCreated" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Store Coupon created by Coupon Multiplier. Source field in Tlog : Item Indicat2 - Bit2</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TaxKey" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>tax Key Pressed. Source field in Tlog Item Indicat2 - Bit1.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RefundKey" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Refund Key Pressed. Source field in Tlog : Item Indicat2 - Bit14</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StoreCouponKey" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Store Coupon Key Pressed. Source field in Tlog : Item Indicat2 - Bit13</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ManufacturerCouponKey" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Manufacturer Coupon Key Pressed. Source field in Tlog : Item Indicat2 - Bit12</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DepositKey" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Deposit Key Pressed. Source field in Tlog : Item Indicat2 - Bit11.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WeightKeyed" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Weight of the item entered. Source field in Tlog : Item Ext Indicat1 - Bit6</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="QuantityKeyed" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Quantity of the item Entered. Source field in Tlog : Item Ext Indicat1 - Bit5</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TareKeyed" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Tare code entered. Source field in Tlog : Item Ext Indicat1 - Bit4</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ScaleWeight" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Weight of the item is from the scale. Source field in Tlog : Item Ext Indicat1 - Bit3.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RepeatQuantity" type="xs:boolean" default="0">
		<xs:annotation>
			<xs:documentation>Quantity through merging of consecutive identical entries. Source field in Tlog : Item Ext Indicat1 - Bit1</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EntryMethodCode" type="xs:integer" default="0">
		<xs:annotation>
			<xs:documentation>INDICAT3 - 'O' part. 
O = 0 Scanned item code
O = 1 Keyed item code
O = 2 Item lookup keyed used
O = 3 Item code linked to
O = 4 Item code wanded
O &gt; 4 Reserved</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="QuantityEntryMethod" type="xs:string"/>
	<xs:element name="ibmBitMap8" type="ibmBitMap8">
		<xs:annotation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/ibmBitMap8;XSDElementDeclaration=41$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="ibmBitMap16" type="ibmBitMap16">
		<xs:annotation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/ibmBitMap16;XSDElementDeclaration=42$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="ibmBitMap24" type="ibmBitMap24">
		<xs:annotation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/ibmBitMap24;XSDElementDeclaration=43$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="ibmBitMap32" type="ibmBitMap32">
		<xs:annotation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/ibmBitMap32;XSDElementDeclaration=44$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="SwyItemExtensionsType" type="SwyItemExtensionsType">
		<xs:annotation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/SwyItemExtensionsType;XSDElementDeclaration=45$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="SwyPriceDerivationRuleExtensionsType" type="SwyPriceDerivationRuleExtensionsType">
		<xs:annotation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/SwyPriceDerivationRuleExtensionsType;XSDElementDeclaration=46$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="SwyTxnExtensionsType" type="SwyTxnExtensionsType">
		<xs:annotation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/SwyTxnExtensionsType;XSDElementDeclaration=47$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="SwyRetailTxnExtensionsType" type="SwyRetailTxnExtensionsType">
		<xs:annotation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/SwyRetailTxnExtensionsType;XSDElementDeclaration=48$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="PriceFactorType" type="PriceFactorType">
		<xs:annotation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/PriceFactorType;XSDElementDeclaration=49$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="SwyLoyaltyProgramType" type="SwyLoyaltyProgramType">
		<xs:annotation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/SwyLoyaltyProgramType;XSDElementDeclaration=50$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="SwyControlTxnExtensionsType" type="SwyControlTxnExtensionsType">
		<xs:annotation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/SwyControlTxnExtensionsType;XSDElementDeclaration=51$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="SwyTenderExtensionsType" type="SwyTenderExtensionsType">
		<xs:annotation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/SwyTenderExtensionsType;XSDElementDeclaration=52$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="SwyTaxExtensionsType" type="SwyTaxExtensionsType">
		<xs:annotation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/SwyTaxExtensionsType;XSDElementDeclaration=53$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="IBMCommonElementsType" type="IBMCommonElementsType">
		<xs:annotation>
			<xs:appinfo source="WMQI_APPINFO">
				<MRMessage messageDefinition="/0/IBMCommonElementsType;XSDElementDeclaration=54$MRObject"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:attribute name="SwySubTenderType" type="xs:string"/>
	<xs:complexType name="SwyGiftCardExtensionsType">
		<xs:sequence>
			<xs:element name="SerialNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="GiftCardPOSItemID" type="xs:string" minOccurs="0"/>
			<xs:element name="PriceRequired" type="xs:boolean" minOccurs="0"/>
			<xs:element name="SaleType" type="GifCardSalesType" minOccurs="0"/>
			<xs:element name="GiftCardUnitPrice" type="xs:decimal" minOccurs="0"/>
			<xs:element name="GiftCardFlags" type="xs:string" minOccurs="0"/>
			<xs:element name="UnActivatedGiftCard_Number" type="xs:string" minOccurs="0"/>
			<xs:element name="UnActivatedGiftCard_SerialNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ProviderID" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="GifCardSalesType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Activation"/>
			<xs:enumeration value="Reload"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OfferDeliveryStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OnlineToCopient"/>
			<xs:enumeration value="TimedOutToCopient"/>
			<xs:enumeration value="OfflineToCopient"/>
			<xs:enumeration value="PhoneHomeNotCompleted"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomerLookupStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Valid"/>
			<xs:enumeration value="Default"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LoyaltyEntryMethodEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Keyboard"/>
			<xs:enumeration value="Scanner"/>
			<xs:enumeration value="PINPad"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LoyaltyEntryMethodType">
		<xs:union memberTypes="xs:string LoyaltyEntryMethodEnumeration"/>
	</xs:simpleType>
	<xs:element name="LoyaltyCardID" type="xs:string">
		<xs:annotation>
			<xs:documentation>Customer loyalty club card used in the retail transaction to redeem the offers.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LoyaltyAccountID" type="xs:string">
		<xs:annotation>
			<xs:documentation>Retail customer loyalty account identifier.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TransactionNbr">
		<xs:annotation>
			<xs:documentation>Transaction number to uniquely identify for debugging /problem determination:
SSSS-TTT-YYYYMMDD-A   where:
SSSS = ACE store number
TTT = ACE terminal/lane number
YYYY = 4-digit year
MM = month of year 1-12
DD = day of the month 1-31
A = ACE transaction number

</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TerminalId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TransactionDt" type="xs:date">
		<xs:annotation>
			<xs:documentation>POS transaction date</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CustomerSurvey" type="CustomerSurveyType">
		<xs:annotation>
			<xs:documentation>Tender Rejected indicator. Source field inTLog : Hdr Indicat1 - Bit26</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CustomerSurveyType">
		<xs:annotation>
			<xs:documentation>
        This is a container for all Safeway Survey at the pin pad
      </xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="SurveyId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
            ID of the surevy displayed.  This ID can be used to corelated with other tracking systems.
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Response" type="SwySurveyResponseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
            Captures the customer response to the survey.  The response will containt question, answers, or other response such as cancel or abandoned.
          </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SwySurveyResponseType">
		<xs:annotation>
			<xs:documentation>
        This is collection survey question and answers
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="QuestionId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
            Question dislayed to a customer.
          </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="ScreenID" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AnswerTxt" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
            Captures answer provided by customer to the question.
          </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute ref="SequenceNbr"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="OtherActionCd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
            Captures any other response from a customer to the question.
          </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:attribute name="SequenceNbr" type="xs:integer"/>
	<xs:element name="EcommOrderNumber" type="xs:string">
		<xs:annotation>
			<xs:documentation>ECommOrderNumber filed to identify ecomm order that is closed on any other store lane. This field is added only when original order is created on ecomm and is closed on a physical terminal. The field is included to complete the feedback loop and correlated with ecomm order online</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
