AppBuild/CMM/3rdPartyCMM/HrmsBase/Dept_Sync.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by Ashutosh Rana (TCS) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://collab.safeway.com/it/architecture/info/deptsync" targetNamespace="http://collab.safeway.com/it/architecture/info/deptsync" elementFormDefault="qualified">
	<xsd:element name="S_DEPT_SYNC_RES" type="S_DEPT_SYNC_REStype"/>
	<xsd:complexType name="S_DEPT_SYNC_REStype">
		<xsd:sequence>
			<xsd:element name="DEPT_TBL" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SETID" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>SetID</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DEPTID" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>DEPTID defines the department IDs used for accounting purposes, such as charging earnings to a department or implementing labor distribution accounting which is a character of length 10</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EFFDT" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>If you add a new department, set its effective date to predate (or be equal to) the effective date of your security tree</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EFF_STATUS" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Effective sequence tracks the sequence of changes in rows for transactional history</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DESCR" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Description of the department</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DESCRSHORT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Short Description of the department</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="COMPANY" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>COMPANY indicates the company to which this department belongs and it is a character of length 3. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SETID_LOCATION" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>SETID_LOCATION defines the  physical location setID associated with a department, which is a character of length 5. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LOCATION" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>LOCATION defines the  physical location associated with a department , which is a character of length 10. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TAX_LOCATION_CD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>TAX_LOCATION_CD specifies the tax jurisdiction for the department which is a character of length 10. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="MANAGER_ID" type="xsd:int" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Manager ID is the default supervisor ID on the Job records of all people who are assigned to this department</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="MANAGER_POSN" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>MANAGER_POSN denotes the Manager Position number and  it is  useful for reporting activities such as departmental hierarchical data.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="BUDGET_YR_END_DT" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>BUDGET_YR_END_DT is a date number specifiying last month and day of the budget year as the date for all positions in this department</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="BUDGET_LVL" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>BUDGET_LVL defines budgeting level for the department, which is a character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GL_EXPENSE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>GL_EXPENSE defines the GL Account number-Expense , which is a character of length 35</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EEO4_FUNCTION" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>EEO4_FUNCTION  allows to select the functional category, such as health or fire protection, that applies to this department </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CAN_IND_SECTOR" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>CAN_IND_SECTOR defines various Canadian Industrial Sector like Federal Crowns,Fishing Industries, Metal Mines and it is a character of length 3</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ACCIDENT_INS" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Accident Insurance</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SI_ACCIDENT_NUM" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>SI_ACCIDENT_NUM defines the Social Insurance Accident number, which is a character of length 15</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="HAZARD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>HAZARD denotes the hazard that is used to monitor Health and Safety business process functionality and is a character of length 4</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ESTABID" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>ESTABID denotes establishment ID associated with the  department, which is a character of length 12</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="RISKCD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>RISKCD is the Risk code that defines the organization's percentage of contributions to the French Social Security fund at the department level, based on the risk code that you enter, and it is a character of length 6</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GVT_DESCR40" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Description Field defining the deparment details.40 chars</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GVT_SUB_AGENCY" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>GVT_SUB_AGENCY denotes the Sub Agency associated with department and it is a character of length 2</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GVT_PAR_LINE2" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>GVT_PAR_LINE2 denotes PAR Line 2 of the Department ID and it is a character of length 10</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GVT_PAR_LINE3" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>GVT_PAR_LINE3 denotes PAR Line 3 of the Department ID and it is a character of length 10</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GVT_PAR_LINE4" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>GVT_PAR_LINE4 denotes PAR Line 4 of the Department ID and it is a character of length 10</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GVT_PAR_LINE5" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>GVT_PAR_LINE5 denotes PAR Line 5 of the Department ID and it is a character of length 10</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GVT_PAR_DESCR2" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>GVT_PAR_DESCR2 denotes PAR Line 2 Description and it is a character of length 40</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GVT_PAR_DESCR3" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>GVT_PAR_DESCR3 denotes PAR Line 3 Description and it is a character of length 40</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GVT_PAR_DESCR4" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>GVT_PAR_DESCR4 denotes PAR Line 4 Description and it is a character of length 40</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GVT_PAR_DESCR5" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>GVT_PAR_DESCR5 denotes PAR Line 5 Description and it is a character of length 40</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FTE_EDIT_INDC" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>FTE_EDIT_INDC is the FTE Edit Indicator which indicates whether it is error, no edit or warning and it is a character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DEPT_TENURE_FLG" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>DEPT_TENURE_FLG denotes 'Can Grant Tenure' and it is a character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TL_DISTRIB_INFO" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Use TL Distribution Flag</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="USE_BUDGETS" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>USE_BUDGETS denotes 'Use Budgeting Feature?' which is a character of length 1. </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="USE_ENCUMBRANCES" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>USE_ENCUMBRANCES  denotes 'Use Encumbrance Processing?'which is a character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="USE_DISTRIBUTION" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>USE_DISTRIBUTION denotes 'Use Paycheck Distribution?' which is a character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="BUDGET_DEPTID" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>BUDGET_DEPTID denotes the Budget associated with Department which is a character of length 10</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="HP_STATS_DEPT_CD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>HP_STATS_DEPT_CD denotes 'Stats Can Dept Code'  which is a character of length 3</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="HP_STATS_DPCD_NW" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Department code North Western</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="HP_STATS_FACULTY" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>HP_STATS_FACULTY denotes the faculty code associated with department which is a character of length 5</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="MANAGER_NAME" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>MANAGER_NAME associated with department which is a character of length 30</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ACCOUNTING_OWNER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>ACCOUNTING_OWNER  associated with department which is a character of length 30.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="COUNTRY_GRP" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>COUNTRY_GRP denotes the country code associated with department which is a character of length 18</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="HP_RTBC_OPTION" type="xsd:string" minOccurs="0"/>
						<xsd:element name="HP_AUTO_RTBC" type="xsd:string" minOccurs="0"/>
						<xsd:element name="CLASS_UNIT_NZL" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field is used in the calculation of ARCI premiums</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ORG_UNIT_AUS" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This code represents a unique organisational unit in which a member of the staff will perform their duties.

This is an Australia specific code which is needed for DETYA electronic reporting purposes</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="WORK_SECTOR_AUS" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The work sector in which a function is being performed in one organisational unit by a member of staff in respect of their current duties. 

This is an Australia specific code which is needed for DETYA electronic reporting purposes</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="APS_AGENT_CD_AUS" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Australia Public Service (APS) Agency Code</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="IND_COMMITTEE_BEL" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The Joint Industrial Committee is used for Belgium to track the 'Paritair Comite' on company-, business unit- and department-level</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="NACE_CD_BEL" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The NACE Code is used for a generic systematic classification of companies within the European community.

Format: AB12,34567
A     - Section
B     - Subsection
12   - Division
345 - Group
6     - Class
7     - Subclass</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LASTUPDDTTM" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Time when last modification was made to the record.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
