esed-data-int-app/install/repository/CMM/Nouns/CustomerAddressManagement.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by Patrick Oliver (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" vc:minVersion="1.1">
	<!--V1.1 Patrick Oliver 01/07/21: Added EventId to SourceAuditData-->
	<!--V 1.0  Patrick Oliver 12/15/20: Initial Version-->
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="CustomerAddressManagement" type="CustomerAddressManagementType">
		<xs:annotation>
			<xs:documentation>Root element. Customer Address Management object will show the status and purpose of various retail customer address types such as home, email, shipping and delivery.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CustomerAddressManagementType">
		<xs:annotation>
			<xs:documentation>Customer Address Management object will show the status and purpose of various retail customer address types such as home, email, shipping and delivery.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomerId" type="IDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer Identification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GUID" type="GUIDType" minOccurs="0"/>
			<xs:element ref="UUID" minOccurs="0"/>
			<xs:element name="CustomerAlternateId" type="AlternateId" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Addresses" type="RetailCustomerAddressType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SourceAuditData" type="SourceAuditType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Customer message audit data.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetailCustomerAddressType">
		<xs:annotation>
			<xs:documentation>Retail customer addresses and contact data.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="AddressId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique identifier of the address.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="36"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the customer address.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="36"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressTypeDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the customer address type.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Address" type="CommunicationType" minOccurs="0"/>
			<xs:element name="CustomerName" type="PersonNameType" minOccurs="0"/>
			<xs:element name="Notes" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Customer notes regarding the address.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="NoteTxt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Text value of the note. Free format comments from customer.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="250"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
					<xs:attribute ref="typeCode"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddressPurposes" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Purpose of customer addresses.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="PurposeCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Code of the purpose.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PurposeDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of the address purpose.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
					<xs:attribute ref="typeCode"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostalCodes" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="PostalCodeId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unique identifier postal code.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="36"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PurposeCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Code of the purpose.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PurposeDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description or name of the purpose.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PostalCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Postal code.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="BannerCd" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute ref="typeCode"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddressStatuses" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="AddressStatusCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Address Status code.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressStatusDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of the address status.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="200"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AddressStatusVal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This field represents the address status value.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SourcePlatformCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Code of the source platform.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SourcePlatformDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Name of the source platform.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SourceStatusVal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This fields represents the status value for the source.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element ref="BannerCd" minOccurs="0"/>
						<xs:element name="StoreId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Store number.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="MessageTxt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Address status message.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="200"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ReferenceId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Reference Id. Cross check with external systems.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="200"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="EffectivePeriod" type="EffetiveDateTimeType" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute ref="typeCode"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="SelectedAddresses" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="AddressId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unique identifier of the address.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="36"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element ref="BannerCd" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EffectivePeriod" type="EffetiveDateTimeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourceAuditType">
		<xs:annotation>
			<xs:documentation>This type represents auditing data related to the message at source.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="SourceNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the source or system of record.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreateClientId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that created the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that created the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateClientId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that last modified the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateHostNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the host where the message was initially created.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateHostNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the host where the message was last modified.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SequenceNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sequence number of the last event related to the message.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AggregateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and Time stamp of the aggregate when it was updated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AggregateRevisionNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of the aggregate revision. Used for conflict resolution.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PayloadVersionNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Payload version number.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EventId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Event Id of the last event applied</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EffetiveDateTimeType">
		<xs:annotation>
			<xs:documentation>Common type for Retail Customer effective date and time.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="FirstEffectiveDt" minOccurs="0"/>
			<xs:element ref="FirstEffectiveTm" minOccurs="0"/>
			<xs:element ref="LastEffectiveDt" minOccurs="0"/>
			<xs:element ref="LastEffectiveTm" minOccurs="0"/>
			<xs:element name="DurationNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number that represents the duration.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DurationUnitDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Duration unit. D for Days, W for weeks.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InclusiveInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether or not the dates and times are inclusive or not.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="typeCode"/>
	</xs:complexType>
</xs:schema>
