esed-data-int-app/install/repository/CMM/Nouns/WarehouseSelectionWorkTime.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) by Sai Nuthakki (Safeway, Inc.) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="WarehouseSelectionWorkTime" type="WarehouseSelectionWorkTimeType">
		<xs:annotation>
			<xs:documentation>Root Element.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="WarehouseSelectionWorkTimeType">
		<xs:annotation>
			<xs:documentation>Represents data related to the workl time in a warehouse shipment selection task by customer order, assignments and associate.</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="Abs:CorporationId" minOccurs="0"/>
			<xs:element ref="Abs:DivisionId" minOccurs="0"/>
			<xs:element ref="Abs:DistributionCenterId" minOccurs="0"/>
			<xs:element ref="Abs:WarehouseId" minOccurs="0"/>
			<xs:element name="WarehouseAltId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Alternate identifier for a warehouse like old warehouse id.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DistributionCenterAltId" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Alternate identifier for a DC like old DC id.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SelectionWorkTimeData" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Work time related to the selection activity with in an assignment in a warehouse shipment task.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Assignment" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Warehouse work assignment like customer order pick in a shipment task.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AssignmentId" type="xs:integer" minOccurs="0"/>
									<xs:element name="AssignmentNm" type="xs:string" minOccurs="0"/>
									<xs:element name="AssignmentType" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Assignment type within a task. Shipment is hte task and selection is assignment.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AssignmentPriority" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Priority of the assignment. 1=High and 9=Low</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AssignmentStatus" minOccurs="0">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="CodeWithDescription">
													<xs:sequence>
														<xs:element name="ShortDescription" minOccurs="0"/>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="AbandonedInd" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Assignment abandoned indicator (Yes/No)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AbandonedWorkUnitId" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Work unit ID of abandoned
assignment</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SplitAssignmentId" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Split (re-assigned) assignment
number</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AssignedDtTm" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Time assignment was assigned to an
associate</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StartDtTm" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Assignment work Start timestamp</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="EndDtTm" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Assignment work End Timestamp</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StandardType" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="StandardTm" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Standard time for a given assignment</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:duration">
													<xs:attribute ref="UOMCd"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="DelayTm" minOccurs="0">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:duration">
													<xs:attribute ref="UOMCd"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="SuspendTm" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Assignment suspended time</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:duration">
													<xs:attribute ref="UOMCd"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="WeightTm" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Weight time</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:duration">
													<xs:attribute ref="UOMCd"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="WalkTm" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Walking time</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:duration">
													<xs:attribute ref="UOMCd"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="FatigueAdjustedtTm" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Fatigue adjustment time</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:duration">
													<xs:attribute ref="UOMCd"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="WeightAdjustedTm" minOccurs="0">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:duration">
													<xs:attribute ref="UOMCd"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="DelayAdjustedTm" minOccurs="0">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:duration">
													<xs:attribute ref="UOMCd"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="Shipmentmethod" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="Equipment" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Details of the equipment used for the assignment. ex: Fork lift</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="EquipmentType" type="CodeWithDescription" minOccurs="0"/>
												<xs:element name="EquipmentId" type="xs:string" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Equipment Unit ID number/code</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="EquipmentClass" type="CodeWithDescription" minOccurs="0"/>
												<xs:element name="EquipmentCategory" type="CodeWithDescription" minOccurs="0"/>
												<xs:element name="EquipmentReadyTm" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Time associate is allowed to retrieve
equipment and return after use</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:simpleContent>
															<xs:extension base="xs:duration">
																<xs:attribute ref="UOMCd"/>
															</xs:extension>
														</xs:simpleContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CubeTm" minOccurs="0">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:duration">
													<xs:attribute ref="UOMCd"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="AssignmentToStartTm" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Time taken to start an assignment</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:duration">
													<xs:attribute ref="UOMCd"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="AssignmentToEndTm" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Time taken to end an assignment.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:duration">
													<xs:attribute ref="UOMCd"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="TotalWorkedTm" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Total time worked on assignment</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:duration">
													<xs:attribute name="UOMCd" type="xs:string"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="TotalTravelDistance" minOccurs="0">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:decimal">
													<xs:attribute name="UOMCd" type="xs:string"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="ReportGroup" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="ReportDtTm" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="BatchPickInd" type="xs:string" minOccurs="0"/>
									<xs:element name="InventoryReductionNbr" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Current inventory reduction number</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="AccumlatedWt" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Total accumlated wt</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ProductWt" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Assignment product wt</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="DualAssignmentInd" type="xs:string" minOccurs="0"/>
									<xs:element name="LastTripNbr" type="xs:integer" minOccurs="0"/>
									<xs:element name="LastLocation" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="LastSection" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="LastWarehousePointDescription" type="WarehousePointDescription" minOccurs="0"/>
									<xs:element name="LastWarehousePoint" type="WarehousePoint" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="WarehouseEmployee" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Warehouse employee assigned to the assignment.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="EmployeeId" type="xs:integer" minOccurs="0"/>
									<xs:element name="EmployeeAssociateId" type="xs:integer" minOccurs="0"/>
									<xs:element name="EmployeeAssociateIdTxt" type="xs:string" minOccurs="0"/>
									<xs:element name="EmployeeNm" type="PersonNameType" minOccurs="0"/>
									<xs:element ref="HireDt" minOccurs="0"/>
									<xs:element name="SeniorityCd" type="xs:integer" minOccurs="0"/>
									<xs:element name="AssociateType" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="AssociateStatus" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="SupervisorInd" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ItemSelection" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Selection of order items from warehouse locations to complete the shipment.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SelectionWorkUnitId" type="xs:integer" minOccurs="0"/>
									<xs:element name="WorkUnitStatus" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="OrderId" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Customer order or store order that has information about the items needed form the warehouse and dleivery schedules.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SegmentId" type="xs:integer" minOccurs="0"/>
									<xs:element name="OrderType" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Customer order type.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CustomerId" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Customer receiving the shipment, generally for a warehouse retail store which places store orders is the customer.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CustomerNm" type="xs:string" minOccurs="0"/>
									<xs:element name="SelectionType" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Selection type ID (HS=Hand Select,
PS=Pallet Select)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="JobData" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="JobCd" type="xs:integer" minOccurs="0"/>
												<xs:element name="JobDsc" type="xs:string" minOccurs="0"/>
												<xs:element name="JobCategory" type="CodeWithDescription" minOccurs="0"/>
												<xs:element name="JobClassification" type="CodeWithDescription" minOccurs="0"/>
												<xs:element name="JobSubFunction" type="CodeWithDescription" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ItemId" type="xs:string" minOccurs="0"/>
									<xs:element name="ItemDetailId" type="xs:integer" minOccurs="0"/>
									<xs:element name="UPCId" type="UPC" minOccurs="0"/>
									<xs:element name="UniversalCaseNbr" type="xs:string" minOccurs="0"/>
									<xs:element name="CommodityType" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="CaseUnitNbr" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Units per ship case.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ItemQty" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ItemWt" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Product weight in Pounds</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ItemVol" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Product volume in cubic inches</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ItemSize" type="xs:string" minOccurs="0"/>
									<xs:element name="ItemDsc" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Item Description</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LicensePlateId" type="xs:integer" minOccurs="0"/>
									<xs:element name="PalletNbr" type="xs:string" minOccurs="0"/>
									<xs:element name="SelectionStartTs" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="SelectionEndTs" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="OrderQty" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ActualPickQty" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="InventoryReductionNbr" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Current Inventory reduction number.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SelectionLocationId" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="SelectionLocation" type="LocationCoordinates" minOccurs="0"/>
									<xs:element name="SubstitutionType" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Substituted item type.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Section" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Warehouse section</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="HazardousInd" type="xs:string" minOccurs="0"/>
									<xs:element name="HazardousClass" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="RequestedDeliveryTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Delivery requested time in store order.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="BulkSelectionLimit" type="xs:integer" minOccurs="0"/>
									<xs:element name="MultiPickInd" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>indicate if this work unit is
part of a multi-pick assignment</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StagePoint" type="WarehousePoint" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Stage DCPT</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StagePointDescription" type="WarehousePointDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Stage DCPD</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DoorPoint" type="WarehousePoint" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Door DCPT</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DoorPointDescription" type="WarehousePointDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Door DCPD</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ShippingPoint" type="WarehousePoint" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Shipping DCPT</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ShippingPointDescription" type="WarehousePointDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Shipping DCPD</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Route" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Item Selection route</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RouteStopSeqNbr" type="xs:int" minOccurs="0"/>
									<xs:element name="BatchId" type="xs:integer" minOccurs="0"/>
									<xs:element name="BatchSeqNbr" type="xs:int" minOccurs="0"/>
									<xs:element name="PickGroupId" type="xs:integer" minOccurs="0"/>
									<xs:element name="InvoiceNbr" type="xs:integer" minOccurs="0"/>
									<xs:element name="LotNbr" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Lot number to identify specific product lots</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CubeSplitInd" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>to indicate last detail in cube</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LocationPriority" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Selection location priority</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SectionPriority" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="ProductPriority" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="CustomerPriority" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Customer priority on the bomb report</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="OrderPriority" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="DeliveryCd" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="SelectorOutQty" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="AccumulatedWt" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="AccumulatedVol" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WarehousePointDescription">
		<xs:annotation>
			<xs:documentation>description of a location in a warehouse. also known as DCPD in legacy systems</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PointDescription" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>description of a location in a warehouse. also known as DCPD in legacy systems</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserValue" type="xs:string" minOccurs="0"/>
			<xs:element name="ShortDsc" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Short description for warehouse point (DCPD)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WarehousePoint">
		<xs:annotation>
			<xs:documentation>Identification of a particular location in warehouse through coordinates. Also known as DCPT in legacy systems.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WarehousePoint" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identification of a particular location in warehouse through coordinates. Also known as DCPT in legacy systems.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocationCoordinate" type="LocationCoordinates" minOccurs="0"/>
			<xs:element name="ShortDsc" type="xs:string" minOccurs="0"/>
			<xs:element name="LevelInd" type="xs:integer" minOccurs="0"/>
			<xs:element name="MaxSelectionTm" type="xs:duration" minOccurs="0"/>
			<xs:element name="MaxReplenishmentTm" type="xs:duration" minOccurs="0"/>
			<xs:element name="MaxPutawayTm" type="xs:duration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LocationCoordinates">
		<xs:annotation>
			<xs:documentation>Coordinates of a location point in a warehouse.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="XCoordinate" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="8"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="YCoordinate" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="8"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ZCoordinate" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="8"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
