Repository/CMM/backup/3rdPartyCMM/HrmsBase/COMPANY_SYNC.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by Ashutosh Rana (TCS) -->
<xsd:schema xmlns="http://collab.safeway.com/it/architecture/info/company" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://collab.safeway.com/it/architecture/info/company" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="S_COMPANY_SYNC_RES" type="S_COMPANY_SYNC_REStype"/>
	<xsd:complexType name="S_COMPANY_SYNC_REStype">
		<xsd:sequence>
			<xsd:element name="COMPANY_TBL" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="COMPANY" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes name of the Company</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EFFDT" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the Effective date</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EFF_STATUS" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Effective Status 
A=Active (default) 
I=Inactive</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DESCR" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the Description</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DESCR_AC" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Alternate Char Description</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DESCRSHORT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Short Description</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="COUNTRY" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Country
Prompt Table: COUNTRY_TBL</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDRESS1" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Address Line 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDRESS2" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Address Line  2</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDRESS3" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Address Line 3</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDRESS4" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Address Line 4</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CITY" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>City name</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="NUM1" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>this denotes Number 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="NUM2" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes Number 2</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="HOUSE_TYPE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>House Type 
AB=House Boat Reference 
WW=House Trailer Reference</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDR_FIELD1" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Address Field 1 
AL=Village 
AP=Apartment 
AV=Avenue 
BL=Housing Block 
BO=District 
CH=Villa 
CL=Street 
CM=Way 
CO=Housing Estate 
CR=Road 
CS=Farmhouse 
CT=Hill 
ED=Building 
GL=Roundabout 
GR=Group 
LG=Place 
MC=Market 
MN=Municipality 
MZ=Block 
PB=Town 
PG=Industrial Zone 
PJ=Passage 
PQ=Park 
PR=Annex 
PS=Promenade 
PZ=Square 
RB=Boulevard 
RD=Beltway 
TR=Alley 
UR=Neighborhood 
ZZ=Unknown</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDR_FIELD2" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Address field 2</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDR_FIELD3" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Address field 3</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="COUNTY" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes County</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="STATE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>State</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="POSTAL" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes Postal code</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GEO_CODE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes GEO code</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="IN_CITY_LIMIT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>In City Limit
Y/N Table Edit</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FEDERAL_EIN" type="xsd:int" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>FEDERAL_EIN is the Federal Employee Identification Number which is a number of length 9 with a decimal position of 0</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FICA_STATUS_EE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>FICA_STATUS_EE is the payroll tax imposed on Employee to fund the Social Security and Medicare programs  which is a character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FICA_STATUS_ER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>FICA_STATUS_ER is the payroll tax imposed on Employer to fund the Social Security and Medicare programs which is a character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FUT_EXEMPT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>FUT_EXEMPT option will be selected if the company is exempt from FUT which is a character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SUT_EXEMPT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>SUT_EXEMPT option will be selected if the company is exempt from FUT which is a character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SDI_EXEMPT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>SDI_EXEMPT denotes Employees' Social Disablity Insurance Status , if the SDI status is not specified as Not Applicable, the Employees' SDI Status will appear as a default. It is a character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PAYGROUP" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>PAYGROUP denotes usually a like group of employees who shares a common pay date, frequency and or method and  is a character of length 3</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DFLT_ERN_PROGRAM" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>DFLT_ERN_PROGRAM  denotes the Default Earning Program of an employee which is a character of length 3</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TERMEE_PR_STOPDAYS" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>TERMEE_PR_STOPDAYS denotes the Activity Days for Terminations(Term. EEs - PR Activity Days) which is a number of length 2 with a decimal position of 0</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PAYSHEET_LINES" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>PAYSHEET_LINES denotes the number of lines for the paysheet. Paysheets serve as a repository for the data that is required to calculate the employee pay for each pay period.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TAX_REPORT_TYPE" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>TAX_REPORT_TYPE is used by the year-end tax reporting programs and Employees must be associated with companies  either with  W-2 or Territories or W-2PR (W-2 Puerto Rico) tax report type and it is a character of length 1.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="COMMON_PAY_ID" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>COMMON_PAY_ID denotes the common paymaster ID which treats the employee tax, deduction, garnishment, and earnings balances as one for companies sharing that Common Paymaster ID.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="COMMON_OTH_ID" type="xsd:short" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>COMMON_OTH_ID denotes the Other Common ID to tell the system to treat all employee deduction garnishment, and earnings balances as one for companies sharing that Other Common ID.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DED_PRIORITY_FED" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>DED_PRIORITY_FED denotes the Federal Tax Deduction Priority whuch is a number of length 3 with a decimal position of 0</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DED_PRIORITY_STATE" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>DED_PRIORITY_STATE  denotes the State Tax Deductn Priority which is a number of length 3 with a decimal position of 0</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FED_RSRV_BANK_ID" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>FED_RSRV_BANK_ID denotes Federal Reserve Bank ID which is a character of length 10. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FED_RSRV_BANK_DIST" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>FED_RSRV_BANK_DIST denotes Federal Reserve Bank District which is a number of length 3 with a decimal position of 0</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FLSA_REQUIRED" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>FLSA_REQUIRED option is selected if any non-exempt employees in the company need to have the FLSA rate calculated for their overtime pay and it is a character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FLSA_RULE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>FLSA_RULE option is selected ,to indicate how and when the FLSA calculated premium will apply to overtime pay and it is a character of length 1.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="COMP_POINTS_VALUE" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>COMP_POINTS_VALUE denotes the company point value which is a number of length 19 with a decimal position of 6</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CURRENCY_CD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>CURRENCY_CD denotes the company's currency code which is a character of length 3. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TIPS_ESTBLSH_FLD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>TIPS_ESTBLSH_FLD denotes the Tip Establishment Field associated with company, bussiness unit ,location and it is a character of length 2. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="MIN_TIPS_PCT" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>MIN_TIPS_PCT denotes company's  minimum percentage of tips(default:8) to be distributed to workers which is a number of length 9 with a decimal position of 5</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TIPS_ALLOC_METH" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>TIPS_ALLOC_METH denotes the company's Allocation Method is a character of length 1. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ERNCD_TIPS_ALLOC" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>ERNCD_TIPS_ALLOC denotes the Tips Allocation Earnings Code which records the amount calculated by the tip allocation process and it is a character of length 3.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TIPS_DELAY_WTHLD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>TIPS_DELAY_WTHLD denotes the Delay Withholding of Taxes which is a character of length 1. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TIPS_ADJUST" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>TIPS_ADJUST check box  is selected unless your company has a special agreement with the Internal Revenue Service and it is a character of length 1.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ERNCD_TIPS_ADJUST" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>ERNCD_TIPS_ADJUST is  selected when the earnings code to be used when tips plus wages do not meet statutory minimum wage requirements. It is a character of length 3</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ERNCD_TIPS_CRED" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>ERNCD_TIPS_CRED is  selected for recording tip credits which is a character of length 3. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EEO_COMPANY_CD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>EEO_COMPANY_CD  denotes the EEO Company Code which is a character of length 7. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="COUNTRY_OTHER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Country other</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDRESS1_OTHER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes Address 1 other</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDRESS2_OTHER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes Address 2 other</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDRESS3_OTHER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes Address 3 other</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDRESS4_OTHER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes Address 4 other</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CITY_OTHER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes City Other</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="COUNTY_OTHER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes county other</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="STATE_OTHER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes State Other</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="POSTAL_OTHER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes Postal code other</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="NUM1_OTHER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes Number 1 other</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="NUM2_OTHER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes Number 2 other</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="HOUSE_TYPE_OTHER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes house type other AB=House Boat Reference 
WW=House Trailer Reference</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDR_FIELD1_OTHER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes Address Field1 Other. AL=Village 
AP=Apartment 
AV=Avenue 
BL=Housing Block 
BO=District 
CH=Villa 
CL=Street 
CM=Way 
CO=Housing Estate 
CR=Road 
CS=Farmhouse 
CT=Hill 
ED=Building 
GL=Roundabout 
GR=Group 
LG=Place 
MC=Market 
MN=Municipality 
MZ=Block 
PB=Town 
PG=Industrial Zone 
PJ=Passage 
PQ=Park 
PR=Annex 
PS=Promenade 
PZ=Square 
RB=Boulevard 
RD=Beltway 
TR=Alley 
UR=Neighborhood 
ZZ=Unknown</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDR_FIELD2_OTHER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes Address Field 2 other</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDR_FIELD3_OTHER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes Address field 3 other</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="IN_CITY_LMT_OTHER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes In City limit other</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GEO_CODE_OTHER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Denotes Geo code other</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FACT_AGE_BEL" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>FACT_AGE_BEL denotes the Factor Age which is a number of length 12 with a decimal position of 7</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FACT_CORRECT_BEL" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>FACT_CORRECT_BEL denotes Correction Factor which is a number of length 12 with a decimal position of 7</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FACT_SERVT_BEL" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>FACT_SERVT_BEL denotes Factor Seniority which is a number of length 12 with a decimal position of 7</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FACT_YEAR_BASE_BEL" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>FACT_YEAR_BASE_BEL denotes Factor Yearly Base which is a number of length 12 with a decimal position of 7</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="HY_FACT_BEL" type="xsd:float" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>HY_FACT_BEL denotes Hour/Year Factor which is a number of length 11 with a decimal position of 6</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="RIZIV_NUM_BEL" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>RIZIV is a Dutch acronym for (Rijksdienst voor Sociale Zekerheid).

The French acronym is INAMI (Institue National d'Assurance Maladie Invalidite).</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TERM_CORRECT_BEL" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>TERM_CORRECT_BEL denotes the Number of Months to Reduce and it is a number of length 5 with a decimal position of 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="WY_FACT_BEL" type="xsd:float" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>WY_FACT_BEL denotes Week/Year Factor whuch is a number of length 11 with a decimal position of 7</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="MY_FACT_BEL" type="xsd:float" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>MY_FACT_BEL denotes 	Month/Year factor which is a number of length 12 with a decimal position of 7</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="YY_FACT_BEL" type="xsd:float" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>YY_FACT_BEL denotes 	Year/Year factor which is a number of length 11 with a decimal position of 7</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="RSZ_GEOCD_BEL" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Geografic Location for the NOSS 'National Office for Social Security'.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="RSZ_EMPLR_BEL" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>NOSS - National Office for Social Security

The Dutch acronym is RSZ (Rijksdienst voor Sociale Zekerheid)
The French acronym is ONSS ('l Office National de Securite de Sociale)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="RVP_NUM_BEL" type="xsd:string" minOccurs="0"/>
						<xsd:element name="DOSZ_NUM_BEL" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>DOSZ_NUM_BEL  denotes the Overseas Soc Ins Inst which is a character of length 10</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="NIS_NUM_BEL" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>NIS_NUM_BEL denotes the Statistics Institute which is a character of length 25</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TRADE_NAME_BEL" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>TRADE_NAME_BEL denotes Company Trade Name which is a character of length 35</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TRADE_REG_BEL" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>TRADE_REG_BEL denotes Registration for Trade which is a character of length 30</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LEGAL_APPR_BEL" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>LEGAL_APPR_BEL denotes the Legal Entity which is a character of length 2</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SALARY_LIMIT_BEL" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>SALARY_LIMIT_BEL denotes Legal Entity which is a character of length 1. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="IND_COMMITTEE_BEL" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The Joint Industrial Committee is used for Belgium to track the 'Paritair Comite' on company-, business unit- and department-level</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="NACE_CD_BEL" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The NACE Code is used for a generic systematic classification of companies within the European community.
Format: AB12,34567
A     - Section
B     - Subsection
12   - Division
345 - Group
6     - Class
7     - Subclass</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="OFFICIAL_LANG" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The Official Language is used by Belgium to track the official language for the company and employees. This language code indicates in which language the official reports and communication between company and employees should occur</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CLAEYS_SAL_LMT_BEL" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>CLAEYS_SAL_LMT_BEL denotes Claeys Salary Limit which is a number of length 19 with a decimal position of 6</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FACT_CORRECT2_BEL" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the HR Belgium</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CLAEYS_SALLMT2_BEL" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Salary Level Higher Range </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="WCB_FIRM_NBR" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>WCB_FIRM_NBR denotes the WCB Firm Number which is a character of length 10. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="WCB_RATE_NBR" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>WCB_RATE_NBR denotes the WCB Rate Number which is a character of length 10</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ACCDNT_INS_NBR_CHE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field holds the Accident Insurance Number for Swiss Companies</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="COMP_AHV_CHE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field holds the AHV Number for Swiss Companies.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TRADE_REG_NBR_CHE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field holds the Trade Registry Number for Swiss Companies.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="MED_CHKUP_REQ" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>MED_CHKUP_REQ denotes whether Medical Checkup is Required or not (Y/N) and it is a character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ACCIDENT_INS" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>ACCIDENT_INS denotes Accident Insurance which is a character of length 3. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SI_ACCIDENT_NUM" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>SI_ACCIDENT_NUM denotes the Social Insurance Accident number which is a character of length 15</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="OECD_REQ" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>OECD_RE indicates whether OECD Permission is Required or not (Y/N) which is a character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TAX_UNIT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>TAX_UNIT denotes the Tax Unit which is a character of length 6. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SIREN_CD_FRA" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>SIREN_CD_FRA denotes the SIREN code which is a character of length 9. </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CHECK_DIGIT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>CHECK_DIGIT denotes the chek digit which is a character of length 2</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="APE_INDSTRY_CD_FRA" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>APE Code serves as a classification of the type of industry that the company is involved in (banking, software, insurance etc)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="BANK_CD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>BANK_CD denotes the Bank ID which is a character of length 11</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="BRANCH_EC_CD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>BRANCH_EC_CD denotes Bank Branch ID  which is a character of length 17</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ACCOUNT_EC_ID" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Account Number used in banking.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LABOR_AGREEMENT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>LABOR_AGREEMENT denotes the Labor Agreement Code which is a character of length 6</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="BASE_SCHEME_FRA" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>BASE_SCHEME_FRA  is company's Base schemes are defined on the Mandatory Base Schis and it is a character of length 3. </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="COMPANY_OPTION_FRA" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>COMPANY_OPTION_FRA denotes the Company Option -FRA whether its Partial or Total and it is a character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EMPLR_TAX_NUM_NLD" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>EMPLR_TAX_NUM_NLD denotes Federal Employer Tax ID which is a number of length 9 with a decimal position of 0</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="BUSINESS_DESCR" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>BUSINESS_DESCR denotes Business Description which is a character of length 60</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FISCAL_ID_CD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>FISCAL_ID_CD denotes Fiscal Identification Code which is a character of length 10</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DEFAULT_SETID" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>DEFAULT_SETID  denotes the company's Default set ID which is a character of length 5. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SETID_LOCATION" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>SETID_LOCATION denotes the company's Location SetID which is a character of length 5. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LOCATION" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>LOCATION denotes the company's location code which is a character of length 10. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TIPS_PROCESSING" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>TIPS_PROCESSING is selected to set Tip Allocation which is a character of length 1. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="HP_STATS_INSTN_CD" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>HP_STATS_INSTN_CD denotes the Stats Reporting Institution which is a number of length 6 with a decimal position of 0</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="INDUSTRY" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>INDUSTRY denotes the type of industry like core(default),education,government which is a character of length 4.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="INDUSTRY_SECTOR" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>INDUSTRY_SECTOR denotes the Industry Sector which is a character of length 4</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="OPR_INDUSTRY_OVRD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>OPR_INDUSTRY_OVRD denotes the Override Operator Industry which is a character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SINGLE_CHECK" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>SINGLE_CHECK denotes Single Check for Multiple Jobs which is a character of length 1.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LEGAL_TYPE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>LEGAL_TYPE denotes the Legal Entity for Company which is a character of length 4.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PAY_TAXES_THRU_AP" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>PAY_TAXES_THRU_AP denotes Pay Taxes through AP which is a character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SYSTEM_DATA_FLG" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This Y/ N field is used to identify which rows in a table are considered SYSTEM DATA</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="REG_REGION" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>REG_REGION denotes the Regulatory Region which is a character of length 5. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="INST_CODE_AUS" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This code represents the unique ID of the Institute. This is an Australia specific code which is needed for DETYA electronic reporting purposes.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CLASS_UNIT_NZL" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field  used in the calculation of ARCI premiums.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LIABLE_PAY_TAX" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Tax Liability Flag</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TEC_COMP_RATECD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the 	TEC Rate Code - Salary Packaging</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TPV_COMP_RATECD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the TPV Rate Code - Salary Packaging</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="APS_AGENT_CD_AUS" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Australia Public Service (APS) Agency Code.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LASTUPDDTTM" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Last Updated Date and Time </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
