Repository/CMM/backup/3rdPartyCMM/HrmsBase/Location_Sync.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by Ashutosh Rana (TCS) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://collab.safeway.com/it/architecture/info/location" targetNamespace="http://collab.safeway.com/it/architecture/info/location" elementFormDefault="qualified">
	<xsd:element name="LOCATION_SYNC" type="S_LOCATION_SYNC_REStype"/>
	<xsd:complexType name="S_LOCATION_SYNC_REStype">
		<xsd:sequence>
			<xsd:element name="LOCATION_TBL" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SETID" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the SETID</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LOCATION" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>LOCATION  identifies the physical local place where the employee work which is a character of length 10</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EFFDT" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Effective date</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EFF_STATUS" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Effective date status</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DESCR" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field the Description</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DESCR_AC" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>DESCR_AC is the Alternate Char Description which is a character of length 30</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DESCRSHORT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Its description in short</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="BUILDING" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>BUILDING denotes the Building number which is a character of length 10</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FLOOR" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>FLOOR denotes the Floor number which is a character of length 10</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SECTOR" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>SECTOR denotes the Sector which is a character of length 10.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="JURISDICTION" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>JURISDICTION denotes the paticular location's tax jurisdiction which is a character of length 5</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ATTN_TO" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>ATTN_TO is a character of length 30</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="COUNTRY" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>COUNTRY_CODE denotes the Int'l Prefix of the country which is a character of length 3</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDRESS1" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes Address Line 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDRESS2" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes Address Line 2</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDRESS3" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes Address  line 3</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDRESS4" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Thsi field denotes Address line 4</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CITY" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes City of the address</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="NUM1" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes Number 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="NUM2" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes Number 2</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="HOUSE_TYPE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>House Type 
AB=House Boat Reference 
WW=House Trailer Reference</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDR_FIELD1" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Address Field 1 
AL=Village 
AP=Apartment 
AV=Avenue 
BL=Housing Block 
BO=District 
CH=Villa 
CL=Street 
CM=Way 
CO=Housing Estate 
CR=Road 
CS=Farmhouse 
CT=Hill 
ED=Building 
GL=Roundabout 
GR=Group 
LG=Place 
MC=Market 
MN=Municipality 
MZ=Block 
PB=Town 
PG=Industrial Zone 
PJ=Passage 
PQ=Park 
PR=Annex 
PS=Promenade 
PZ=Square 
RB=Boulevard 
RD=Beltway 
TR=Alley 
UR=Neighborhood 
ZZ=Unknown</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDR_FIELD2" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes Address field 2</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ADDR_FIELD3" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes Address field 3</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="COUNTY" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the County</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="STATE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the State</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="POSTAL" type="xsd:int" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes Postal code</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GEO_CODE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the Geographic  Coordinates</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="IN_CITY_LIMIT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>In City Limit
Y/N Table Edit</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="COUNTRY_CODE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Country Code</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PHONE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>PHONE denotes the Telephone number of an employee which is a character of length 24</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EXTENSION" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>EXTENSION denotes phone extension number</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FAX" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>FAX denotes the Fax Number which is a character of length 24</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SETID_SALARY" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>SETID_SALARY denotes the salary SetId of an employee which is a character of length 5</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SAL_ADMIN_PLAN" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>SAL_ADMIN_PLAN denotes the Salary Administration Plan of an employee which is a character of length 4.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LANG_CD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>LANG_CD denotes the Language Code which is a character of length 3. Allows Uppercase characters including numbers</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="REG_REGION" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>REG_REGION denotes the regulatory region of an employee which is a character of length 5</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="HOLIDAY_SCHEDULE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the Holiday Schedule with respect to particular Location</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LOCALITY" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the Locality	</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CAN_CMA" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>CAN_CMA denotes various Canadian Census Metropol Area like Toronto, Calgary, Edmonton and it is a character of length 2</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CAN_OEE_AREACD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>CAN_OEE_AREACD denotes the CEC Management Area which is a character of length 2</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GEOLOC_CODE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>GEOLOC_CODE denotes the Geographical Location Code which is a character of length 10</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="OFFICE_TYPE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>OFFICE_TYPE denotes the office type which is a character of length 1</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="NCR_SW_CAN" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the National Capital Region</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TBS_OFFICE_CD_CAN" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the Treasury Board Office Code</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SPK_COMM_ID_GER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the Spokesman Committee ID</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TARIFF_AREA_GER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the Tarif Area</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TARIFF_GER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the Tariff</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="INDUST_INSP_ID_GER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the Industrial Inspection ID</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="NI_REPORT_SW_UK" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the Northern Ireland report Location</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GVT_GEOLOC_CD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the Geog Location Code</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GVT_DESIG_AGENT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>GVT_DESIG_AGENT denotes the GVT Designated Agent Code which is a character of length 4</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="MATRICULA_NBR" type="xsd:byte" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>MATRICULA_NBR denotes the Matricula Number which is a number of length 5 with a decimal position of 0</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LABEL_FORMAT_ID2" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>LABEL_FORMAT_ID2 denotes the Carton Label Format ID which is a character of length 30</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LABEL_FORMAT_ID3" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>LABEL_FORMAT_ID3 denotes the Ship Container Label Format ID  which is a character of length 30</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="USG_LBL_FORMAT_ID" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>USG_LBL_FORMAT_ID denotes the Item Usage Label Format which is a character of length 30</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FON_ER_ID_MEX" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the  Fonacot ID Number</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FON_OFFICE_MEX" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the FONACOT Office</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LOC_TAX_MEX" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the Local Tax</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LOC_TAX_SPCL_MEX" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the  Special Local Tax Establishment ID</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ESTABID" type="xsd:short" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>ESTABID denotes the Establishment ID which is a character of length 12.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="MESSAGE_TEXT2" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the Message text number</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="COMMENTS_2000" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>COMMENTS_2000 denotes the Comment Text which is a character of length 32700</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TELE_LOCATION" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes tele_location</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LASTUPDDTTM" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Last updated Timestamp of the record</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="S_LOCATION_TBL" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="SETID" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This feild denotes the SetID</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LOCATION" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the Location</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EFFDT" type="xsd:date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the Effective date</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="S_CUSTOM_KEY" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This denotes the Safeway Custom Key</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="S_CORP" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This denotes the Safeway company code</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="S_DIV" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This denotes the  Safeway Division</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="S_FAC" type="xsd:short" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This denotes the Safeway Facility</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="S_OP_AREA" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This denotes the Safeway  Operating Area </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="S_DIST" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This denotes the Safeway District</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="S_OM_MAINTAINED" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This denotes the Org Master Maintained</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="S_SEA_SECT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This denotes the Safeway Employee Association Sector</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="S_FAC_TYPE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This denotes the Facility Type</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="S_D_CUTOFF_TM_DEC" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This denotes the Daily Location Cutoff Time </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="S_W_CUTOFF_TM_DEC" type="xsd:byte" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This denotes the Weekly Location Cutoff Time </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
								<xsd:attribute name="class" type="xsd:string"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
