AppBuild/CMM/BOD/GetOutOfStock.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2021 rel. 3 (x64) (http://www.altova.com) by mgadd09 (Albertsons) --><xs:schema xmlns="http://www.openapplications.org/oagis/9" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://www.openapplications.org/oagis/9" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1"><!--!=============================================================================================--><!--8/31/2021 - Monica Gaddam - Initial version.--><xs:import namespace="http://collab.safeway.com/it/architecture/info/default.aspx" schemaLocation="../Nouns/OutOfStock.xsd"/><xs:import namespace="http://collab.safeway.com/it/architecture/info/default.aspx" schemaLocation="../AbsMaster/AbsOmMaster.xsd"/><xs:element name="GetOutOfStock" type="GetOutOfStockType"><xs:annotation><xs:documentation>root</xs:documentation></xs:annotation></xs:element><xs:complexType name="GetOutOfStockType"><xs:annotation><xs:documentation>Business Object to define Out Of Stock items at facility on a particular day. Data is collected on a regular intervals using handheld devices in the facility.</xs:documentation></xs:annotation><xs:sequence maxOccurs="unbounded"><xs:element name="DocumentData"><xs:complexType><xs:sequence><xs:element name="Document" type="Abs:DocumentType"/><xs:element name="DocumentAction" type="Abs:DocumentActionType"/></xs:sequence></xs:complexType></xs:element><xs:element name="OutOfStockData" type="Abs:OutOfStockType"/></xs:sequence></xs:complexType></xs:schema>