Repository/CMM/Nouns/AllowanceBillingParameter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   Schema Owner: 	Safeway Inc
   Date Created:      12 Jan 2016
   Author:		Sai Nuthakki
   Description: contains commonly used Safeway Purchase order schema.
   Name: /SFWY/Nouns/SwyPurchaseOrder.xsd
-->
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by Alex Nunes (Albertsons) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--!=============================================================================================-->
	<!--!-->
	<!--!-->
	<!--!      Allowance Billing Parameter: -->
	<!--!                                     Noun that represents vendor Allocances Billing Parameter related to vendor offer incentives.             -->
	<!--!-->
	<!--!=============================================================================================-->
	<!--V1.0 Alex Nunes - 6/16/2020 - Initial version.-->
	<!--V1.0 Alex Nunes - 6/19/2020 - Changes reflecting meeting with Tech Lead. -->
	<xs:include schemaLocation="FinanceMaster.xsd"/>
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:complexType name="AllowanceBillingParameterType">
		<xs:annotation>
			<xs:documentation>Standard Albertson companies schema for Billing record offer allowance parameters.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AllowanceBillingHeader" type="AllowanceBillingHeaderType"/>
			<xs:element name="AllowanceBillingItemDetail" type="AllowanceBillingItemDetailType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AllowanceBillingHeaderType">
		<xs:annotation>
			<xs:documentation>It represents billing records header.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BillingRecordId">
				<xs:annotation>
					<xs:documentation>Unique identifier generated by CABS to track individual billing records.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="DivisionId"/>
			<xs:element name="AllowanceTypeCd">
				<xs:annotation>
					<xs:documentation>Allowance type code.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LocationListInd">
				<xs:annotation>
					<xs:documentation>Location list indicator. D - No rog or store table populated, R - only ROG populated, S - only store populated. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Location" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Location list. It can have a ROG list or a Store list associated with the Billing Record but not both.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice minOccurs="0">
						<xs:element name="ROG" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>ROG list.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element ref="ROGCd" minOccurs="0"/>
									<xs:element ref="EffectiveTimePeriod" minOccurs="0"/>
									<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CreateUserId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Id of the client that created the message at source.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LastUpdateUserId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SoftDeleteTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Time stamp of when record was marked as deleted.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Store" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Store list.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element ref="RetailStoreId" minOccurs="0"/>
									<xs:element ref="EffectiveTimePeriod" minOccurs="0"/>
									<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CreateUserId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Id of the client that created the message at source.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LastUpdateUserId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SoftDeleteTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Time stamp of when record was marked as deleted.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="State" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>State list.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="StateCd" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element ref="EffectiveTimePeriod" minOccurs="0"/>
						<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CreateUserId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Id of the client that created the message at source.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LastUpdateUserId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SoftDeleteTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Time stamp of when record was marked as deleted.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="VendorOfferNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vendor original Offer number captured in NOPA/eDeals</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorOfferDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the vendor original Offer.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PerformanceCd1">
				<xs:annotation>
					<xs:documentation>Performance code 1.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PerformanceCd2">
				<xs:annotation>
					<xs:documentation>Performance code 2.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FlatPerformanceCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Flat performance code.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DealLocationId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Location Id of the deal from Vendor view point. This could be a Division Id along with other localized information.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="22"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PayeeTypeCd">
				<xs:annotation>
					<xs:documentation>Payee type code. D - Deduct (AP Number ) or I - Invoice (AR number ).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorPayeeAccountNbr" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Accounts Payable Vendor  Number.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorPayeeAccountNm" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Accounts Payable vendor account name.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerAccountNbr" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Accounts Receivable customer number.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerAccountNm" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Accounts Receivable customer account name.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="VendorNm" minOccurs="0"/>
			<xs:element name="FlatAllowanceAmt" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Flat allowance amount.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BillingStartDt" type="DateBaseType" nillable="true">
				<xs:annotation>
					<xs:documentation>Billing start date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillingEndDt" type="DateBaseType" nillable="true">
				<xs:annotation>
					<xs:documentation>Billing end date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderStartDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Order start date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderEndDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Order end date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShippingStartDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Shipping start date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShippingEndDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Shipping end date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalStartDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Arrival start date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalEndDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Arrival end date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AllowanceStartDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowance start date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AllowanceEndDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowance end date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PerformanceStartDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Performance start date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PerformanceEndDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Performance end date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcessDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Process date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CancelDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Cancel date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SectionCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the Cd that uniquely identified the  grouping of products or services within a department.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorDealStatusCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vendor deal status code.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BillingRecordIndicators" nillable="false">
				<xs:annotation>
					<xs:documentation>Internal CABS indicators.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GeneralLedgerAccountChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AcctRecAcctPayChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="BillingStartDateChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="BillingEndDateChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AssignUserChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="STSChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="NotesChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LocationListChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="StateListChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ReviewStatusChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NOPAIndicators" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Group of indicators related to NOPA. Notice of Promotion Allowances.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="DealDescriptionChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ProductDealDescriptionChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="GroupCodeChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="FlatPerformanceCodeChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="MinimumCICChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="VendorDealSTSCodeChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="WhomNumberChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ExportActionChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="WarehouseInventoryChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DisplayChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PerformanceNameChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ManufacturerNameChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="VehicleTypeNameChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="OrderStartDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="OrderEndDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ShippingStartDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ShippingEndDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ArrivalStartDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ArrivalEndDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PerformanceStartDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PerformanceEndDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="VendorDealSTSDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ProcessDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CancelDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SubmitDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AcceptDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="FlatAllowanceAmountChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="RecentCMMTTextChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="NOPACMMTTextChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that created the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastUpdateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AllowanceBillingItemDetailType">
		<xs:annotation>
			<xs:documentation>Contains detail line information form items of a particular billing record.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CorporateItemCd"/>
			<xs:element name="UnitTypeCd">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UPC" type="UPC"/>
			<xs:element name="BillingStartDt" type="DateBaseType" nillable="true">
				<xs:annotation>
					<xs:documentation>Billing start date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillingEndDt" type="DateBaseType" nillable="true">
				<xs:annotation>
					<xs:documentation>Billing end date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AllowanceAmt" nillable="true">
				<xs:annotation>
					<xs:documentation>Allowance amount.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemIndicators">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ManualItemInOfferInd">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SOSItemInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="MeasureItemInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DisplayItemInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="WarehouseIdChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ConsumerUPCIdChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CaseUPCIdChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SizeUOMCdChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AllowancePinCodeChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AllowancePMTChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AllowanceBasisDscChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AllowanceTypeStartDateChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AllowanceTypeEndDateChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ShippingUnitPackQtyChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SizeQtyChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="BillingStartDateChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="BillingEndDateChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AllowanceAmountChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SoftDeleteInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that created the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastUpdateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
