Repository/CMM/Nouns/AllowanceBillingParameter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   Schema Owner: 	Safeway Inc
   Date Created:      12 Jan 2016
   Author:		Sai Nuthakki
   Description: contains commonly used Safeway Purchase order schema.
   Name: /SFWY/Nouns/SwyPurchaseOrder.xsd
-->
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by  (Albertsons) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--!=============================================================================================-->
	<!--!-->
	<!--!-->
	<!--!      Allowance Billing Parameter: -->
	<!--!                                     Noun that represents vendor Allocances Billing Parameter related to vendor offer incentives.             -->
	<!--!-->
	<!--!=============================================================================================-->
	<!--V1.0 Alex Nunes - 6/16/2020 - Initial version.-->
	<!--V1.0 Alex Nunes - 6/19/2020 - Changes reflecting meeting with Tech Lead. -->
	<!--V1.0 Alex Nunes - 7/28/2020 - Changes adding and deleting of indicators -->
	<!--V1.1 Alex Nunes - 8/20/2020 - Added additional elements to support new requirement. Jira ticket: EBC-12042 -->
		<!--V1.2 Alex Nunes - 8/28/2020 - Added Account Name Change indicator under billing record indicators. -->
	<xs:include schemaLocation="../Nouns/FinanceMaster.xsd"/>
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:complexType name="AllowanceBillingParameterType">
		<xs:annotation>
			<xs:documentation>Standard Albertson companies schema for Billing record offer allowance parameters.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AllowanceBillingHeader" type="AllowanceBillingHeaderType"/>
			<xs:element name="AllowanceBillingItemDetail" type="AllowanceBillingItemDetailType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AllowanceBillingHeaderType">
		<xs:annotation>
			<xs:documentation>It represents billing records header.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BillingRecordId">
				<xs:annotation>
					<xs:documentation>Unique identifier generated by CABS to track individual billing records.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="DivisionId"/>
			<xs:element name="AllowanceTypeCd">
				<xs:annotation>
					<xs:documentation>Allowance type code.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LocationListInd">
				<xs:annotation>
					<xs:documentation>Location list indicator. D - No rog or store table populated, R - only ROG populated, S - only store populated. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Location" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Location list. It can have a ROG list or a Store list associated with the Billing Record but not both.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice minOccurs="0">
						<xs:element name="ROG" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>ROG list.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element ref="ROGCd" minOccurs="0"/>
									<xs:element ref="EffectiveTimePeriod" minOccurs="0"/>
									<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CreateUserId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Id of the client that created the message at source.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LastUpdateUserId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Store" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Store list.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element ref="RetailStoreId" minOccurs="0"/>
									<xs:element ref="EffectiveTimePeriod" minOccurs="0"/>
									<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CreateUserId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Id of the client that created the message at source.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LastUpdateUserId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="State" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>State list.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="StateCd" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element ref="EffectiveTimePeriod" minOccurs="0"/>
						<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CreateUserId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Id of the client that created the message at source.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LastUpdateUserId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="VendorOfferNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vendor original Offer number captured in NOPA/eDeals</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorOfferDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the vendor original Offer.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PerformanceCd1">
				<xs:annotation>
					<xs:documentation>Performance code 1.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PerformanceCd2">
				<xs:annotation>
					<xs:documentation>Performance code 2.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FlatPerformanceCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Flat performance code.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DealLocationId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Location Id of the deal from Vendor view point. This could be a Division Id along with other localized information.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="22"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PayeeTypeCd">
				<xs:annotation>
					<xs:documentation>Payee type code. D - Deduct (AP Number ) or I - Invoice (AR number ).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorPayeeAccountNbr" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Accounts Payable Vendor  Number.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorPayeeAccountNm" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Accounts Payable vendor account name.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerAccountNbr" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Accounts Receivable customer number.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerAccountNm" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Accounts Receivable customer account name.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="VendorNm" minOccurs="0"/>
			<xs:element name="FlatAllowanceAmt" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Flat allowance amount.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BillingStartDt" type="DateBaseType" nillable="true">
				<xs:annotation>
					<xs:documentation>Billing start date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillingEndDt" type="DateBaseType" nillable="true">
				<xs:annotation>
					<xs:documentation>Billing end date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderStartDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Order start date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderEndDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Order end date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShippingStartDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Shipping start date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShippingEndDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Shipping end date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalStartDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Arrival start date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalEndDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Arrival end date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AllowanceStartDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowance start date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AllowanceEndDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowance end date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PerformanceStartDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Performance start date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PerformanceEndDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Performance end date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcessDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Process date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CancelDt" type="DateBaseType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Cancel date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SectionCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the Cd that uniquely identified the  grouping of products or services within a department.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorDealStatusCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vendor deal status code.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BillingRecordIndicators" nillable="false">
				<xs:annotation>
					<xs:documentation>Internal CABS indicators.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GeneralLedgerAccountChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AccountNameChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AcctRecAcctPayChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="BillingStartDateChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="BillingEndDateChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AssignUserChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="STSChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="NotesChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LocationListChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LocationListKeyChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="StateListChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ReviewStatusChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="FlatCancellationActionInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="FlatAllowanceAmountChangeInd">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SectionCodeChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="OfferNumberChangeInd">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PerformanceStartDateChangeInd">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PerformanceEndDateChangeInd">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AllowancePerformanceTypeChangeInd">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LeadCorporateItemCodeChangeInd">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="FlatCodeChangeInd">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LifecycleCategorySTSChangeInd">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AccountLookupTypeDepartmentChangeInd">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AccountLookupTypeValueChangeInd">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LookupTypeChangeInd">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="TeamUserChangeInd">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="VendorNumberChangeInd">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CompanyCodeChangeInd">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AssignOverrideChangeInd">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DivisionChangeInd">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NOPAIndicators" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Group of indicators related to NOPA. Notice of Promotion Allowances.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="DealDescriptionChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="GroupCodeChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="FlatPerformanceCodeChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="MinimumCICChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="VendorDealSTSCodeChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="WhomNumberChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ExportActionChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="WarehouseInventoryChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DisplayChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PerformanceNameChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ManufacturerNameChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="VehicleTypeNameChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="OrderStartDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="OrderEndDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ShippingStartDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ShippingEndDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ArrivalStartDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ArrivalEndDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PerformanceStartDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PerformanceEndDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="VendorDealSTSDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ProcessDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CancelDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SubmitDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AcceptDateChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="FlatAllowanceAmountChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="RecentCMMTTextChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="NOPACMMTTextChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ProductCategoryChangeInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="FlatCancellationActionInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Populate to Y when we zero out Header Flat amount on the latest record. Can be compared from last version if null in current version set as Y.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AccountLookupTypeCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code of account lookup type. Values: R and C.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountLookupTypeDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Account lookup type description. Example: R for Retail and C for COGS.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This field along with the accounting unit and subaccount make up the location (account) where amounts and other  account information is stored. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="0"/>
						<xs:totalDigits value="14"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountingCompanyId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Accounting company identifier.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountingSectionCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Accounting: Defines the Code that uniquely identified the grouping of products or services within a department.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountingFacilityId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A four character code that is used with corporation
 and division to uniquely identify a facility. A facility may "belong" to
 only one corporation and one division. A building may house one or more
facilities. There are two categories for facilities:
 1) Operating facility
 - actively supports the business of the Company
 - is a distinct business operation within a building
  - examples: office, processing plant, retail store, truck service
 shop, or warehouse building  (A warehouse facility includes all warehouse departments that exist within a single building.)
 - each type of division/business has a different set of possible types of operating facilities: i.e.,
 - Retail: retail outlets and offices.
- Wholesale: warehouse facilities, truck service shop, and offices.
- Processing/Manufacturing: processing plants and offices.
 2) Non-operating Facility                                                     
 - not currently being operated by the Company.
 - facilities </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that created the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastUpdateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AllowanceBillingItemDetailType">
		<xs:annotation>
			<xs:documentation>Contains detail line information form items of a particular billing record.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CorporateItemCd"/>
			<xs:element name="UnitTypeCd">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UPC" type="UPC"/>
			<xs:element name="BillingStartDt" type="DateBaseType" nillable="true">
				<xs:annotation>
					<xs:documentation>Billing start date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillingEndDt" type="DateBaseType" nillable="true">
				<xs:annotation>
					<xs:documentation>Billing end date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AllowanceAmt" nillable="true">
				<xs:annotation>
					<xs:documentation>Allowance amount.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PackSizeQty" nillable="true">
				<xs:annotation>
					<xs:documentation>Pack size quantity.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PackSizeDsc" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the pack size.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemIndicators">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ManualItemInOfferInd">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SOSItemInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="MeasureItemInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DisplayItemInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SOSItemChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="MeasureItemChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DisplayItemChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="WarehouseIdChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ConsumerUPCIdChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CaseUPCIdChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SizeUOMCdChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AllowancePinCodeChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AllowancePMTChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AllowanceBasisDscChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AllowanceTypeStartDateChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AllowanceTypeEndDateChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ShippingUnitPackQtyChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PackSizeQtyChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SizeQtyChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="UOMTypeChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="BillingStartDateChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="BillingEndDateChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AllowanceAmountChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ItemDeleteChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ItemAddChangeInd" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that created the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastUpdateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
