Repository/CMM/Nouns/BusinessPartner.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2021 rel. 2 sp1 (x64) (http://www.altova.com) by poliv02 (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" vc:minVersion="1.1">
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:include schemaLocation="../Nouns/FinanceMaster.xsd"/>
	<!--V1.0 Patrick Oliver 04/08/21: Initial Draft-->
	<!--V1.2 Patrick Oliver 05/05/21: Added NotesType -->
	<xs:element name="BusinessPartner">
		<xs:annotation>
			<xs:documentation>Root element. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="BusinessPartnerType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BusinessPartnerType">
		<xs:annotation>
			<xs:documentation>Albertsons object to show the attributes associated to an Albertsons business partner entity. A business partner can be a supplier, a vendor, a customer or any other third party from which a business alliance has been associated. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="PartnerId">
				<xs:annotation>
					<xs:documentation>Business Partner identification. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartnerNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of a business partner.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PartnerTypeCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Business partner types (Fuel partner, Delivery partner, Fullfillment partner, Picker partner, etc. ). </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CodeWithDescription"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="InternalParnterInd" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Flag to indicate if partner is internal to Albertsons.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="APVendorNbr" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Accounts Payable Vendor. This can be set when business partner associated to an accounts payable vendor.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ARCustomerAccountNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Accounts Receivable Customer number. This can be set when business partner associated to an accounts receivable customer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ARCustomerSiteNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Accounts Receivable Customer Site number. This is can be set when business partner associated to an accounts receivable customer.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PartnerProfile" type="PartnerProfileType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PartnerSiteData" type="PartnerSiteType" minOccurs="0"/>
			<xs:element name="PartnerEffectiveTimePeriod" type="ParterEffectiveDateTimeType" minOccurs="0"/>
			<xs:element name="PartnerAuditData" type="RecordAuditData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PartnerId">
		<xs:annotation>
			<xs:documentation>The ABS partner identification (ex: Chevron, Shell, etc.)</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PartnerSiteId">
		<xs:annotation>
			<xs:documentation>Partner site ID </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PartnerParticipantId">
		<xs:annotation>
			<xs:documentation>Identifier for a grouping of partner site_id's</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="PartnerProfileType">
		<xs:annotation>
			<xs:documentation>Object used for business Partner attributes like contract details, SLAs, status, limit thresholds, fees, and overrides. The profile data for business partner can be associated to different organization levels. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrganizationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Organization type to show where partner profiles are active within the organization. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OrganizationTypeCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Partner profiles can be at different levels such as Corp, Store, Store Group. Valid values are ‘Division’, ‘Store’, ‘Store Group’, etc. </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="OrganizationValueTxt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Valid are DivsionId, StoreID, StoreGroupId ,etc. </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PartnerContact" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ContactTypeCd" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Can be used to specify the type of contact (manager, employee, etc.) </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ContactNm" type="xs:string" minOccurs="0"/>
									<xs:element name="PhoneNbr" type="xs:string" minOccurs="0"/>
									<xs:element name="EmailAddresstxt" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Address" type="AddressType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Status" type="StatusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Partner status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceLevelType" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CodeWithDescription">
							<xs:sequence>
								<xs:element name="ActivityType" type="CodeWithDescription" minOccurs="0">
									<xs:annotation>
										<xs:documentation>This defines the activty for which SLA is measured </xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BusinessContractType" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractId" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ContractNm" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="500"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ContractDsc" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="2000"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ContractStartDt" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Date on which the contract with partner starts. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ContractEndDt" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Date on which the contract with partner ends. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ContractByType" type="ContractByType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ContractThresholdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>3rd party contract order limits</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OrderLimitCnt" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>purpose is to define threshold at which point we stop allocating orders to a given vendor for a given day for given store</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MaximumItemCnt" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>purpose is to define, by an order's item count, a threshold to qualify orders to be eligible for assigning to a 3PL (i.e. we will only assign an order to Shipt if the item count is between 1-70)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MinimumItemCnt" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>purpose is to define, by an order's item count, a threshold to qualify orders to be eligible for assigning to a 3PL (i.e. we will only assign an order to Shipt if the item count is between 1-70)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MinimumToteCnt" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>purpose is to define, by an order's tote count, a threshold to qualify orders to be eligible for assigning to a 3PL (i.e. we will only assign an order to Shipt if the tote count is between 10-20)

</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MaximumToteCnt" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>purpose is to define, by an order's tote count, a threshold to qualify orders to be eligible for assigning to a 3PL (i.e. we will only assign an order to Shipt if the tote count is between 10-20)

</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OrderAllocationPct" minOccurs="0">
							<xs:annotation>
								<xs:documentation>purpose is to define percentage of orders to be delivered by a partner for a given store for a given day(this value will override the order count)

</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="6"/>
									<xs:fractionDigits value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="MileageNbr" type="xs:integer" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ServiceFeeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Various types of service fee for online business at a store level. Like door delivery fee for business or residential..etc</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ServiceFeeTypeCd" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ServiceFeeCategoryCd" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ServiceFeeAmt" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="6"/>
									<xs:fractionDigits value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ServiceFeeItemId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>item id for the service fee like upc or scan cd.
ex: scan cd for bag fee.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ServiceAreaType" type="CodeWithDescription" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Type of service area for the partner. ex: Inside store, Outside store, Outside Kiosk ,etc..</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceAreaLocationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Partner service area location covered in online business for the organization. ex zip codes or cities</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AreaTypeCd" type="xs:string" minOccurs="0"/>
						<xs:element name="AreaTypeValueTxt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Delivery areas covered like zip codes covered from the store.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Overrides" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Various ecom override profiles for the partner.
Ex: Store can be designated to manually override an automated 3PL delivery schedule. They can refuse to use the serives of a 3PL driver for various reasons.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="PartnerId" minOccurs="0"/>
						<xs:element name="PartnerNm" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Name of a business partner.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="250"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="OverrideType" type="CodeWithDescription" minOccurs="0"/>
						<xs:element name="OverrideInd" type="xs:boolean" minOccurs="0"/>
						<xs:element name="OverrideReasonType" type="CodeWithDescription" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NotesType" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NotesTypeCd" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="NotesTxt" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="2000"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartnerSiteType">
		<xs:annotation>
			<xs:documentation>Object used to identify various Partner Sites</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="PartnerSiteId" minOccurs="0"/>
			<xs:element name="OrganizationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Organization type to show where partner profiles are active within the organization. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OrganizationTypeCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Partner profiles can be at different levels such as Corp, Store, Store Group. Valid values are ‘Division’, ‘Store’, ‘Store Group’, etc. </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="OrganizationValueTxt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Valid are DivsionId, StoreID, StoreGroupId ,etc. </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="PartnerParticipantId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is used an identifier for grouping of partner site_id's</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartnerSiteNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of a partner site.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PartnerSiteTypeCd" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the type of partner site. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartnerSiteActiveInd" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Boolean indicator for if site is active.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartnerSiteStatus" type="StatusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Site status codes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartnerSiteContact" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SiteContact" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ContactTypeCd" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Can be used to specify the type of contact (manager, employee, etc.) </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ContactNm" type="xs:string" minOccurs="0"/>
									<xs:element name="PhoneNbr" type="xs:string" minOccurs="0"/>
									<xs:element name="EmailAddresstxt" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SiteAddress" type="AddressType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PartnerSiteCommentTxt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PartnerSiteEffectiveTimePeriod" type="ParterEffectiveDateTimeType" minOccurs="0"/>
			<xs:element name="PartnerSiteAuditData" type="RecordAuditData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParterEffectiveDateTimeType">
		<xs:annotation>
			<xs:documentation>Common type for COA effective date and time.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="FirstEffectiveDt" minOccurs="0"/>
			<xs:element ref="FirstEffectiveTm" minOccurs="0"/>
			<xs:element ref="LastEffectiveDt" minOccurs="0"/>
			<xs:element ref="LastEffectiveTm" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="typeCode"/>
	</xs:complexType>
	<xs:complexType name="ContractByType">
		<xs:annotation>
			<xs:documentation>Indicates user and time who created contract.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UserId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FirstNm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastNm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReasonType" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="CreateDtTm" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>