Repository/CMM/Nouns/CustomerSession.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) by Alex Nunes (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified">
	<!--V 1.0  Alex Nunes  7/8/2019  Initial version.-->
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="CustomerSession" type="CustomerSessionType">
		<xs:annotation>
			<xs:documentation>Root element. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CustomerSessionType">
		<xs:annotation>
			<xs:documentation>Represents web and mobile applications' customer session state and data. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Session">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SessionId" type="xs:string">
							<xs:annotation>
								<xs:documentation>An unique identifier of the session.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SessionType" type="CodeWithDescription">
							<xs:annotation>
								<xs:documentation>Type of session. Ex: Mobile, regular.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SecretTxt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Randomly generated string.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="60"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="NonceTxt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Randomly generated string.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="60"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SaltTxt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Salt added to hashing.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="120"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="IpAddress" minOccurs="0">
							<xs:annotation>
								<xs:documentation>IP Address of the session.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LastLoginTs" type="DateTimeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Last login timestamp of the session.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LastRefreshTs" type="DateTimeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>last refresh timestamp of the session.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LastLogoutTs" type="DateTimeType" minOccurs="0"/>
						<xs:element name="ExpireTm" type="TimeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Number of senconds that a session will expire.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EndOfLifeTm" type="TimeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Hard time in seconds after session has expired (grace period).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DeviceType" type="CodeWithDescription" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Type of the device used on the session.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DeviceId" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>An unique identifier for the device used on the session.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SessionDBId" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>An unique identifier used to match with the database ID.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LastLoginSourceNm" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Last loging source name.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Customer" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GUID" type="GUIDType" minOccurs="0"/>
						<xs:element ref="UUID" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AccessToken" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RefreshTokenTxt">
							<xs:annotation>
								<xs:documentation>Authorization refresh token.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="120"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DomainNm" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Domain name, similar to banner. Ex. safeway, albertsons, etc...</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SubDomainNm" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Name of the sub-domain. Ex: www, shop.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ExpireTm" type="TimeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Number of senconds that a session will expire.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EndOfLifeTm" type="TimeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Hard time in seconds after session has expired (grace period).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="HashTxt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Access Token Hash, Used to match an access token.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="120"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="RedirectUrlTxt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>OAuth redirect URL used to fetch access tokens.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="60"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="GrantAccessTypeCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>OAuth grant type
authorization_code, password</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CreateTs" type="DateTimeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Token create timestamp. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LastRefreshTs" type="DateTimeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Last refresh token timestamp.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UserState" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DomainNm">
							<xs:annotation>
								<xs:documentation>Domain name, similar to banner. Ex. safeway, albertsons, etc...</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="StateTxt">
							<xs:annotation>
								<xs:documentation>State values are: A - Anonymous, G - Guest,
C - Credentials, PC - Previously Credentialed, PG - Previously Guest</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Attribute" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AttributeNm">
							<xs:annotation>
								<xs:documentation>Name of the attribute that session can store.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="60"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AttributeVal">
							<xs:annotation>
								<xs:documentation>Attribute value.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="60"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DomainNm" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Domain name, similar to banner. Ex. safeway, albertsons, etc...</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ClientNm" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Name of the client.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="60"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ScopeTxt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Scope of the attribute.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="createTs" type="DateTimeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Create timestamp of the attribute.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LastUpdateTs" type="DateTimeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Last update timestamp of the attribute.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SourceAuditData">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="SourceAuditType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourceAuditType">
		<xs:annotation>
			<xs:documentation>This type represents auditing data related to the message at source.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreateClientId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that created the message at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastUpdateClientId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that last modified the message at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreateHostNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the host where the message was initially created.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateHostNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the host where the message was last modified.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateSourceNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the source where the message was initially created.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateSourceNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the source where the message was last modified.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SequenceNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sequence number of the last event related to the message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AggregateRevisionNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of the aggregate revision.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayloadVersionNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Payload version number.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
