Repository/CMM/Nouns/CustomerPreferencesMaster.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by Patrick Oliver (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" vc:minVersion="1.1">
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<!--V1.0  Patrick Oliver 03/21/21: Initial Version-->
	<!--V1.1 Patrick Oliver 04/09/21: Moved cardnality for PreferenceBanner to the sequence.  -->
	<xs:element name="CustomerPreferencesMaster" type="CustomerPreferencesMasterType">
		<xs:annotation>
			<xs:documentation>Root element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CustomerPreferencesMasterType">
		<xs:annotation>
			<xs:documentation>CustomerPreferencesMaster object will provide master data for retail Customer Preferences. The master data will show the acceptable values, frequency, effective time periods and options for both explicit and implicit customer preferences. Explicit Preferences are preferences where they are explicitly gathered from the customer based on the customer’s selection on Albertsons websites and include preferences such as products, brands, communication channels, and personalization. Implicit Preferences are preferences that are derived based on customer browse, search, and purchase behavior. These include preferences such as offers, promotions, marketing, and preferred modes of communication.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="PreferenceDefinitionId">
				<xs:annotation>
					<xs:documentation>Preference Definition UUID. This is used the master identifier for each customer preference and all attributes associated to it.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PreferenceCategoryCd"/>
			<xs:element ref="PreferenceSubCategoryCd"/>
			<xs:element ref="PreferenceNm"/>
			<xs:element ref="PreferenceDsc" minOccurs="0"/>
			<xs:element name="PreferenceOptions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="MaxOccurenceNbr" minOccurs="0"/>
						<xs:element ref="SequenceNbr" minOccurs="0"/>
						<xs:element ref="PreferenceAltNm" minOccurs="0"/>
						<xs:element ref="PreferencetUrlTxt" minOccurs="0"/>
						<xs:element ref="PreferenceChannel" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="PreferenceAllowedValue" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Allowed values for a preference    ('C' = 'Category',  'A' = 'Added'', 'E' = 'Expire', etc.)  </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="CodeWithDescription">
										<xs:sequence>
											<xs:element name="AllowedValueDfltInd" type="xs:boolean" minOccurs="0">
												<xs:annotation>
													<xs:documentation>If present and True means it is default value for that preference.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="PreferenceBanner" type="PreferenceBannerType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>These will reprsent the BannerId(s) that preference is allowed to use.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PreferenceEffectivePeriod" type="EffectiveDateTimeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SourceAuditData" type="SourceAuditType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PreferenceDefinitionId" type="IDType">
		<xs:annotation>
			<xs:documentation>Preference Definition UUID. This is used the master identifier for each customer preference and all attributes associated to it</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PreferenceCategoryCd" type="xs:string">
		<xs:annotation>
			<xs:documentation>Preference Category eg. Communication, Display, Fulfillment, Enterprise, AR-Fulfillment, AR-Enterprise, etc.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PreferenceSubCategoryCd" type="xs:string">
		<xs:annotation>
			<xs:documentation>Preference Subcategory within Category. eg. Offers, Orders, Categories, Method, Store, etc.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PreferenceNm">
		<xs:annotation>
			<xs:documentation>Preference Name.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PreferenceDsc">
		<xs:annotation>
			<xs:documentation>Preference Description.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PreferenceAltNm">
		<xs:annotation>
			<xs:documentation>Alternate name for the preference. Used specifically for marketing promotional preferences, hidden categories. For example,
Promotional - Just for U preference is usually referred to as J4U, Online Shopping is referred to as GROCERY_DEL etc.
Hidden categories - Baby Care is referred to as 1, Pet Care as 18, Tobacco as 3300 etc.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MaxOccurenceNbr" type="xs:long">
		<xs:annotation>
			<xs:documentation>This determines whether this preference exists only once per customer or repeats (ex:  once per banner). If not defined, it means it repeats.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SequenceNbr" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Order in which this preference is to be displayed among the list of preferences under a category/subCategory combination. Used specifically for marketing promotional preferences.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PreferencetUrlTxt">
		<xs:annotation>
			<xs:documentation>URL for image to be shown against the preference</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PreferenceChannel" type="CodeWithDescription">
		<xs:annotation>
			<xs:documentation>1=EMAIL, 2=SMS, 3=PUSH (Channel
specific preference</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PreferenceBannerType">
		<xs:annotation>
			<xs:documentation>This will show the list of banners that are applicable for a particular customer preference.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="BannerId" minOccurs="0"/>
			<xs:element ref="BannerCd" minOccurs="0"/>
			<xs:element ref="BannerNm" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BannerId">
		<xs:annotation>
			<xs:documentation>BannerId to identify if the preference is banner specific</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BannerNm">
		<xs:annotation>
			<xs:documentation>Name of banner</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="SourceAuditType">
		<xs:annotation>
			<xs:documentation>This type represents auditing data related to the message at source.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="SourceNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the source or system of record.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreateClientId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that created the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that created the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateClientId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that last modified the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateHostNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the host where the message was initially created.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateHostNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the host where the message was last modified.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SequenceNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sequence number of the last event related to the message.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AggregateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and Time stamp of the aggregate when it was updated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AggregateRevisionNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of the aggregate revision. Used for conflict resolution.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PayloadVersionNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Payload version number.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EventId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Event Id of the last event applied</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
