Repository/CMM/Nouns/CustomerPreferences.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by Patrick Oliver (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" vc:minVersion="1.1">
	<!--V2.1 Patrick Oliver 01/25/21: (1) Removed GUID; (2) Changed AlternateIdTxt to string[100]-->
	<!--V2.0 - Patrick Oliver 01/19/21: Removed word 'Managment' from BOD name-->
	<!--V1.3 Patrick Oliver 01/13/21: Changed SourceAuditData to single occurence-->
	<!--V1.2 Patrick Oliver 01/11/21: Changed PreferenceEffectivePeriod and SubscriptionEffectivePeriod to unbounded-->
	<!--V1.1 Patrick Oliver 01/07/21: Added EventId to SourceAuditData-->
	<!--V1.0  Patrick Oliver 12/02/20: Initial Version-->
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="CustomerPreferences" type="CustomerPreferencesType">
		<xs:annotation>
			<xs:documentation>Root element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CustomerPreferencesType">
		<xs:annotation>
			<xs:documentation>Customer Preferences object will show a retail customer’s generic preferences and the subscriptions (subjects) that a customer can subscribe to (opt in and/or out) of receiving for a specific communication channel (email address). </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomerId" type="IDType">
				<xs:annotation>
					<xs:documentation>Customer Identification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerAlternateId" type="AlternateId" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CustomerPreferences" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Customer Generic preferences.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PreferenceClassNm" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preference Class name.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferenceCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preference Code. A code used to define a preference that could be selected by a user of the system.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferenceTypeCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preference Type code. A code used to define a type of a preference that could be selected by a user of the system.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferenceTypeDsc" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of the customer preference.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferenceVal" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preference selected value.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferenceCategoryCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Defines a higher grouping of preference that can be setup for customers. Ex: communication, privacy.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferenceSubCategoryCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Defines a lower level of categorization for a customer. Ex: SMS, Email, Phone.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OptChoice" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Opt-in and Opt-out indicator choices.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ChoiceDsc" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Description of the choice. Ex: TRIAL, ACTIVE, SUSPENDED,
PENDING_CANCELLATION,
PENDING_ACTIVATION, CANCELLED</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="OptChoiceInd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Opt Indicator.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string"/>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ReasonCd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Reason code for the customer to opt in or out.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ReasonDsc" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Description of the reason.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SelectTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Timestamp of when customer selected or opted in or out of the preference.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element ref="BannerCd" minOccurs="0"/>
						<xs:element name="PreferredInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates whether or not preference is the preferred one.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ChannelTypCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>1=EMAIL, 2=SMS, 3=PUSH (Channel
specific preference) </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PlatformTypCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>1=J4U, 2=SHOP, 3=MOBILE, 4=STORE (Pl
atform specific preference)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferenceEffectivePeriod" type="EffetiveDateTimeType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerSubscriptions" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The subscriptions (subjects) that a customer can subscribe to (opt in and/or out) of receiving for a specific ommunication channel (email address).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SubscriptionId" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Subscription id is the actual subscription plan id (id of monthly or yearly plan the customer has enrolled in)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SubscriptionCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>A code that defines the subscriptions (subjects) that a customer can subscribe to (opt in/out) of receiving for a specific communication channel (email address).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SubscriptionTypeCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>A code defining a high level categorization of a subscription type
Example:                     
E  Email Savings
J   J4U
G   Grocery Delivery
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SubscriptionDsc" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The description of the subscriptions (subjects) that a customer can subscribe to.
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OptChoice" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Opt-in and Opt-out indicator choices.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ChoiceDsc" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Description of the choice. Ex: TRIAL, ACTIVE, SUSPENDED,
PENDING_CANCELLATION,
PENDING_ACTIVATION, CANCELLED</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="OptChoiceInd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Opt Indicator.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string"/>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ReasonCd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Reason code for the customer to opt in or out.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ReasonDsc" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Description of the reason.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SelectTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Timestamp of when customer selected or opted in or out of the preference.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DeliverySubscription" minOccurs="0">
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element name="ServiceFeeWaivedInd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicator of whether or not service fee is waived.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="DeliveryFeeWaivedInd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicator of whether or not delivery fee is waived.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="FuelSurchargeWaivedInd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicator of whether or not a surcharge on fuel is waived.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="MinimumBasketSizeQty" type="xs:int" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Threshold order amount to be eligible for the subscription. e.g.: minimum order amount must be $30 to be eligible for the subscription.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AutoRenewInd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicator of whether or not delivery subscription is auto renewable.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="AutoEnrollInd" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicator of whether or not auto enrollment is on.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Fee" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Plan actual fee.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="CurrencyCd" type="xs:string"/>
											<xs:attribute name="FeeAmt" type="xs:decimal"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="InitialOrderAmountOff" minOccurs="0">
										<xs:annotation>
											<xs:documentation>At times, first time customer orders might be provided with a $'x' amount discount.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="CurrencyCd" type="xs:string"/>
											<xs:attribute name="DiscountAmt" type="xs:decimal"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="SignupFee" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Signup fee is the discounted plan fee chosen opted by the customer.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="CurrencyCd" type="xs:string"/>
											<xs:attribute name="FeeAmt" type="xs:decimal"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SubscriptionEffectivePeriod" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element ref="FirstEffectiveDt" minOccurs="0"/>
									<xs:element ref="FirstEffectiveTm" minOccurs="0"/>
									<xs:element ref="LastEffectiveDt" minOccurs="0"/>
									<xs:element ref="LastEffectiveTm" minOccurs="0"/>
									<xs:element name="DurationNbr" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Number that represents the duration.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="DurationUnitDsc" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Duration unit. D for Days, W for weeks.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="InclusiveInd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicates whether or not the dates and times are inclusive or not.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
								<xs:attribute ref="typeCode"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SourceAuditData" type="SourceAuditType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer message audit data.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourceAuditType">
		<xs:annotation>
			<xs:documentation>This type represents auditing data related to the message at source.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="SourceNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the source or system of record.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreateClientId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that created the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that created the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateClientId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that last modified the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateHostNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the host where the message was initially created.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateHostNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the host where the message was last modified.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SequenceNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sequence number of the last event related to the message.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AggregateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and Time stamp of the aggregate when it was updated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AggregateRevisionNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of the aggregate revision. Used for conflict resolution.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PayloadVersionNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Payload version number.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EventId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Event Id of the last event applied</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EffetiveDateTimeType">
		<xs:annotation>
			<xs:documentation>Common type for Retail Customer effective date and time.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="FirstEffectiveDt" minOccurs="0"/>
			<xs:element ref="FirstEffectiveTm" minOccurs="0"/>
			<xs:element ref="LastEffectiveDt" minOccurs="0"/>
			<xs:element ref="LastEffectiveTm" minOccurs="0"/>
			<xs:element name="DurationNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number that represents the duration.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DurationUnitDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Duration unit. D for Days, W for weeks.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InclusiveInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether or not the dates and times are inclusive or not.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="typeCode"/>
	</xs:complexType>
</xs:schema>
