Repository/CMM/Nouns/CustomerWallet.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by Patrick Oliver (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" vc:minVersion="1.1">
	<!--V2.1 Patrick Oliver 01/25/21: (1) Removed GUID; (2) Changed AlternateIdTxt to string[100]-->
	<!--V2.0 - Patrick Oliver 01/19/21: Removed word 'Managment' from BOD name-->
	<!--V1.3 Patrick Oliver 01/13/21: Added complex type Status.Codes; Changed SourceAuditData to single occurence -->
	<!--V1.2 Patrick Oliver 01/07/21: Added EventId to SourceAuditData-->
	<!--V 1.1  Alex Nunes  2/1/2019  Added GUID and UUID. Added Audit data from source. Added Delivery Subscription.-->
	<!--V1.0 Patrick Oliver 12/15/20: Initial Draft-->
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="CustomerWallet" type="CustomerWalletType">
		<xs:annotation>
			<xs:documentation>Root element. Customer Wallet object will show customer's credit card information and purpose of customers tender such as shop, delivery or subscription. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CustomerWalletType">
		<xs:annotation>
			<xs:documentation>Retail Customer: Customer Wallet object will show customer's credit card information and purpose of customers tender such as shop, delivery or subscription. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomerId" type="IDType">
				<xs:annotation>
					<xs:documentation>Customer Identification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerAlternateId" type="AlternateId" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CustomerPayment" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer payment information.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="Tender" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element name="TenderId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Tenrder Identification UUID.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="36"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TenderTypeCd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Tender type such as  CREDIT_CARD.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TenderSubTypeCd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Tender sub type.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TokenTxt" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Encrypted token string.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="MaskedTenderNbr" minOccurs="0">
										<xs:annotation>
											<xs:documentation>masked tender number last 4 digits only.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="PrimaryPurposeCd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Primary purpose of the tender, SHOP, DELIVERY_SUBSCRIPTION.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="HolderNm" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Card holder name.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ExpireMonthYearTxt" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Tender Expiry information, month and year MMYY</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="5"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CardTypeNm" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Type of card. Ex: VISA, AMEX, MC.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="EntityIssuerNm" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Entity issuing tender.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="BillingAddressId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Address identification of billing.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="36"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="PostalCd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Postal Code associated with the tender for payment pusposes.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="6"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Token" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="TokenId" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Encryption token Id.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="36"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="TokenTypeCd" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Encryption token type.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="KeyVersionNbr" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Encryption key version number.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="KeyAliasTxt" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Encryption key alias.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="4"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="SaltTxt" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Encryption key salt text.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Status" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="StatusCd" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Status code of the payment.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="StatusTypeCd" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Status type code of the payment.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="StatusDsc" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Status description.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="200"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="StatusVal" minOccurs="0">
													<xs:annotation>
														<xs:documentation>The value of the status.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="StatusResponseTxt" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Status response description.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="500"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="StatusReferenceId" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Refence Id of the status.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="100"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="StatusSourceNm" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Source name of the status.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="StatusBannerId" minOccurs="0">
													<xs:annotation>
														<xs:documentation>BannerId of the status.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Codes" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Cd" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Code.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="50"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="CodeDsc" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Code text or description.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="200"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="TokenEffectivePeriod" minOccurs="0">
													<xs:complexType>
														<xs:sequence minOccurs="0">
															<xs:element ref="FirstEffectiveDt" minOccurs="0"/>
															<xs:element ref="FirstEffectiveTm" minOccurs="0"/>
															<xs:element ref="LastEffectiveDt" minOccurs="0"/>
															<xs:element ref="LastEffectiveTm" minOccurs="0"/>
															<xs:element name="DurationNbr" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Number that represents the duration.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="10"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="DurationUnitDsc" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Duration unit. D for Days, W for weeks.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="20"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="InclusiveInd" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Indicates whether or not the dates and times are inclusive or not.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="2"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
														</xs:sequence>
														<xs:attribute ref="typeCode"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SourceAuditData" type="SourceAuditType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer message audit data.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourceAuditType">
		<xs:annotation>
			<xs:documentation>This type represents auditing data related to the message at source.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="SourceNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the source or system of record.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreateClientId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that created the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that created the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateClientId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that last modified the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateHostNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the host where the message was initially created.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateHostNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the host where the message was last modified.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SequenceNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sequence number of the last event related to the message.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AggregateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and Time stamp of the aggregate when it was updated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AggregateRevisionNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of the aggregate revision. Used for conflict resolution.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PayloadVersionNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Payload version number.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EventId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Event Id of the last event applied</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EffetiveDateTimeType">
		<xs:annotation>
			<xs:documentation>Common type for Retail Customer effective date and time.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="FirstEffectiveDt" minOccurs="0"/>
			<xs:element ref="FirstEffectiveTm" minOccurs="0"/>
			<xs:element ref="LastEffectiveDt" minOccurs="0"/>
			<xs:element ref="LastEffectiveTm" minOccurs="0"/>
			<xs:element name="DurationNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number that represents the duration.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DurationUnitDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Duration unit. D for Days, W for weeks.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InclusiveInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether or not the dates and times are inclusive or not.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="typeCode"/>
	</xs:complexType>
</xs:schema>
