Repository/CMM/Nouns/CustomerReward.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) by Alex Nunes (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" vc:minVersion="1.1">
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<!--10/11/2019 - Alex Nunes - Business requirement change: New elements added. Capturing timestamp of 'Dollar Amount Points' and 'Token Points'.-->
	<!--11/05/2020 - Rosabel Macario - Added tag to resolve dateTimeStamp issue-->
	<xs:element name="CustomerReward" type="CustomerRewardType">
		<xs:annotation>
			<xs:documentation>Root element. Customer Reward</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CustomerRewardType">
		<xs:annotation>
			<xs:documentation>Rewards provide a platform for customers to engage, earn, accumulate and redeem loyalty points. The main purpose of this BOD is to represent the balance points of customer rewards.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BalanceUpdateTs" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>This is the timestamp when the points or rewards was updated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HouseholdId" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Unique identifier assigned to a household.  Households are created by matching addresses and/or phone numbers across loyalty card accounts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNbr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The phone number for the retail customer.   This is used as an alternate club membership identifier when the customer does not have their club card or card number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClubCardNbr" type="xs:integer" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A number which is embossed on a Loyalty Card and which uniquely identifies it.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerNm" type="PersonNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer Name Data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RewardPeriod" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Represents the start and end of the Rewards period. This period is used when a household account doesn not have loyalty reward.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RewardPeriodStartTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward period starts.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardPeriodEndTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward period ends.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RewardDollarPoints" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Represents the start and end of the Rewards dollar amount points.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RewardDollarStartTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward dollar points starts.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardDollarEndTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward dollar points ends.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardDollarPointsQty" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This will be the total transaction dollar points. This can be an integer, positive, negative or zero.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RewardTokenPoints" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Represents the start and end of the Rewards token and token that will expire points.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RewardTokenStartTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward token points starts.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardTokenEndTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward token points ends.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardTokenWilExpStartTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward token points will expire starts.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardTokenWilExpEndTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward token points will expire ends.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardTokenPointsQty" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This will be the total reward token points. This can be an integer, positive, negative or zero.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardTokenPointsExpireQty" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Total Rewards token points that will expire at the end of the month. . This can be an integer, positive, negative or zero.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LoyaltyProgram" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identification of the Loyalty program.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LoyaltyProgramCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Code that represents the Loyalty program.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LoyaltyProgramDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of the Loyalty program.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClubInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Club is a tpye of reward that is associated with a loyalty program.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ClubCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifier assigned to uniquely identify a rewards club as such.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ClubDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of a rewards club.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RewardPointsOrigin" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Origin of Rewards Points. Ex: Power Pump, Gift Card purchases, Pharmacy, Fuel Rewards, etc...</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RewardOriginCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Reward Origin Code.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="RewardOriginDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of the Reward Origin.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AccumulationTypCd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code identifying a bucket or amount type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
