Repository/CMM/Nouns/EmployeeWorkTime.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) by Sai Nuthakki (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="EmployeeWorkTime" type="EmployeeWorkTimeType">
		<xs:annotation>
			<xs:documentation>Root Element.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EmployeeWorkTimeType">
		<xs:annotation>
			<xs:documentation>Refers to time sheet information for an employee.  This information may be collected in an external source like workbrain, and then transferred to a HRMS or Payroll application.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WorkLocation">
				<xs:annotation>
					<xs:documentation>store or warehouse where work schedules are created for employees working there.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="FacilityType">
							<xs:sequence>
								<xs:element ref="DepartmentId" minOccurs="0"/>
								<xs:element name="OrgHierarchy" type="OrgMasterNameType" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Corp, Div, Op Area, District  and Dept information of the employee work facility.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="WorkWeek" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Work week depends on division and banner. Some divisions have work week as Sun to Sat where as other divisions have work week as Mon to Sun. Schedules are prepared and published by week.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="WorkWeekStart" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="WorkWeekStartDt" type="xs:date" minOccurs="0"/>
														<xs:element name="WorkWeekStartDay" type="xs:string" minOccurs="0"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="WorkWeekEnd" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="WorkWeekEndDt" type="xs:date" minOccurs="0"/>
														<xs:element name="WorkWeekEndDay" type="xs:string" minOccurs="0"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="WorkTime" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>Actual work time of an employee in a facility is captured and transmitted to HRMS for payroll processing.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Employee" minOccurs="0">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="EmployeeId" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="50"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="EmployeeNm" type="PersonNameType" minOccurs="0"/>
																	<xs:element ref="EmployeeTypeCd" minOccurs="0"/>
																	<xs:element ref="AlternateId" minOccurs="0" maxOccurs="5"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="WorkDay" minOccurs="0">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="WorkDt" type="xs:date" minOccurs="0"/>
																	<xs:element name="WorkDayOfWk" type="xs:string" minOccurs="0"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="WorkShiftRounded" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Start/End timestamp of the work shift of an employee in a work location. Rounded punches data from Workforce management system.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="ShiftId" type="xs:integer" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>This is employee shift identifier.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="ShiftDt" type="xs:date" minOccurs="0"/>
																	<xs:element name="ShiftStartTs" type="xs:dateTime" minOccurs="0"/>
																	<xs:element name="ShiftEndTs" type="xs:dateTime" minOccurs="0"/>
																	<xs:element name="ShiftDurationMts" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>Shift duration in minutes</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:decimal">
																				<xs:totalDigits value="6"/>
																				<xs:fractionDigits value="2"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="ShiftDurationHrs" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>Shift duration in hours</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:decimal">
																				<xs:totalDigits value="5"/>
																				<xs:fractionDigits value="2"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="ShiftBreak" minOccurs="0" maxOccurs="5">
																		<xs:annotation>
																			<xs:documentation>Start/End timestamp of a break taken by an employee during the shift.</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="BreakStartTs" minOccurs="0">
																					<xs:complexType>
																						<xs:simpleContent>
																							<xs:extension base="xs:dateTime"/>
																						</xs:simpleContent>
																					</xs:complexType>
																				</xs:element>
																				<xs:element name="BreakEndTs" type="xs:dateTime" minOccurs="0"/>
																				<xs:element name="BreakType" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Ex Lunch break, Shift break</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:maxLength value="30"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																			</xs:sequence>
																			<xs:attribute ref="sequenceNbr"/>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="ShiftSegment" minOccurs="0" maxOccurs="unbounded">
																		<xs:annotation>
																			<xs:documentation>One shift can have multiple segments with it's own start and end time.</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="SegmentStartTs" type="xs:dateTime" minOccurs="0"/>
																				<xs:element name="SegmentEndTs" type="xs:dateTime" minOccurs="0"/>
																				<xs:element name="SegmentDurationMts" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Segment duration in minutes.</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="xs:decimal">
																							<xs:totalDigits value="6"/>
																							<xs:fractionDigits value="2"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="SegmentDurationHrs" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Segment duration calculated in hours.</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="xs:decimal">
																							<xs:totalDigits value="6"/>
																							<xs:fractionDigits value="2"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element ref="JobCd" minOccurs="0"/>
																				<xs:element ref="JobTitle" minOccurs="0"/>
																				<xs:element ref="WageGroupCd" minOccurs="0"/>
																				<xs:element ref="WageType" minOccurs="0"/>
																				<xs:element name="HourTypeId" minOccurs="0">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:maxLength value="50"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="HourTypeDsc" minOccurs="0">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:maxLength value="100"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="TimeCodeId" minOccurs="0">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:maxLength value="50"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="TimeCodeDsc" minOccurs="0">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:maxLength value="100"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="ProjectId" minOccurs="0">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:maxLength value="50"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="ProjectDsc" minOccurs="0">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:maxLength value="200"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="WorkShiftActual" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Actual punches data, not rounded, from Workforce management system.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="ActualPunchTs" type="xs:dateTime" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>Actual punch time recorded by the punching machine.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="PunchTypeCd" type="CodeWithDescription" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>Ex: PunchIn, PunchOut, Dept transfer</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="ModifiedInd" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>Indicates if the punchtime has been modified.</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="5"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element ref="JobCd" minOccurs="0"/>
														<xs:element ref="JobTitle" minOccurs="0"/>
														<xs:element ref="WageGroupCd" minOccurs="0"/>
														<xs:element ref="WageType" minOccurs="0"/>
														<xs:element name="AbsenceType" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>This describes the type of absence a worker is reporting in a time and attendance collection process</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="OvertimeInd" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>This is used to identify work subject to overtime processing.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="HourTypeId" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="50"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="HourTypeDsc" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="100"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="TimeCodeId" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="50"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="TimeCodeDsc" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="100"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ProjectId" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="50"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ProjectDsc" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="200"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
