Repository/CMM/Nouns/EmployeeExpenseMaster.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by Patrick Oliver (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--V1.0    Patrick Oliver   05/13/2020       Initial Version-->
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:include schemaLocation="../Nouns/FinanceMaster.xsd"/>
	<xs:complexType name="EmployeeExpenseAddressType">
		<xs:annotation>
			<xs:documentation>Employee Expense BaseType provides the information about the employee address. Elements such as Country had to be set larger than what is in GlobalComponents</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AddressUsageTypeCd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressLine1txt" default="" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressLine2txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CityNm" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountyNm" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostalZoneCd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StateCd" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryCd" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmployeeExpenseMasterType">
		<xs:annotation>
			<xs:documentation>Represents employee expense master data such as employeeId, employeeName, employeeAddresses, bank information, and credit card information. This master data can be used with other employee expense BODs</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EmployeeExpenseMasterSource" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Employee expense master system of record </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Company" minOccurs="0"/>
			<xs:element name="Employee" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EmployeeId" type="xs:integer" minOccurs="0"/>
						<xs:element ref="AlternateId" minOccurs="0" maxOccurs="5"/>
						<xs:element name="EmployeeNm" type="PersonNameType" minOccurs="0"/>
						<xs:element ref="EmployeeTypeCd" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Vendor" type="VendorClassType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>In financhials this is the  employee number. Must be
a valid vendor record in the Accounts Payable Vendor file.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployeeCostCenter" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="EmployeeAddress" type="EmployeeExpenseAddressType" minOccurs="0" maxOccurs="6"/>
			<xs:element name="EmployeeBankData" type="BankType" minOccurs="0"/>
			<xs:element name="EmployeeCreditCardData" type="CreditCardType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This will be used to show employee credit card data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpenseNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A unique number assigned to the  employee expense.         </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExpenseType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the type of employee  expense. Valid values are: E = Expense.
P = Cash Payback.        </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordStatus" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The record status of the expense Valid values are:       0 = Unreleased.
1 = Released.
9 = Posted by EE175 (for company-paid expenses only).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApprovalCd" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The approval code assigned to the employee expense. Used for approving     advances and expenses before they can be      released to the Accounts Payable system. Must be a valid record in the Approval
Code file.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployeeOrgUnit" type="CodeWithDescription" minOccurs="0" maxOccurs="6">
				<xs:annotation>
					<xs:documentation>Ex: 'Safeway US', 'GroceryWorks' </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
