Repository/CMM/Nouns/EmployeeWorkSchedule.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by  (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="EmployeeWorkSchedule" type="EmployeeWorkScheduleType">
		<xs:annotation>
			<xs:documentation>Root Element.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EmployeeWorkScheduleType">
		<xs:annotation>
			<xs:documentation>Represents data related to the planned work hours for all employees in a location. A work schedule typically includes relatively static employee information, such as employee ID and name.  It will also include schedule-specific information such as dates and amount of time to be worked.
Labor work schedules are created in each facility in advance based on various factors like sales forecast, weather conditions, special events and holidays.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WorkWeek">
				<xs:annotation>
					<xs:documentation>Work week depends on division and banner. Some divisions have work week as Sun to Sat where as other divisions have work week as Mon to Sun. Schedules are prepared and published by week.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="WorkWeekStart" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="WorkWeekStartDt" type="xs:date" minOccurs="0"/>
									<xs:element name="WorkWeekStartDay" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="WorkWeekEnd" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="WorkWeekEndDt" type="xs:date" minOccurs="0"/>
									<xs:element name="WorkWeekEndDay" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="WorkSchedule" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Work time schedules are created by week/day and for each employee within a facility. An Employee can be assigned to multiple facilities during a work day and also may performa multiple roles with different pay structures.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="WorkDay" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="WorkDt" type="xs:date" minOccurs="0"/>
									<xs:element name="WorkDayOfWk" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Employee" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="EmployeeId" type="IDType" minOccurs="0"/>
									<xs:element ref="AlternateId" minOccurs="0" maxOccurs="5"/>
									<xs:element name="AlternateIdNbr" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:decimal">
													<xs:attribute ref="sequenceNbr"/>
													<xs:attribute ref="typeCode"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="EmployeeNm" type="PersonNameType" minOccurs="0"/>
									<xs:element ref="EmployeeTypeCd" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="EmployeeJobFunction" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Employee can perform multiple job functions that have different job codes.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="JobCd" minOccurs="0"/>
									<xs:element name="JobTitleNm" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Ex: Courtesy Clerk, Checker</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PrimaryInd" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="5"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="OverrideInd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicates the job cd as override job cd.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="WorkShift" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Start/End timestamp of the work shift of an employee in a work location.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ShiftId" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Unique id for each work shift.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ShiftDt" type="xs:date" minOccurs="0"/>
									<xs:element name="ShiftStartTs" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="ShiftEndTs" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="ShiftDurationMts" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Shift duration minutes</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="6"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ShiftDurationHrs" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Shift duration in hours.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="5"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ShiftJob" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Primary and secondary jobs defined for this shift and employee</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ShiftJobCd" type="xs:string" minOccurs="0"/>
												<xs:element name="ShiftJobTitleNm" type="xs:string" minOccurs="0"/>
												<xs:element name="SegmentId" type="xs:integer" minOccurs="0"/>
												<xs:element name="SegmentStartTs" type="xs:dateTime" minOccurs="0">
													<xs:annotation>
														<xs:documentation>A segment is a time period with in a shift. A shift can have multiple segments with different job types.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="SegmentEndTs" type="xs:dateTime" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="WorkLocation" minOccurs="0">
							<xs:annotation>
								<xs:documentation>store or warehouse where work schedules are created for employees working there.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="FacilityType">
										<xs:sequence>
											<xs:element ref="AlternateId" minOccurs="0"/>
											<xs:element ref="DepartmentId" minOccurs="0"/>
											<xs:element name="OrgHierarchy" type="OrgMasterNameType" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>Corp, Div, Op Area, District  and Dept information of the employee work facility.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="ShiftBreak" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Start/End timestamp of a break taken by an employee during the shift.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BreakStartTs" minOccurs="0">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:dateTime"/>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="BreakEndTs" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="BreakType" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Paid break or unpaid meal break</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute ref="sequenceNbr"/>
							</xs:complexType>
						</xs:element>
						<xs:element ref="WageGroupCd" minOccurs="0"/>
						<xs:element ref="WageType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
