Repository/CMM/Nouns/EmployeeAvailability.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by  (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="EmployeeAvailability" type="EmployeeAvailabilityType">
		<xs:annotation>
			<xs:documentation>Root Element.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EmployeeAvailabilityType">
		<xs:annotation>
			<xs:documentation>Represents data related to the employee availability for a particular store location to schedule store labor shifts in workforce management system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WorkLocation" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>store or warehouse where work schedules are created for employees working there.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="FacilityType">
							<xs:sequence>
								<xs:element ref="AlternateId" minOccurs="0"/>
								<xs:element ref="DepartmentId" minOccurs="0"/>
								<xs:element name="OrgHierarchy" type="OrgMasterNameType" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Corp, Div, Op Area, District  and Dept information of the employee work facility.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Employee" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="EmployeeId" type="IDType" minOccurs="0"/>
											<xs:element ref="AlternateId" minOccurs="0" maxOccurs="5"/>
											<xs:element name="AlternateIdNbr" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:simpleContent>
														<xs:extension base="xs:decimal">
															<xs:attribute ref="sequenceNbr"/>
															<xs:attribute ref="typeCode"/>
														</xs:extension>
													</xs:simpleContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="EmployeeNm" type="PersonNameType" minOccurs="0"/>
											<xs:element ref="EmployeeTypeCd" minOccurs="0"/>
											<xs:element ref="JobCd" minOccurs="0"/>
											<xs:element name="JobTitleNm" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Ex: Courtesy Clerk, Checker</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element ref="WageGroupCd" minOccurs="0"/>
											<xs:element ref="WageType" minOccurs="0"/>
											<xs:element name="Availability" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>Start/End timestamp of the work shift of an employee in a work location.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="EffectiveDt" type="xs:date" minOccurs="0"/>
														<xs:element name="EffectiveDayOfWk" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="20"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="AvailabilityStatus" type="CodeWithDescription" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Unique id for each work shift.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="AvailabilityStartTs" type="xs:dateTime" minOccurs="0"/>
														<xs:element name="AvailabilityEndTs" type="xs:dateTime" minOccurs="0"/>
														<xs:element name="AvailabilityStartDayOfWk" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="20"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="AvailabilityEndDayOfWk" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="20"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="AvailabilityDurationHrs" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:decimal">
																	<xs:totalDigits value="6"/>
																	<xs:fractionDigits value="3"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="PreferredStartTs" type="xs:dateTime" minOccurs="0"/>
														<xs:element name="PreferredEndTs" type="xs:dateTime" minOccurs="0"/>
														<xs:element name="PreferredStartDayOfWk" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="20"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="PreferredEndDayOfWk" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="20"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="PreferredDurationHrs" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:decimal">
																	<xs:totalDigits value="6"/>
																	<xs:fractionDigits value="3"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="PerDayMaxAvailableHrs" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:decimal">
																	<xs:totalDigits value="5"/>
																	<xs:fractionDigits value="3"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="PerDayMinAvailableHrs" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:decimal">
																	<xs:totalDigits value="5"/>
																	<xs:fractionDigits value="3"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="DurationUOM" type="TextType" use="optional" default="Hours"/>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
