Repository/CMM/Nouns/EmployeeExpense.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   Schema Owner: 	Safeway Inc
   Date Created:      07 May 2020
   Author:		Patrick Oliver
   Description: Contains commonly used Safeway Purchase order schema.
   Name: /SFWY/Nouns/SwyPurchaseOrder.xsd
-->
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by  (Albertsons) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--V1.2 Patrick Oliver 8/26/20 - Renamed element 'DistributionDescription' to 'ReportID'-->
	<!--V1.1 Patrick Oliver 5/22/20 - Added FileSequenceNbr to header-->
	<!--V1.0  Patrick Oliver 5/7/2020 Created for AR Invoice Files.-->
	<xs:include schemaLocation="../Nouns/FinanceMaster.xsd"/>
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:include schemaLocation="../Nouns/EmployeeExpenseMaster.xsd"/>
	<xs:complexType name="EmployeeExpenseVendorType">
		<xs:annotation>
			<xs:documentation>The Employee Expense Vendor Type represents all class records for a vendor group. A vendor class is a subgroup of vendors that share common payment or processing characteristics, such as office supply vendors or employees.$</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="VendorId" minOccurs="0"/>
			<xs:element ref="VendorGrp" minOccurs="0"/>
			<xs:element ref="VendorClass" minOccurs="0"/>
			<xs:element ref="VendorClassDsc" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmployeeExpenseType">
		<xs:annotation>
			<xs:documentation>The Employee Expense  type will be used to Interface employee expese files. Employee Expense files and records are used to interface into the Accounts Payable Invoice system. Employee Expense records with an open status must have one or more corresponding records in the Employee Expsense detail schema. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CompanyId"/>
			<xs:element name="Vendor" type="EmployeeExpenseVendorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>In financhials employees are represented by vendor Ids, vendor class, and vendor groups</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpenseNbr" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The expense report number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BatchNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The batch number associated with the invoice. Used only if the company has Yes selected in the Batch Release Option field.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BatchDt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>yyyy-mm-dd e.g 2020-03-05</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SequenceNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Program sequence number. If multiple records with the same keys exist, this sequence number is incremented to make records unique.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ProcessLevelId" minOccurs="0"/>
			<xs:element ref="AccountId" minOccurs="0"/>
			<xs:element ref="SubAccountId" minOccurs="0"/>
			<xs:element name="ExpenseAccountingUnitId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The  general ledger accounting unit assigned to the employee expense.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DefaultAccountingUnitId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The default general ledger accounting unit assigned to the employee expense. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DistributionCompanyId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CompanThe company the expense will be posted to. Must be a valid record in the        General Ledger Company file.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReportId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The default description assigned to the Description expense. Defaults on distributions entered for the expense.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExpenseDt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date the expense was
incurred. Used when updating the employee's purchase balance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpenseDueDt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The due date of the employee
expense.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpenseProcessDt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date expense processed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpenseDistributionDt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date used for posting the expense report distributions to the general ledger. If left Blank, the expense date defaults.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpenseDescription" default="" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This can be used for the  description of the distribution. The value in this field varies depending  on the type of transaction and the  program the distribution was created in.      </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExpenseAmount" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="JournalExpenseAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Expense total Journal Amount</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TransactionExpenseAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The total amount of the employee expense. Includes both company-paid and employee-paid expenses.
Must be entered in company currency. This field contains the same value as the Base Currency Expense Amount field.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BaseExpenseAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The amount of the employee expense in the company base currency. Includes both     company-paid and employee-paid expenses.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BaseTaxExpenseAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The total tax amount of the expense in the company base currency.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BaseEmployeePaidExpenseAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The total employee-paid amount of the expense in the company base currency.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TotalDistributionExpenseAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The total expense distribution amount 
Distribution Amount    entered for the employee expense. This amount is in the company base currency.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TotalBaseEmployeeExpenseAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The total employee-paid expense amount paidd Amount in the company base currency.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TotalBaseTaxExpenseAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The total tax amount for the employee amount expense in the company base currency.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ExpensePaymentCd" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used when generating Expense/Invoice Number and setting Cash Code and Bank Inst Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpenseCategoryCd" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The category code assigned to the expense distribution. Identifies the type of expense. Represents a general ledger account and optional distribution                   information. Must be a valid record in the Category Code file</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Employee" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EmployeeId" type="xs:integer" minOccurs="0"/>
						<xs:element ref="AlternateId" minOccurs="0" maxOccurs="5"/>
						<xs:element name="EmployeeNm" type="PersonNameType" minOccurs="0"/>
						<xs:element ref="EmployeeTypeCd" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EmployeeBankData" type="BankType" minOccurs="0"/>
			<xs:element name="ExpenseType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the type of employee  expense. Valid values are: E = Expense.
P = Cash Payback. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EntryDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Expense entry descriptions</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RecordStatus" type="StatusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The record status of the expense. Valid values are:
0 = Unreleased. Not available for matching or payment.
1 = Open. Available for payment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostingStatus" type="StatusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The posting status of Posting Status associated expense report distributions.
Valid values are:
0 = Unreleased. Distributions not available for posting.
1 = Unposted. Distributions available for posting.
9 = Posted. Distributions posted to the general ledger.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpenseApprovalCd" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The approval code assigned to the employee expense.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpenseActivity" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The default activity assigned to the expense. Defaults on detail lines entered for the expense.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpenseBillableCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>IndicIndicates whether the expense is billable to a third party. Used for iinformational purposes only. Valid values are:  N = No. Y = Yes.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExpenseCashCd" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The cash code assigned to the employee expense. Represents the bank account the expense is to be paid from. Must be a valid record in the Cash Code file.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpensePayGrp" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The pay group associated with the expense. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccrualCd" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The invoice accrual code assigned to the employee expense. Used to default a general ledger accrual account to the expense.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReleasePaymentCd" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether the expense can be released to Accounts Payable. Valid
values are: Y = Yes. N = No.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpenseApproveFlg" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether the expense is approved for payment. Valid values are:
Y = Yes. N = No. D = Disapproved.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FileSequenceNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Field contains the sequence number for each file processed.  This number increments by 1 for every file processed in the interface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpenseLineTax" type="TaxType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RecordCnt" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to sum detail records.  HEADER ONLY</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalJournalExpenseAmt" type="AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Expense total Journal Amount HEADER ONLY</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
