Repository/CMM/Nouns/EquipmentInventory.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by Sai Nuthakki (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="EquipmentInventory" type="EquipmentInventoryType">
		<xs:annotation>
			<xs:documentation>Business object to define  inventory of all the equipments like trucks, trailers, forklifts, bin carriers ..etc in a facility location. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EquipmentInventoryType">
		<xs:annotation>
			<xs:documentation>Represents inventory of all the equipments like trucks, trailers, forklifts, bin carriers ..etc in a facility location. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CorporationId"/>
			<xs:element ref="DivisionId"/>
			<xs:element name="FacilityType" type="xs:string" default="">
				<xs:annotation>
					<xs:documentation>Type of the facility like, DC,  warehouse, Retail Store, Office building, manufacturing plant..etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacilityID" default="">
				<xs:annotation>
					<xs:documentation>A four character code that is used with corporation
 and division to uniquely identify a facility. A facility may "belong" to
 only one corporation and one division. A building may house one or more
facilities. There are two categories for facilities:
 1) Operating facility
 - actively supports the business of the Company
 - is a distinct business operation within a building
  - examples: office, processing plant, retail store, truck service
 shop, or warehouse building  (A warehouse facility includes all warehouse departments that exist within a single building.)
 - each type of division/business has a different set of possible types of operating facilities: i.e.,
 - Retail: retail outlets and offices.
- Wholesale: warehouse facilities, truck service shop, and offices.
- Processing/Manufacturing: processing plants and offices.
 2) Non-operating Facility                                                     
 - not currently being operated by the Company.
 - facilities </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AltFacilityId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InventoryTxnId" type="xs:long" minOccurs="0"/>
			<xs:element name="InventoryTxnDt" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="FacilityEquipmentType" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EquipmentType" type="CodeWithDescription">
							<xs:annotation>
								<xs:documentation>Defines the type of Equipment.
Ex: Truck, Trailer, Tractor, Semi, Fork Lift, Container, Handheld devices.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EquipmentClassType" type="CodeWithDescription" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Defines the class of type of equipment.
Ex:  delivery truck -dry,delivery truck - refrigirated, </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TotalQty" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Total quantity of equipment in the facility location.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AvailableQty" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Available quantity of equipment in the facility location.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="NonOperatonalQty" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Equipment qty that is not eligible for operations.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EquipmentDetailType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Defines various details of an individual equipment in a facility.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ModelNbr" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ModelNm" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ModelYearId" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ManufacturerNm" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SerialNbr" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="LicensePlateNbr" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="EquipmentStatus" type="StatusType" minOccurs="0"/>
									<xs:element name="EquipmentDsc" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="EquipmentIdType" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Defines various types of Ids for a device/equipment. Ex Mac Address for handheld devices.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="IdTypeCd" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="EquipmentId" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CommentTxt" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="500"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="EquipmentCapacityType" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Defines various types of capacity limits that the equipment can handle. 
Ex: In case of trucks, Max Wt, Max vol, Max Miles..etc</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CapacityTypeCd" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="CapacityValueTxt" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="CapacityValueNbr" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="18"/>
															<xs:fractionDigits value="4"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="AuditData" type="RecordAuditData" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AuditData" type="RecordAuditData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
