Repository/CMM/Nouns/FacilityWorkSchedule.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by  (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="FacilityWorkSchedule" type="FacilityWorkScheduleType">
		<xs:annotation>
			<xs:documentation>Represents data related to the planned work shifts for all employees in a facility ocation by work date/week.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="FacilityWorkScheduleType">
		<xs:annotation>
			<xs:documentation>Represents data related to the planned work shifts for all employees in a facility ocation by work date/week.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="DivisionId"/>
			<xs:element name="FacilityType" type="xs:string" default="">
				<xs:annotation>
					<xs:documentation>Type of the facility like, DC,  warehouse, Retail Store, Office building, manufacturing plant..etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacilityID" default="">
				<xs:annotation>
					<xs:documentation>A four character code that is used with corporation
 and division to uniquely identify a facility. A facility may "belong" to
 only one corporation and one division. A building may house one or more
facilities. There are two categories for facilities:
 1) Operating facility
 - actively supports the business of the Company
 - is a distinct business operation within a building
  - examples: office, processing plant, retail store, truck service
 shop, or warehouse building  (A warehouse facility includes all warehouse departments that exist within a single building.)
 - each type of division/business has a different set of possible types of operating facilities: i.e.,
 - Retail: retail outlets and offices.
- Wholesale: warehouse facilities, truck service shop, and offices.
- Processing/Manufacturing: processing plants and offices.
 2) Non-operating Facility                                                     
 - not currently being operated by the Company.
 - facilities </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WorkWeek" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Work week depends on division and banner. Some divisions have work week as Sun to Sat where as other divisions have work week as Mon to Sun. Schedules are prepared and published by week.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="WorkWeekStart" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="WorkWeekStartDt" type="xs:date" minOccurs="0"/>
									<xs:element name="WorkWeekStartDay" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="WorkWeekEnd" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="WorkWeekEndDt" type="xs:date" minOccurs="0"/>
									<xs:element name="WorkWeekEndDay" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="WorkDay" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="WorkDt" type="xs:date" minOccurs="0"/>
						<xs:element name="WorkDayOfWk" type="xs:string" minOccurs="0"/>
						<xs:element name="HolidayInd" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates if the work day is a normal or a holiday in a location</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FacilityWorkSchedule" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Work time schedules are created by week/day and for each employee within a facility. An Employee can be assigned to multiple facilities during a work day and also may performa multiple roles with different pay structures.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="WorkShift" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Start/End timestamp of the work shift of an employee in a work location.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ShiftId" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Unique id for each work shift.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ShiftStartTm" type="xs:time" minOccurs="0"/>
									<xs:element name="ShiftEndTm" type="xs:time" minOccurs="0"/>
									<xs:element name="ShiftDurationMts" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Shift duration minutes</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="6"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ShiftDurationHrs" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Shift duration in hours.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="5"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ShiftStatus" type="StatusType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicates the status of a work shift, Active or Inactive.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ShiftType" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="DepartmentSpecificInd" type="xs:boolean" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicates if the shift is specific to a department like Grocery or eCom.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element ref="DepartmentId" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="WorkScheduleSourceType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>defines source of the data.
ex: Emower, eCom</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuditData" type="RecordAuditData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
