Repository/CMM/Nouns/GroceryDelivery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by Alex Nunes (Albertsons) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--V1.0 Jayson Leo Soliman 08/14/19 Initial Version-->
	<!--V1.1 Alex Nunes 4/14/2020 Changes during review with system of record stakeholder: Remove Person Delivery: In Order Capture there is no such data available. This is part of downstram applications. Shorten complex types such as Customer and Facility. Add customer order addresses which are different from customer addresses master data.-->
	<!--V1.1 Alex Nunes 5/12/2020 Additional changes. Missing elements added.-->
		<!--V1.1 Alex Nunes 6/3/2020 Additional changes from data mapping review.-->
	<xs:include schemaLocation="../Global/AbsGlobalComponents.xsd"/>
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:include schemaLocation="RetailCustomer.xsd"/>
	<xs:include schemaLocation="ItemMaster.xsd"/>
	<xs:complexType name="GroceryDelivery">
		<xs:annotation>
			<xs:documentation>Represents Albertsons Grocery Delivery. Grocery Delivery can either be a regular  Delivery or In-store Pickup/Drive Up and Go (DUG). The recipient of the delivery is usually a Retail Customer and the orders are normally placed online (either via Web Site or Mobile App) through the e-Commerce system of Albertsons. Furthermore, the customer can opt for either an Attended delivery where the customer has to be there to receive the delivery, or Unattended delivery where the delivery can be done even in the customer's absence.  This also captures the customer's payments (and type of payment), applicable delivery details (such as charges, delivery slot, etc), applicable delivery promotions, and customer savings through club cards and other instruments.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GroceryDeliveryHeader" type="DeliveryHeaderType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Header information of this Grocery Delivery.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GroceryDeliveryDetail" type="DeliveryDetailType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Item level information for this Grocery Delivery.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderType">
		<xs:annotation>
			<xs:documentation>Represents Retail Customer Order information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrderNbr"/>
			<xs:element name="SourceRetailFacility" type="FacilityType" minOccurs="0"/>
			<xs:element name="CurrentStatusCd"/>
			<xs:element name="CancelReasonCd"/>
			<xs:element name="OriginCd"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeliveryType">
		<xs:annotation>
			<xs:documentation>Represents general grocery delivery information such as Slot Id, delivery charge, etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DeliverySubType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains Delivery Sub Type. Can be Residential, Business, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliverySlot" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Delivery Slot Id. This is a system generated id to uniquely identify the delivery slot.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliverySlotType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the delivery slot type. Example of a delivery slot is TWOHR (2 hr). There can also be 1 hr, and 4 hr delivery slots.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryServiceType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines whether the delivery can be received by the user ATTENDED or UNATTENDED.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SlotPlan" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Delivery Slot Name. Can be STANDARD or PREMIUM depending on a lot of factors. Premium slots usually have a delivery time of 1 hr. Premium slot plans are also offered depending on the store where the order is placed. If the store is hybrid (with 3rd party delivery) then premium slots are usually offered.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDttm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Start timestamp of the delivery in UTC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDttm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>End timestamp of the delivery in UTC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalDeliveryChargeAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Amount charged for this delivery</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryFeeWaivedInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicator to say whether the delivery fee is waived or not.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FuelSurchargeWaivedInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicator to say whether the fuel surcharge is waived or not.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ServiceFeeWaivedInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicator to say whether the service fee is waived or not.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SlotInvalidatedInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicator of whether or not slot is invalid.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DisplayStartDttm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the timestamp that is displayed to the user adjusted to the user's local timezone.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DisplayEndDttm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the timestamp that is displayed to the user adjusted to the user's local timezone.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DisplayExpiryDttm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Display Timestamp of when this delivery slot expires.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SlotExpiryDttm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Timestamp when this delivery slot expires</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StageByDttm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Stage By Date Time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EditCutoffDttm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Edit Cutoff Date for this delivery.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerInstructionTxt" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains special instructions for delivery left by the customer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryTimeZoneCd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the Time Zone for this particular delivery.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroceryCustomerType">
		<xs:annotation>
			<xs:documentation>Contains the retail customer information. Most of these attributes are taken from RetailCustomer BOD.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomerId" type="IDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer Identification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerNm" type="PersonNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer name Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Contact" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ClubCardNbr" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer club card number.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerPreference" type="CustomerPreferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Contains specific customer preferences like Terms.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvalidatedInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Field represents whether or not customer is invalid.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentType">
		<xs:annotation>
			<xs:documentation>Contains customer payment information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Tender" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="TenderId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Tenrder Identification UUID.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="36"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="TenderTypeCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Tender type such as  CREDIT_CARD.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="TenderSubTypeCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Tender sub type.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="HolderNm" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Card holder name.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="TokenTxt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Encrypted token string.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="MaskedTenderNbr" minOccurs="0">
							<xs:annotation>
								<xs:documentation>masked tender number last 4 digits only.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PrimaryPurposeCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Primary purpose of the tender, SHOP, DELIVERY_SUBSCRIPTION.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ExpireMonthYearTxt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Tender Expiry information, month and year MMYY</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="5"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CardTypeNm" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Type of card. Ex: VISA, AMEX, MC.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="EntityIssuerNm" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Entity issuing tender.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="BillingAddressId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Address identification of billing.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="36"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PostalCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Postal Code associated with the tender for payment pusposes.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="6"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Token" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element name="TokenId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Encryption token Id.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="36"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TokenTypeCd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Encryption token type.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="KeyVersionNbr" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Encryption key version number.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="KeyAliasTxt" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Encryption key alias.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SaltTxt" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Encryption key salt text.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Status" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element name="StatusCd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Status code of the payment.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="StatusTypeCd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Status type code of the payment.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="StatusDsc" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Status description.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="StatusVal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The value of the status.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="StatusResponseTxt" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Status response description.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="500"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="StatusReferenceId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Refence Id of the status.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="StatusSourceNm" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Source name of the status.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="StatusBannerId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>BannerId of the status.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="StatusCode" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="StatusCd" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Status code.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="StatusDsc" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Status description.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="200"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="TokenEffectivePeriod" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element ref="FirstEffectiveDt" minOccurs="0"/>
												<xs:element ref="FirstEffectiveTm" minOccurs="0"/>
												<xs:element ref="LastEffectiveDt" minOccurs="0"/>
												<xs:element ref="LastEffectiveTm" minOccurs="0"/>
												<xs:element name="DurationNbr" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Number that represents the duration.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="10"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="DurationUnitDsc" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Duration unit. D for Days, W for weeks.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="InclusiveInd" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Indicates whether or not the dates and times are inclusive or not.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
											<xs:attribute ref="typeCode"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="RequiredAuthAmt" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This is the amount that requires authorization from the credit company</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AuthCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This is the authorization code provided by the credit card company upon approving a transaction</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AuthDt" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Date and time when the authorization code was issued.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TransactionTagId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Transaction Tag identification.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="InvalidInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates whether or not this payment is invalid.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="FullAuthorizationPayInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates whether the entire amount has been payed.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeliveryDetailType">
		<xs:annotation>
			<xs:documentation>Contains item level information for this delivery order.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ItemId" type="ItemId" minOccurs="0"/>
			<xs:element name="UnitPriceAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unit price of the item in $</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemPriceAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Derived by UnitPriceAmt X UOM Factor. example. Unit Price of 0.19 and factor of 36.8 FL OZ. ItemPrice will be 6.99</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Item Quantity </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubstitutionType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains information about the item substitution.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubstitutionPreferenceNm" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer substitution preference in case the item is not available. For example, for an item called: 

Gerber Graduates Wagon Wheels Puffed Grains Apple Harvest - 1.48 Oz

Customer can opt to have a substitution preference that says "Same Size Diff Brand"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UOM" type="UOMType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unit of Measure used for this item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyCd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Currency used for the price of the item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalPriceAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total price derived by ItemPriceAmt X Quantity.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalBaseAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total base price of an item (qty * amt).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BasePriceAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Base Price of the item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegulatedItemInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if this item is a Regulated Item.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RegulatedItemTxt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Label pertaining to a regulated item also known as retricted value.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PromotionTxt" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains any promotional text for this item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PromotionalDsc" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Promotional description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PromotionType" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="ImageURLTxt" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains hyperlink to the image of the item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Aisle" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains Aisle information where item is located example: 
aisleId: 1_15_7_4
aisleName: Ice Cream and Novelties</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SimilarItemURLTxt" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hyperlink that points to similar items</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemDetailURLTxt" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hyperlink that points to where the item details can be found</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsumerWarnIconRequiredInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether this item needs to display the Consumer Item Warning icon.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Department" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains department infomation such as:
International Cuisine
Fruits and Vegetables
Frozen Food etc

</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DisplayType" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="SellByWeightType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines whether this item is sold by weight or individual</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemAvailableInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether the item is available</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemFoundInd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeliveryChargeType">
		<xs:annotation>
			<xs:documentation>Contains details about delivery charges.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UPC" type="UPC" minOccurs="0">
				<xs:annotation>
					<xs:documentation>UPC for this charge.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Charge" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the actual charge. example: Service Charge, Fuel Surcharge</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChargeCategory" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Charge category. Example: Service, surcharge</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChargeAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Amount charged.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualChargeAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Actual amount charged</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrentFeeAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fee that is charged after waivers are applied</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeeWaiveInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if the fee for this charge is waived</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyCd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Currency used for the Charge amount</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PromotionType">
		<xs:annotation>
			<xs:documentation>Contains details about delivery promotions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PromotionCd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Promotion code. Ex: CHOBANI</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PromotionDsc" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the promotion</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PromotionDiscountAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Amount discounted because of the promotion. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeliveryHeaderType">
		<xs:annotation>
			<xs:documentation>Contains header information about this grocery delivery.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrderId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Grocery Delivery Order Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderCreateTS" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Date and time stamp of when the order was created.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderModifyTS" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and time stamp of when the order was last modified.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>For now always set to 1. This field contains company Id that is required by the OMS system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VersionNbr" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Initial version of the order is 1. Version Number increments as the order is updated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderStatus" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Status of the order. example: PENDING,
CREATED,
EDITED,
CANCEL;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FulfillingFacility" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Retail facility that fullfills the order</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="FulfillingFacilityType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeliveryType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of delivery. Defines whether the delivery man can leave the delivery without the customer Possible values: Unattended, attended</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the service type. Example of this is Delivery or DUG (Drive Up and GO).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyCd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Currency used in paying for the delivery. Usually represented in US$</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalTaxAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total Tax due for this delivery</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tota amount due to the customer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalItemCount" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total number of items in this order</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalUniqueItemCount" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total number of unique items in this order</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EstimatedClubCardSavingsAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Estimated savings in $ as a result of using Club Card</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditOnAccountAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total amount classifed as Credit On Account (COA)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditOnAccountBalanceAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Current balance for Credit on Account</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppliedCreditOnAccountAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Applied Credit on account amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalBasePriceAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total Base Price</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EstimatedTotalPriceAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Estimated total price amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QualifyingDollarValueAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Qualifying Dollar Value Amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderHasRestrictedItemsInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether this order has restricted items in it or not</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrderHasExpiringPromoInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if there are items in this order that have expiring promotions</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RetailCustomer" type="GroceryCustomerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the retail customer who is the recepient of this delivery</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerPayment" type="PaymentType" minOccurs="0"/>
			<xs:element name="FullFillmentType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if this is a DELIVERY, or a PICKUP</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PickupInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains information related to Drive Up and Go (DUG) Service Type</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="PickupType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeliveryInfo" type="DeliveryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains Delivery slot information as well as total delivery charge amount and other relevant information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChargeInfo" type="DeliveryChargeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Contains details about the charges for this delivery or DUG.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryPromotion" type="PromotionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Contains details about promotions used for this order.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryRecordDateInfo" type="RecordAuditData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information when this Delivery order is created and updated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CartId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the numeric Cart Id.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ThirdPartyDeliveryInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if the delivery will be done by a third party provider like InstaCart</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RevisionNbr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains revision number generated from the eRums system</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubOrderNbr" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the sub order number generated by the ERums system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Device" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the sub order number generated by the ERums system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerService" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Details on the customer service at the store</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element ref="PhoneFaxContact" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MemoInstructionTxt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Any free format text pertaining to the grocery delivery order.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomerPreferenceType">
		<xs:annotation>
			<xs:documentation>Contains customer preference fields.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CheckedTermsInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether the Terms and Conditions is ticked by the customer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VersionNbr" type="xs:int" minOccurs="0"/>
			<xs:element name="PreferenceType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains preference type from Erums. Sample of preference is TEXT</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OptInContactNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contact number provided by the customer in the Contact Number field during opt in. Can be different from the customer's actual contact number in their profile.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OptInInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if the customer is opted in to a subscription.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FulfillingFacilityType">
		<xs:annotation>
			<xs:documentation>Contains store related information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="RetailStoreId"/>
			<xs:element ref="BannerCd" minOccurs="0"/>
			<xs:element name="MFCInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if this facility is a Micro Fulfillment Center (MFC)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HybridStoreInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if this facility is a hybrid store. A hybrid facility is one that provides both in-house and third party deliveries.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PremiumStoreInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that this facility is a Premium store. Only Albertsons trucks do delivery for these kinds of facilities</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ThirdPartyDeliveryOnlyInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if this facility only has Third Party Delivery available.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ERUMSEnabledInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>indicates if this facility is covered by the eRUMS system already.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PickupType">
		<xs:annotation>
			<xs:documentation>Contains In-store pickup or Drive Up and Go information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PickupSlot" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pickup Slot Id. This is a system generated id to uniquely identify the pickup slot. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PickupSlotType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>For DUG, slot types are usually just 1 hr.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SlotPlan" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Delivery Slot Name. Can be STANDARD or PREMIUM depending on a lot of factors. Premium slots usually have a delivery time of 1 hr. Premium slot plans are also offered depending on the store where the order is placed. If the store is hybrid (with 3rd party delivery) then premium slots are usually offered.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PickupStartDttm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Start timestamp of the expected pickup</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PickupEndDttm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>End timestamp of the pickup</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalPickupChargeAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Amount charged for this DUG. Usually this is in the form of service fees</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PickupFeeWaivedInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicator to say whether the pickup fee is waived or not.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DisplayStartDttm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the timestamp that is displayed to the user adjusted to the user's local timezone.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DisplayEndDttm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the timestamp that is displayed to the user adjusted to the user's local timezone.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SlotExpiryDttm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Timestamp when this pickup slot expires</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StageByDttm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Stage By Date Time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EditCutoffDttm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Edit Cutoff Date for this pickup</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerInstructionTxt" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains special instructions for pickup left by the customer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PickupTimeZoneCd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the Time Zone for this particular delivery.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
