Repository/CMM/Nouns/LaborCost.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2020 (x64) (http://www.altova.com) by  (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<!--V1.2 Rosabel Macario 11/04/2020 - Added tag to resolve dateTimeStamp issue-->
	<!--1.1 Rosabel Macario 10/26/2020: Update to remove decimal limits (totalDig and fracDig) in JobHours, Cost, Wages, TransactionCount, Sales-->
	<!--1.0 Sai Nuthakki 08/05/2020: Initial Version-->
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="LaborCost" type="LaborCostType">
		<xs:annotation>
			<xs:documentation>Root Element.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="LaborCostType">
		<xs:annotation>
			<xs:documentation>Represents data related to the cost of labor in a facility and day by labor activity type. It contains labor cost by schedules hrs group by Detpt abd Job Cd or Actual cost grouped by dept, job cd.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LaborCostDataType" type="CodeWithDescription">
				<xs:annotation>
					<xs:documentation>Indicates labor cost data as 'Estimate' - received from employee scheduling system or 'Actual' labor cost received from Employee payroll.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkDt" type="xs:date"/>
			<xs:element name="FacilityType" default="">
				<xs:annotation>
					<xs:documentation>Type of the facility like, DC,  warehouse, Retail Store, Office building, manufacturing plant..etc.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FacilityID" default="">
				<xs:annotation>
					<xs:documentation>A four character code that is used with corporation
 and division to uniquely identify a facility. A facility may "belong" to
 only one corporation and one division. A building may house one or more
facilities. There are two categories for facilities:
 1) Operating facility
 - actively supports the business of the Company
 - is a distinct business operation within a building
  - examples: office, processing plant, retail store, truck service
 shop, or warehouse building  (A warehouse facility includes all warehouse departments that exist within a single building.)
 - each type of division/business has a different set of possible types of operating facilities: i.e.,
 - Retail: retail outlets and offices.
- Wholesale: warehouse facilities, truck service shop, and offices.
- Processing/Manufacturing: processing plants and offices.
 2) Non-operating Facility                                                     
 - not currently being operated by the Company.
 - facilities </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FacilityLaborCostType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>various types of labor cost data captured at facility level.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="LaborActivityType" minOccurs="0"/>
						<xs:element name="JobHours" type="JobHoursType" minOccurs="0"/>
						<xs:element name="Cost" type="CostType" minOccurs="0"/>
						<xs:element name="Sales" type="SalesType" minOccurs="0"/>
						<xs:element name="Wages" type="WagesType" minOccurs="0"/>
						<xs:element name="WagesPercentOfSales" type="WagesPercentOfSalesType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Percentage of wages by sales.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CostExclusionType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Various types of exclusions applied to labor cost like
Exclude Rx  
Exclude Fuel
Exclude eCom..etc</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ExclusionType" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>defines type of exclusion
ex : Rx, Fuel, eCom</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ExcludeCost" type="CostType" minOccurs="0"/>
									<xs:element name="ExcludeSales" type="SalesType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Facility sales data excluding Pharmacy.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ExcludeWages" type="WagesType" minOccurs="0"/>
									<xs:element name="ExcludeWagesPercentOfSales" type="WagesPercentOfSalesType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DepartmentLaborCostType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Department level data related to differnt types of labor activities. It may contain forecasted/actual Hours, cost, dept salaries or dept forecasted sales.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Department" type="DepartmentType" minOccurs="0"/>
						<xs:element ref="LaborActivityType" minOccurs="0"/>
						<xs:element ref="JobCd" minOccurs="0"/>
						<xs:element name="JobTitleNm" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Ex: Courtesy Clerk, Checker</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="JobHours" type="JobHoursType" minOccurs="0"/>
						<xs:element name="Cost" type="CostType" minOccurs="0"/>
						<xs:element name="Sales" type="SalesType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Department Sales for the facility and day. Could be Forecasted sales or Actual sales or any other types of sale amount depenting on Activity Id.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TransactionCount" type="TransactionCountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Gross retail transaction counts by dept. including returns.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="WagesPercentOfSales" type="WagesPercentOfSalesType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>department wages as  % of sales .</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Wages" type="WagesType" minOccurs="0"/>
						<xs:element name="JobShift" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ScheduledShiftCnt" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Count of scheduled shifts</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ManualShiftCnt" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Count of manual scheduled shifts</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="RxPresctiption" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ActualCnt" type="xs:integer" minOccurs="0"/>
									<xs:element name="PlannedCnt" type="xs:integer" minOccurs="0"/>
									<xs:element name="ForecastCnt" type="xs:integer" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Tags" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ActualCnt" type="xs:integer" minOccurs="0"/>
									<xs:element name="PlannedCnt" type="xs:integer" minOccurs="0"/>
									<xs:element name="ForecastCnt" type="xs:integer" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LaborActivityTypeType">
		<xs:sequence>
			<xs:element name="ActivityId" type="xs:integer" minOccurs="0"/>
			<xs:element name="ActivityNm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ActivityHoursQty">
		<xs:annotation>
			<xs:documentation>quantity of hours used in cost estimate. Either scheduled hrs or actual hrs.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="14"/>
				<xs:fractionDigits value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ActivityCostAmt">
		<xs:annotation>
			<xs:documentation>Cost amount related to the labor activity.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="14"/>
				<xs:fractionDigits value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LaborActivityType" type="LaborActivityTypeType">
		<xs:annotation>
			<xs:documentation>Defines the type of the labor activity used in costi estimates.
ex: Scheduled hrs, Actual hrs, Estimated amt, actual amt..etc</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SalesType">
		<xs:sequence>
			<xs:element name="ForecastSalesAmt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PlannedSalesAmt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AdjustedPlannedSalesAmt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ActualSalesAmt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TargetSalesAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Manager adjusted / reported target sales</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionCountType">
		<xs:sequence>
			<xs:element name="ForecastTransactionCnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PlannedTransactionCnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ActualTransactionCnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TargetTransactionCnt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Manager adjusted /reported transaction count.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WagesPercentOfSalesType">
		<xs:sequence>
			<xs:element name="ForecastPct" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PlannedPct" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AdjustedPlannedPct" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ActualPct" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TargetPct" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WagesType">
		<xs:sequence>
			<xs:element name="ForecastWageAmt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PlannedWageAmt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AdjustedPlannedWageAmt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ActualWageAmt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TargetWageAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Store manager target labor wages.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OvertimeWageAmt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OvertimeWageFctr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Overtime wage faactor applied to calculate OT wage amount. Ex: 1.5, 2, 2.5 times of regular wage.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OvertimeScheduledWageAmt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OvertimeScheduledWageFctr" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JobHoursType">
		<xs:sequence>
			<xs:element name="ScheduledHoursQty" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ForecastHoursQty" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ActualHoursQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Calculated hours based on actual employee punches</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OvertimeHoursQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Calculated overtime hours based on actual employee punches</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OvertimeScheduledHoursQty" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TargetHoursQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>manager target hours.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ScheduledOverHoursQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sum of 1/4 hours (15 minute segments) scheduled higher than the manager/store hour forecast</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ScheduledUnderHoursQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sum of 1/4 hours (15 minute segments) scheduled lower than the manager/store hour forecast</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CostType">
		<xs:sequence>
			<xs:element name="ScheduledCostAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Scheduled wage dollars</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ForecastCostAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>System forecast wage dollars based on manager/store forecast volume</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ActualCostAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Calculated wage dollars based on actual employee punches</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TargetCostAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Manager/store forecast wage dollars based on manager/store target volume</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EarnCostAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Earned wage dollars based on system forecast volume</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WageOverrideRt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Manager/store wage rate override for MgrCost and SchCost; stored by week</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
