Repository/CMM/Nouns/PartnerRewardReconciliation.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by Patrick Oliver (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" vc:minVersion="1.1">
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:include schemaLocation="../Nouns/FinanceMaster.xsd"/>
	<!--V1.0 Patrick Oliver 02/19/21: Initial Draft-->
	<!--V1.1 Patrick Oliver 03/22/21: Updated TransactionTs to optional-->
	<!--V1.2 Patrick Oliver 04/02/21: Changed AltTransaction cardinality to single occurrence; Rename SiteId to PartnerSiteId; ParticipantId to PartnerParticipantId; Changed TransactionTs, AltTransactionTs, to dateTimeStamp-->
	<!--V1.3 Patrick Oliver: Removed SubAccountId, AccountTypeCd-->
	<xs:element name="PartnerRewardReconciliation" type="PartnerRewardReconciliationType">
		<xs:annotation>
			<xs:documentation>Root element. Business Object Document for Albertsons Partner Reward Reconciliation. Current Albertson’s partner reward programs include fuel discounts with partner’s such as Shell and Chevron where customers can redeem Deferred rewards which are earned over time. During fuel purchases customers are presented with their reward balances which they can choose to redeem, request additional information, or cancel. Partners capture this customer transactional data throughout the day and is sent back to Albertsons accounting. This object will capture the partner reward reconciliation messages which are an accounting disposition which determines if and how a given partner reward is treated for financial reporting and accounting purposes.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PartnerRewardReconciliationType">
		<xs:annotation>
			<xs:documentation>Business Object Document for Albertsons Partner Reward Reconciliation. Current Albertson’s partner reward programs include fuel discounts with partner’s such as Shell and Chevron where customers can redeem Deferred rewards which are earned over time. During fuel purchases customers are presented with their reward balances which they can choose to redeem, request additional information, or cancel. Partners capture this customer transactional data throughout the day and is sent back to Albertsons accounting. This object will capture the partner reward reconciliation messages which are an accounting disposition which determines if and how a given partner reward is treated for financial reporting and accounting purposes.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartnerId">
				<xs:annotation>
					<xs:documentation>The ABS partner identification (ex: Chevron, Shell, etc.)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransactionType">
				<xs:annotation>
					<xs:documentation>Business transaction Id(s) attached to a partner event.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransactionId">
							<xs:annotation>
								<xs:documentation>Business transaction Id.
Ex Partner transaction</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="TransactionTs" type="xs:dateTimeStamp" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This is the timestamp when the transaction was updated.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TransactionTypeCd" type="CodeWithDescription">
							<xs:annotation>
								<xs:documentation>Transaction type code for the transaction ('REQ' = Request, "CANREQ" = Cancel request, etc.) </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ReferenceNbr" minOccurs="0">
							<xs:annotation>
								<xs:documentation>cross reference nbr from external systems for internal transaction id.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AltTransaction" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Alternate transaction Ids linked to the partner transaction.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AltTransactionId" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="AltTransactionType" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="AltTransactionTs" type="xs:dateTimeStamp" minOccurs="0">
										<xs:annotation>
											<xs:documentation>This is the timestamp when the transaction was updated.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PartnerSiteId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The partner site ID </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PartnerParticipantId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is used for grouping of parnter site_id's</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostalZoneCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Postal code of parnter site</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StatusType" type="PartnerRewardStatusType" minOccurs="0"/>
			<xs:element name="RewardReconciliation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer Reward transaction reconciliation data (accounting)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FuelPumpId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Partner fuel pump where customer trasaction occured.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="RegisterId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Partner register where customer trasaction occured.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="FuelGradeCd" type="CodeWithDescription" minOccurs="0">
							<xs:annotation>
								<xs:documentation>An octane rating.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ReconMsgId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Reconciliation message ID.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ReconErrorTypeCd" type="CodeWithDescription" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Recon erro type code set example; {"0003","0006","0007"}. Note there can be multiple error type codes for same transaction</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TotalPurchQty" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Total purchase quantity. </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="18"/>
									<xs:fractionDigits value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PurchUOMCd" type="CodeWithDescription" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The code used to specify the units in which a value is being expressed, or manner in which a measurement has been taken. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PurchDiscLimitQty" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Gallon Quantity Limit allowed in the purchase.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="18"/>
									<xs:fractionDigits value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element ref="TenderTypeCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>A code which uniquely identifies the type of tender, ie cash, check, credit card, etc. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PurchDiscLimitAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Discount per gallon Amount that can be applied to purchase.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RegularPriceAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Regular price amount.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PromoPriceAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Promotion price amount.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TotalSavingValAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Total savings value amount.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TotalFuelPurchAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Total fuel purchase amount.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="NonFuelPurchAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Non fuel Purchase amount</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TotalPurchaseAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Total purchase amount.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DiscountAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Discount per gallon Amount that can be applied to the purchase</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TxnFeeAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Transaction Fee Amount (charged by Albertsons to the partner) per gallon quantity redeemed.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TxnNetPymtAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Total Net Payment Amount (total discount awarded to the customer minus fee TXN_FEE_AMT).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SettlementAmt" type="AmountType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The amount Albertsons pays back to partner after reconciliation.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AccountData" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="AccountId" minOccurs="0"/>
									<xs:element ref="AccountingUnitId" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AuditData" type="RecordAuditData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartnerRewardCustomerType">
		<xs:annotation>
			<xs:documentation>Customer attributes associated with a partner reward transaction.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="DivisionId" minOccurs="0"/>
			<xs:element name="HouseholdId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique identifier assigned to a household.  Households are created by matching addresses and/or phone numbers across loyalty card accounts.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ClubCardNbr" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A number which is embossed on a Loyalty Card and which uniquely identifies it.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OldClubCardNbr" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Legacy club card numbers. For some old longer club card no, a conversion is done into current standard club card no. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PhoneNbr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The phone number for the retail customer.   This is used as an alternate club membership identifier when the customer does not have their club card or card number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerAccountNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer account nbr</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerId" type="IDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer Identification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerNm" type="PersonNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer Name Data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies Customer type.
Residential or
Business</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TenderTypeCd" type="CodeWithDescription">
		<xs:annotation>
			<xs:documentation>A code which uniquely identifies the type of tender, ie cash, check, credit card, etc. Sample Values: CASH - currency CREDIT - credit card DEBIT - debit card CUST_ACCT - customer credit account with retailer EBT - electronic benefits transfer CHEQUE - personal or business cheque STORED_VALUE - gift cert. or gift card COUPON - mfg coupon VOUCHER - retailer issued debit (e.g. coinstar voucher) SEND_CHECK - paid out/refund via acct pay. TRADEIN - trade in kind/trade in debit OTHER - other debit offset tender type	</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PartnerRewardStatusType">
		<xs:annotation>
			<xs:documentation>conatins data about various types of status Cds.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusCd" default="" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Status Code</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="Type" type="xs:string">
								<xs:annotation>
									<xs:documentation>Type of Status code</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Description" default="" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EffectiveDtTm" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>