Repository/CMM/Nouns/RetailCustomer.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by Alex Nunes (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" vc:minVersion="1.1">
	<!--V 1.1  Alex Nunes  2/1/2019  Added GUID and UUID. Added Audit data from source. Added Delivery Subscription.-->
	<!--V 1.2  Alex Nunes 3/8/2019 Modified Employee Data structure. Only basic employee attributes.-->
	<!--V 1.2  Alex Nunes 4/17/2019 Added SubscriptionId (Plan Id) to the Subscription tag.-->
	<!--V 2.0 Alex Nunes 5/16/2019 Added Payment information related to retail customer-->
	<!--V 2.0 Alex Nunes 5/24/2019 Added Payment element length-->
	<!--V 2.0 Alex Nunes 6/5/2019 Minor change. Nest Token and Status into Tender. Added Preferred Ind in Preferences.-->
	<!--V2.0 Alex Nunes 6/11/2019 Opt Choices in Customer Preferences and Subscriptions is now unbounded. Effective period in Preferences and Subscription has now multiple cardinality.-->
	<!--V2.1 Alex Nunes 11/22/2019 Changes in Customer Rewards partner -->
	<!--V3.0 Alex Nunes 12/16/2019 Business requirement changes - Unified Customer micro services implementation and retirement of other system of record applications (CHAMP, eMailDB and eComm)-->
	<!--V3.0 Alex Nunes 6/8/2020 Removed unbound setting for effective times.-->
	<!--V3.0 Alex Nunes 5/4/2020 Added missing SourcePlatformDsc in Address statuses-->
	<!--V3.1 Rosabel Macario 11/04/2020 - Added tag to resolve dateTimeStamp issue-->
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="RetailCustomer">
		<xs:annotation>
			<xs:documentation>Root element. Retail Customer: Retail customer is a person who purchases product for individual consumption on a one-time or sporadic basis at the suggested retail price.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="RetailCustomerType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="RetailCustomerType">
		<xs:annotation>
			<xs:documentation>Retail customer: Retail customer is a person who purchase product for individual consumption on a one-time or sporadic basis at the suggested retail price.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomerId" type="IDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer Identification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GUID" type="GUIDType" minOccurs="0"/>
			<xs:element ref="UUID" minOccurs="0"/>
			<xs:element name="CustomerAlternateId" type="AlternateId" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CustomerNm" type="PersonNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer name Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Addresses" type="RetailCustomerAddressType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Contact" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="GenderCd" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A code indicating the gender (sex) of the individual in which it is associated. Examples are Male, Female, Undeclared.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="BirthDt" minOccurs="0"/>
			<xs:element name="Children" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ChildNm" type="PersonNameType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Name of the child.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="BirthDt" minOccurs="0"/>
						<xs:element name="Gender" type="CodeWithDescription" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="JoinDt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date on which the customer first engage with the company.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HouseholdIncomeAmt" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer household income amount.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:maxInclusive value="999999999"/>
						<xs:fractionDigits value="2"/>
						<xs:totalDigits value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NameOnReceiptInd" type="IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicador for name on the receipt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReceiveMailInd" type="IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicador of whether or not Customer wants to receive mail. Mailable indicator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FamilySizeQty" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of members in family.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FastForwardId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fast Forward program customer Id.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodNeighborSegmentNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Good Neighbor Segment number of the customer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Employee" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EmployeeId" type="xs:integer" minOccurs="0"/>
						<xs:element name="EmployeeNm" type="PersonNameType" minOccurs="0"/>
						<xs:element ref="AlternateId" minOccurs="0" maxOccurs="5"/>
						<xs:element name="EffectivePeriod" type="EffetiveDateTimeType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ShopStore" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Stores where Customer shops at.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element ref="CorporationId" minOccurs="0"/>
						<xs:element ref="DivisionId" minOccurs="0"/>
						<xs:element ref="BannerCd" minOccurs="0"/>
						<xs:element ref="RetailStoreId" minOccurs="0"/>
						<xs:element name="PreferredInd" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preferred Store where the Customer shops at.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OnlineShoppingInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information on Customer online shopping.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LoginId" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer Login Id.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DeliveryAddress" type="AddressType" minOccurs="0" maxOccurs="5">
							<xs:annotation>
								<xs:documentation>Online customer delivery Addresses.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BillingAddress" type="AddressType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Online customer billing address.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferredDUGStoreId" type="FacilityType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preferred Drive Up and Go Store Id.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CustomerTypeCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer type code. Possible values are "PRO" when they initial register and then changes to "PAH" after first checkout.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CustomerNotesTxt" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Free format Customer notes.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="FavoriteRequestInd" type="IndicatorType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Used if Customers want to do a manual pull of the instore purchases to appear on the site.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AccountStatusCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Account Status code. Ex: 4-Active and 0-Disabled.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RegistrationPostalCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Postal Code used during Customer registration.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RecruitmentSourceDsc" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of the source that led Customer to purchase from our company. Ex: Print Ad, Email, Delivery Truck, Mail, Fried or Family, News, TV or Radio, in-Store Ad.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Payment" type="PaymentMethodType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preferred payment info.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SecurityQuestionsAnswers" minOccurs="0" maxOccurs="10">
							<xs:annotation>
								<xs:documentation>An extra security layer for online customer authentication.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="QuestionTxt" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Security question.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="AnswerTxt" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Security answer.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SequenceNbr" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:documentation>When an object occurs multiple times, this sequence integer can be used to provide the order in which the objects are meaningful.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ThirdPartyDelivery" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Customer uses third party for grocery deliveries. EX: Instacart</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DeliveryCompanyId" type="IDType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Unique identified for the company.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DeliveryCompanyNm" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Name of the third party delivery company.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element ref="FirstEffectiveDt" minOccurs="0"/>
									<xs:element ref="LastEffectiveDt" minOccurs="0"/>
								</xs:sequence>
								<xs:attribute ref="preferredInd"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MultichannelRelationship" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Customer relationship with company's channels. Ex: J4U, Online Shop, etc...</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ChannelCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Code of the relationship channel.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ChannelNm" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Name of the relationship channel.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="FirstEffectiveDt" minOccurs="0"/>
						<xs:element ref="LastEffectiveDt" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerLoyalty" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="Household" minOccurs="0">
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element name="HouseholdId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Unique identifier of the Household.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Accounts" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Accounts related to a household.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="CustomerId" type="IDType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Customer Identification.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="HeadHouseholdInd" minOccurs="0">
													<xs:annotation>
														<xs:documentation>This field indicates whether an account is the head of the household.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="AccountStatus" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="AccountStatusCd" type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Account Status code.</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AccountStatusDsc" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Description of the account status.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="200"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="AccountStatusVal" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>This field represents the account status value.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="50"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="SourcePlatformCd" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Code of the source platform.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="10"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="SourceStatusVal" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>This fields represents the status value for the source.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="50"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="EffectivePeriod" type="EffetiveDateTimeType" minOccurs="0"/>
														</xs:sequence>
														<xs:attribute ref="typeCode"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Program" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element name="ProgramCd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Code of the loyalty program.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CardNbr" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Identification number of the customer loyalty program.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Alternate" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Alternate identification of the customer loyalty program.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element ref="AlternateId" minOccurs="0"/>
											</xs:sequence>
											<xs:attribute ref="typeCode"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="ProgramStatus" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ProgramStatusCd" type="xs:string" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Program Status code.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ProgramStatusDsc" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Description of the program status.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="200"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="ProgramStatusVal" minOccurs="0">
													<xs:annotation>
														<xs:documentation>This field represents the program status value.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="SourcePlatformCd" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Code of the source platform.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="SourceStatusVal" minOccurs="0">
													<xs:annotation>
														<xs:documentation>This fields represents the status value for the source.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="ChannelCd" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Identification for a channel.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element ref="BannerCd" minOccurs="0"/>
												<xs:element name="StoreId" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Store number.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="10"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="EffectivePeriod" type="EffetiveDateTimeType" minOccurs="0"/>
											</xs:sequence>
											<xs:attribute ref="typeCode"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerRewards" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Partner alliance information.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PartnerId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unique identification of the Partner.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PartnerNm" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Name of the Partner. Example: AirMiles.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="60"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PartnerCustomerId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unique Id of the customer for this Partner.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PartnerJoinDt" type="DateBaseType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Date of when the customer joined the partner's ployalty program.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EnrollmentStatusCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Enrollment Status code.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element ref="FirstEffectiveDt" minOccurs="0"/>
						<xs:element ref="LastEffectiveDt" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MarketSegment" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Market Segment where customer is located.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SegmentCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Market segment code.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SegmentDsc" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Market segment description.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="FirstEffectiveDt" minOccurs="0"/>
						<xs:element ref="LastEffectiveDt" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Taste" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Taste information about customer.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TasteCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer taste code.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TasteDsc" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of the customer taste.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="FirstEffectiveDt" minOccurs="0"/>
						<xs:element ref="LastEffectiveDt" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Pet" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Information on customers' pets.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PetCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Pet Code.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PetDsc" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description breath of the pet.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PetCnt" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>How many pets customer has.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerPreferences" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Customer Generic preferences.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PreferenceClassNm" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preference Class name.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferenceCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preference Code. A code used to define a preference that could be selected by a user of the system.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferenceTypeCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preference Type code. A code used to define a type of a preference that could be selected by a user of the system.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferenceTypeDsc" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of the customer preference.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferenceVal" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preference selected value.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferenceCategoryCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Defines a higher grouping of preference that can be setup for customers. Ex: communication, privacy.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferenceSubCategoryCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Defines a lower level of categorization for a customer. Ex: SMS, Email, Phone.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OptChoice" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Opt-in and Opt-out indicator choices.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ChoiceDsc" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Description of the choice. Ex: TRIAL, ACTIVE, SUSPENDED,
PENDING_CANCELLATION,
PENDING_ACTIVATION, CANCELLED</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="OptChoiceInd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Opt Indicator.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string"/>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ReasonCd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Reason code for the customer to opt in or out.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ReasonDsc" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Description of the reason.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SelectTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Timestamp of when customer selected or opted in or out of the preference.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element ref="BannerCd" minOccurs="0"/>
						<xs:element name="PreferredInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates whether or not preference is the preferred one.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ChannelTypCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>1=EMAIL, 2=SMS, 3=PUSH (Channel
specific preference) </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PlatformTypCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>1=J4U, 2=SHOP, 3=MOBILE, 4=STORE (Pl
atform specific preference)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferenceEffectivePeriod" type="EffetiveDateTimeType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerSubscriptions" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The subscriptions (subjects) that a customer can subscribe to (opt in and/or out) of receiving for a specific ommunication channel (email address).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SubscriptionId" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Subscription id is the actual subscription plan id (id of monthly or yearly plan the customer has enrolled in)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SubscriptionCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>A code that defines the subscriptions (subjects) that a customer can subscribe to (opt in/out) of receiving for a specific communication channel (email address).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SubscriptionTypeCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>A code defining a high level categorization of a subscription type
Example:                     
E  Email Savings
J   J4U
G   Grocery Delivery
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SubscriptionDsc" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The description of the subscriptions (subjects) that a customer can subscribe to.
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OptChoice" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Opt-in and Opt-out indicator choices.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ChoiceDsc" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Description of the choice. Ex: TRIAL, ACTIVE, SUSPENDED,
PENDING_CANCELLATION,
PENDING_ACTIVATION, CANCELLED</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="OptChoiceInd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Opt Indicator.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string"/>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ReasonCd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Reason code for the customer to opt in or out.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ReasonDsc" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Description of the reason.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SelectTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Timestamp of when customer selected or opted in or out of the preference.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SubscriptionEffectivePeriod" minOccurs="0">
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element ref="FirstEffectiveDt" minOccurs="0"/>
									<xs:element ref="FirstEffectiveTm" minOccurs="0"/>
									<xs:element ref="LastEffectiveDt" minOccurs="0"/>
									<xs:element ref="LastEffectiveTm" minOccurs="0"/>
									<xs:element name="DurationNbr" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Number that represents the duration.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="DurationUnitDsc" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Duration unit. D for Days, W for weeks.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="InclusiveInd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicates whether or not the dates and times are inclusive or not.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
								<xs:attribute ref="typeCode"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="DeliverySubscription" minOccurs="0">
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element name="ServiceFeeWaivedInd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicator of whether or not service fee is waived.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="DeliveryFeeWaivedInd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicator of whether or not delivery fee is waived.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="FuelSurchargeWaivedInd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicator of whether or not a surcharge on fuel is waived.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="MinimumBasketSizeQty" type="xs:int" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Threshold order amount to be eligible for the subscription. e.g.: minimum order amount must be $30 to be eligible for the subscription.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AutoRenewInd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicator of whether or not delivery subscription is auto renewable.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="AutoEnrollInd" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicator of whether or not auto enrollment is on.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Fee" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Plan actual fee.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="CurrencyCd" type="xs:string"/>
											<xs:attribute name="FeeAmt" type="xs:decimal"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="InitialOrderAmountOff" minOccurs="0">
										<xs:annotation>
											<xs:documentation>At times, first time customer orders might be provided with a $'x' amount discount.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="CurrencyCd" type="xs:string"/>
											<xs:attribute name="DiscountAmt" type="xs:decimal"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="SignupFee" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Signup fee is the discounted plan fee chosen opted by the customer.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="CurrencyCd" type="xs:string"/>
											<xs:attribute name="FeeAmt" type="xs:decimal"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerPayment" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer payment information.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="Tender" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element name="TenderId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Tenrder Identification UUID.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="36"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TenderTypeCd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Tender type such as  CREDIT_CARD.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TenderSubTypeCd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Tender sub type.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TokenTxt" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Encrypted token string.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="MaskedTenderNbr" minOccurs="0">
										<xs:annotation>
											<xs:documentation>masked tender number last 4 digits only.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="PrimaryPurposeCd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Primary purpose of the tender, SHOP, DELIVERY_SUBSCRIPTION.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="HolderNm" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Card holder name.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ExpireMonthYearTxt" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Tender Expiry information, month and year MMYY</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="5"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CardTypeNm" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Type of card. Ex: VISA, AMEX, MC.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="EntityIssuerNm" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Entity issuing tender.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="BillingAddressId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Address identification of billing.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="36"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="PostalCd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Postal Code associated with the tender for payment pusposes.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="6"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Token" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="TokenId" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Encryption token Id.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="36"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="TokenTypeCd" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Encryption token type.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="KeyVersionNbr" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Encryption key version number.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="KeyAliasTxt" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Encryption key alias.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="4"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="SaltTxt" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Encryption key salt text.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Status" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="StatusCd" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Status code of the payment.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="StatusTypeCd" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Status type code of the payment.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="StatusDsc" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Status description.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="200"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="StatusVal" minOccurs="0">
													<xs:annotation>
														<xs:documentation>The value of the status.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="StatusResponseTxt" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Status response description.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="500"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="StatusReferenceId" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Refence Id of the status.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="100"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="StatusSourceNm" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Source name of the status.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="StatusBannerId" minOccurs="0">
													<xs:annotation>
														<xs:documentation>BannerId of the status.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="TokenEffectivePeriod" minOccurs="0">
													<xs:complexType>
														<xs:sequence minOccurs="0">
															<xs:element ref="FirstEffectiveDt" minOccurs="0"/>
															<xs:element ref="FirstEffectiveTm" minOccurs="0"/>
															<xs:element ref="LastEffectiveDt" minOccurs="0"/>
															<xs:element ref="LastEffectiveTm" minOccurs="0"/>
															<xs:element name="DurationNbr" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Number that represents the duration.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="10"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="DurationUnitDsc" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Duration unit. D for Days, W for weeks.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="20"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="InclusiveInd" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Indicates whether or not the dates and times are inclusive or not.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="2"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
														</xs:sequence>
														<xs:attribute ref="typeCode"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AccountStatuses" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="StatusCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Status code for activation and/or reactivation.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="StatusDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of the status code for activation and/or reactivation.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="StatusVal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Value of the status.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SourceNm" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Name or description of the source.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element ref="BannerCd" minOccurs="0"/>
						<xs:element name="StoreId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Store number.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ChannelCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Code of the channel type.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PlatformCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Code of the platform type.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="EffectivePeriod" type="EffetiveDateTimeType" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute ref="typeCode"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerTokens" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="TokenId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Encryption token Id.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="36"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="TokenTypeCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Encryption token type.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="KeyVersionNbr" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Encryption key version number.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="KeyAliasTxt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Encryption key alias.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SaltTxt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Encryption key salt text.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="TokenData" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="200"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="EffectivePeriod" type="EffetiveDateTimeType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SourceAuditData" type="SourceAuditType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Customer message audit data.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetailCustomerAddressType">
		<xs:annotation>
			<xs:documentation>Retail customer addresses and contact data.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="AddressId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique identifier of the address.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="36"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the customer address.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="36"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressTypeDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the customer address type.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Address" type="CommunicationType" minOccurs="0"/>
			<xs:element name="CustomerName" type="PersonNameType" minOccurs="0"/>
			<xs:element name="Notes" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Customer notes regarding the address.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="NoteTxt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Text value of the note. Free format comments from customer.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="250"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
					<xs:attribute ref="typeCode"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddressPurposes" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Purpose of customer addresses.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="PurposeCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Code of the purpose.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PurposeDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of the address purpose.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
					<xs:attribute ref="typeCode"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostalCodes" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="PostalCodeId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unique identifier postal code.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="36"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PurposeCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Code of the purpose.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PurposeDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description or name of the purpose.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PostalCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Postal code.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="BannerCd" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute ref="typeCode"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddressStatuses" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="AddressStatusCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Address Status code.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressStatusDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of the address status.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="200"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AddressStatusVal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This field represents the address status value.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SourcePlatformCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Code of the source platform.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SourcePlatformDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Name of the source platform.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SourceStatusVal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This fields represents the status value for the source.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element ref="BannerCd" minOccurs="0"/>
						<xs:element name="StoreId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Store number.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="MessageTxt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Address status message.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="200"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ReferenceId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Reference Id. Cross check with external systems.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="200"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="EffectivePeriod" type="EffetiveDateTimeType" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute ref="typeCode"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="SelectedAddresses" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="AddressId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unique identifier of the address.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="36"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element ref="BannerCd" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EffectivePeriod" type="EffetiveDateTimeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetailContactType">
		<xs:annotation>
			<xs:documentation>Customer Contacts Type.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContactId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contact Identifier. This is an uniquely identifier for Contacts related to the company.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactTypeInfo" type="ContactType" minOccurs="0"/>
			<xs:element name="EmailAddrs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Alphanumeric text of Email Address. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WebSiteDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Alphanumeric text of Web Site, in case Contact has one. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Salutation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Alphanumeric value of Salutation such as Mr, Ms, Mrs, Master, etc...</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the Contact.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="JobTitle" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The title of the job the Contact currently has.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartmentNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Department in which the Contact works or represents.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkTelephoneNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Business phone number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MobileTelephoneNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Cell_Mobile_Phone_Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacsimileNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fax Number of the Contact.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherContactDetailTxt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Other details about the Contact.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactType">
		<xs:annotation>
			<xs:documentation>Whenever an address is linked to a contact, it is necessary to specify a Contact Type. This allows for multiple addresses to be held. This reference data will be initially populated in PDS.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContactTypeCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Alphanumeric code for different types of Contacts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactTypeDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of Contact Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourceAuditType">
		<xs:annotation>
			<xs:documentation>This type represents auditing data related to the message at source.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="SourceNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the source or system of record.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreateClientId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that created the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that created the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateClientId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that last modified the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateHostNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the host where the message was initially created.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateHostNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the host where the message was last modified.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SequenceNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sequence number of the last event related to the message.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AggregateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and Time stamp of the aggregate when it was updated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AggregateRevisionNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of the aggregate revision. Used for conflict resolution.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PayloadVersionNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Payload version number.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EffetiveDateTimeType">
		<xs:annotation>
			<xs:documentation>Common type for Retail Customer effective date and time.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="FirstEffectiveDt" minOccurs="0"/>
			<xs:element ref="FirstEffectiveTm" minOccurs="0"/>
			<xs:element ref="LastEffectiveDt" minOccurs="0"/>
			<xs:element ref="LastEffectiveTm" minOccurs="0"/>
			<xs:element name="DurationNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number that represents the duration.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DurationUnitDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Duration unit. D for Days, W for weeks.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InclusiveInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether or not the dates and times are inclusive or not.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="typeCode"/>
	</xs:complexType>
</xs:schema>
