Repository/CMM/Nouns/RewardTransaction.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by Patrick Oliver (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" vc:minVersion="1.1">
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<!--V1.0 Patrick Oliver 02/19/21: Initial Draft-->
	<!--V1.1 Patrick Oliver 03/17/21: Updated TransactionType to single occurrence; Removed attribute TransactionType; Added AltTransactionTs; Changed RewardsPointsNbr to RewardDollarPoints; Updated StatusTypeCd to StatusCd; Added RewardTokenPoints for future state-->
	<!--V1.2 Patrick Oliver 03/22/21: Updated TransactionTs to optional; removed RewardPeriod-->
	<!--V1.3 Patrick Oliver 04/05/21: Changed AltTransaction cardinality to single occurrence; Changed RewardOriginTs, TransactionTs, AltTransactionTs to dateTimeStamp-->
	<xs:element name="RewardTransaction" type="RewardTransactionType">
		<xs:annotation>
			<xs:documentation>Root element. Rewards provide a platform for customers to engage, earn, accumulate and redeem loyalty points. The purpose of this BOD is to capture the customer's reward transactional details as they occur near real time. Data captured will include the different types of reward transactions such as ‘Earn’, ‘Burn’, ‘Rollover’ and ‘Expiry’ that have an effect on the amount customer points available. In addition the object shows customer information, reward validity dates and statuses.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RewardTransactionType">
		<xs:annotation>
			<xs:documentation>Rewards provide a platform for customers to engage, earn, accumulate and redeem loyalty points. The purpose of this BOD is to capture the customer's reward transactional details as they occur near real time. Data captured will include the different types of reward transactions such as ‘Earn’, ‘Burn’, ‘Rollover’ and ‘Expiry’ that have an effect on the amount customer points available. In addition the object shows customer information, reward validity dates and statuses.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HouseholdId" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Unique identifier assigned to a household.  Households are created by matching addresses and/or phone numbers across loyalty card accounts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransactionType">
				<xs:annotation>
					<xs:documentation>Business transaction Id(s) attached to a partner event.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransactionId">
							<xs:annotation>
								<xs:documentation>Business transaction Id.
Ex Partner transaction</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="TransactionTs" type="xs:dateTimeStamp" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This is the timestamp when the transaction was updated.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TransactionTypeCd" type="CodeWithDescription">
							<xs:annotation>
								<xs:documentation>Transaction type code for the transaction ('REQ' = Request, "CANREQ" = Cancel request, etc.) </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ReferenceNbr" minOccurs="0">
							<xs:annotation>
								<xs:documentation>cross reference nbr from external systems for internal transaction id.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AltTransaction" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Alternate transaction Ids linked to the partner transaction.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AltTransactionId" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="AltTransactionType" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="AltTransactionTs" type="xs:dateTimeStamp" minOccurs="0">
										<xs:annotation>
											<xs:documentation>This is the timestamp when the transaction was updated.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LoyaltyProgram" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identification of the Loyalty program.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LoyaltyProgramCd">
							<xs:annotation>
								<xs:documentation>Code that represents the Loyalty program.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="300"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LoyaltyProgramDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of the Loyalty program.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="250"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RewardPointsOrigin" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Origin of Rewards Points. Ex: BasePoints, Grocery, Power Pump, Gift Card purchases, Pharmacy, Fuel Rewards, etc...</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RewardOriginCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Reward Origin Code.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="RewardOriginDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of the Reward Origin.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="RewardOriginTs" type="xs:dateTimeStamp" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Reward Origin timestamp.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RewardDollarPoints" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Represents the start and end of the Rewards dollar amount points.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RewardDollarStartTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward dollar points starts.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardDollarEndTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward dollar points ends.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardDollarPointsQty" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This will be the total transaction dollar points. This can be an integer, positive, negative or zero.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RewardTokenPoints" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Represents the start and end of the Rewards token and token that will expire points.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RewardTokenStartTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward token points starts.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardTokenEndTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward token points ends.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardTokenWilExpStartTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward token points will expire starts.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardTokenWilExpEndTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward token points will expire ends.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardTokenPointsQty" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This will be the total reward token points. This can be an integer, positive, negative or zero.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardTokenPointsExpireQty" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Total Rewards token points that will expire at the end of the month. . This can be an integer, positive, negative or zero.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer Identification.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerTierCd" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This code used to group Customers into tier groups (ex: '1' = 'Elite')</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusType" type="RewardTransactionStatusType" minOccurs="0"/>
			<xs:element name="TransactionDetailTxt" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Free form text field that can contain additional transaction details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuditData" type="RecordAuditData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RewardTransactionStatusType">
		<xs:annotation>
			<xs:documentation>conatins data about various types of status Cds.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusCd" default="" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Status Code</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="Type" type="xs:string">
								<xs:annotation>
									<xs:documentation>Type of Status code</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Description" default="" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EffectiveDtTm" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
