Repository/CMM/Nouns/Reward.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by Alex Nunes (Safeway, Inc.) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified">
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="Reward" type="RewardType">
		<xs:annotation>
			<xs:documentation>Root element. Reward</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RewardType">
		<xs:annotation>
			<xs:documentation>Rewards provide a platform for customers to engage, earn, accumulate and redeem loyalty points.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RewardsTxnTs" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>This is the timestamp when the points was updated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HouseholdId" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique identifier assigned to a household.  Households are created by matching addresses and/or phone numbers across loyalty card accounts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The phone number for the retail customer.   This is used as an alternate club membership identifier when the customer does not have their club card or card number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClubCardNbr" type="xs:integer" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A number which is embossed on a Loyalty Card and which uniquely identifies it.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RewardsPointsNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This will be the total transaction points. This can be an integer, positive, negative or zero.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RewardsPointsAvailableNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total Rewards available. This can be an integer, positive, negative or zero.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RewardsPointsExpireNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total Rewards that will expire at the end of the month. . This can be an integer, positive, negative or zero.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartnerInfo" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PartnerId" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>A system generated number that would uniquely identifies a party (person or organization).  The data values are arbitrary and therefore have no business meaning.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PartnerNm" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Text formal name for the partner.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
