Repository/CMM/Nouns/StoreSchematic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 rel. 2 sp1 (x64) (http://www.altova.com) by Alex Nunes (Albertsons) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://collab.safeway.com/it/architecture/AbsOmMaster" xmlns:ns2="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:import namespace="http://collab.safeway.com/it/architecture/info/default.aspx" schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<!--V2.0 - Alex Nunes - 1/12/21 - Structure redesigned to accomodate business requirement changes and introduction of new system of record.-->
	<xs:complexType name="StoreSchematic">
		<xs:annotation>
			<xs:documentation>Defines the layout of various item placement structures in a retail store.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Corporation" type="ns2:CorporationType"/>
			<xs:element name="Division" type="ns2:DivisionType">
				<xs:annotation>
					<xs:documentation>Information related to the operating division. Ex Norcal with Div Id 25 </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ns2:RetailStoreId"/>
			<xs:element name="StoreCheckstandsNbr" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of check-stands in the store.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StoreOrientationTxt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Front of store is bottom, left, right, back.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgEntityType" type="ns2:OrgMasterNameType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Generic type to capture different org structures.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StoreFixtureData" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> Fixtures in a particular Store upon which a Planogram is placed.  For example, a Planogram designed for a 9ft long Gondola would be associated to 3 - 3ft long Gondola Fixtures in a Store.  In general, Planograms are associated to one or more Store Fixtures.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PlanogramId" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unique identifer of a planogram / schematic.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StoreSchematicsEffectiveStartDt" type="xs:date" minOccurs="0"/>
						<xs:element name="StoreSchematicsEffectiveEndDt" type="xs:date" minOccurs="0"/>
						<xs:element name="StoreVisitDt" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Date the planogram is to be executed at the store.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Fixture" minOccurs="0">
							<xs:annotation>
								<xs:documentation> a specific Fixture in a Store used to display or store merchandise.   Fixture Id's are assigned to each Fixture in a Store and are random and unique by Store.  

Note:  
- Fixture Id's within a Store can be re-used.  Thus, a Fixture Id in use today to define a section of Gondola may be re-used next year to define a section of a Dairy Case.  Hence it is very important to use the Fixture Effective Date to know how a Fixture Id was defined at a given period in time.
- This table contains current, past, and future-dated (pending) Fixture information for a Store </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FixtureId" type="xs:integer" minOccurs="0"/>
									<xs:element name="FixtureNm" type="xs:string" minOccurs="0"/>
									<xs:element name="FixtureType" type="ns2:CodeWithDescription" minOccurs="0"/>
									<xs:element name="EffectiveStartDt" type="xs:date" minOccurs="0"/>
									<xs:element name="EffectiveEndDt" type="xs:date" minOccurs="0"/>
									<xs:element name="Coordinates" type="CoordinatesType" minOccurs="0"/>
									<xs:element name="Aisle" type="AisleType" minOccurs="0"/>
									<xs:element name="FixtureLabelTxt" type="xs:string" minOccurs="0"/>
									<xs:element name="BaseHightNbr" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="10"/>
												<xs:fractionDigits value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="BaseHightUOMCd" type="xs:string" minOccurs="0"/>
									<xs:element name="ZAxisRotateDegreeNbr" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="6"/>
												<xs:fractionDigits value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="FixturePositionNbr" type="xs:integer" minOccurs="0"/>
									<xs:element name="MerchandiseFixtureWdth" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Merchandise width of the fixture.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="11"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="BaySequenceId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>1..n  Left-most fixture that the planogram is on will be 1, incrementing up as fixtures go left to right.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="BayShelfMaxNbr" type="xs:int" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Maximum number of bays within a shelf</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FixtureSection" type="ns2:CodeWithDescription" minOccurs="0"/>
									<xs:element name="Dimensions" type="DimensionsType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CoordinatesType">
		<xs:sequence>
			<xs:element name="XCoordinateNbr" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="10"/>
						<xs:fractionDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="YCoordinateNbr" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="10"/>
						<xs:fractionDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ZCoordinateNbr" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="10"/>
						<xs:fractionDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CoordinateUOMCd" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AisleType">
		<xs:sequence>
			<xs:element name="AisleNbr" type="xs:string" minOccurs="0"/>
			<xs:element name="AisleDsc" type="xs:string" minOccurs="0"/>
			<xs:element name="AisleTypeCd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of an Aisle within the store 
Ex: Dry goods, liquor or frozen item Aisle.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AislePositionTxt" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DimensionsType">
		<xs:sequence>
			<xs:element name="Height" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="10"/>
						<xs:fractionDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Width" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="10"/>
						<xs:fractionDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Depth" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="10"/>
						<xs:fractionDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UOMCd" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductHierarchy">
		<xs:annotation>
			<xs:documentation>Contains product hierarchy information like group, class, category..etc to which a product belongs to.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProductGroup" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProductGroupCd" type="xs:integer" minOccurs="0"/>
						<xs:element name="ProductGroupNm" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ProductCategoryCd" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProductCategoryCd" type="xs:integer" minOccurs="0"/>
						<xs:element name="ProductCategoryNm" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ProductClassCd" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProductClassCd" type="xs:integer" minOccurs="0"/>
						<xs:element name="ProductClassNm" type="xs:string" minOccurs="0"/>
						<xs:element name="RetailSectionCd" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ProductSubClassLevel1" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProductSubClassLevel1Cd" type="xs:integer" minOccurs="0"/>
						<xs:element name="ProductSubClassLeve1Nm" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ProductSubClassLevel2" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProductSubClassLevel2Cd" type="xs:integer" minOccurs="0"/>
						<xs:element name="ProductSubClassLevel2Nm" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponsiblePartyType">
		<xs:annotation>
			<xs:documentation>Merchandising responsible party in the org like business unit group manager, category director and category manager.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BUGMNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Business unit group manager id/nbr.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BUGMNm" minOccurs="0"/>
			<xs:element name="CategoryDirectorNbr" minOccurs="0"/>
			<xs:element name="CategoryDirectorNm" minOccurs="0"/>
			<xs:element name="CategoryManagerNbr" minOccurs="0"/>
			<xs:element name="CategoryManagerNm" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
