Repository/CMM/Nouns/SubstituteItem.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by Patrick Oliver (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="SubstituteItem" type="SubstituteItemType">
		<xs:annotation>
			<xs:documentation>Root Element.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SubstituteItemType">
		<xs:annotation>
			<xs:documentation>Represents data related to the substitute items that can be ordered/shipped from a warehouse incase actual item is not available or in short.  holds the substitution items' information of a item in a distribution centre. Each entry in this table has a item and its substitution item. Both item codes should be in Item Corporate Descriptive (SSITMCDS) table, Item Vendor Product Line (SSITMVPL) table and Item Warehouse Descriptive (SSITMWDS) table with its distribution centre. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CorporationId" minOccurs="0"/>
			<xs:element ref="DivisionId" minOccurs="0"/>
			<xs:element ref="WarehouseId" minOccurs="0"/>
			<xs:element ref="DistributionCenterId" minOccurs="0"/>
			<xs:element ref="CorporateItemCd" minOccurs="0"/>
			<xs:element name="ItemDescription" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Substitutions" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StartDt" type="xs:date" minOccurs="0"/>
						<xs:element name="EndDt" type="xs:date" minOccurs="0"/>
						<xs:element name="SubstitutionType" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SequenceNbr" type="xs:integer" minOccurs="0"/>
						<xs:element ref="CorporateItemCd" minOccurs="0"/>
						<xs:element name="SubstitutionPercentage" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="5"/>
									<xs:fractionDigits value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SubstitutionScenario" type="CodeWithDescription" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This field indicates the substitution scenario for the US shipping substitutions. The valid values are:  P - Permanent replacement for the US shipping substitution. T - Temporary replacement for the US shipping substitution. E - Emergency substitution for the US shipping substitution. Space - for the US buying substitution, the Canada shipping substitution, and the Canada buying substitution.  The valid combinations of the US shipping substitution type and the substitution scenario indicator are: Substitution type 'Sub always' is valid as a permanent replacement or temporary replacement scenario. Substitution type 'Sub when out' is valid as a permanent replacement or Emergency substitution scenario. Substitution type 'Deal sub' is valid as a permanent replacement or temporary replacement scenario. Substitution type 'Sub also' is valid as a temporary replacement scenario</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Reason" type="CodeWithDescription" minOccurs="0"/>
						<xs:element name="ItemFileUpdateTs" type="xs:dateTime" minOccurs="0"/>
						<xs:element name="ActivatedTs" type="xs:dateTime" minOccurs="0"/>
						<xs:element name="CompletedTs" type="xs:dateTime" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
