Repository/CMM/Nouns/TransportationStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   Schema Owner: 	Safeway Inc
   Date Created:     30 August 2017
   Author:		Alex Nunes
   Description: Albertsons Shipment Business Object
   Name: /SFWY/Nouns/SwyShipment.xsd
-->
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by Alex Nunes (Albertsons) -->
<xs:schema xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--!=============================================================================================-->
	<!--!-->
	<!--!-->
	<!--!      TransportationStatus: -->
	<!--!                                     Noun that represents Albertsons transportation carrier shipment status business object.             -->
	<!--!-->
	<!--!=============================================================================================-->
	<!--7/22/2020 - Alex Nunes - Initial version.-->
		<!--7/30/2020 - Alex Nunes - Changed EmployeeId definition and TrailerOrdinalCnt annotation has been added. -->
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="TransportationStatus" type="TransportationStatusType">
		<xs:annotation>
			<xs:documentation>root</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TransportationStatusType">
		<xs:annotation>
			<xs:documentation>Albertsons transportation carrier shipment status business object.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TripHeader" type="TripHeaderType">
				<xs:annotation>
					<xs:documentation>Header data to identify details of a trip.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripStop" type="TripStopType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Stop data for a particular trip.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripOrder" type="TripOrderType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Store order details of the trip.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripResource" type="TripResourceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The type of resources utilized on for the trip.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripEvent" type="TripEventType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Events related to a trip such as dock setup.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TripHeaderType">
		<xs:annotation>
			<xs:documentation>Header information on transportation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SiteId">
				<xs:annotation>
					<xs:documentation>Site identification. This is an application specific. In case of transportation is normmally mapped to Distribution Center Id.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="DistributionCenterId" minOccurs="0"/>
			<xs:element name="TripId">
				<xs:annotation>
					<xs:documentation>Unique identification for the transportation trip.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TripCreateTs" type="DateTimeType">
				<xs:annotation>
					<xs:documentation>Time stamp of when the trip was created or when the trip was dispatched. Time zone will need to be added (enriched) derived from the SiteId (not the stop location).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique identifier generated by transportaion system for the shipment delivery route of a particular site.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TripEvent" type="CodeWithDescription">
				<xs:annotation>
					<xs:documentation>This can be trip dispatch, completion, or cancellation?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgMasterNameType" type="OrgMasterNameType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TripStopType">
		<xs:annotation>
			<xs:documentation>Trip detail information on trip transportation stops.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RouteStopId">
				<xs:annotation>
					<xs:documentation>Order of stop based on the route's store stops.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StopType" type="CodeWithDescription">
				<xs:annotation>
					<xs:documentation>The type of stop. Ex: 'DC Return', 'Store Delivery'. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Location">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="RetailStoreId" minOccurs="0"/>
						<xs:element ref="DistributionCenterId" minOccurs="0"/>
						<xs:element ref="LocationID" minOccurs="0"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="LatitudeDegree" type="xs:decimal" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the angular distance north or south from the equator of a point on the earth&apos;s surface, measured on the meridian of the point. Half of a pair of coordinates (the other being longitude).&#10;&#10;A latitude can have negative values.&#10;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LongitudeDegree" type="xs:decimal" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the angular distance east or west on the earth&apos;s surface, measured by the angle contained between the meridian of a given point and a prime meridian.  Half of a pair of coordinates (the other being latitude) assigned via a point geocoding procedure.  &#10;&#10;Unlike latitude, which has the equator as a natural starting position, there is no natural starting position for longitude&#10;&#10;Longitude can have negative values.&#10;&#10;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EstimatedArriveTs" type="DateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Planned date and time of arrival. Add the time zone based on the SiteId's TZ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EstimatedDepartureTs" type="DateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Planned date and time of departure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualArriveTs" type="DateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Actual date and time of arrival.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualDepartureTs" type="DateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Actual date and time of departure.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TripOrderType">
		<xs:annotation>
			<xs:documentation>Trip detail information on Store orders.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RouteStopId">
				<xs:annotation>
					<xs:documentation>Order of stop based on the route's store stops.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StoreOrderData" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="StoreOrderNbr" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>An Id created by the authoring system that uniquely represents a store order document.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="VolumeUOM" type="xs:string" default="" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unit of Measure for volume.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="WeightUOM" type="xs:string" default="" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unit of Measure for weight.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OrderGrossWgt" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Order Gross Weight that is being shipped.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OrderNetWgt" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Order Net Weight that is being shipped.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OrderCaseNumberUnits" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Number of case units ordered.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OrderItemQty" type="xs:decimal" default="0" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Quantity of the item that was ordered.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OrderItemWgt" type="xs:decimal" default="0" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Weight of the item that was ordered.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OrderItemVol" type="xs:decimal" default="0" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Volume of the item that was ordered.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ShipmentCaseNumberUnits" type="xs:decimal" default="0" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Number of case units shipped.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PalletTypeCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description: Code indicating the type of pallet
CodeList Summary (Total Codes: 9, Included: 3)
Code Name
4 Standard
6 Wood
7 Slip sheet</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PalletHeight" type="xs:decimal" default="0" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Nbr of layers of cases on a vendors pallet.
 Vertical dimension of an object measured when the object is in the upright
position</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PalletLayerUnits" type="xs:decimal" default="0" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Nbr of units that make up a layer on a vendors pallet.
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PalletQty" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Quantity of pallets.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TrailerOrdinalCnt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Trailer Ordinal is the count/order of trailers attached to the tractor (1 is over the king-pin, 2 or 3 will be towed pup trailers). </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:totalDigits value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TripResourceType">
		<xs:annotation>
			<xs:documentation>Trip detail information on Resources.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResourceType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of resource. Ex: Driver, Trailer, Tractor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResourceSubType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SubType of resource.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrailerOrdinalCnt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Trailer Ordinal is the count/order of trailers attached to the tractor (1 is over the king-pin, 2 or 3 will be towed pup trailers). </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EmployeeId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique identifer of employee.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResourceCd" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Resource code.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TripEventType">
		<xs:annotation>
			<xs:documentation>Trip detail information on Events.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RouteStopId">
				<xs:annotation>
					<xs:documentation>Order of stop based on the route's store stops.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EventType" type="CodeWithDescription">
				<xs:annotation>
					<xs:documentation>The type of the event. Ex: Dock Setup.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DurationUnitValue">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DurationQty">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
