Repository/CMM/Nouns/WholesaleCustomer.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2020 rel. 2 sp1 (x64) (http://www.altova.com) by Alex Nunes (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" vc:minVersion="1.1">
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<!--V1.1 - Alex Nunes - 11/18/2020 Increase the max length of AccountingReceivableCd to 12 string.-->
	<xs:element name="WholesaleCustomer">
		<xs:annotation>
			<xs:documentation>Root element. Wholesale customer: Person or firm that buys large quantity of goods from various producers or vendors, warehouses them, and resells to retailers.&#10;</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="WholesaleCustomerType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="WholesaleCustomerType">
		<xs:annotation>
			<xs:documentation>Wholesale customer: Person or firm that buys large quantity of goods from various producers or vendors, warehouses them, and resells to retailers.&#10;</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WholesaleCustomerNbr" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Unique identifier of wholesale client. Example: JBG ID (JB Gottstein Wholesale )</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="FirstEffectiveDt"/>
			<xs:element ref="LastEffectiveDt"/>
			<xs:element name="ActiveStatus" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Determines the status of the wholesale customer. "A" for Active and "I" for Inactive.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerTypeCd" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of Customer (0=Normal Customer, 2=Payer-BillTo)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerFullNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Full name of the Customer.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerFirstNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>First Name of the Customer.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerMiddleNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Middle Name of the Customer.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerLastNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Last Name of the Customer.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerSuffixNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name Suffix of the Customer.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerSalutationNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name Salutation of the Customer.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShippingInstructionDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Any instructions that are required for shipment purposes.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShippingMethodTxt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Shipping Method is a quickcode used to define specific shipping methods. For example: Ground, Express or Air. One can associate shipping methods with lead times in the inter-org shipping methods window.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CurrentBalanceAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Current Balance (Holds total amount of orders placed and unpaid. Once an order is paid, the paid amount is subtracted from this. This field is compared against the credit limit of the customer. If balance exceeds limit then the order will not be allowed. Carrs keep tabs at this attribute currently)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrderLimitAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Limit of the order.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreditLimitAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Limit of the Credit on this customer.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TerritoryDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Territory (JBG uses this field to group wholesale customer by geographic location)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FreightZoneDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Freight Zone. It tells what mode of transportation and how freight is delivered. (Truck, Thru Bypass, etc.) Depending on customer's location.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProductZoneDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>It tells the customer belongs to which product zone. Anything with a D2 in Frt code is a zone2, anything with a D3 is zone3, and RD DP and DO codes are all Zone1.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EANLocationNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A European Article Numbering (EAN) location number is an electronic address that you can use when you send an electronic invoice. This number uniquely identifies the buyer's billing address. EAN location numbers can be used in countries/regions outside Europe and are also referred to as Global Location Numbers (GLN).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MainContactNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The main contact name of the Customer.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MainEmailAddrs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Main Email Address of the Customer.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SalesRepresentativeInfo" type="SalesRepresentativeType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Sales Representative information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingCustomerId" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer number of the wholesale customer in Accounting (Lawson). Next available Customer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingReceivableCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Default accounts receivable code for this customer used for record entry.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BackOrderInd" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>1=Customer allos back orders.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditCheckInd" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Credit Check Indicator. 0=No Check. 1=Warning, allows order entry.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartialDeliveryInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>1=Customer allows partial deliveries.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDINbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The electronic data interchange (EDI) number assigned to the customer.  Used by the Lawson Order Entry system or external order processing systems.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentTermCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the type of Payment Term associated with Customer</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentTermDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the type of Payment Term</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentInstrunctionTxt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Any instructions for Payments</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PreferredPaymentMethodDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the method of payment which the customer prefers</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrderDiscountCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Define promotions (discount codes) that apply to the entire order, within any date restrictions that you define. Currently, a discount that applies to the entire order can only be a percentage discount. This discount applies to every order line in the cart, without type-specific exclusions.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerSublevelCd" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Sublevel (plural sublevels) An intermediate level during shipment.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReserveGroupNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer reserve group number.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CorporateStoreInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Corp store indicator which is used to indicate where the headquarters of that stores is located.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EDITypCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the type of the alternate EDI number</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressInfo" type="AddressType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Address info of the Customer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactInfo" type="CustomerContactType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Contact info of the Customer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DefaultOrg" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Wholesale customer may be assigned to a default Albertsons Div, Warehouse or a Store.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="CorporationId" minOccurs="0"/>
						<xs:element ref="DivisionId" minOccurs="0"/>
						<xs:element ref="RetailStoreId" minOccurs="0"/>
						<xs:element ref="WarehouseId" minOccurs="0"/>
						<xs:element ref="DistributionCenterId" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomerContactType">
		<xs:annotation>
			<xs:documentation>Customer Contacts Type.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContactId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contact Identifier. This is an uniquely identifier for Contacts related to the company.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactTypeInfo" type="ContactType" minOccurs="0"/>
			<xs:element name="EmailAddrs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Alphanumeric text of Email Address. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WebSiteDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Alphanumeric text of Web Site, in case Contact has one. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Salutation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Alphanumeric value of Salutation such as Mr, Ms, Mrs, Master, etc...</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the Contact.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="JobTitle" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The title of the job the Contact currently has.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartmentNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Department in which the Contact works or represents.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkTelephoneNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Business phone number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MobileTelephoneNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Cell_Mobile_Phone_Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacsimileNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fax Number of the Contact.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherContactDetailTxt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Other details about the Contact.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactType">
		<xs:annotation>
			<xs:documentation>Whenever an address is linked to a contact, it is necessary to specify a Contact Type. This allows for multiple addresses to be held. This reference data will be initially populated in PDS.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContactTypeCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Alphanumeric code for different types of Contacts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactTypeDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of Contact Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SalesRepresentativeType">
		<xs:annotation>
			<xs:documentation>Sales Representative Type.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SalesRepresentativeNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of the Sales Representative.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SalesRepresentativeNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Full name of the Sales Representative.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommissionRt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Commission Rate for the sales representative.  </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
						<xs:fractionDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
