Repository/CMM/Nouns/WorkloadForecast.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) by Sai Nuthakki (Safeway, Inc.) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="WorkloadForecast" type="WorkloadForecastType">
		<xs:annotation>
			<xs:documentation>Root Element.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="WorkloadForecastType">
		<xs:annotation>
			<xs:documentation>Represents data related to the workload forecast in a store facility by job codes and quarterly hour period.</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="CorporationId" minOccurs="0"/>
			<xs:element ref="DivisionId" minOccurs="0"/>
			<xs:element name="FacilityType" type="xs:string" default="" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of the facility like, DC,  warehouse, Retail Store, Office building, manufacturing plant..etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacilityID" type="xs:string" default="" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A four character code that is used with corporation
 and division to uniquely identify a facility. A facility may "belong" to
 only one corporation and one division. A building may house one or more
facilities. There are two categories for facilities:
 1) Operating facility
 - actively supports the business of the Company
 - is a distinct business operation within a building
  - examples: office, processing plant, retail store, truck service
 shop, or warehouse building  (A warehouse facility includes all warehouse departments that exist within a single building.)
 - each type of division/business has a different set of possible types of operating facilities: i.e.,
 - Retail: retail outlets and offices.
- Wholesale: warehouse facilities, truck service shop, and offices.
- Processing/Manufacturing: processing plants and offices.
 2) Non-operating Facility                                                     
 - not currently being operated by the Company.
 - facilities </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacilityNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the facility. ex Tracy DC or Safeway store in Bollinger Canyon San Ramon</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FacilitySubTypeCd" type="xs:integer" nillable="true" minOccurs="0"/>
			<xs:element name="AltFacilityId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Alternate facility identifier, generally store nbr in char format.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ForecastDt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Workload forecast date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForecastTypeCd" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Manager forecast (0) or system forecast (1).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobCd" minOccurs="0"/>
			<xs:element name="JobTitleNm" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ex: Courtesy Clerk, Checker</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkLoadData" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Workload forecasted for a facility.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TotalHrs" minOccurs="0">
							<xs:annotation>
								<xs:documentation>total forecasted hours for the job for the day in a facility.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="5"/>
									<xs:fractionDigits value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="QuarterHourCnt" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Sequence count of the quarter hour in a day.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="QuarterHourData" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>labor forecast/requirement in fifteen minutes increaments stored in seconds.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="QuarterHourStartTm" type="xs:time" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Quarter hr starting time.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="HoursNbr" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Number of hours scheduled in that quarter hour period. (number of persons *number of quarter hours)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="5"/>
									<xs:fractionDigits value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="HeadCnt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Total number of people scheduled/actual in this particular quarter hour working as per a particular job code in a facility.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="5"/>
									<xs:fractionDigits value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
