Repository/CMM/backup/Nouns/WarehouseWorkTime.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) by Sai Nuthakki (Safeway, Inc.) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:complexType name="AssignmentType">
		<xs:annotation>
			<xs:documentation>Defines the work assignment for a warehouse task like shipping, replenishment or putaway.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AssignmentId" type="xs:integer" minOccurs="0"/>
			<xs:element name="AssignmentNm" type="xs:string" minOccurs="0"/>
			<xs:element name="AssignmentType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Assignment type within a task. Shipment is hte task and selection is assignment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssignmentPriority" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Priority of the assignment. 1=High and 9=Low</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssignmentStatus" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CodeWithDescription"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AbandonedInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Assignment abandoned indicator (Yes/No)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AbandonedWorkUnitId" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Work unit ID of abandoned
assignment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SplitAssignmentId" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Split (re-assigned) assignment
number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssignedDtTm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time assignment was assigned to an
associate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDtTm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Assignment work Start timestamp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDtTm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Assignment work End Timestamp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandardType" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="TaskDurationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Time taken for various kinds of activities in a warehouse task.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="TaskDurationType">
							<xs:attribute ref="UOMCd"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Shipmentmethod" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="Equipment" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Details of the equipment used for the assignment. ex: Fork lift</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EquipmentType" type="CodeWithDescription" minOccurs="0"/>
						<xs:element name="EquipmentId" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Equipment Unit ID number/code</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EquipmentClass" type="CodeWithDescription" minOccurs="0"/>
						<xs:element name="EquipmentCategory" type="CodeWithDescription" minOccurs="0"/>
						<xs:element name="EquipmentReadyTm" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Time associate is allowed to retrieve
equipment and return after use</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:duration">
										<xs:attribute ref="UOMCd"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AssignmentToStartTm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time taken to start an assignment</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:duration">
							<xs:attribute ref="UOMCd"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AssignmentToEndTm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time taken to end an assignment.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:duration">
							<xs:attribute ref="UOMCd"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="TotalTravelDistance" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attribute name="UOMCd" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReportGroup" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="ReportDtTm" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="BatchPickInd" type="xs:string" minOccurs="0"/>
			<xs:element name="InventoryReductionNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Current inventory reduction number</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccumulatedWt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total accumlated wt of all selected items.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProductWt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Assignment product wt</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DualAssignmentInd" type="xs:string" minOccurs="0"/>
			<xs:element name="LastTripNbr" type="xs:integer" minOccurs="0"/>
			<xs:element name="LastLocation" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="SectionType" type="SectionDataType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="WarehousePointType" type="WarehouseLocationPointType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AssignmentAuditData" type="RecordAuditData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemDataType">
		<xs:annotation>
			<xs:documentation>Defines item related data within a work assignment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ItemId" type="xs:string" minOccurs="0"/>
			<xs:element name="ItemDetailId" type="xs:integer" minOccurs="0"/>
			<xs:element name="UPCId" type="UPC" minOccurs="0"/>
			<xs:element name="UniversalCaseNbr" type="xs:string" minOccurs="0"/>
			<xs:element name="CommodityType" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="CaseUnitNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Individual product units per shipping case</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemExpiryDt" type="DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code date of product</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemDsc" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Item Description</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LocationCoordinates">
		<xs:annotation>
			<xs:documentation>Coordinates of a location point in a warehouse.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CoordinateTypeNm" type="xs:string" minOccurs="0"/>
			<xs:element name="XCoordinate" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="8"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="YCoordinate" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="8"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ZCoordinate" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="8"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PalletHI" type="xs:integer" nillable="true">
		<xs:annotation>
			<xs:documentation>Number of layers of inventory units (cases) on a pallet.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PalletTI" type="xs:integer" nillable="true">
		<xs:annotation>
			<xs:documentation>Number of inventory units (cases) that make up a layer on a pallet.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PalletDataType">
		<xs:annotation>
			<xs:documentation>Defines pallet related attributes in a work unit.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PalletTypeNm" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Selection, return, residual..etc</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LicensePlateId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PalletNbr" type="xs:string" minOccurs="0"/>
			<xs:element name="RotatePalletInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>to indicate if pallet is to be rotated when inserted in the location</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PalletCategory" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Category of the pallet
(R=Reserve, S=Selection</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PalletHI" minOccurs="0"/>
			<xs:element ref="PalletTI" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PriorityType">
		<xs:annotation>
			<xs:documentation>various types of priorities in selection activity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PriorityTypeNm" minOccurs="0"/>
			<xs:element name="Priority" type="CodeWithDescription" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SectionDataType">
		<xs:annotation>
			<xs:documentation>Defines data for various warehouse sections involved in a work unit like from section, to section, residual section etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SectionTypeNm" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of the section refered in this segment, ex from section, To section, Residual section, Replenishment section..etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Section" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Warehouse From Aisle section range</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaskDurationType">
		<xs:annotation>
			<xs:documentation>Time taken for various kinds of activities in a warehouse task.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TaskNm" type="xs:string" minOccurs="0"/>
			<xs:element name="TimeTaken" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="3"/>
						<xs:totalDigits value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TimeUOM" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time unit used to measure Task duration. ex minutes, seconds, hours</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WarehouseEmployeeType">
		<xs:annotation>
			<xs:documentation>Defines warehouse employee assigned to an assignment in a warehouse task.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EmployeeId" type="xs:integer" minOccurs="0"/>
			<xs:element name="EmployeeAssociateId" type="xs:integer" minOccurs="0"/>
			<xs:element name="EmployeeAssociateIdTxt" type="xs:string" minOccurs="0"/>
			<xs:element name="EmployeeNm" type="PersonNameType" minOccurs="0"/>
			<xs:element ref="HireDt" minOccurs="0"/>
			<xs:element name="SeniorityCd" type="xs:integer" minOccurs="0"/>
			<xs:element name="AssociateType" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="AssociateStatus" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="SupervisorInd" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WarehouseLocationPointType">
		<xs:annotation>
			<xs:documentation>Various location point and point description data in a warehouse. Ex From DCPT, To DCPT,Residual DCPT. Shipping DCPT, Abandoned DCPT.etc It contains both DCPT and DCPD data referred in legacy system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LocationPointNm" type="xs:string" minOccurs="0"/>
			<xs:element name="LocationPoint" type="WarehousePoint" minOccurs="0">
				<xs:annotation>
					<xs:documentation> DCPT</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocationPointDescription" type="WarehousePointDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DCPD</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WarehouseNonSelectionWorkTimeType">
		<xs:annotation>
			<xs:documentation>Represents data related to the workl time in a warehouse for all non-selection tasks like replenishment, putaway or any other activites.</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="Abs:CorporationId" minOccurs="0"/>
			<xs:element ref="Abs:DivisionId" minOccurs="0"/>
			<xs:element ref="Abs:DistributionCenterId" minOccurs="0"/>
			<xs:element ref="Abs:WarehouseId" minOccurs="0"/>
			<xs:element name="WarehouseAltId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Alternate identifier for a warehouse like old warehouse id.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DistributionCenterAltId" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Alternate identifier for a DC like old DC id.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NonSelectionWorkTimeData" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Work time related to the non-selection activity with in an assignment in warehouse tasks.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Assignment" type="AssignmentType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Warehouse work assignment like customer order pick in a shipment task.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="WarehouseEmployee" type="WarehouseEmployeeType" minOccurs="0"/>
						<xs:element name="ItemNonSelection" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Selection of order items from warehouse locations to complete the shipment.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="WorkUnitId" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Non selection activity work unit Identifier.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="WorkUnitStatus" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="OrderId" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Customer order or store order that has information about the items needed form the warehouse and dleivery schedules.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="OrderDetailId" type="xs:integer" minOccurs="0"/>
									<xs:element name="SegmentId" type="xs:integer" minOccurs="0"/>
									<xs:element name="OrderType" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Customer order type.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CustomerId" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Customer receiving the shipment, generally for a warehouse retail store which places store orders is the customer.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CustomerNm" type="xs:string" minOccurs="0"/>
									<xs:element name="CustomerAltId" type="xs:string" minOccurs="0"/>
									<xs:element name="JobData" minOccurs="0">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="JobDataType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="ItemData" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ItemId" type="xs:string" minOccurs="0"/>
												<xs:element name="ItemDetailId" type="xs:integer" minOccurs="0"/>
												<xs:element name="UPCId" type="UPC" minOccurs="0"/>
												<xs:element name="UniversalCaseNbr" type="xs:string" minOccurs="0"/>
												<xs:element name="CommodityType" type="CodeWithDescription" minOccurs="0"/>
												<xs:element name="CaseUnitNbr" type="xs:integer" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Individual product units per shipping case</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ItemExpiryDt" type="DateType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Code date of product</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PalletData" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="PalletTypeNm" type="xs:string" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Selection, return, residual..etc</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="LicensePlateId" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="18"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="PalletNbr" type="xs:string" minOccurs="0"/>
												<xs:element name="RotatePalletInd" type="xs:string" minOccurs="0">
													<xs:annotation>
														<xs:documentation>to indicate if pallet is to be rotated when inserted in the location</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="WorkUnitStartTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Date and time work began</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="WorkUnitEndTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Scan time when selector completes
work unit</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Location" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Type of warehouse location for non selection actiivty. ex from location, to location, return location, replenishment location..etc</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="LocationTypeNm" type="xs:string" minOccurs="0"/>
												<xs:element name="LocationCd" type="CodeWithDescription" minOccurs="0"/>
												<xs:element name="LocationId" type="xs:integer" minOccurs="0"/>
												<xs:element name="LocationSeqId" type="xs:int" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="LocationCoordinateType" type="LocationCoordinates" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Coordinates of various kinds of locations. Ex From loc, To loc, Residue loc</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PutAwayType" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="ReplenishmentType" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="ReplenishmentMethod" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Type of replenishment</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ReplenishmentQty" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Amount of product expended in replenishment</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ReturnQty" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Amount to be returned to ‘from’ location after a replenishment is performed</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ItemQty" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="PalletQty" type="xs:int" minOccurs="0"/>
									<xs:element name="ItemCatchWt" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ReplenishmentCaseQty" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Used for case selection locations specifying the number of cases for
replenishment.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="InventoryReductionNbr" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Current Inventory reduction number.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ForkLiftUsedInd" type="xs:string" minOccurs="0"/>
									<xs:element name="SectionData" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Data related to various sectons like ex from section, To section, Residual section, Replenishment section, Pallet origin section..etc. referred in non-selection activity.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SectionTypeNm" type="xs:string" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Type of the section refered in this segment, ex from section, To section, Residual section, Replenishment section..etc.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Section" type="CodeWithDescription" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Warehouse From Aisle section range</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="WarehouseLocationPoint" type="WarehouseLocationPointType" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Various location point and point description data in a warehouse. Ex From DCPT, To DCPT,Residual DCPT. Shipping DCPT, Abandoned DCPT.etc It contains both DCPT and DCPD data referred in legacy system.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="HazardousInd" type="xs:string" minOccurs="0"/>
									<xs:element name="HazardousClass" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="RequestedDeliveryTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Delivery requested time in store order.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="BulkSelectionLimit" type="xs:integer" minOccurs="0"/>
									<xs:element name="MultiPickInd" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>indicate if this work unit is
part of a multi-pick assignment</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="WorkUnitAbandoned" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Realtime work abandonment code</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Route" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Item Selection route</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RouteStopSeqNbr" type="xs:int" minOccurs="0"/>
									<xs:element name="BatchId" type="xs:integer" minOccurs="0"/>
									<xs:element name="BatchSeqNbr" type="xs:int" minOccurs="0"/>
									<xs:element name="PickGroupId" type="xs:integer" minOccurs="0"/>
									<xs:element name="InvoiceNbr" type="xs:integer" minOccurs="0"/>
									<xs:element name="LotNbr" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Lot number to identify specific product lots</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CubeSplitInd" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>to indicate last detail in cube</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="WorkUnitSkippedInd" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>to indicate that a work unit has been skipped</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="WorkUnitSkippedTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Time stamp of work unit if skips are allowed</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="WorkUnitSkipCnt" type="xs:int" minOccurs="0"/>
									<xs:element name="OriginSkipWorkUnitId" type="xs:integer" minOccurs="0"/>
									<xs:element name="SelectorOutQty" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="AccumulatedWt" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="AccumulatedVol" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TaskTm" type="TaskDurationType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>ex level time, standard time, Fatigue, Delay, walk time..etc</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DelayReason" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="AppointmentId" type="xs:integer" minOccurs="0"/>
									<xs:element name="ReceipientId" type="xs:integer" minOccurs="0"/>
									<xs:element name="PurchaseOrderNbr" type="xs:string" minOccurs="0"/>
									<xs:element name="PurchaseOrderLineNbr" type="xs:int" minOccurs="0"/>
									<xs:element name="TripNbr" type="xs:integer" minOccurs="0"/>
									<xs:element name="TripSeqNbr" type="xs:integer" minOccurs="0"/>
									<xs:element name="VerificationMethod" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ToLocation" type="CodeWithDescription" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Verification method of to location</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="FromLocation" type="CodeWithDescription" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Verification method of from location</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ResidueLocation" type="CodeWithDescription" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Verification method of residual location</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="NextWorkUnitId" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Next cherry-pick replenishment to be done</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StockWorkUnitId" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Corresponding stocker replenishment for each cherry-pick</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MultiMoveInd" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Multiple move type (i.e. abandoned, location full)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PriorityType" type="PriorityType" minOccurs="0"/>
									<xs:element name="ReSeqInd" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>to indicate that work unit has been re-sequenced (i.e. the current
sequence)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FlowThruType" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="FlowThruId" type="xs:integer" minOccurs="0"/>
									<xs:element name="FlowThruSeqNbr" type="xs:integer" minOccurs="0"/>
									<xs:element name="NonSelectionAuditData" type="RecordAuditData" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WarehousePoint">
		<xs:annotation>
			<xs:documentation>Identification of a particular location in warehouse through coordinates. Also known as DCPT in legacy systems.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WarehousePoint" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identification of a particular location in warehouse through coordinates. Also known as DCPT in legacy systems.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocationCoordinate" type="LocationCoordinates" minOccurs="0"/>
			<xs:element name="ShortDsc" type="xs:string" minOccurs="0"/>
			<xs:element name="LevelInd" type="xs:integer" minOccurs="0"/>
			<xs:element name="MaxSelectionTm" type="xs:duration" minOccurs="0"/>
			<xs:element name="MaxReplenishmentTm" type="xs:duration" minOccurs="0"/>
			<xs:element name="MaxPutawayTm" type="xs:duration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WarehousePointDescription">
		<xs:annotation>
			<xs:documentation>description of a location in a warehouse. also known as DCPD in legacy systems</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PointDescription" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>description of a location in a warehouse. also known as DCPD in legacy systems</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserValue" type="xs:string" minOccurs="0"/>
			<xs:element name="ShortDsc" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Short description for warehouse point (DCPD)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="WarehouseSelectionWorkTime" type="WarehouseSelectionWorkTimeType">
		<xs:annotation>
			<xs:documentation>Root Element.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="WarehouseSelectionWorkTimeType">
		<xs:annotation>
			<xs:documentation>Represents data related to the workl time in a warehouse shipment selection task by customer order, assignments and associate.</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="Abs:CorporationId" minOccurs="0"/>
			<xs:element ref="Abs:DivisionId" minOccurs="0"/>
			<xs:element ref="Abs:DistributionCenterId" minOccurs="0"/>
			<xs:element ref="Abs:WarehouseId" minOccurs="0"/>
			<xs:element name="WarehouseAltId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Alternate identifier for a warehouse like old warehouse id.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DistributionCenterAltId" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Alternate identifier for a DC like old DC id.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SelectionWorkTimeData" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Work time related to the selection activity with in an assignment in a warehouse shipment task.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Assignment" type="AssignmentType" minOccurs="0"/>
						<xs:element name="WarehouseEmplyee" type="WarehouseEmployeeType" minOccurs="0"/>
						<xs:element name="ItemSelection" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Selection of order items from warehouse locations to complete the shipment.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="WorkUnitId" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Seelction activity work unit Identiifer.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="WorkUnitStatus" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="OrderId" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Customer order or store order that has information about the items needed form the warehouse and dleivery schedules.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="OrderDetailId" type="xs:integer" minOccurs="0"/>
									<xs:element name="SegmentId" type="xs:integer" minOccurs="0"/>
									<xs:element name="OrderType" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Customer order type.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CustomerId" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Customer receiving the shipment, generally for a warehouse retail store which places store orders is the customer.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CustomerNm" type="xs:string" minOccurs="0"/>
									<xs:element name="CustomerAltId" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Alternate id for customer</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SelectionType" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Selection type ID (HS=Hand Select,
PS=Pallet Select)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="JobData" type="JobDataType" minOccurs="0"/>
									<xs:element name="ItemData" type="ItemDataType" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="CaseId" type="xs:integer" minOccurs="0"/>
									<xs:element name="ItemQty" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ItemWt" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Product weight in Pounds</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ItemVol" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Product volume in cubic inches</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ItemSize" type="xs:string" minOccurs="0"/>
									<xs:element name="PalletData" type="PalletDataType" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="SelectionStartTs" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="SelectionEndTs" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="OrderQty" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ActualPickQty" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="InventoryReductionNbr" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Current Inventory reduction number.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SelectionLocationId" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="SelectionLocation" type="LocationCoordinates" minOccurs="0"/>
									<xs:element name="SelectionLocationSeq" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>identiifes location sequence within a selection process.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SubstitutionType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Substituted item type.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="CodeWithDescription">
													<xs:sequence>
														<xs:element name="SubstitutionItem" type="xs:string" minOccurs="0"/>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="SectionData" type="SectionDataType" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Warehouse section</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="HazardousInd" type="xs:string" minOccurs="0"/>
									<xs:element name="HazardousClass" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="RequestedDeliveryTs" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Delivery requested time in store order.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="BulkSelectionLimit" type="xs:integer" minOccurs="0"/>
									<xs:element name="MultiPickInd" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>indicate if this work unit is
part of a multi-pick assignment</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="WarehouseLocationPoint" type="WarehouseLocationPointType" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Various location points like stage, shipping, Door DCPT/DCPD ids.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="WaveId" type="xs:int" minOccurs="0"/>
									<xs:element name="FlowThruWorkUnitInd" type="xs:string" minOccurs="0"/>
									<xs:element name="FlowThruType" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="FlowThruId" type="xs:integer" minOccurs="0"/>
									<xs:element name="FlowThruSeqNbr" type="xs:integer" minOccurs="0"/>
									<xs:element name="Route" type="CodeWithDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Item Selection route</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RouteStopSeqNbr" type="xs:int" minOccurs="0"/>
									<xs:element name="BatchId" type="xs:integer" minOccurs="0"/>
									<xs:element name="BatchSeqNbr" type="xs:int" minOccurs="0"/>
									<xs:element name="PickGroupId" type="xs:integer" minOccurs="0"/>
									<xs:element name="InvoiceNbr" type="xs:integer" minOccurs="0"/>
									<xs:element name="LotNbr" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Lot number to identify specific product lots</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CubeSplitInd" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>to indicate last detail in cube</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PriorityType" type="PriorityType" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Various types of Priorities in selection</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ProductCd" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="DeliveryCd" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="ShippingMethod" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="SelectorOutQty" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="AccumulatedWt" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="AccumulatedVol" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SelectionAuditData" type="RecordAuditData" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JobDataType">
		<xs:annotation>
			<xs:documentation>Defines warehouse job codes and functions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="JobCd" type="xs:integer" minOccurs="0"/>
			<xs:element name="JobDsc" type="xs:string" minOccurs="0"/>
			<xs:element name="JobShortDsc" type="xs:string" minOccurs="0"/>
			<xs:element name="JobCategory" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="JobClassification" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="JobFunction" type="CodeWithDescription" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
