Repository/CMM/3rdPartyCMM/HrmsBase/deposit_sync.xsd

<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by Ashutosh Rana (TCS) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://collab.safeway.com/it/architecture/info/depositSync" targetNamespace="http://collab.safeway.com/it/architecture/info/depositSync" elementFormDefault="qualified">
	<xsd:element name="S_DEPOSIT_SYNC_RES" type="S_DEPOSIT_SYNC_REStype"/>
	<xsd:complexType name="S_DEPOSIT_SYNC_REStype">
		<xsd:sequence>
			<xsd:element name="DEPOSIT" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DIRECT_DEPOSIT" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="EMPLID" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes EmployeeID</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EFFDT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the effective date</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EFF_STATUS" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the effective date status</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SUPPR_DDP_ADVICE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Suppress the direct deposit flag</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="DIR_DEP_DISTRIB" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="EMPLID" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the EmployeeID</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EFFDT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the Effective date</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PRIORITY" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the Priority code of Direct deposit</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ACCOUNT_NUM" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the account number for DDP</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ACCOUNT_TYPE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes account type for DDP</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="COUNTRY_CD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the country code</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="IAT_IND" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes International ACH Transactions indicator</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="BANK_CD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes Bank code</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="BRANCH_EC_CD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes Branch code</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="DEPOSIT_AMT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes deposit amount</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="AMOUNT_PCT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes Amount Percentage of DDT</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PRENOTE_STATUS" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Denotes the status of prenote</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PRENOTE_DATE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Denotes the date of Prenote</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PRENOTE_REQD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Denotes if Prenote is required.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LAST_ACTION" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Denotes the last action taken on DDT</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LAST_UPDATE_DATE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the date of last update to the record</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="DEPOSIT_TYPE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the deposit type. Amount,Percent and balance are 3 options.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="CC_CARD_DATA_EX" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="EMPLID" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes employeeID</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CREDIT_CARD_VENDOR" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Denotes the vendor name of Credit card</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CRDMEM_ACCT_NBR" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes account number of credit card member</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CR_CARD_DIGITS" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the credit card digits</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CURRENCY_CD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the currency code of the card</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EXPIRATION_DT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the xpiration date of card</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LIMIT_AMOUNT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes limit amount of the card</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LIMIT_TRANS_AMT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the limit amount per transaction</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="DT_ISSUED_TO_EMPL" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the date when card was issued</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="BILL_TO" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the Billng individual of the card.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CC_CARD_TYPE" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the type of the card</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CC_CARD_FUNCTION" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes the function of the card</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="BUSINESS_UNIT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>This field denotes Busniess unit of the card</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SYNCID" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Denotes the card sync id</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SYNCDTTM" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Denotes the date and time of sync</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CC_VENDOR_CARD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Denotes the Vendor card</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CC_SECURITY_ID" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Denotes the card security id</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CC_STATUS_DT" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Denotes the status date of card</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CC_ACCT_STATUS" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Denotes the Card account status.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
