Repository/CMM/3rdPartyCMM/HrmsBase/Tax_profile.xsd

<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by Ashutosh Rana (TCS) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://collab.safeway.com/it/architecture/info/taxProfile" targetNamespace="http://collab.safeway.com/it/architecture/info/taxProfile" elementFormDefault="qualified">
	<xsd:element name="S_TAXPROFILE_RES" type="S_TAXPROFILE_REStype"/>
	<xsd:complexType name="S_TAXPROFILE_REStype">
		<xsd:sequence>
			<xsd:element name="FED_TAX_DATA" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EMPLID" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the EMployee Identification Number</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="COMPANY" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the name of the company</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EFFDT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Effective date</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SPECIAL_FWT_STATUS" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This denotes the Special federal withholding tax</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FWT_MAR_STATUS" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Federal Withholding Tax marital status</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FWT_ALLOWANCES" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Federal Withholding Tax Allownaces</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FWT_ADDL_AMT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Federal Withholding Tax Additional amount</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FWT_ADDL_PCT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the FWT Additional Percentage</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FUT_EXEMPT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Federal Unemployment tax</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EIC_STATUS" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Earned Income Credit Status</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="STATUTORY_EE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Statutory Employee</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DECEASED" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the deceased employee</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PENSION_PLAN" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Pension Plan of the Employee</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LEGAL_REP" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Legal Representative</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DEFERRED_COMP" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Deferred Compensation</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="USE_TOTAL_WAGE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Use Total Wage for Multi State</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LAST_ACTION" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Last Action performed </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="W4_PRCSS" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the W4 Process Flag</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="W5_PRCSS" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the W5 Process Flag</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LOCK_IN_RECVD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Lock in Received </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LOCK_IN_LIMIT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Lock in Limit </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LAST_UPDATE_DATE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Last updated date </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DATE_OF_ENTRY" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the date of entry </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="COUNTRY" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the country</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FORM_1001_RECD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Form 1 Received</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FORM_1001_SUBMT_DT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Form 1001 submission Date</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FORM_1001_EXP_DT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Form 1001 Expiration Date</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FORM_8233_RECD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Form 8233 Received</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FORM_8233_SUBMT_DT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Form 8233 Submission Date</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FORM_8233_EXP_DT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Form 8233 Expiration Date</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TAXPAYER_ID_NO" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Taxpayer Id number </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TREATY_EXP_DT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Treaty Expiration Date </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TREATY_ID" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Treaty Id number</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FORM_1078_RECD" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Form 1078 Received</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FORM_1078_SUBMT_DT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Form 1078 Submision Date </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="THIRDPARTY_SICKPAY" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Thirdparty Sickpay details</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="W4_NAME_CHECK" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the W4 Name check </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PY_FLAG_FOR_IRS" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the W4 flagged for transmission</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PY_FLAG_FOR_IRS_DT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Flagged for IRS On </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CREATION_DT" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Creation date </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="MARRIED_FILE_SINGL" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Married File Single</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="NRA_EXEMPT_WHRULE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the NRA Withholding Rule</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="NQDC_W2_RPTG" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>This field denotes the Always create W2 for RPTG.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:sequence maxOccurs="unbounded">
							<xsd:element name="STATE_TAX_DATA" type="STATE_TAX_DATAtype" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence maxOccurs="unbounded">
							<xsd:element name="LOCAL_TAX_DATA" type="LOCAL_TAX_DATAtype" minOccurs="0"/>
						</xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LOCAL_TAX_DATAtype">
		<xsd:sequence>
			<xsd:element name="EMPLID" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This field denotes the Employee Identification Number</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="COMPANY" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This field denotes the Company </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EFFDT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This field denotes the Effective date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="STATE" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This field denotes the State</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LOCALITY" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This field denotes the locality code</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RESIDENT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This filed denotes the flag if Tax holder is resident</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PY_IND_PRI_COUNTY" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This field denotes the Indicator for primary county</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LWT_ALLOWANCES" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Local Withholding Tax Allowances</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LWT_AMT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Local withholding Tax Amount</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LWT_PCT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Local withholding Tax Percentage</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LOCALITY_LINK" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Flag with Locality Link</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SPECIAL_LWT_STATUS" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Special Local Withholding tax status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LWT_MAR_STATUS" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Local withholding tax marital status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CREATION_DT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This field denotes the creation date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="STATE_TAX_DATAtype">
		<xsd:sequence>
			<xsd:element name="EMPLID" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This field denotes the EMployee Identification Number</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="COMPANY" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This Field Denotes the company</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EFFDT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This field denotes the Effective date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="STATE" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Thsi field denotes the State</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RESIDENT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This Feild denotes the resident state of employee</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NON_RES_DECLARED" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Flag for Non resident declaration</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SPECIAL_SWT_STATUS" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Special State Withholding status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SWT_MAR_STATUS" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>State withholding marital status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SWT_ALLOWANCES" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>State withholding tax Allowances</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SWT_ADDL_ALLOWNCES" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>State withholding tax Additiopnal aloowances</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WAGE_PLAN_CD" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Code of wage plan</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ANNL_EXEMPTION_AMT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Annual Exemption amount</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PERCENT_OF_FWT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Percent of State Withholding tax</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SWT_ADDL_AMT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>State withholding tax additional amount</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SWT_ADDL_PCT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>State withholding tax additional percentage</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SDI_STATUS" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>State disability insurance Status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SUT_EXEMPT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Flag - State unemployment tax exempt</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UI_JURISDICTION" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Check box for state of jurisdiction</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ADDL_AMT_ADJ" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional amount adjust</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WT4A_FILED" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Denotes if WT4A is filed or not</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LOCK_IN_RECVD" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Denotes the amount of Lock in Recieved</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LOCK_IN_LIMIT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Denotes the lock in limit</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RETIREMENT_PLAN" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Denotes the retirement plan code</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EIC_STATUS_ST" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This field denotes the Earned Income Credit Status of State</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HLTH_COV_IND" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indicator if health cover is available by State or not</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CREATION_DT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Denotes the creation date of record</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PNA_FLI_STATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RES_ADDL_ALLOW" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additonal allowance of resident state</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
