AppBuild/CMM/Nouns/CorporateItemMaster.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   Schema Owner: 	Safeway Inc
   Date Created:      11 Jan 2017
   Author:		Sai Nuthakki
   Dsc: contains commonly used Albertson's Purchase order schema.
   Name: /ABS_CMM_Platform/Nouns/StoreOrder.xsd
-->
<!-- edited with XMLSpy v2021 rel. 3 (x64) (http://www.altova.com) by Devesh (Albertsons) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<!--V1.0 Devesh Kandpal 9/27/21 -  ES-4263 - Draft Version-->
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="CorporateItemMaster" type="CorporateItemMasterType">
		<xs:annotation>
			<xs:documentation>represents item defined at corporate level and attributes maintained at the corporate level. All the items in the supplychain system have to defined at corporate level and then information will proporate to downstream systems at warehouse/rog level</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CorporateItemMasterType">
		<xs:annotation>
			<xs:documentation>Items authorized to receive from a supplier in a store facility for sale or expense or as a raw material. Suppliers are not allowed to ship the items to facility unless it is pre authorized. Authorizations determne exactly which items from the supplier product line are authorized to deliver for which stores. item sale period may extend beyond receiving authorization period.  This BOD is mainly for DSD items.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CorporationId"/>
			<xs:element ref="CorporateItemCd"/>
			<xs:element name="ItemId" type="ItemId" minOccurs="0"/>
			<xs:element name="SMIC" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains Safeway Merchandising Item Classification(SMIC) data.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SMICGroupCd" type="xs:short" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The unique Id of a SMIC category, derived from Group Cd + Category Cd + Class Cd + Sub Class Cd + Sub Sub Class Cd. Group Cd is the first level in the SMIC classification for the Smatch system. It must exist on MEPRDCLF where the Category, Class, Sub Class, and Sub-Sub Class are zero. SMIC = Safeway Merchandising Item Cd.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SMICCategoryCd" type="xs:short" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The unique Id of a SMIC category derived from Group Cd + Category Cd + Class Cd + Sub Class Cd + Sub Sub Class Cd. Category Cd is the second level in the SMIC classification for the Smatch system. SMIC = Safeway Merchandising Item Cd.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SMICClassCd" type="xs:short" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The unique Id of a SMIC category derived from Group Cd + Category Cd + Class Cd + Sub Class Cd + Sub Sub Class Cd. Class Cd is the third level in the SMIC classification for the Smatch system. SMIC = Safeway Merchandising Item Cd.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SMICSubClassCd" type="xs:short" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The unique Id of a SMIC category, derived from Group Cd + Category Cd + Class Cd + Sub Class Cd + Sub Sub Class Cd. Sub Class Cd is the fourth level in the SMIC classification for the Smatch system. SMIC = Safeway Merchandising Item Cd.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SMICSub-SubClassCd" type="xs:short" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The unique Id of a SMIC category, derived from Group Cd + Category Cd + Class Cd + Sub Class Cd + Sub Sub Class Cd. Sub Sub Class Cd is the fifth level in the SMIC classification for the Smatch system. SMIC = Safeway Merchandising Item Cd.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ProductionGroupHierarchy" type="ProductHierarchy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Product hierearchy defined for manufacturing/production.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorpItemReference" type="CorpItemReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>CIC and UPC reference at Corporate level.
from SSITMXRF</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommonGroup" type="CommonGroupType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains various types of common groups to which an item belongs to.
Thease common Cds are used for different purposes like Promotions, Pricing or Costing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorpItemStatus" type="CorpItemStatusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The status of the item as it applies to the corporation.
V Valid item
D discontinued item
N New item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemDsc" type="ItemDscType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>contains various types of item descriptions used as per the context.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vendor" type="ItemVendor" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Vendors defined at the corp level for corporate items</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShelfUnitDimensions" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains Retail Shelf Item measurements stored at corporate level.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ShelfUnitSizeDsc" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The generic size of goods. It may be actual size Example: 340 g or a unit type (packet). For SSITMSGNTABLE - Common Sign Size, the size Dsc associated with the Common Sign Cd for the Common Retail Cd.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SizeQty" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The size of the product as a numeric quantity that can be used in in calculations as compared to SIZE-DESC, which is a descriptive size for printing.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="9"/>
									<xs:fractionDigits value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SizeUOMCd" nillable="false" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AlternateSizeInd" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Specifies that an alternate size may be substituted.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AlternateSizeDsc" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This column allows user to specify an alternate size Dsc for an item on a purchase order.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ItemHeight" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The height of the actual shelf item.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="5"/>
									<xs:fractionDigits value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ItemDepth" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The depth of the actual shelf item.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="5"/>
									<xs:fractionDigits value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ItemWidth" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The width of the actual shelf item.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="5"/>
									<xs:fractionDigits value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ItemPackUOMCd" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>UOM for shelf item pack measuremenmts.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ItemWt" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="9"/>
									<xs:fractionDigits value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ItemWtUOM" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="InnerPackQty" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The Nbr of non-decomposable units in the selling unit.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="4"/>
									<xs:fractionDigits value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ShelfPackageCd" type="xs:short" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>type of shelf package in which an item is sold (box, can, bottle, etc.). This is also used to show the type of material of which a container is made (glass, plastic, aluminum, etc.).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ShelfPackageDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>gives description of how many retail shelf units in a warehouse pack.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ShipUnitDimensions" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains details of the shipping unit shipped from Warehouse to Retail store or Vendor to Retail Store.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ShipUnitPackTypeCd" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>A 3-character Cd that identifies the pack type in which an Item is received/ shipped from the Warehouse or Vendor to a Store.  Example: SHP, PLT, CTN, XDP (StorePackType)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ShipUnitPackQty" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The quantity of shelf units in a warehouse unit, or pack for the item at a corporate level. e.g. 24 shelf units in a warehouse unit. Nbr of consumer units per warehouse shipping pack (or store receiving pack for DSD) with Descriptive Size, appears on Purchase Orders for warehoused items. This tells our retail operations how many shelf units are in the warehouse pack (Itempack) Known as PACK_WHSE in SSITMCDS</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="7"/>
									<xs:fractionDigits value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ShipUnitWt" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Weight of a warehouse shipping unit (single case) to the retail store.(WarehouseWt)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="10"/>
									<xs:fractionDigits value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ShipUnitWtUOMCd" nillable="false" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CaseHght" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Height of one Case</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CaseLgth" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Length of One Case</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CaseWdth" type="xs:decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Width of one case</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Usage" type="UsageType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains Item Usage information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MultiDeptBillingInd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An indicator that an item can be billed (charged) to multiple departments. An indicator that an item can be billed (charged) to multiple departments.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TCACd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A Transfer Charge Adjustment Cd used for Safeway Items so the store charge system can distribute TCA.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LitreEquiFactor" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Factor used to convert the whse pack into a standard litre measure for milk items.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DisplayItemInd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that this is a display group item with rows in in the Display Group table.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AssortedPackInd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies this as an assorted pack that contains many flavours. Multiple UPCs will exist for the item.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NutriEnvirQualitiyInd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This indicator shows if a product has nutritional or environmental qualities.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ManufacturerTypeInd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation> This column is used to indicate if an item is either:
 C = Coupon 
 G = Generic item 
 H = House brand item
 L = Local
 N = National Brand Item</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TariffItemCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is a 10-Nbr Cd used by Canada Customs, US Customs and Mexico Customs to group commodities. When used with a specific Tariff Treatment, it is used to group items that have the same rate of duty.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TariffTreatmentCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A Cd indicating the treatment that goods are entitled to when calculating duty. This may be influenced by country of origin or trade agreements. Tariff Treatment Cds are only used by Canada and the US (as of 12/31/1994), so we use our own Cds for importations into Mexico.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RestrictedDrugItemInd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This field restricts, by province, the selling of this item to stores which have a pharmacy.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HealthMarkInd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if Healthmark bibs are to be printed instead of labels.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="JurisdictionInd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This switch indicates that there is POS jurisdictional information setup for this item in tables PSJURITM or PSJURTAR.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BottleDepositInd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This switch indicates that there is a bottle deposit information setup for POSJurisdiction in PSJURITM</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BottleDepositCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to reference the value of bottle deposits charged at the check stand. Also used to reference a table keyed by province.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="3"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BestBallInd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This column is used by the system to indicate whether the item is a best ball item. For example it may be used in conjunction with CPS (corporate purchasing warehouse system) to denote a best ball item . It is maintained via the MEC030 program.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IncompatibilityCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Incompatibility Cd. A 2 digit Cd that indicates an incompatibility condition or reason that prevents an item from being loaded with other items. This is only for produce items. Default is spaces.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ScalePretextInd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An indicator to identify if the item has pre-text associated with it. If so the pre-text will be displayed on the department scale User Interface and label appended to the beginning of the text associated to the item. For example:  W - Wild  F - Farm Raised</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="COOL" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains COOL (Country of origin Label) data</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CountryOfOriginItemInd" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>An indicator to identify items that contain Country Of Origin Labeling (COOL) information. </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CountryOfOriginLabelingClassCd" type="xs:short" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This identifies the Classification for a COOL UP/PLU. For example BEEF LAMB PORK FARM FISH WILD FISH will each be considered distinct classifications for COOL. The information is used in the scale UI to control what options are available to create Custom COOL.  This field will having the following values (but not limited to these values)  000 - All Categories  001 - Beef  002 - Lamb  003 - Pork  004 - Wild Fish  005 - Farm Fish  006 - Other Category  ...  999 - Other Category</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BiologicalTerrorActInd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies whether item is covered by the United States Public Health Security and Bioterrorism Preparedness and Response Act of 2002 (the Bioterrorism Act). For more information on the Bioterrorism Act please refer to the FDA web site: http://www.fda.gov/oc/bioterrorism/bioact.html This indicator field will be maintained on the host and downloaded to other systems as needed.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HACCPCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This field will contain the valid Hazard Analysis and Critical Control Point (HACCP) Cds.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EthnicItemTypeCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A 2-character Cd that identifies the ethnicity by which an item might be classified.  Example: IT, MX, AS, IN</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SeasonalItemTypeCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A 2-character Cd that identifies the seasonal Cds by which an item might be classified.  Example: EA, VL, HW, SG</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SeasonalItemTypeNm" type="xs:string" minOccurs="0"/>
			<xs:element name="SpecialPackagingTypeCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A 2-character Cd that identifies the special packaging type in which an item might be physically packaged.  Example: BP, VP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrganicItemInd" nillable="false" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OneTimeBuyInd" nillable="false" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MadeToOrderItemInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates of the item can be made with in the store facilty by an Order. Ex : Sandwiches in Deli and Cakes in Bakery.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemTransmissionInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicator to force item transmission  to Itrade</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProvincialBillingInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if provincial charges exist for this item. EG. Tobacco tax,</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FederalTaxInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that the item is subject to Federal tax</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreateDt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Item create date at corporate level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProvincialTaxCd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the areas that the item is taxable in</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SalesAvgCd" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>weekly average sales for the corporation averaged over the last 4 weeks while the item is valid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemCodeChangeInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that Item code has been changed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemChangeDt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>date the item was last changed (or discontinued if the status is "D")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductChargeAddInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates there is an addition to the base item charge</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCIFItemInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if the item was created from the SCIF system</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuditData" type="AuditType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemId">
		<xs:annotation>
			<xs:documentation>Contains various types of Ids for an item like UPC, GTIN ..etc</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GTINID" type="xs:string" minOccurs="0"/>
			<xs:element name="VendorProductID" type="xs:string" minOccurs="0"/>
			<xs:element name="ManufProductId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CorpItemReferenceType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="UPCTxt" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>UPC Cd used in retail systems and scanned during the sale transction at retail facility.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UPCNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>UPC as numeric field</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UPCComponents" type="UPCComponentsType" minOccurs="0"/>
			<xs:element name="UPCType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Shows which of the Consumer, Multipack, or Case UPCs is used to make up the right 5 digitis of the UPC. One of these must be chosen.Called UNIT_TYPE in legacy systems.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusCd" type="xs:string" minOccurs="0"/>
			<xs:element name="PackNutrientInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This field indicates if the package contains all the nutrient information wanted on a label.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NutriEnvirItemCd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This indicates if the UPC is a nutritional or environmental item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrefCICSeqNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Preferred CIC (Corporate Item Cd) Sequential Nbr is used to identify a 1-1 UPC-CIC mapping. The CIC chosen as the 'preferred CIC' is the CIC with the lowest Sequential Nbr, an Integer. A unique index is applied to the UPC-Preferred CIC Sequential Nbr to ensure that there will always be one and only one lowest (Preferred) CIC to map to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrefCICLockInd" type="xs:string" default="N" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Preferred CIC Lock Switch indicates if a Preferred CIC is 'locked' from being re-evaluated during the automated Preferred CIC upDt process or not. This control column provides a Business User the ability to 'lock' (permanently flag) a CIC as a particular Preferred CIC.  Valid Values: Y (locked), N (not locked) Default: N</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlcoholVolumePct" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This field contains alcohol volume percentage on the item.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="4"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SalesUnitNbr" type="xs:int" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the number of items in a selling unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreateDt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Item create date at corporate level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZeroSupplierCd" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if this UPC is expressed in suppressed format</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NutrientInd" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the access to the nutritional information table</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnvironmentInd" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the access to the environment information table</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrefCICUpdateInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates CIC with the lowest number as preferred if there are UPC on more then one CIC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrefCICUpdDt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the preferred CIC for a UPC when it was last set</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlcoholVolumeInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>represents Alcohol percent for wine, beer, sprits</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuditData" type="AuditType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Audit data elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetailShelfUnitDimensionType">
		<xs:annotation>
			<xs:documentation>Defines the dimensions of the item available in a retail facility shelf, unlike defined at corporate level.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RetailUnitPackNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The number of shelf units in one warehouse unit. The shelf unit for the retail unit pack is defined by the ROG and is the amount of units sold together. For instance, Retail unit pack would be 1 if an item is sold by the case, 4 (four 6-packs) for 6-pack UPC, 24 for single can UPC (24/case). The acronym RUP is sometimes used for Retail Unit Pack.  This field is used in all calculations requiring the retail pack.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShelfUnitSizeDsc" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The generic size of goods.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShelfUnitPackDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the shelf unit pack. ex. pack of 6 cans, case pack..etc</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SizeQty" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The size of the product as a numeric quantity that can be used in in calculations as compared to SIZE-DESC, which is a descriptive size for printing.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="9"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SizeUOMCd" nillable="false" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemHeight" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The height of the actual shelf item.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="9"/>
						<xs:fractionDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemHeightUOMCd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemDepth" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The depth of the actual shelf item.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="9"/>
						<xs:fractionDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemDepthUOMCd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemWidth" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The width of the actual shelf item.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="9"/>
						<xs:fractionDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemWidthUOMCd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemPackUOMCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>UOM for shelf item pack measuremenmts.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemWt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="9"/>
						<xs:fractionDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemWtUOM" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TrayHeight" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The height of the actual shelf tray where items are placed. candy bars in a open tray, healthy nut bars in cover open tray. Tray dimensions are needed for space planning.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="9"/>
						<xs:fractionDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TrayHeightUOMCd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TrayDepth" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The depth of the actual shelf item.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="9"/>
						<xs:fractionDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TrayDepthUOMCd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TrayWidth" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The width of the actual shelf item.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="9"/>
						<xs:fractionDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TrayWidthUOMCd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TrayWt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="9"/>
						<xs:fractionDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TrayWtUOMCd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommonGroupType">
		<xs:annotation>
			<xs:documentation>Defines various common group items at CIC level like CRC, CPC, Common cost cd.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CommonCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation> For retai only lCommon Cd links items with common pricing structures.  All packs of 60 gm jello jelly powder will have the same common Cd. They will get the same price. When used with the cost subCd similar packs will get the same cost.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="5"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommonCdDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description for the common cd.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommonCostSubCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>X -Identifies a pack within the group of common items when used with the Common Cd. Used to apply cost changes to a group of items. A common cost Cd of zero is used to identify a common retail Cd record in SSITMCCG.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="1"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LikeItemCompareCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to group items for comparison reporting. For example: generic vs store brand vs national brand on all 1L bleach.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommonRetailCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to establish a corporate set of items at the retail level. The Common Retail Cd is different from Common Cd although users may choose to set both Cds the same.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="6"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommonRetailCdDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description for the common retail cd.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CRCItemSizeDsc" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ComparisonItemTypeCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This Cd is used to break down items into groups so that like items can be compared. It is a finer level than product group and is usually used between items in the same common Cd. Item Type Cds are found on the Item Type Table(SMITMTYPTABLE)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="3"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CorpItemStatusType">
		<xs:sequence>
			<xs:element name="StatusCd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StatusDsc" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StatusEffDt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Dt the Status on ITMCDS changed from New to Valid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreateDt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Item create date at corporate level.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemDscType">
		<xs:annotation>
			<xs:documentation>Various kinds of item descriptions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CorporateItemDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Item description defined at corporate level.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InternetItemDsc" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dsc used in internet for various promotions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetailItemDsc" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dsc of the item in retail.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorItemDsc" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Item Dsc provided by the vendor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalSupplierItemDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Supplier provided description for an item.
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UsageType">
		<xs:annotation>
			<xs:documentation>ItemUsageType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ItemUsageInd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>classifies item usage
R - resale 
E - expensed (were previously denoted by 68 or 69 in 2nd and  3rd digits of item Cd) 
M - materials (includes ingredients, primal cuts of meat and  large packs of pharmacy items. These items have no  retail and are billed at cost. 
Q - coupons Note that no POS information will be sent to the stores for any E or M type items since they are not sold at the store.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemUsageTypeCd" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This Cd represents a further breakdown of the Item Usage Indicator. Valid values for Item Usage Indicator  are: 
R - basic resale items (e.g. can of beans, 2 litre bottle of cola, box of cooki
S - store created items (e.g. cuts of meat from primals, goods baked at store bakery
C - customer service items (e.g. ski lift tickets, bus passes, etc.)
M - materials or ingredients used to construct a finished product sold at the st(e.g. bakery flour, floral ribbon, etc.) 
valid values for Item Usage Indicator is E are:
 W - wrapping - expense items that leave the store with the customer (e.g. berry L - laundry expense items (e.g. meat smocks) 
O - other expenses (non-wrap) - expense items that are used in the store (e.g. floor wax, push brooms, etc.)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemUsageTypeDsc" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemVendor">
		<xs:annotation>
			<xs:documentation>Contains vendor information related to the Item procured in a warehouse or store.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VendorId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Corporate vendor Nbr that uniquely identifies a vendor within a corporation. A vendor is a Company we purchase from. VEND-NUM is generally used with Vendor Sub-Account Nbr (VEND-SUB-ACNT) or WIMS Sub-Vendor Nbr (WIMS-SUB-VEND).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorSubAccountNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies a particular outlet of a company we purchase from. EG. The Vancouver outlet of Nabob. This is used by the Accounts Payable System</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WarehouseVendorId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the WIMS Vendor Nbr set up by the Buyer. The first character of the Nbr indicates the location e.g. V - Vancouver, E - Edmonton.  Buyer/Merchandisers may break a Vendor outlet into different WIMS Vendors to suit their own purposes. Some of the reasons a Vendor may have several WIMS Vendor records are: 1. Several Buyers buying from the same Vendor. 2. A buyer buying different commodity groups from the same Vendor. 3. A Vendor offering different purchasing terms on different product lines. 4. A Buyer buying some products through a Broker and some directly from the Vendor.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BDRVendorId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique vendor id within store Back door receiving system.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PACSVendorNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This identifies the U.S. PACS/Tandem and OMI Char(8) vendor Nbr.  For warehouse vendors, the first four digits in PACS Vendor Nbr are the last four digits in the Corporate Vendor Nbr (VEND-NUM).  In DSD, the system generates a PACS Vendor Nbr after Cost Areas are added for a distributor. For vendors less than 10000, the PACS Vendor Nbr consists of: - The last four digits of the Corporate Vendor Nbr (VEND-NUM), plus - The three-digit Vendor Sub Account Nbr (VEND-SUB-ACNT), plus - The one-digit Cost Area. SSVENXRF</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorConversionFactor" type="xs:short" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Factor used to convert a vendor pack to a warehouse pack.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorUPC" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies thevendor UPC.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorProductNbr" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A short version of the Nbr used by the vendor to identify their products.  When it was found that vendors had internal reference Nbrs that were larger than 6, a new CHAR(12) element was set up, VEND-PROD-CDE on the SSITMVPL table. The shorter VEND-PROD-NUM element was kept because of the many programs that have to be changed to use the longer version. text line:  USE VEND-PROD-CDE rather than VEND-PROD-NUM in new tables.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorItemDimensions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VendorPackCd" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The package in which the vendor unit is shipped. For example: case or bag, etc.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="VendorPackCube" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Warehouse case cube size in feet, of a warehouse unit. Recalculated when the width, length or height is changed.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="7"/>
									<xs:fractionDigits value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PalletLayer" type="xs:short" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Nbr of units that make up a layer on a warehouse pallet.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PalletHeight" type="xs:short" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Nbr of layers of cases on a warehouse pallet.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ItemUnitNbr" type="xs:integer" minOccurs="0"/>
						<xs:element name="ItemSizeNbr" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="9"/>
									<xs:fractionDigits value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="UOMCd" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="VendorCostAreaCd" type="xs:short" nillable="false" minOccurs="0"/>
			<xs:element name="VendorServiceLevel" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Minimum service level desired for the Vendor; ratio of dollar value shipped to dollar value demand. This field is used by WMD510 - default value is 98.5.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="3"/>
						<xs:fractionDigits value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorNm" type="xs:string" minOccurs="0"/>
			<xs:element name="VendorDUNSNbr" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="Qualifier" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PrimaryVendorInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This flags who is the primary distributor for a Direct Store  
Delivery Item in a ROG and Price Area.                        </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorContact" minOccurs="0" maxOccurs="2">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContactNm" type="xs:string" minOccurs="0"/>
						<xs:element name="PhoneNbr" type="xs:string" minOccurs="0"/>
						<xs:element name="EmailAddresstxt" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Address" type="Abs:AddressType" minOccurs="0"/>
			<xs:element name="VendorProdWgt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Production weight of the item without package or container</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorPalletHght" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Denotes number of layers of cases on a vendors pallet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorPalletLayer" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of units that make up a layer on a vendors pallet</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductHierarchy">
		<xs:annotation>
			<xs:documentation>Contains product hierarchy information like group, class, category..etc to which a product belongs to.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProductGroup" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProductGroupCd" type="xs:integer" minOccurs="0"/>
						<xs:element name="ProductGroupNm" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ProductCategoryCd" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProductCategoryCd" type="xs:integer" minOccurs="0"/>
						<xs:element name="ProductCategoryNm" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ProductClassCd" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProductClassCd" type="xs:integer" minOccurs="0"/>
						<xs:element name="ProductClassNm" type="xs:string" minOccurs="0"/>
						<xs:element name="RetailSectionCd" minOccurs="0"/>
						<xs:element name="RetailSectionNm" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ProductSubClassLevel1" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProductSubClassLevel1Cd" type="xs:integer" minOccurs="0"/>
						<xs:element name="ProductSubClassLevel1Nm" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ProductSubClassLevel2" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProductSubClassLevel2Cd" type="xs:integer" minOccurs="0"/>
						<xs:element name="ProductSubClassLevel2Nm" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuditType">
		<xs:annotation>
			<xs:documentation>This type represents auditing data related to the message at source.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that created the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>