AppBuild/CMM/Nouns/CustomerReward.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2021 rel. 2 sp1 (x64) (http://www.altova.com) by poliv02 (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" vc:minVersion="1.1">
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<!--V2.5 Patrick Oliver 06/09/21: Updated ProgramValidityEndDtTs to ProgramValidityEndTs and RewardValidityEndDtTs to RewardValidityEndTs-->
	<!--V2.4: Patrick Oliver 05/25/21: Updated ProgramValidityEndDt to ProgramValidityEndDtTs and RewardValidityEndDt to RewardValidityEndDtTs-->
	<!--V2.3 Patrick Oliver 05/12/21: (1) Changed RewardValidityEndTs to RewardValidityEndDt (2) Changed ProgramValidityEndTs to  ProgramValidityEndDt (3) Updated datatype for BalanceUpdateTs, ProgramModifyTs to dateTimeStamp-->
	<!--V2.2 Patrick Oliver 04/27/21: Updated data type for ProgramType; Added ProgramDsc; Removed ProgramSubType -->
	<!--V2.1 Patrick Oliver 04/21/21: Added new complex type 'CustomerProgramScoreCard'; Changed LoyaltyProgram to unbounded-->
	<!--V2.0 Patrick Oliver 02/19/21: Added new complex type 'CustomerRewardScoreCard'-->
	<!--V1.2 11/05/2020 - Rosabel Macario - Added tag to resolve dateTimeStamp issue-->
	<!--V1.0 10/11/2019 - Alex Nunes - Business requirement change: New elements added. Capturing timestamp of 'Dollar Amount Points' and 'Token Points'.-->
	<xs:element name="CustomerReward" type="CustomerRewardType">
		<xs:annotation>
			<xs:documentation>Root element. Customer Reward</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CustomerRewardType">
		<xs:annotation>
			<xs:documentation>Rewards provide a platform for customers to engage, earn, accumulate and redeem loyalty points. The main purpose of this BOD is to represent the balance points of customer rewards.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BalanceUpdateTs" type="xs:dateTimeStamp">
				<xs:annotation>
					<xs:documentation>This is the timestamp when the points or rewards was updated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HouseholdId" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Unique identifier assigned to a household.  Households are created by matching addresses and/or phone numbers across loyalty card accounts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNbr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The phone number for the retail customer.   This is used as an alternate club membership identifier when the customer does not have their club card or card number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClubCardNbr" type="xs:integer" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A number which is embossed on a Loyalty Card and which uniquely identifies it.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerNm" type="PersonNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer Name Data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RewardPeriod" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Represents the start and end of the Rewards period. This period is used when a household account doesn not have loyalty reward.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RewardPeriodStartTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward period starts.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardPeriodEndTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward period ends.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RewardDollarPoints" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Represents the start and end of the Rewards dollar amount points.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RewardDollarStartTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward dollar points starts.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardDollarEndTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward dollar points ends.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardDollarPointsQty" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This will be the total transaction dollar points. This can be an integer, positive, negative or zero.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RewardTokenPoints" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Represents the start and end of the Rewards token and token that will expire points.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RewardTokenStartTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward token points starts.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardTokenEndTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward token points ends.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardTokenWilExpStartTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward token points will expire starts.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardTokenWilExpEndTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Timestamp of when the Reward token points will expire ends.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardTokenPointsQty" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This will be the total reward token points. This can be an integer, positive, negative or zero.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RewardTokenPointsExpireQty" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Total Rewards token points that will expire at the end of the month. . This can be an integer, positive, negative or zero.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LoyaltyProgram" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Identification of the Loyalty program. Note that there can be multiple Loyalty programs (ex: BasePoints, GeneralPoints, etc.) </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LoyaltyProgramCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Code that represents the Loyalty program.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LoyaltyProgramDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of the Loyalty program.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClubInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Club is a tpye of reward that is associated with a loyalty program.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ClubCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifier assigned to uniquely identify a rewards club as such.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ClubDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of a rewards club.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RewardPointsOrigin" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Origin of Rewards Points. Ex: Power Pump, Gift Card purchases, Pharmacy, Fuel Rewards, etc...</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RewardOriginCd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Reward Origin Code.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="RewardOriginDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of the Reward Origin.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AccumulationTypCd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code identifying a bucket or amount type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerRewardScoreCard" type="CustomerRewardScoreCardType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Customer Reward scorecard for reward programs such as Fuel rewards.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerProgramScoreCard" type="CustomerProgramScoreCardType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomerRewardScoreCardType">
		<xs:annotation>
			<xs:documentation>Customer Reward scorecard for reward programs such as Fuel rewards.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RewardType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reward bucket type           (Ex: "Rwd" = Reward, "Rwd_exp" = Reward expiry  "Points" = Points, etc.) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RewardValueQty" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Value qty for reward bucket (ex:  "value":0 = rewards value, "value":13 = reward expiry value, etc.) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RewardValidityEndTs" type="xs:dateTimeStamp" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date of when the Reward bucket ends.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomerProgramScoreCardType">
		<xs:annotation>
			<xs:documentation>Customer Program scorecard for programs such as 49ers Program 2021.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProgramType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Program bucket type           (Ex: "Points" ) </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProgramDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Program description  (Ex: ":"49ers Program 2021") </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProgramValueQty" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Value qty for customer Program bucket (ex:  "value":29 = program value)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProgramValidityEndTs" type="xs:dateTimeStamp" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date when the customer Program bucket ends.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProgramModifyTs" type="xs:dateTimeStamp" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Timestamp of when the Program was last modified.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>