AppBuild/CMM/Nouns/CustomerPreferences.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2021 rel. 2 sp1 (x64) (http://www.altova.com) by poliv02 (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" vc:minVersion="1.1">
	<!--V4.3 Patrick Oliver 04/05/22: Added 'Device' complex type  -->
	<!--V4.2 Updated OptChoiceInd to string-->
	<!--V4.1 Patrick Oliver 04/09/21: Added PreferenceTypeCd and removed PreferenceNm-->
	<!--V4.0 Patrick Oliver 03/30/21: For new  Customer Preferences Management Service V2 the following changes have been made: 
Updated BOD description  
Changed: 
o PreferenceCd, PreferenceCategoryCd, PreferenceSubCategoryCd to mandatory 
o OptChoiceInd to Boolean  
o BannerCd to BannerId 
o PreferenceTypeCd to PreferenceNm 
o PreferenceTypeDsc to PreferenceDsc
Added: PreferenceDefinitionId (note this will be the FK to CustomerPreferenceMaster object that contains ‘metadata’ related to customer preferences). 
Removed: ChoiceDsc, SelectTs
Moved: ChannelTypCd to OptChoice-->
	<!--V3.3 Patrick Oliver 03/18/21: Added PreferenceLastUpdatedTs to Preferences-->
	<!--V3.2 Patrick Oliver 02/23/21: Updated length for ReasonDsc-->
	<!--V3.1 Patrick Oliver 02/12/21: Updated data length for AutoEnrollInd-->
	<!--V3.0 Patrick Oliver 02/10/21: Moved CustomerSubscriptions to be child of CustomerPreferences; Removed SubscriptionEffectivePeriod -->
	<!--V2.1 Patrick Oliver 01/25/21: (1) Removed GUID; (2) Changed AlternateIdTxt to string[100]-->
	<!--V2.0 - Patrick Oliver 01/19/21: Removed word 'Managment' from BOD name-->
	<!--V1.3 Patrick Oliver 01/13/21: Changed SourceAuditData to single occurence-->
	<!--V1.2 Patrick Oliver 01/11/21: Changed PreferenceEffectivePeriod and SubscriptionEffectivePeriod to unbounded-->
	<!--V1.1 Patrick Oliver 01/07/21: Added EventId to SourceAuditData-->
	<!--V1.0  Patrick Oliver 12/02/20: Initial Version-->
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:include schemaLocation="../Nouns/CustomerPreferencesMaster.xsd"/>
	<xs:element name="CustomerPreferences" type="CustomerPreferencesType">
		<xs:annotation>
			<xs:documentation>Root element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CustomerPreferencesType">
		<xs:annotation>
			<xs:documentation>Customer Preferences object will show a retail customer’s generic preferences. For each preference it will also show the customer's opt in/opt out of receiving for a specific communication channels (email, SMS, and Push). </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomerId" type="IDType">
				<xs:annotation>
					<xs:documentation>Customer Identification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerAlternateId" type="AlternateIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CustomerPreferences" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Customer Generic preferences.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PreferenceClassNm" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preference Class name.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferenceCd" type="xs:string">
							<xs:annotation>
								<xs:documentation>Preference Code. A code used to define a preference that could be selected by a user of the system.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferenceTypeCd" type="CodeWithDescription" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preference Type code. A code used to define a type of a preference that could be selected by a user of the system.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferenceVal" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preference selected value.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="PreferenceDefinitionId"/>
						<xs:element ref="PreferenceCategoryCd"/>
						<xs:element ref="PreferenceSubCategoryCd"/>
						<xs:element ref="PreferenceDsc" minOccurs="0"/>
						<xs:element ref="BannerId" minOccurs="0"/>
						<xs:element name="PlatformTypCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>1=J4U, 2=SHOP, 3=MOBILE, 4=STORE (Platform specific preference)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreferredInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates whether or not preference is the preferred one.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PreferenceLastUpdatedTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Date and time stamp of when the customer updated a particular preference.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OptChoice" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Opt-in and Opt-out indicator choices.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="OptChoiceInd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Opt Indicator.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ReasonCd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Reason code for the customer to opt in or out.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ReasonDsc" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Description of the reason.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ChannelTypCd" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>1=EMAIL, 2=SMS, 3=PUSH (Channel
specific preference) </xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Device" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Captures customer device data such as model, token, etc. data which will be used for push notifications.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TokenId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Device token. Auto generated using data about device and banner UMA app</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="36"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="BannerId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Banner device token belongs to.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ManufacturerNm" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Device manufacturer.        Ex: Apple, Samsung, etc.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ModelNm" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Device model.                    Ex: iPhone 13 Pro Max, iPhone 12 Pro, etc.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="OSVersionId" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Device Operating System version.   Ex: iOS 15.4, Android 11, etc.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SourceAuditData" type="SourceAuditType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>