AppBuild/CMM/Nouns/MadeToOrderPrepListEvent.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2022 rel. 2 (x64) (http://www.altova.com) by kvisa02 (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<!--V1.1 Kumar Visalakshi Sekar 04/06/22 Removed all the irrelevant sections to make the Noun leaner.-->
	<!--V1.0 Kumar Visalakshi Sekar 03/28/22 Initial Version-->
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:complexType name="MadeToOrderPrepListEventType">
		<xs:annotation>
			<xs:documentation>Represents data related to the Made To Order task by Third party Order, assignments and associate.</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="Abs:CorporationId" minOccurs="0"/>
			<xs:element ref="DivisionId" minOccurs="0"/>
			<xs:element name="FacilityId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FacilityAltId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrepListEventData" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Defines various types of assignments and events for Made To Order fulfillment process.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Assignment" type="AssignmentType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Assignment is a unit of work to be performed with in a line of business.
Ex: Order Fulfillment, Order Consolidation, Order Staging, Order Delivery.
Each assignment can have one or more events.
Fulfillment can have item selection/picking/preparing as an event.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AssignmentEvent" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Different types of events with in an Made To Order assignment.
Made To Order fulfillment can be an assignment
Item fulfilling can be an event.
Staging bins can be an event.
Employees can be assigned at assignment level or an event level.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AssignmentEventId" type="xs:string" minOccurs="0"/>
									<xs:element name="AssignmentEventType" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="AssignmentEventSubType" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="AssignmentEventSourceType" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="EventTs" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="AssignmentEventActivity" type="AssignmentEventActivityType" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="AssignmentEventExceptions" type="EventActivityExceptionType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssignmentType">
		<xs:annotation>
			<xs:documentation>Defines the work assignment for Made To Order tasks like order assignment tasks.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcivityId" type="xs:string" minOccurs="0"/>
			<xs:element name="AssignmentId" type="xs:string">
				<xs:annotation>
					<xs:documentation>task assignment id. Uniquely identifies the unit of work assignment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssignmentLocation" type="FacilityLocationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Made to Order Item selection or Made To order fulfillment or staging location within the facility</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="FacilityEmployee" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Facility employee assigned to the MTO task</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssignmentAuditData" type="RecordAuditData" minOccurs="0"/>
			<xs:element name="OrderTotalAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fulfilled item Total Amount including tax and fees</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerNotesTxt" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Free format Customer notes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssignmentEventActivityType">
		<xs:annotation>
			<xs:documentation> Defines the activity for Made To Order events.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EventTransactionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Business transiaction Id attached to an event.
Ex: Customer grocery order nbr</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransactionId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Business transaction Id.
Ex Customer Order Nbr</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AltTransaction" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Alternate transaction Ids linked to the business event, like fulfillment order id.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AltTransactionId" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="AltTransactionType" type="CodeWithDescription" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="TransactionType" type="CodeWithDescription" minOccurs="0"/>
						<xs:element name="ReferenceNbr" minOccurs="0">
							<xs:annotation>
								<xs:documentation>cross reference nbr from external systems for internal transaction id.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="OrderedItemQty" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer ordered quantity.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="14"/>
									<xs:fractionDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="OrderedItemTxt" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer ordered items</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OrderedItemDsc" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer ordered items Description</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EventActivityType" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="EventActivitySubType" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="FulfilledItem" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BaseProductNbr" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Popularly known as BPN number in eCommerce world. Identifier generated in eCom for a group of similar elements. BPN can represent multiple CICs or UPCs. BPN is used to dispaly items in safeway.com online sales site.
 Ex Seedless red grapes will have one BPN but there may be multiple varities with in red grapes like crimson red, dark red or light red with different cic/upcs.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="14"/>
									<xs:fractionDigits value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ItemDsc" type="xs:string" minOccurs="0"/>
						<xs:element name="SubstituteItemInd" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Flag if set indicates that the substitution item is picked instead of an original item </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SubstituteReasonCd" type="xs:string" minOccurs="0"/>
						<xs:element name="FulfilledItemQty" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="14"/>
									<xs:fractionDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element ref="ScheduledStartTs" minOccurs="0"/>
						<xs:element ref="ScheduledEndts" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Expected end time to complete the event.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ItemPersonalizationType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Defines the personalization types for various fulfilling items. such as GrpOrder, Customer Name associate to each Item</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BaseProductNbr" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Popularly known as BPN number in eCommerce world. Identifier generated in eCom for a group of similar elements. BPN can represent multiple CICs or UPCs. BPN is used to dispaly items in safeway.com online sales site.
 Ex Seedless red grapes will have one BPN but there may be multiple varities with in red grapes like crimson red, dark red or light red with different cic/upcs.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="PersonalizedItemType" type="CodeWithName" minOccurs="0"/>
									<xs:element name="ItemPriceAmt" type="xs:decimal" minOccurs="0"/>
									<xs:element name="PersonalizedItemQty" type="xs:decimal" minOccurs="0"/>
									<xs:element name="CommentsTxt" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ItemCustomizationType" type="CustomizationType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Defines the modifers/customization types for various fulfilling items.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ItemServiceRequestType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Different stages of Preparation activity of Made To order items from facility locations to complete the packing of fulfilling items.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BaseProductNbr" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Popularly known as BPN number in eCommerce world. Identifier generated in eCom for a group of similar elements. BPN can represent multiple CICs or UPCs. BPN is used to dispaly items in safeway.com online sales site.
 Ex Seedless red grapes will have one BPN but there may be multiple varities with in red grapes like crimson red, dark red or light red with different cic/upcs.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ServiceRequestType" type="CodeWithName" minOccurs="0"/>
									<xs:element name="ItemPriceAmt" type="xs:decimal" minOccurs="0"/>
									<xs:element name="ServiceRequestQty" type="xs:decimal" minOccurs="0"/>
									<xs:element name="CommentsTxt" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="RegulatedItemInd" type="xs:boolean" minOccurs="0"/>
						<xs:element name="UOM" type="UOMType" minOccurs="0"/>
						<xs:element name="ItemPriceAmt" type="xs:decimal" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EventActivityExceptions" type="EventActivityExceptionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>defines varous types of exceptions happened during the process like qty short, oos, subs, picking delays...etc</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EventActivityAuditData" type="RecordAuditData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FacilityEmployeeType">
		<xs:annotation>
			<xs:documentation>Defines store front or store employee assigned to an assignment in Made To Order task.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EmployeeId" type="xs:string" minOccurs="0"/>
			<xs:element name="EmployeeAltId" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AlternateIdTxt" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AlternateIdNbr" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="24"/>
									<xs:fractionDigits value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SupervisorInd" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EventActivityExceptionType">
		<xs:annotation>
			<xs:documentation> Defines or Captures various types of exceptions happened during the process like pricing exception, qty short, oos, subs..etc</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExceptionId" type="xs:long" minOccurs="0"/>
			<xs:element name="ExceptionType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of exception captured. ex pricing exemption or Qty excemption</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExceptionReasonType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>reson for excemption:
ex: not enough stock, or offer not valid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExceptionCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Actual excemption code generated by the application.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExceptionDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Actual excemption code description generated by the application.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExceptionItemQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>exception item qty, if it is quantity exception type.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExceptionCreateTs" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="CommentTxt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExceptionReportedByType" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReportedByUserId" type="xs:string" minOccurs="0"/>
						<xs:element name="ReportedByFirstNm" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ReportByLastNm" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FacilityEmployee" type="FacilityEmployeeType">
		<xs:annotation>
			<xs:documentation>Facility employee assigned to the assignment</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ScheduledStartTs" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation> Expected start time to start the selection process.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ScheduledEndts" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation> Expected end time to complete the selection process.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CustomizationType">
		<xs:annotation>
			<xs:documentation> Defines the cutomization types for various fulfilling items.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BaseProductNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Popularly known as BPN number in eCommerce world. Identifier generated in eCom for a group of similar elements. BPN can represent multiple CICs or UPCs. BPN is used to dispaly items in safeway.com online sales site.
 Ex Seedless red grapes will have one BPN but there may be multiple varities with in red grapes like crimson red, dark red or light red with different cic/upcs.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomizedItemType" type="CodeWithName" minOccurs="0"/>
			<xs:element name="SubstituteItemInd" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Flag if set indicates that the substitution item is picked instead of an original item </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubstituteReasonCd" type="xs:string" minOccurs="0"/>
			<xs:element name="ItemPriceAmt" type="xs:decimal" minOccurs="0"/>
			<xs:element name="CustomizedItemQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommentsTxt" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FacilityLocationType">
		<xs:annotation>
			<xs:documentation> Defines facility location type such as store or department id or number.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="DepartmentId" minOccurs="0"/>
			<xs:element name="DepartmentNm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DepartmentAlternateId" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IdTxt" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Description" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ShortDescription" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>