AppBuild/CMM/Nouns/OrderingRule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2021 rel. 3 (x64) (http://www.altova.com) by Sridhar Katkuri (Safeway) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<!--!=============================================================================================-->
	<!--!-->
	<!--!-->
	<!--!      Noun: OrderingRule-->
	<!--!                                     Business object that defines the conditions setup by Procurement and Warehousing teams to handle the orders in an -->
	<!--!                                     optimal way. -->
	<!--!-->
	<!--!=============================================================================================-->
	<!--1/26/2021 - v1.0 - Alex Nunes - Initial version.-->
	<!--2/10/2021 - v1.1 - Alex Nunes - Added CORP and DIV for Customer type.-->
	<!--2/23/2021 - v1.2 - Alex Nunes - Type of roundPercent changed from xs:nonNegativeInteger to xs:integer.-->
	<!--08/18/2021 - V1.3 - Sridhar Katkuri - Removing RetailStoreID, WholesaleCustomerNbr and including CutomerId for all customerTypes-->
	<xs:element name="OrderingRule" type="OrderingRuleType">
		<xs:annotation>
			<xs:documentation>Root element.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OrderingRuleType">
		<xs:annotation>
			<xs:documentation>Defines the conditions setup by Procurement and Warehousing teams to handle the orders in an optimal way. These include rules that, for example, limits a store maximum order quantity for a particular warehouse and minimum or maximum for a CIC (Item).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RuleId" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An unique identifier for a ordering rule.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RuleDsc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An unique identifier for a ordering rule.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RuleType" type="Abs:CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of a rule. The rules can be assigned to Item quantity, pallet, case or order quanity limits.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Capability" type="Abs:CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifier that represents the ordering capability used which could be combinations of the following: Supplier + CustomerGroup + Item + Order Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderType" type="Abs:CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type code of an order. Ex: Regular, Firm, Rush, Transfer, Standing or System.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Abs:CorporateItemCd" minOccurs="0"/>
			<xs:element name="Supplier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data about the supplier of ther orders.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SupplierType" type="Abs:CodeWithDescription" minOccurs="0"/>
						<xs:element ref="CorporationId" minOccurs="0"/>
						<xs:element ref="DivisionId" minOccurs="0"/>
						<xs:element name="VendorId" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="VendorSubAccountNbr" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="VendorBackdoorSubAccountNbr" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element ref="Abs:WarehouseId" minOccurs="0"/>
						<xs:element ref="Abs:ManufacturingPlantId" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Customer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data about customer from the order management view which could be a retail store or a wholesale customer.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="CustomerType" type="Abs:CodeWithDescription" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer type code.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CustomerId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unique identifier to catergorize various customer types - Store, warehouse, backstage, charity, plants</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerGroupId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Order customer group identifier.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StatusInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether the rule is enabled/active or disable/inactive.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EffectivePeriod" type="EffetiveDateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Effective dates and times.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuditData" type="AuditType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Audit data elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RuleDefinition" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Rule data depending on rule type. It will not be present if the rule is of type  enable/disable.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="RuleQty" type="xs:integer" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Quantity limit for the rule.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RuleRoundPct" type="xs:integer" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Percentage round value limit.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RuleProcessDt" type="xs:date" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Rule processing date.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RuleDeliveryDt" type="xs:date" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Rule delivery date.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ChangeReason" type="Abs:CodeWithDescription" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Change reason code.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuditType">
		<xs:annotation>
			<xs:documentation>This type represents auditing data related to the message at source.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that created the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EffetiveDateTimeType">
		<xs:annotation>
			<xs:documentation>Common type for Retail Customer effective date and time.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="Abs:FirstEffectiveDt" minOccurs="0"/>
			<xs:element ref="Abs:FirstEffectiveTm" minOccurs="0"/>
			<xs:element ref="Abs:LastEffectiveDt" minOccurs="0"/>
			<xs:element ref="Abs:LastEffectiveTm" minOccurs="0"/>
			<xs:element name="InclusiveInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether or not the dates and times are inclusive or not.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>