AppBuild/CMM/Nouns/PromotionAdversion.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2021 rel. 3 (x64) (http://www.altova.com) by mgadd09 (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" vc:minVersion="1.1">
	<!--V1.1- 1/28/2022 - Monica Gaddam Renamed BaseVersionInd to PrimaryBaseVersionInd. Created Complextype Adversion with AdversionNm and AdversionDEsc-->
	<!--V2.1- 2/10/2022 - Monica Gaddam - Renamed PromotionVehicleNm to PromotionVehicleTypeId-->
	<!--!=============================================================================================-->
	<!--!      PromotionAdversion: -->
	<!--!                                     Noun that represents Albertsons promotion  adversion nfo.-->
	<!--!-->
	<!--!=============================================================================================-->
	<!--V1.0 - 10/27/2021 - Monica Gaddam- Initial version.-->
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="PromotionAdVersion" type="PromotionAdVersionType">
		<xs:annotation>
			<xs:documentation> root</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PromotionAdVersionType">
		<xs:annotation>
			<xs:documentation>Defines the attributes of Ad Version such as Version name, description, tagged ROGs, vehicle type  and start ,end date.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AdVersionId" nillable="false">
				<xs:annotation>
					<xs:documentation>Unique identifier of a promotion version. Internal sequence number.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="DivisionId"/>
			<xs:element name="Adversion">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AdVersionNm">
							<xs:annotation>
								<xs:documentation>Name of a promotion version.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AdVersionDesc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of a promotion version.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PromotionVehicle">
				<xs:annotation>
					<xs:documentation>A vehicle is a medium used to communicate the promoted items to the customers. Examples are: Savings Guide, Coupon Book, Weekly Ad, ROP Vehicles are defined on the vehicle table in the SPOT Informix database.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PromotionVehicleType" type="CodeWithDescription"/>
						<xs:element name="PromotionVehicleTypeId" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ROGCd" minOccurs="0"/>
			<xs:element name="AdVersionTypeCd" type="CodeWithDescription">
				<xs:annotation>
					<xs:documentation>Version Type A- where version name is hyphenated. Type B with a hyphen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParentAdVersionId" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hierarchical structure auto-referencing promotion versions (child-parent record). Internal sequence number.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ParentAdVersionNm" type="xs:string" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the parent Adversion</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="FirstEffectiveDt"/>
			<xs:element ref="LastEffectiveDt"/>
			<xs:element name="PrimaryBaseVersionInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Primary base version indicator for verison with most # of stores</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DefaultInd" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Default Indicator of version</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StoreList" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Version Store Location table - to capture store version data</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element ref="RetailStoreId" minOccurs="0"/>
						<xs:element ref="FirstEffectiveDt" minOccurs="0"/>
						<xs:element ref="LastEffectiveDt" minOccurs="0"/>
						<xs:element name="AuditData" type="RecordAuditData" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AuditData" type="RecordAuditData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>