AppBuild/CMM/Nouns/PromotionAdvertisement.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2021 rel. 3 (x64) (http://www.altova.com) by mgadd09 (Albertsons) -->
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" vc:minVersion="1.1">
	<!--V1.3.2- 10/7/2021 Monica Gaddam - Updated VersionId from mandatory to optional-->
	<!--V1.3.1- 09/17/2021 Monica Gaddam - Updated RegRetailPriceCd to RegRetailPriceFactor-->
	<!--V1.3 - 09/15/2021 Monica Gaddam Added SavingsAmt, FreeUnit, YearWeekNbr-->
	<!--V1.2 - 9/9/2021 Monica Gaddam - Added UPC, CommonPromotionCd-->
	<!--V1.1 - 8/31/2021 Monica Gaddam - Added PromotionPriceType, RegRetailPriceCd, RegRetailPriceAmt,FirstPageInd-->
	<!--!=============================================================================================-->
	<!--!      PromotionAdvertisement: -->
	<!--!                                     Noun that represents Albertsons promotion advertisment info.-->
	<!--!-->
	<!--!=============================================================================================-->
	<!--V1.0 - 8/10/2021 - Alex Nunes - Initial version.-->
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="PromotionAdvertisement">
		<xs:annotation>
			<xs:documentation>Promotion ad root element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PromotionAdvertisementType">
		<xs:annotation>
			<xs:documentation>Has information about the promotion advertisement elements</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PromotionId" type="xs:integer" nillable="false">
				<xs:annotation>
					<xs:documentation>A Promotion is an instance of a vehicle, which is attached to a specific time and a geographic location. A Promotion may span many Divisions and Zones. Examples are: Eastern Divisions July Savings Guide, Eastern Divisions Week 30 Weekly Flyer, Northern California Divisions Week 20 Weekly Flyer Promotions are defined on the promohdr table in the SPOT Informix database.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="DivisionId"/>
			<xs:element name="VersionId" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique identifier of a promotion version. Internal sequence number.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HeadlineTxt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BodyCopyTxt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ImageUPCTxt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InstructionTxt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PageNbr" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ModNbr" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Box number within the page.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstPageInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>if PAGE # is for front page of AD, set this to Y else N
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IntegrateChangeCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the operation an user can perform. Values are: U-update, I-insert, D-delete.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id of the client that created the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CouponType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of coupon. Ex: Copient, EDV, Digital, Clip.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BugCommentTxt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Small print extra information on the promotion Ad.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PriceCommentTxt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Price comment info.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="600"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PromotionPriceType" type="PromotionPriceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The method which is used to specify the Promotion Price Amount, Method, factor and Limited Quantity Nbr fields.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegRetailPriceAmt" type="xs:decimal" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the regular retail price charged to the customer for each shelf unit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegRetailPriceFactor" type="xs:decimal" nillable="false" minOccurs="0"/>
			<xs:element name="SavingsAmt" nillable="false" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="9"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CouponPLU" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="CommonPromotionCd" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Also known as common div promo cd, grouping of CICs at Div level for promotions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CIC" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Available when it is a "primer" promotion (ex: beef or sea food).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element ref="CorporateItemCd" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UPC" type="UPC" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Corresponding UPCs of the above CIC..</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PromotionAdVersion">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ParentVersionId" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Hierarchical structure auto-referencing promotion versions (child-parent record). Internal sequence number.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int"/>
							</xs:simpleType>
						</xs:element>
						<xs:element name="VersionNm">
							<xs:annotation>
								<xs:documentation>Name of a promotion version.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="VersionDsc" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of a promotion version.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PromotionVehicle" minOccurs="0">
							<xs:annotation>
								<xs:documentation>A vehicle is a medium used to communicate the promoted items to the customers. Examples are: Savings Guide, Coupon Book, Weekly Ad, ROP Vehicles are defined on the vehicle table in the SPOT Informix database.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PromotionVehicleType" type="CodeWithDescription" minOccurs="0"/>
									<xs:element name="PromotionVehicleNm" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element ref="FirstEffectiveDt"/>
						<xs:element ref="LastEffectiveDt"/>
						<xs:element name="CreateTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Time stamp of when message was created at source.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LastUpdateTs" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Date and time stamp of when message was last modified at source.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CreateUserId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Id of the client that created the message at source.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LastUpdateUserId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>User Id of who last modified the message at source.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="BaseVersionInd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Base version within a ROG.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="StoreList" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Version Store Location table - to capture store version data</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element ref="RetailStoreId" minOccurs="0"/>
									<xs:element ref="FirstEffectiveDt" minOccurs="0"/>
									<xs:element ref="LastEffectiveDt" minOccurs="0"/>
									<xs:element ref="ROGCd" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="YearWeekNbr" type="xs:integer" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="typeCode"/>
	</xs:complexType>
	<xs:complexType name="PromotionPriceType">
		<xs:annotation>
			<xs:documentation>The method which is used to specify the Promotion Price Amount, Price factor and the Limited Quantity Nbr fields.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PromotionPriceAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Can be a BOGO for 2.99$, 2/5$ etc. Here the dollar amt will be the promotional price.         </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PromotionPriceFactor" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the Nbr of shelf items received for the price e.g. it is the '2'  in '2/99 cents'. 1 for 1.99 or 2 for 1.99 or 10 for 10$. Here the number in front of the price is the price factor.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PromotionPriceMethodCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Different promo price methods, eg., buy 1 get 1 or 20% discount. 
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PromotionPriceUnitType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>1.99 each or 1.99 per pound. Here each or pounds are the units.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LimitedQtyNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is used in conjunction with the price Method. This amount will represent either : - the amount a customer can purchase at the Alternate Price. - Groupings that must be purchased to be charged the Alternate Price. - The minimum amount that must be purchased before the the Alternate Price will be charged.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MinimumPurchaseLimitQty" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tells how many must be purchased before coupon is redeemed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnitPriceAmt" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>1 for 1.99 here 1.99 is the unit price. Similarly when 10 for 10$ , here 1 is the unit price.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FreeUnitNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>when prom price is Buy 1 Get 1 Free, the field will be populated as 1 (1 free unit)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>