AppBuild/CMM/Nouns/PurchaseOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   Schema Owner: 	Safeway Inc
   Date Created:      11 Jan 2017
   Author:		Sai Nuthakki
   Dsc: contains commonly used Albertson's Purchase order schema.
   Name: /ABS_CMM_Platform/Nouns/PurchaseOrder.xsd
-->
<!-- edited with XMLSpy v2021 rel. 3 (x64) (http://www.altova.com) by Devesh (Albertsons) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<!--V1.15 Devesh Kandpal 11/17/2021 - JIRA ES-4267 - Added new element BalancingItemInd, CaseUnitDimensions, RequisitionItemId-->
	<!--V1.14 Rosabel Macarion 10/12/2021 - Updated maxlen of ItemDsc and ManufaturerItemID from 200 to 240 and 50 to 700 respectively. -->
	<!--V1.13 Devesh Kandpal 06/29/2021 - Updated Columns for WMPOHEDR/WMPODETL as part of Project ID: 25723 for setting Virtual Warehouse-->
	<!--V1.12  Added SiteCds for ORCA POs-->
	<!--V1.11 Rosabel Macario 2/26/21: Set TotalOrderQty and QtyUOM as Optional for Indirect materials POs. -->
	<!--V1.10 Rosabel Macario 1/20/21: Increase maxlen of BuyerId from 10 to 20 -->
	<!--V1.9 Patrick Oliver 01/08/21: Changed  TotalWtAmt and WtUOM to optional fields-->
	<!--V1.8 - Patrick Oliver 12/17/20: Added BusinessUnitId and BusinessUnitNm-->
	<!--V1.7 Rosabel Macario 12/15/2020: Updated the datatype xs:datetime of RevisionMethodCd to xs:string using default maxlen 50 for code attributes.-->
	<!--V1.6 Rosabel Macario 12/07/2020: Added Entity in PurchaseOrderHeaderType-->
	<!--V1.5 Patrick Oliver 12/04/20: Updated PurchaseOrderComments, PurchaseOrderInstructions, PurchaseOrderNotes, & ShippingInstructions to length to 2000 -->
	<!--V1.4 Rosabel Macario 11/04/2020 - Added tag to resolve dateTimeStamp issue-->
	<!--V1.3 Patrick Oliver 10/20/20: Added AltAccountId to detail-->
	<!--V1.2 Patrick Oliver 8/28/20: Added PurchaseOrderHeader: CompanyId, CompanyNm, PurchaseOrderCd, TotalLineNbr, LastLineNbr, TotalTaxableAmt, RecordAuditData, PurchaseOrderRevision, EntryExchangeRt, ReceiveExchangeRt, LocationCd; PurchaseOrderDetail: ItemTypeCd,  PurchaseOrderCloseDt, LocationCd, VendorProductID, LineTax, MatchClsCd,  ExtendedTaxableAmt, ProcessLevelId, ItemEarliestShipDt, , AccountingUnitId, AccountId, SubAccountId, DistributionCompanyId,  AccountCategory,  ActivityNbr, LineLocationCd,  LineLocationAddress-->
	<!--V1.1 Patrick Oliver 7/22/20 - Updated VendorId & VendorSubAccountNbr to string(20)-->
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:include schemaLocation="FinanceMaster.xsd"/>
	<xs:element name="PurchaseOrder" type="AbsPurchaseOrderType">
		<xs:annotation>
			<xs:documentation>root</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AbsPurchaseOrderType">
		<xs:annotation>
			<xs:documentation>Albertson's companies Standard Purchase Order. The purpose of the PurchaseOrder Business Object Document is to communicate an order to purchase goods from a buyer to a supplier. Supplier can be internal Albertson's other facilities or external vendors.
The PurchaseOrder carries information to and from the buyer and supplier. The PurchaseOrder is a legally binding document once both Parties agree to the contents and the specified terms and conditions of the order.  </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PurchaseOrderHeader">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="PurchaseOrderHeaderType">
							<xs:sequence>
								<xs:element name="CompanyId" minOccurs="0">
									<xs:annotation>
										<xs:documentation>The number that identifies a company. A company represents a business or legal  entity of an organization.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="10"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="CompanyNm" minOccurs="0">
									<xs:annotation>
										<xs:documentation>This is the company name or description.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element ref="BusinessUnitId" minOccurs="0"/>
								<xs:element ref="BusinessUnitNm" minOccurs="0"/>
								<xs:element name="PurchaseOrderCreateFacility" type="PurchaseOrderCreateFacility">
									<xs:annotation>
										<xs:documentation>Albertsons internal facility or external customer facility where a purchase order has been created.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PurchaseOrderReceiveFacility" type="PurchaseOrderReceiveFacility">
									<xs:annotation>
										<xs:documentation>Albertsons internal facility or external Vendorr facility where a purchase order has been received for order fullfillment.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PurchaseOrderMessageType" type="MessageType"/>
								<xs:element ref="PurchaseOrderNbr">
									<xs:annotation>
										<xs:documentation>An Id created by the authoring system that uniquely represents a purchase order document.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PurchaseOrderCd" type="CodeWithDescription" minOccurs="0">
									<xs:annotation>
										<xs:documentation>This is the purchase order code as defined in accounting</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element ref="PurchaseOrderDt"/>
								<xs:element name="Status" type="StatusType" minOccurs="0" maxOccurs="4">
									<xs:annotation>
										<xs:documentation>Describes purchase order status.
Ex Original, Revised</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="TransmissionCd" default="EDI" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Indicates how the purchaser order has been sent to the receiving party. Ex: EDI, Fax</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="Buyer" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Party responsible for ordering the Qty. It could be a Buyer, Forecaster or any other party.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="BuyerId" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="20"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="BuyerNm" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="50"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="FacilityId" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="10"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="BuyerPhoneNbr" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="20"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="BuyerEmailId" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="100"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Vendor" type="PurchaseOrderVendor" minOccurs="0">
									<xs:annotation>
										<xs:documentation>It can have information about Vendor, Vendor Sub Account or Warehouse Vendor Sub account.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Supplier" type="PurchaseOrderSupplier" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Contains goods supplier information. It could be same as one of hte vendor locations or external party to the vendor.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ShipTo" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Final destination of the goods shipped.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ShipToFacilityId" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="10"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ShipToFacilityNm" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="50"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ShipToFacilitySiteCd" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="50"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ShipToDUNSNbr" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="20"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ShipToContact" minOccurs="0" maxOccurs="2">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="ContactNm" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="50"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="PhoneNbr" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="20"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="EmailAddresstxt" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="100"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="ShipToAddress" type="AddressType" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="BillTo" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Party responsible for the payment as per PO terms.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="BillToFacilityId" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="10"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="BillToFacilityNm" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="50"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="BillToFacilitySiteCd" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="50"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="BillToDUNSNbr" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="20"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="BillToContact" minOccurs="0" maxOccurs="2">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="ContactNm" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="50"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="PhoneNbr" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="20"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="EmailAddresstxt" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="100"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="BillToAddress" type="AddressType" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="PurchaseOrderCreateDt" type="xs:dateTime" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Date on which the PO has been created in the source system.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PurchaseOrderCreatedBy" default="" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="ForeignPurchaseOrderNbr" default="" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="20"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="PurchaseOrderReleaseNbr" default="0" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="20"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="TransportationTerms" type="TransportationTermType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Defines tranportation terms like inco terms details.
ex FOB, CIS</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="CarrierEquipment" type="CarrierEquipment" minOccurs="0" maxOccurs="5">
									<xs:annotation>
										<xs:documentation>Contains information related to carrier for the goods transportation.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PurchaseOrderReference" type="PurchaseOrderReference" minOccurs="0" maxOccurs="10">
									<xs:annotation>
										<xs:documentation>contains associated master PO or customer PO or Foreign PO or any other related PO ID with type.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PurchaseOrderComments" minOccurs="0" maxOccurs="30">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="2000"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="PurchaseOrderInstructions" minOccurs="0" maxOccurs="30">
									<xs:annotation>
										<xs:documentation>Instructions to vendors and suppliers</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="2000"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="PurchaseOrderNotes" minOccurs="0" maxOccurs="30">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="2000"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="ShippingInstructions" minOccurs="0" maxOccurs="30">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="2000"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="PalletExchange" type="PalletExchangeType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Contains information realted to the Pallet exchange between the PO parties.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="LumperInstructions" type="LumperType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Instructions to the lumpers who unload and restack the goods</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="LocationAppointment" type="ReceivingAppointmentType" minOccurs="0"/>
								<xs:element name="UnitLoad" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Defines load unit type.
01 = PALLETIZED
02 = FLOOR STACK/HAND PILE
03 = MIXED
04 = SLIP SHEET
05 = MODULE</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="20"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="LoadId" type="xs:integer" minOccurs="0">
									<xs:annotation>
										<xs:documentation>A unique system generated identifier for a Load. When requesting a     
produce item, it is required that building loads and assigning produce 
items to a load be done before a requisition can be sent.              </xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PickupNbr" minOccurs="0">
									<xs:annotation>
										<xs:documentation> Purchase Order Pickup Number.  Supplied to Safeway by the vendor. It
 helps tell traffic and truckers where and when to pick up the goods.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="20"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="RequestedShipDtTm" type="xs:dateTime" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Date and time on which delivery of shipment is required by the buyer.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PromisedShipDtTm" type="xs:dateTime" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Promised ship date time by the vendor/supplier</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PromisedDeliveryDtTm" type="xs:dateTime" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Promised date on which the goods to be deliverred to the customer</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="EarliestShipDtTm" type="xs:dateTime" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Earliest possible date for the shipment</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PaymentTerms" type="PaymentTermType" minOccurs="0" maxOccurs="5">
									<xs:annotation>
										<xs:documentation>Identifies the payment term for an Order or Invoice. Supports the abiility to specify an absolute due date, a Nbr of days from a start daye, a percent discount or an absolute discount. A common term like "Net30Days" is explicitly Cd as either a calculated DueDtTm or a PaymentTermsDtTm and NbrOfDays.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PurchaseOrderExchangeRate" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="EntryExchangeRt" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:decimal">
														<xs:totalDigits value="18"/>
														<xs:fractionDigits value="7"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ReceiveExchangeRt" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:decimal">
														<xs:totalDigits value="18"/>
														<xs:fractionDigits value="7"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="FreightAllowanceTypeCd" default="" minOccurs="0">
									<xs:annotation>
										<xs:documentation>  Indicates how the freight allowance is calculated.  An allowance is  
 some form of moneys given from the vendor to subsidize the cost.     
 Blank - No allowance.
 "C"   - per case rates.     
 "W"   - per hundredWt rate.  
 "D"   - flat dollar.   
</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="FreightAllowanceAmt" default="0" minOccurs="0">
									<xs:annotation>
										<xs:documentation>   This is the rate of the freight allowance. This allowance is offered to  us since they do not deliver the goods to our warehouse. 
   If freight allowance type is D - Flat Dollar, this Amt field will be
 a whole dollar value and must be multiplied by 100 when reading or
 divided by 100 when a value is entered.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:decimal">
											<xs:totalDigits value="14"/>
											<xs:fractionDigits value="4"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="FreightAllowanceDsc" default="" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="200"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="FreightChargeAmt" default="0" minOccurs="0">
									<xs:annotation>
										<xs:documentation> This is the rate of the Freight Charge. This is the Amt that is   
charged us to have produce delivered to our warehouse from a Vendor. A Freight Charge is usually from an outside trucking company. Vendors
usually offer a Freight Allowance to offset the cost of delivery.  
If the freight charge type is D - flat dollar, this Amt  field will be a whole dollar value  and must be   multiplied by 100 when reading, or divided  by 00 when  entering a value. </xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:decimal">
											<xs:totalDigits value="14"/>
											<xs:fractionDigits value="4"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="FreightChargeTypeCd" default="" minOccurs="0">
									<xs:annotation>
										<xs:documentation> Indicates how the freight charge is calculated.  A charge is an 
additional cost incurred by the receiving company when an item is  
shipped from a vendor.       
Blank - No allowance.     
"C"   - per case rates.  
"W"   - per hundredWt rate. 
"D"   - flat dollar.
</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="FreightChargeDsc" default="" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="PriceBreakAmt" default="0" minOccurs="0">
									<xs:annotation>
										<xs:documentation>The vendor price break rate calculated at purchase order
generation time.                                        
</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:decimal">
											<xs:totalDigits value="14"/>
											<xs:fractionDigits value="4"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="PriceBreakType" default="" minOccurs="0">
									<xs:annotation>
										<xs:documentation>This field determines whether the price break is off-invoice 
or a debit Amt.       
"O" = off-invoice              
"D" = debit Amt                  " " = no price break for this P.O.                           
</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="20"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="PriceBreakExcludeInd" default="" minOccurs="0">
									<xs:annotation>
										<xs:documentation> This field determines whether to include/exclude the price 
 break in item billing cost.      "N" = include in item billing cost                         
 "Y" = exclude from item billing cost                       
 " " = no price break for this P.O.                         
</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="5"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="TradeDiscountPercent" default="0" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Trade discount is expressed as a percentage. This
is a discount the Vendor offers for all items attached to the Warehouse Vendor Sub Account.  
</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:decimal">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="100"/>
											<xs:totalDigits value="6"/>
											<xs:fractionDigits value="3"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="TradeDiscountDsc" default="" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="100"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="BackHaulInd" minOccurs="0">
									<xs:annotation>
										<xs:documentation>It is used to determine if backhaul sheets are to be printed.                           Valid values are: 'S' - Safeway trucking
'Y' - Backhaul via Safeway trucking               ' ' - Outside Carrier                                           
</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="5"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="TotalOrderQty" default="0" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:decimal">
											<xs:totalDigits value="14"/>
											<xs:fractionDigits value="4"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="QtyUOM" default="Ea" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="TotalWtAmt" default="0" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:decimal">
											<xs:totalDigits value="14"/>
											<xs:fractionDigits value="4"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="WtUOM" default="Lbs" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="TotalTaxableAmt" type="AmountType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>The taxable amount of the invoice in the base currency of the invoice.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="TotalLineNbr" type="xs:integer" default="0" minOccurs="0"/>
								<xs:element name="LastLineNbr" type="xs:integer" default="0" minOccurs="0"/>
								<xs:element name="PurchaseOrderRevision" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="RevisionNbr" type="xs:integer" minOccurs="0">
												<xs:annotation>
													<xs:documentation>The purchase order revision number. Assigned sequentially by the system when the purchase order is revised.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="RevisionMethodCd" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Specifies the method that will be used to issue the purchase order to the vendor.
P = Paper, F = Fax, E = EDI
I = Internet Mail, D = Do Not Print</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="50"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="RevisionDtTm" type="xs:dateTime" minOccurs="0">
												<xs:annotation>
													<xs:documentation>The date the purchase order revision was issued to the vendor.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="LocationCd" type="CodeWithDescription" minOccurs="0">
									<xs:annotation>
										<xs:documentation>This field contains a valid stocking location within the company inventory</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="RecordAuditData" type="RecordAuditData" minOccurs="0"/>
								<xs:element name="OrgMasterNameType" type="OrgMasterNameType" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="Entity" type="CodeWithDescription" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Companies with EIN's allows for flexibility of hundreds if not thousands of legal entities and room for special purposes.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="WarehouseReceivingNbr" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Receiving number assigned when PO is received at the warehouse. </xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="5"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="PurchaseOrderReceiveDt" type="DateTimeType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>date the purchase order was received at the warehouse</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PurchaseOrderLocationCd" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Indicator to identify where PO was created. B= Buyer Created PO ; W = WIMS created PO; X = External created PO</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="PurchaseOrderPrintInd" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Represents whether or not the P.O. was printed from a CICS screen</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="CostCalculationInd" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Denotes whether IB/INV cost is calculated for all items in a purchase order</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="GrossNetInd" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Indicates whether cash discount is to be calculated on the gross or net amount</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="CashDiscountCostInd" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Indicates if the cash discount is included in the item billing cost calculation.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="SwellAllowanceAmt" minOccurs="0">
									<xs:annotation>
										<xs:documentation>This is the discount to account for damaged or spoiled items</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:decimal">
											<xs:totalDigits value="7"/>
											<xs:fractionDigits value="2"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="SwellAllowanceDsc" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Descriptive information that is printed in the "swell allowance" box on the Purchase Order</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="OtherAllowanceAmt" minOccurs="0">
									<xs:annotation>
										<xs:documentation>This is a discount the Vendor offers for all items attached to the WIMSUB</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:decimal">
											<xs:totalDigits value="7"/>
											<xs:fractionDigits value="2"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="OtherAllowanceDsc" type="xs:string" minOccurs="0"/>
								<xs:element name="CustomBrokerageAmt" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Customs brokerage is incurred at the time a shipment of goods is
inspected by customs.It is dollar amount (fee) entered onto the purchase order</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:decimal">
											<xs:totalDigits value="9"/>
											<xs:fractionDigits value="2"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="SlipSheetChargeAmt" minOccurs="0">
									<xs:annotation>
										<xs:documentation>flat dollar fee as an added charge onto a P.O.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:decimal">
											<xs:totalDigits value="9"/>
											<xs:fractionDigits value="2"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="WarehouseSystem" minOccurs="0">
									<xs:complexType>
										<xs:sequence minOccurs="0">
											<xs:element name="WarehouseSystemSwitchInd" minOccurs="0">
												<xs:annotation>
													<xs:documentation>A flag which indicates whether a P.O. is also on Warehouse System database. </xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="WarehouseSystemTimeStamp" type="DateTimeType" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="AlternateLimit" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Alternate Limits Amount for the purchased product</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence minOccurs="0">
											<xs:element name="MaxLimitAmt" type="xs:int" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Alternate Limits Maximum Amount</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="MinLimitAmt" type="xs:int" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Alternate Limits Minimum Amount</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="BracketCostNbr" type="xs:int" minOccurs="0">
									<xs:annotation>
										<xs:documentation>bracket cost number for the purchase order item when vendor oriented bracket buying is in place</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="BracketInd" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Buyers may override bracketing for this Purchase Order and when this occurs then this flag is populated.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="FaxInd" minOccurs="0">
									<xs:annotation>
										<xs:documentation>PurchaseOrder Fax Switch</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="BouncerInd" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Bouncers identify a cost difference between Safeway and a vendor's invoice
 which will hold up payment until resolved. Example: S = Suppress</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="PurchaseOrderSourceInd" minOccurs="0">
									<xs:annotation>
										<xs:documentation>An idicator defining the source of purchase orders; used to help determine where a P/O came from
 Example:A = Agribuys (via e-business P/O FM subroutines)D = Distribution Centre/Warehouse Created P/O's. 
 (reserved)F = PO created as a result of a facility change </xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="ElectronicReferenceId" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Reference ID that allows sender to cross-refer receiver's response to an originating eBusiness transaction</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="40"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="FreightOnBoard" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>It relates to freight involved in PO and who is responsible for payment</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="FreightOnBoardInd" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>D = Delivery(Vendor Paid) ; F = FOB (Albertson Paid)</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ShippingOrder" minOccurs="0">
									<xs:complexType>
										<xs:sequence minOccurs="0">
											<xs:element name="ShipOrderInd" minOccurs="0">
												<xs:annotation>
													<xs:documentation>It indicates shipping order has been sent to the Order Management System.</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ShipOrderTs" type="DateTimeType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Time at which a shipping order has been sent to the Order Mangement System</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="PurchaseOrderDueDt" type="xs:dateTime" minOccurs="0"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PurchaseOrderDetail" type="PurchaseOrderDetailType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>One PO header can have multiple Detail lines at item level.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PurchaseOrderDetailType">
		<xs:annotation>
			<xs:documentation>Contains data at Purchase Order Line item level, ie at ordered item level.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="PurchaseOrderNbr"/>
			<xs:element name="LineNbr" type="xs:integer" default="0"/>
			<xs:element ref="Abs:CorporateItemCd" minOccurs="0"/>
			<xs:element name="ItemTypeCd" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the line item type. I = Inventoried , S = Service, X = Special,  N = Non-stock</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemDsc" default="" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the Dsc of a warehoused item.  It contains the brand and Dsc of the item.
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemEarliestShipDt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Earliest possible date for the item in shipment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufacturerItemID" default="" minOccurs="0">
				<xs:annotation>
					<xs:documentation>identifier provided by the manufacturer</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="700"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerItemID" default="" minOccurs="0">
				<xs:annotation>
					<xs:documentation>identifier provided by the customer. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UPCID" type="UPC" minOccurs="0">
				<xs:annotation>
					<xs:documentation>upc identifier for the item, could be a case upc or retial scan upc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GTINID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="14"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorProductID" type="xs:string" minOccurs="0"/>
			<xs:element name="LineLocationCd" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This field contains a valid stocking location within the company inventory. Defaults to PO header ship to location but can be changed per item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineLocationAddress" type="AddressType" minOccurs="0" maxOccurs="4"/>
			<xs:element name="MatchClsCd" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Item Categorization of SWMAN, ASSET, PDC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="POLineStatus" type="StatusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PO Line status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderQty" default="0">
				<xs:annotation>
					<xs:documentation>Total Nbr of units ordered.
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnitOfMeasurement" default="">
				<xs:annotation>
					<xs:documentation>Ex: Cases, Each</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CaseWt" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>   Wt of a warehouse shipping unit (single case).
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CaseCubeVol" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Volume of the case cube, generally in cubic feet.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PackUnitQty" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Qty of shelf units in a warehouse unit, or pack for the item at 
a corporate level.  e.g. 24 shelf units in a warehouse case.             
All distribution centers will use this to keep their "24 packs"          
on the same item Cds.  Nbr of consumer units per warehouse shipping 
pack (or store receiving pack for DSD) with Descriptive Size, appears on 
Purchase Orders for warehoused items.                                    
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorConvFactor" default="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Factor used to convert a vendor pack to a warehouse pack.                    
eg: If a Vendor's Master case is a 72 Pack and we want to ship 12's to Stores
then we have a warehouse Pack = 12 and a VEND-CONV-FCTR = 6.
                             
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemShelfUnitSize" default="" minOccurs="0">
				<xs:annotation>
					<xs:documentation> The generic retail size of goods. It may be actual size
 Example: 340 g or a unit type (packet).                           
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorUnitCostAmt" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the base cost charged by a vendor for the product for a vendor unit. It does not include allowances or discounts. VEND-CONV-FCTR is  used to convert the cost from a vendor pack to a warehouse pack.       
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnitPrice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>unit price of the item per unit Qty specified</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Amt" default="0" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="14"/>
									<xs:fractionDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PerQty" default="0" minOccurs="0">
							<xs:annotation>
								<xs:documentation>indicates per Qty side of the Amt.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="14"/>
									<xs:fractionDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PalletHeight" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nbr of layers of cases on a vendors pallet.
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PalletLayerUnits" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nbr of units that make up a layer on a vendors pallet.
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Allowances" type="Abs:AllowancesType" minOccurs="0" maxOccurs="10"/>
			<xs:element name="PurchaserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An identifier of the individual who purchases items.  This is a          
redefinition of a Buyer.  What one Grocery/GMHBC buyer does today        
(forecasting and purchasing), Produce and Meat split amongst separate    
people (forecaster, and purchaser). This is because grocery/gmhbc items  
have a regular primary vendor who is almost guaranteed to be able to     
supply what Safeway needs, whereas produce and meat do not have a steady supply and must go to multiple growers to buy from (weather, crop
failure, etc).                                              </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PurchaserNm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PurchaserFacilityId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PurchaserPhoneNbr" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BillingTypeCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The billing type indicator indicates if the item is an average weight   
 item (A), a Postbill item (P) or a normal item.  Average weight means    
 that the weight of the case varies from case to case. This is similiar   
 to Postbill items except each case is not weighed as it leaves the       
 warehouse.  The stores are billed at the average cost per case. This     
 field also indicates that the cost on the purchase order is LB or KG.    
 Postbill replaces a status of P.  Any programs that determine if an item 
 is a Postbill item using warehouse status can now use this field.        
   "A" - Average Weight Item.                                               
 "P' - Postbill Item.                                                     
 " " - Normal Item.                                                       
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExtendedTaxableAmt" type="AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The taxable amount of the invoice in the base currency of the invoice.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineTax" type="TaxType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="InvestmentOrderQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Investment order qty is generally a sub set of order qty for an item with in a PO.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvestmentQtyUOM" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="PurchaseOrderCloseDt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Purchase order line close date </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ProcessLevelId" minOccurs="0"/>
			<xs:element ref="AccountingUnitId" minOccurs="0"/>
			<xs:element ref="AccountId" minOccurs="0"/>
			<xs:element name="AltAccountId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Can be account ID but in string format.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="SubAccountId" minOccurs="0"/>
			<xs:element name="DistributionCompanyId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CompanThe company the expense will be posted to. Must be a valid record in the        General Ledger Company file.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountCategory" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Account categories are groupings of costs, revenues, or a combination of                       both used for reporting and inquiries
for activities in the Activity
Management system. All transactions are posted to an account category within an activity. 
Valid account category types are:
Cost, revenue, accrual,  pass thru</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActivityNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Activities are the processes or procedures that produce work. Cost objects (products, services, customers, and so on) are the reasons for performing the activity.              </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Status" type="StatusType" minOccurs="0" maxOccurs="4"/>
			<xs:element name="PromotionCdInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Promotion code indicator</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShelfLife" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Items with an expiry on it</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PromotionOrderQty" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PromotionOrderQty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReceivedQty" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quantity received</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurchaseOrderCreatedBy" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AlternateSourceBuyingCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the type of alternate source buying the item</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RecordAuditData" type="RecordAuditData" minOccurs="0"/>
			<xs:element name="WarehouseSystem" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="WarehouseSystemSwitchInd" type="xs:string" minOccurs="0"/>
						<xs:element name="WarehouseSystemTimeStamp" type="DateTimeType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BracketCostNbr" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>bracket cost number for the purchase order item when vendor oriented bracket buying is in place</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BracketCost" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the bracket Cost used in Total Billing cost per vendor</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="9"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BracketRoundQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Rounding quantity for the bracket cost selected</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BracketOrderQty" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>minimum order quantity to qualify for discounted cost</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BracketInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Buyers may override bracketing for this Purchase Order and when this occurs then this flag is populated.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CatchWt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The total weight of all cases of the product received.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="9"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrderOriginalQty" type="xs:int" minOccurs="0"/>
			<xs:element name="VendorCaseWgt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="10"/>
						<xs:fractionDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BalancingItemInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether the items is used to balance the truck based on volume and load. Valid value are Y = Low Priority, N = High Priority and Space</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CaseUnitDimension" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains case unit dimensions</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CaseHeight" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Height of the actual case</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CaseDepth" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Depth of the actual case</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CaseWidth" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Width of the actual case</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CaseUOMCd" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unit of Measure of the case dimensions</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RequisitionItemId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifier for matching the item in the source system (Ex Requsition Nbr in DA)   
                          </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PurchaseOrderDt" type="xs:date">
		<xs:annotation>
			<xs:documentation>Date on which PO was created</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PurchaseOrderCreateFacility">
		<xs:annotation>
			<xs:documentation>Facility where purchase order has been created or issued. ex store, warehouse or a plant or external customer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CorporationId" minOccurs="0"/>
			<xs:element ref="Abs:DivisionId" minOccurs="0"/>
			<xs:element ref="Abs:DistributionCenterId" minOccurs="0"/>
			<xs:element ref="Abs:WarehouseId" minOccurs="0"/>
			<xs:element ref="Abs:RetailStoreId" minOccurs="0"/>
			<xs:element name="OrderGroupId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Could be a Retail Order Group(ROG) to order on behalf of group of stores or a Order Group in supply chain.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="Abs:ManufacturingPlantId" minOccurs="0"/>
			<xs:element name="AdminOfficeId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="Abs:DepartmentId" minOccurs="0"/>
			<xs:element name="CustomerFacilityId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>External wholesale customers may issue purchase orders to manufacturing plants or warehouses for item procurement and they will be Albertson's inbound POs.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PurchaseOrderCreateFacilityNm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreateFacilitySiteCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Finance POs will have facility site id.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PurchaseOrderCreateFacilityAddress" type="Abs:AddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PurchaseOrderReceiveFacility">
		<xs:annotation>
			<xs:documentation>Facility where purchase order has been received for fullfillment. ex store, warehouse or a plant or external party.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Abs:CorporationId" minOccurs="0"/>
			<xs:element ref="Abs:DivisionId" minOccurs="0"/>
			<xs:element ref="Abs:DistributionCenterId" minOccurs="0"/>
			<xs:element ref="Abs:WarehouseId" minOccurs="0"/>
			<xs:element ref="Abs:RetailStoreId" minOccurs="0"/>
			<xs:element ref="Abs:ManufacturingPlantId" minOccurs="0"/>
			<xs:element name="AdminOfficeId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="Abs:DepartmentId" minOccurs="0"/>
			<xs:element name="Vendor" minOccurs="0">
				<xs:annotation>
					<xs:documentation>External Vendors may receive purchase orders from manufacturing plants or warehouses or stores for item procurement. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VendorId" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="VendorAlternateId" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="VendorNm" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PurchaseOrderReceiveFacilityNm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReceiveFacilitySiteCd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PurchaseOrderReceiveFacilityAddress" type="Abs:AddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PurchaseOrderReference">
		<xs:annotation>
			<xs:documentation>contains associated master PO or customer PO or Foreign PO or any other related PO ID with type.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReferencePurcahseOrderType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Master PO or Foreign PO..etc</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReferencePurchaseOrderNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReferencePurchaseOrderDate" type="xs:date" minOccurs="0"/>
			<xs:element ref="DistributionCenterId" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PurchaseOrderHeaderType">
		<xs:annotation>
			<xs:documentation>Contains all header level information of a Purchase Order.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:element name="PurchaseOrderNbr" default="">
		<xs:annotation>
			<xs:documentation>Unique Nbr to identify a purchase order with in an organization.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="PurchaseOrderVendor">
		<xs:annotation>
			<xs:documentation>Contains vendor information related to the PO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VendorId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorSubAccountNbr" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorNm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WarehouseVendorId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VendorId used in warehouse</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WarehouseSubVendorId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the WIMS Vendor number set up by the Buyer.
Buyer/Merchandisers may break a Vendor outlet into different WIMS Vendors to suit their own purposes. Some of the reasons a Vendor may have several WIMS Vendor records are:          
1. Several Buyers buying from the same Vendor.              
2. A buyer buying different commodity groups from the same Vendor.                                                     
3. A Vendor offering different purchasing terms on different product lines.                                    
4. A Buyer buying some products through a Broker and some directly from the Vendor.                                   
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BDRVendorId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vendor id used in back door receiving systems for a DSD vendor.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorDUNSNbr" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorContact" minOccurs="0" maxOccurs="2">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContactNm" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PhoneNbr" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="EmailAddresstxt" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Address" type="AddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PurchaseOrderSupplier">
		<xs:annotation>
			<xs:documentation>Contains supplier information related to the PO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SupplierId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SupplierNm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SupplierDUNSNbr" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SupplierContact" minOccurs="0" maxOccurs="2">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContactNm" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PhoneNbr" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="EmailAddresstxt" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Address" type="AddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>