AppBuild/CMM/Nouns/RetailInventoryAdjustment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2021 rel. 3 (x64) (http://www.altova.com) by mgadd09 (Albertsons) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<!--V1.3.1 Monica Gaddam 09/22/2021 - Added FinalItemQty, AdjustmentTxnTypeNm, AltFacilityType-->
	<!--V1.3 Monica Gaddam 8/24/2021- Added TransferType (code with description), FromDepartmentId,ToDepartmentId, ToFacilityId, ToFacilityType.-->
	<!--V1.2 Rosabel Macario 11/04/2020 - Added tag to resolve dateTimeStamp issue-->
	<!--V1.1 Patrick Oliver 7/22/20 - Updated VendorId & VendorSubAccntId to string(20)-->
	<!--V 1.0 Alex Nunes 8/14/2019 Initial verion.-->
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="RetailInventoryAdjustment" type="RetailInventoryAdjustmentType">
		<xs:annotation>
			<xs:documentation>Root element.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RetailInventoryAdjustmentType">
		<xs:annotation>
			<xs:documentation>Publishes Adjusted Inventory qty in a retail facility by item. Quantity adjutments can happen due to various reasons like damage, receive short, theft. These adjustments are considered distress data from the inventory perspective.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CorporationId"/>
			<xs:element ref="DivisionId"/>
			<xs:element name="FacilityID" type="xs:string">
				<xs:annotation>
					<xs:documentation>A four character code that is used with corporation
 and division to uniquely identify a facility. A facility may "belong" to
 only one corporation and one division. A building may house one or more
facilities. There are two categories for facilities:
 1) Operating facility
 - actively supports the business of the Company
 - is a distinct business operation within a building
  - examples: office, processing plant, retail store, truck service
 shop, or warehouse building  (A warehouse facility includes all warehouse departments that exist within a single building.)
 - each type of division/business has a different set of possible types of operating facilities: i.e.,
 - Retail: retail outlets and offices.
- Wholesale: warehouse facilities, truck service shop, and offices.
- Processing/Manufacturing: processing plants and offices.
 2) Non-operating Facility                                                     
 - not currently being operated by the Company.
 - facilities </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacilityType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Type of the facility like, DC,  warehouse, Retail Store, Office building, manufacturing plant..etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacilityNm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the facility. ex Tracy DC or Safeway store in Bollinger Canyon San Ramon</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AltFacilityId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Alternate facility identifier, generally store nbr in char format.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AltFacilityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of Alterate facility eg: Mfc store</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="WarehouseId" minOccurs="0"/>
			<xs:element ref="DistributionCenterId" minOccurs="0"/>
			<xs:element name="AdjustmentTxnId" type="xs:string" minOccurs="0"/>
			<xs:element name="AdjustmentTxnTypeNm" type="xs:string" minOccurs="0"/>
			<xs:element name="AdjustmentTxnDt" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and time at which the inventory adjustment transaction was carried out.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="CorporateItemCd" minOccurs="0"/>
			<xs:element name="SystemSpecificItemId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Item identifier specific to the system reporting inventory adjustment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="FinalQty" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The final quantity after adjustment. This is not available in all transactions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdjustedQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adjusted Item quantity.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="QuantityAdjustementType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the adjustment type as more or less than original.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UOM" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unit of Measure. Ex each, case, pack, pallet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdjustedWt" type="WeightType" minOccurs="0"/>
			<xs:element name="WeightAdjustementType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the adjustment type as more or less than original.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdjustedVol" type="VolumeType" minOccurs="0"/>
			<xs:element name="VolumeAdjustementType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the adjustment type as more or less than original.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdjustmentType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Types of inventory adjustments like donations, damages, thefts and dept transfers. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Types of transfers. Eg: Dept transfer, store transfer, mfc transfer.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CodeWithDescription">
							<xs:sequence>
								<xs:element name="FromDepartmentId" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Defines a cd that uniquely identifies the departments based on a function.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="20"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="ToDepartmentId" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Defines a cd that uniquely identifies the departments based on a function.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="20"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="ToFacilityId" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>A four character code that is used with corporation
 and division to uniquely identify a facility. A facility may "belong" to
 only one corporation and one division. A building may house one or more
facilities. There are two categories for facilities:
 1) Operating facility
 - actively supports the business of the Company
 - is a distinct business operation within a building
  - examples: office, processing plant, retail store, truck service
 shop, or warehouse building  (A warehouse facility includes all warehouse departments that exist within a single building.)
 - each type of division/business has a different set of possible types of operating facilities: i.e.,
 - Retail: retail outlets and offices.
- Wholesale: warehouse facilities, truck service shop, and offices.
- Processing/Manufacturing: processing plants and offices.
 2) Non-operating Facility                                                     
 - not currently being operated by the Company.
 - facilities </xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ToFacilityType" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Type of the facility like, DC,  warehouse, Retail Store, Office building, manufacturing plant..etc.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReasonType" type="CodeWithDescription" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Reasons for the adjustment of item quantity in a facility.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxnTimeZone" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="VendorId" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vendor Identifier.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorSubAccntId" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vendor Sub Account Id</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SectionCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Retail section code of an item.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UPC" type="UPC" minOccurs="0"/>
			<xs:element name="UPCComponents" type="UPCComponentsType" minOccurs="0"/>
			<xs:element ref="Status" minOccurs="0"/>
			<xs:element name="AuditData" type="RecordAuditData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>