AppBuild/CMM/Nouns/StoreOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   Schema Owner: 	Safeway Inc
   Date Created:      11 Jan 2017
   Author:		Sai Nuthakki
   Dsc: contains commonly used Albertson's Purchase order schema.
   Name: /ABS_CMM_Platform/Nouns/StoreOrder.xsd
-->
<!-- edited with XMLSpy v2021 rel. 3 (x64) (http://www.altova.com) by Devesh (Albertsons) -->
<xs:schema xmlns="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:Abs="http://collab.safeway.com/it/architecture/info/default.aspx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://collab.safeway.com/it/architecture/info/default.aspx" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<!--V1.0 1/21/2020 Alex Nunes Removed 'ProcessDt' element from storeorder details. Reversed the change on 5/19/2020.-->
	<!--V1.1 Patrick Oliver 7/22/20 - Updated VendorId & VendorSubAccountNbr to string(20)-->
	<!--V1.2 Alex Nunes 11/20/2020 - Added possible suppliers for the order.-->
	<!--V1.3 Alex Nunes 1/25/2021 - Added DSD purchase order elements. -->
	<!--v1.3 Alex Nunes 2/5/2021 - Rename //element(*,StoreOrderVendor)/WarehouseVendorId to //element(*,StoreOrderVendor)/BackdoorVendorSubAccountId-->
	<!--v1.4 Alex Nunes 3/19/2021 - Added Offset days and estimated available date. CR57 -->
	<!--v1.4 Alex Nunes 4/7/2021 - wtUOM element renamed to its original name due to typo -->
	<!--v1.5 Alex Nunes 4/14/2021 - Added PurchaseOrderEdiTs at Header level -->
	<!--v1.6 Alex Nunes 6/10/2021 - Added FirmOrderReleaseDt and ScheduleOverrideInd at Header level JIRA ES-911 -->
	<!--v1.7 Devesh Kandpal 08/19/2021 - Added RestrictedItemInd at Detail level - CR#60  JIRA ES-3135-->
	<!--V1.8 Devesh Kandpal 02/11/2022 - ES-6422 - Added new field OrderLimitQty-->
	<xs:include schemaLocation="../AbsMaster/AbsOmMaster.xsd"/>
	<xs:element name="StoreOrder" type="StoreOrderType">
		<xs:annotation>
			<xs:documentation>root</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="StoreOrderType">
		<xs:annotation>
			<xs:documentation>Albertson's companies Standard Store Order. The purpose of the StoreOrder Business Object Document is to communicate an order to receivee goods from an internal warehouse or external vendor. Retail Stores place these orders. Storeorder has different states like Raw order and Scheduled Order.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StoreOrderHeader" type="StoreOrderHeaderType"/>
			<xs:element name="StoreOrderDetail" type="StoreOrderDetailType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>One Store Order header can have multiple Detail lines at item level.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StoreOrderDetailType">
		<xs:annotation>
			<xs:documentation>Contains data at Store Order Line item level, ie at ordered item level.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StoreOrderNbr" type="xs:integer" minOccurs="0"/>
			<xs:element name="LineNbr" type="xs:integer" default="0" minOccurs="0"/>
			<xs:element ref="Abs:CorporateItemCd" minOccurs="0"/>
			<xs:element name="ItemDsc" type="xs:string" default="" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the Dsc of a warehoused item.  It contains the brand and Dsc of the item.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchItemCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the old five digit item code used with the MCL branch to     
identify an item.  This is Used to interface to detail files, systems
not converted to corporate item code and divisional users.           
It is sometimes referred to as Division Item Code.                   
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AltBranchItemCd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ManufacturerItemID" type="xs:string" default="" minOccurs="0">
				<xs:annotation>
					<xs:documentation>identifier provided by the manufacturer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WarehouseItemId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Item identifier in a warehouse system.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerItemID" type="xs:string" default="" minOccurs="0">
				<xs:annotation>
					<xs:documentation>identifier provided by the customer. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UPCID" type="UPC" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>upc identifier for the item, could be a case upc or retial scan upc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UPCComponents" type="UPCComponentsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="GTINID" type="xs:string" minOccurs="0"/>
			<xs:element name="OriginalCIC" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="10"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AltCIC" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="10"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrderQty" default="0">
				<xs:annotation>
					<xs:documentation>Total Nbr of units ordered.
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnitOfMeasurement" type="xs:string" default="" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ex: Cases, Each</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AltOrderQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the altered order quantity change made at 'Run' time
before the selection list was printed or changed during     
adjustment after picking.                                   
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RetailSectionCd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RestrictedDrugItemInd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RandomWeightCd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CaseWt" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>   Wt of a warehouse shipping unit (single case).
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CaseCubeVol" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Volume of the case cube, generally in cubic feet.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RetailUnitPackQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The number of shelf units in one warehouse unit.  The shelf unit for the 
retail unit pack is defined by the ROG and is the amount of units sold   
together. For instance, Retail unit pack would be 1 if an item is sold   
by the case, 4 (four 6-packs) for 6-pack UPC, 24 for single can UPC      
(24/case). The acronym RUP is sometimes used for Retail Unit Pack.       
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PackUnitQty" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Qty of shelf units in a warehouse unit, or pack for the item at 
a corStoreOrderrate level.  e.g. 24 shelf units in a warehouse case.             
All distribution centers will use this to keep their "24 packs"          
on the same item Cds.  Nbr of consumer units per warehouse shipping 
pack (or store receiving pack for DSD) with Descriptive Size, appears on 
Purchase Orders for warehoused items.                                    
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommissionInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This identifies items where the independent salesman will 
receive a commission                                      
Remark: Used in independent system only                   
                                                          
' ' - normal item,     'C' - commission item              
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorConvFactor" default="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Factor used to convert a vendor pack to a warehouse pack.                    
eg: If a Vendor's Master case is a 72 Pack and we want to ship 12's to Stores
then we have a warehouse Pack = 12 and a VEND-CONV-FCTR = 6.
                             
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemShelfUnitSize" type="xs:string" default="" minOccurs="0">
				<xs:annotation>
					<xs:documentation> The generic retail size of goods. It may be actual size
 Example: 340 g or a unit type (packet).                           
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InventoryCostAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation> This is the inventory cost used for calculating warehouse markdowns       
 determining the value of inventory. For an item with multiple lots it is  
 the inventory cost on the last lot received.                              
 
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemBillingCostAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the item billing cost of the item to Safeway stores, per 
warehouse unit (usually case) at date of delivery.               
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorUnitCostAmt" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the base cost charged by a vendor for the product for a vendor unit. It does not include allowances or discounts. VEND-CONV-FCTR is  used to convert the cost from a vendor pack to a warehouse pack.       
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnitPrice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>unit price of the item per unit Qty specified</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Amt" default="0" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="9"/>
									<xs:fractionDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PerQty" default="0" minOccurs="0">
							<xs:annotation>
								<xs:documentation>indicates per Qty side of the Amt.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="9"/>
									<xs:fractionDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RetailPriceAmt" minOccurs="0">
				<xs:annotation>
					<xs:documentation> This is the retail price charged to the customer for each     
 shelf unit, or if the price factor is > 1, for price factor   
 number of units. EG.  It is the ".99 cents" in "2/.99 cents". 
 It is also used as the over the limit price.                  
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="9"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PriceFactor" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the number of shelf items received for the price e.g. it is the 
"2" in "2/99 cents".                                                    
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="4"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PriceAreaCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Price areas are groups of stores within a ROG that have the same     
Pricing structure. This is the individual price area within the Price
Area group. 
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PromotionInd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemStatusCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the status of the order item.  Only valid and postbill items 
will be processed by the Process and Adjustment systems.  Statuses   
will be changed by the Edit, F/M, Process and Adjustment systems.    
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SpecialPriceInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>if an item is on special for this customer.
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemMessageTxt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GSTInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the tax classification of an item under the Goods and Services
Tax.
"B" = Basic Grocery,   "T" = Taxable,   "E" = Exempt                  
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FullPalletInd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FullCasePackInd" type="xs:integer" minOccurs="0"/>
			<xs:element name="FirmOrderNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Form orders are created by buyers in Firm order system for one time promotional items.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirmOrderSourceCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the source of a Firm Order. 
"F" = Firm Order Bulletin             
"D" = Firm Order Distribution         
" " = Not part of a Firm Order        
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirmOrderItemDistributionCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Firm Order Item Distribution code.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BottleDepositCd" type="xs:integer" minOccurs="0"/>
			<xs:element name="PalletHeight" type="xs:decimal" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nbr of layers of cases on a vendors pallet.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PalletLayerUnits" type="xs:decimal" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nbr of units that make up a layer on a vendors pallet.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderItemQty" default="0" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShippedItemQty" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="QtyUOM" type="xs:string" default="" minOccurs="0"/>
			<xs:element name="OrderVolumeQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>total cube</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShippedVolumeQty" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VolUOM" type="xs:string" default="Cube" minOccurs="0"/>
			<xs:element name="OrderPalletQty" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShippedPalletQty" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrderWtAmt" default="0" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShippedWtAmt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WtUOM" type="xs:string" default="Lbs" minOccurs="0"/>
			<xs:element name="Exceptions" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>To capture various kinds of exceptions in the order fulfillment by order management systems or warehouse fulfillment systems.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="ExceptionType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Type of exception like qty exception, item exception or schedule exeptions.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="CodeWithDescription">
										<xs:attribute ref="sequenceNbr" use="optional"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Exception" type="CodeWithDescription" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Code and description of the actual exception or discrepancy.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ExceptionCreateTs" type="xs:dateTime" minOccurs="0"/>
						<xs:element name="ExceptionCreatedUserId" type="xs:string" minOccurs="0"/>
						<xs:element name="ExceptionCreatedSystemId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>System that created the exception. Ex OMS,  EXE</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ExceptionQty" minOccurs="0">
							<xs:annotation>
								<xs:documentation>difference in order and plan to ship qty.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="14"/>
									<xs:fractionDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ChangeInExceptionQty" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Difference between previous exception qty and current exception qty.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="14"/>
									<xs:fractionDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ExceptionQtyUOM" type="xs:string" minOccurs="0"/>
						<xs:element name="ExceptionCommentTxt" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Substitutions" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>If ordered items are not available to ship, substituted items will be shipped to the stores and details of the substituted items and their quantites are captured here.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="SubstitutionType" minOccurs="0">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="CodeWithDescription">
										<xs:attribute ref="sequenceNbr" use="optional"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="SubstitutionItem" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Various types of item identifiers for the substituted item.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="CorporateItemCd" minOccurs="0"/>
									<xs:element name="ItemDsc" type="xs:string" default="" minOccurs="0">
										<xs:annotation>
											<xs:documentation>This is the Dsc of a warehoused item.  It contains the brand and Dsc of the item.
</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="WarehouseItemId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Item identiifer in warehouse system.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="BranchItemCd" minOccurs="0">
										<xs:annotation>
											<xs:documentation>This is the old five digit item code used with the MCL branch to     
identify an item.  This is Used to interface to detail files, systems
not converted to corporate item code and divisional users.           
It is sometimes referred to as Division Item Code.                   
</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ManufacturerItemID" type="xs:string" default="" minOccurs="0">
										<xs:annotation>
											<xs:documentation>identifier provided by the manufacturer</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CustomerItemID" type="xs:string" default="" minOccurs="0">
										<xs:annotation>
											<xs:documentation>identifier provided by the customer. </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="UPCID" type="UPC" minOccurs="0">
										<xs:annotation>
											<xs:documentation>upc identifier for the item, could be a case upc or retial scan upc.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="GTINID" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SubstitutionQty" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="14"/>
									<xs:fractionDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SubstitutionFactor" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="14"/>
									<xs:fractionDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SubstitutionCommentTxt" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Buyer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Party responsible for ordering the Items. It could be a Buyer, Forecaster or any other party.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BuyerType" type="CodeWithDescription" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Type of the buyer, buyer or forecaster</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BuyerId" type="xs:string" minOccurs="0"/>
						<xs:element name="BuyerNm" type="xs:string" minOccurs="0"/>
						<xs:element name="FacilityId" type="xs:string" minOccurs="0"/>
						<xs:element name="BuyerPhoneNbr" type="xs:string" minOccurs="0"/>
						<xs:element name="BuyerEmailId" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LineStatus" type="CodeWithDescription" minOccurs="0"/>
			<xs:element name="Reason" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Change/update reason code and description for each store order line item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommentTxt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RestrictedItemInd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrderLimitQty" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum order quantity to which an item can be ordered. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StoreOrderCreateFacility">
		<xs:annotation>
			<xs:documentation>Retail store Facility where store order has been created or issued. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Abs:CorporationId"/>
			<xs:element ref="Abs:DivisionId"/>
			<xs:element ref="Abs:RetailStoreId"/>
			<xs:element name="OrderGroupId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Could be a Retail Order Group(ROG) to order on behalf of group of stores or a Order Group in supply chain.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DistrictId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StoreOrderCreateFacilityAddress" type="Abs:AddressType" minOccurs="0"/>
			<xs:element name="StoreOrderCreateFacilityType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Store Order create facility type. ex store, plant.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerAccountNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Store order create facility account nbr as customer account nbr from order fulfillment party perspective (warehouse or DSD).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerDUNsNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Store order create facility DUNs nbr as customer DUNs nbr from order fulfillment party perspective (warehouse or DSD).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StoreOrderReceiveFacility">
		<xs:annotation>
			<xs:documentation>Facility that receives and fulfills the store order.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Abs:CorporationId" minOccurs="0"/>
			<xs:element ref="Abs:DivisionId" minOccurs="0"/>
			<xs:element ref="Abs:DistributionCenterId" minOccurs="0"/>
			<xs:element ref="Abs:WarehouseId" minOccurs="0"/>
			<xs:element ref="PhysicalWarehouseGroupId" minOccurs="0"/>
			<xs:element ref="Abs:ManufacturingPlantId" minOccurs="0"/>
			<xs:element name="DistrictId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Vendor" minOccurs="0">
				<xs:annotation>
					<xs:documentation>External Vendors may receive purchase orders from manufacturing plants or warehouses or stores for item procurement. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VendorId" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="VendorAlternateId" type="xs:string" minOccurs="0"/>
						<xs:element name="VendorNm" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StoreOrderReceiveFacilityNm" minOccurs="0"/>
			<xs:element name="StoreOrderReceiveFacilityAddress" type="Abs:AddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StoreOrderHeaderType">
		<xs:annotation>
			<xs:documentation>Contains all header level information of a Store Order.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StoreOrderCreateFacility" type="StoreOrderCreateFacility">
				<xs:annotation>
					<xs:documentation>Albertsons Retail store facility where a Store order has been created.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StoreOrderReceiveFacility" type="StoreOrderReceiveFacility">
				<xs:annotation>
					<xs:documentation>Albertsons internal facility or external Vendorr facility where a store order has been received for order fullfillment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StoreOrderMessageType" type="Abs:MessageType">
				<xs:annotation>
					<xs:documentation>Store order or forecasted store order</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StoreOrderNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An Id created by the authoring system that uniquely represents a store order document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StoreOrderDt" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the date the store order was received and updated in EXE.                                                     
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurchaseOrderNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number created by the authoring system that uniquely represents a purchase order for DSD orders.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PurchaseOrderDt" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date of the purchase order (specifically for DSD Vendor orders).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurchaseOrderReleaseDt" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date of which the order has been transmitted (specifically for DSD Vendor orders).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurchaseOrderEdiTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date the order was submitted to EDI.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StoreOrderAltNbr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Alternate store order number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderStatus" type="Abs:StatusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> This is the current status of the order, indicating at which  
 stage the order is in the order process.                      
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderScheduleStatusCd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation> This field indicates when  the  order was received according to  the order schedule;  ie: it  indicates whether the order   
 was received late  or  if it was received totally outside of  the normal scheduled time, making it unscheduled.              
                                                           
 "S" = Scheduled                                                
 "U" = Unscheduled                                              
 "L" = Late                                                     
 "E" = Early                                                    
 "A" = Add To order                                             
 "B" = Add To order which was late                              
 "F" = Scheduled Firm Order                                     
 "G" = ????                                                     
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderDestinationType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the type of destination facility placing the order. 
"R" = retail                                                
"I" = independent                                           
"W" = warehouse transfer (current system uses adjustments)  
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderTypeCd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Regular, Rush, Firm and System CGO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InventoryRunNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This number is assigned to all orders within the same         
Inventory Group that are submitted together for Inventory     
processing.  It is used by the Inventory processing programs  
to identify which orders are to be processed together.        
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InventoryGroupNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This number is assigned to one or more CICS userids from the   
same division.  All users in an inventory group will be        
responsible for processing orders for the same set of          
warehouses.                                                    
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestedShipDtTm" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and time on which delivery of shipment is required by the buyer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PickingDocumentNbr" type="xs:integer" minOccurs="0"/>
			<xs:element name="ScheduledPickDt" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the date this order will be picked by warehouse  
personnel for delivery to Safeway stores or Independents 
customers, as per the DPATS schedule.                    
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduledShipDt" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="ScheduledDeliveryDt" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the date the order will arrive at the Safeway store  
or Independents customer when it is delivered from the whse, 
as per the DPATS schedule.  Stores are billed for the items  
they've ordered based on this date.                          
                                                             
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduledDeliveryWeekNbr" type="xs:integer" minOccurs="0"/>
			<xs:element name="ProcessDt" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Process date and time of the store order.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CutoffTs" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Cutoff date and time is the time when the Store is releasing the orders to Order management system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillingDt" type="xs:date" minOccurs="0"/>
			<xs:element name="ScheduleStopNbr" type="xs:integer" minOccurs="0"/>
			<xs:element name="OrderConfirmationNbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is a confirmation number for each order received    
at the ACCA2 from the handheld. It is a sequential number
assigned by the ACCA2, and is part of the ACCA2 header   
record sent to the host in the file transfer.            
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrderSourceInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>code to indicate the origin of an order. 
values : 'fo' - firm order               
'co' - com order                         
'ex' - expres                            
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DataBatchCd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This identifies a particular type of transmission sent from a store   
(destination facility) to the host. The first two characters of the   
data batch specify the data category; ie. order, firm order, markdown,
inventory, etc. The second two characters specify the data type; ie.  
grocery, tobacco, etc.                                                
Databatch 0101 = GROCERY ORDER
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BatchCd" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Batch code groups stores that will be released together in 
the same RUN for printing selection lists.                 
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderDeliveryNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This column identifies the order delivery number for a batch when  
there is more than one order for the same batch ordered at the same
time but delivered on separate dates.                              
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteCd" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The route code is the order the stores are picked and is different by store.                                     
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlanRouteNbr" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation> A grouping code for trucking used in determining the 
 trucking order group (TOG) for the truck's PC system.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RestrictedItemsInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>indicates whether an order contains slow moving or restricted items.                                                     
values 'Y'/'N'                                               
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FirmOrderDayInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Day of the week when Firm Orders will be sent to the
Tandem.                                             
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FirmOrderReleaseDt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element represents the date firms should start release for processing at the warehouse.                                         
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduleOverrideInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Override indicator. Values are: I – ignore schedule. The order will be processed today
N – use Next DPATS schedule date – mainly used when there is a route code schedule and they want to have to go with their regular store order. 
Blank – there are no overrides, use the schedules as per normal
                                        
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SeparateSelectionListInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This field identifies firm order items to be placed on a separate selection list from the regular store order.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PharmacyReferencePOId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Buyer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Party responsible for ordering the Items. It could be a Buyer, Forecaster or any other party.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BuyerType" type="CodeWithDescription" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Type of the buyer, buyer or forecaster</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BuyerId" type="xs:string" minOccurs="0"/>
						<xs:element name="BuyerNm" type="xs:string" minOccurs="0"/>
						<xs:element name="FacilityId" type="xs:string" minOccurs="0"/>
						<xs:element name="BuyerPhoneNbr" type="xs:string" minOccurs="0"/>
						<xs:element name="BuyerEmailId" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Vendor" type="StoreOrderVendor" minOccurs="0">
				<xs:annotation>
					<xs:documentation>It can have information about Vendor, Vendor Sub Account or Warehouse Vendor Sub account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Supplier" type="StoreOrderSupplier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains goods supplier information. It could be same as one of hte vendor locations or external party to the vendor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PotentialSupplier" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Potential suppliers from which an order can be sourced from. The potential supplier could be a warehouse, plant or dsd vendor.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SupplierType" type="CodeWithDescription" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Type of hte supplier, warehouse, DSD, plant.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="VendorId" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="VendorSubAccountNbr" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="BackdoorVendorSubAccountId" nillable="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This field is used for the BDR (Back Door Receiving) system, to identify a unique vend_num, vend_sub_acnt, markon type, terms id, and usage type to the store level BDR system.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element ref="ManufacturingPlantId" minOccurs="0"/>
						<xs:element ref="WarehouseId" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ShipTo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Final destination of the goods shipped.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ShipToFacilityId" type="xs:string" minOccurs="0"/>
						<xs:element name="ShipToFacilityNm" type="xs:string" minOccurs="0"/>
						<xs:element name="ShipToDUNSNbr" type="xs:string" minOccurs="0"/>
						<xs:element name="ShipToContact" minOccurs="0" maxOccurs="2">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ContactNm" type="xs:string" minOccurs="0"/>
									<xs:element name="PhoneNbr" type="xs:string" minOccurs="0"/>
									<xs:element name="EmailAddresstxt" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ShipToAddress" type="AddressType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BillTo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Party resStoreOrdernsible for the payment as per StoreOrder terms.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BillToFacilityId" type="xs:string" minOccurs="0"/>
						<xs:element name="BillToFacilityNm" type="xs:string" minOccurs="0"/>
						<xs:element name="BillToDUNSNbr" type="xs:string" minOccurs="0"/>
						<xs:element name="BillToContact" minOccurs="0" maxOccurs="2">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ContactNm" type="xs:string" minOccurs="0"/>
									<xs:element name="PhoneNbr" type="xs:string" minOccurs="0"/>
									<xs:element name="EmailAddresstxt" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="BillToAddress" type="AddressType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StoreOrderCreateDt" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date on which the StoreOrder has been created in the source system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StoreOrderCreatedBy" type="xs:string" default="" minOccurs="0"/>
			<xs:element name="TransportationTerms" type="TransportationTermType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines tranStoreOrderrtation terms like inco terms details.
ex FOB, CIS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarrierEquipment" type="Abs:CarrierEquipment" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Contains information related to carrier for the goods transStoreOrderrtation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StoreOrderComments" minOccurs="0" maxOccurs="30">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="Type" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="StoreOrderInstructions" minOccurs="0" maxOccurs="30">
				<xs:annotation>
					<xs:documentation>Instructions to vendors and suppliers</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="Type" type="xs:string">
								<xs:annotation>
									<xs:documentation>either deivery instructions or warehouse instructions or any other type of instructions.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReceivingAppointment" type="ReceivingAppointmentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Appointment details for shipment receiving.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnitLoad" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines load unit type.
01 = PALLETIZED
02 = FLOOR STACK/HAND PILE
03 = MIXED
04 = SLIP SHEET
05 = MODULE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoadId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A unique system generated identifier for a Load. When requesting a     
produce item, it is required that building loads and assigning produce 
items to a load be done before a requisition can be sent.              </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhysicalInventoryInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is used to indicate if the specified warehouse is performing a physical inventory.                            
This is used when the warehouse is taking an inventory.
 If data to be submitted to SSD001 should not be reflected in   
the inventory count, this indicator must not be set to Y.   
This indicator will only effect orders, receivings, receiving adjustments and inventory adjustments.            
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PharmacyInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Indicates if the store/customer has a pharmacy.  Only    
 stores with pharmacies can order restricted drug items   
 "Y" = Selling facility has a pharmacy                    
 " " = Selling facility does not have a pharmacy          
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginModeInd" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Indicates the mode of origin for this order, IE. how this 
 order was entered into the system.    
 "0" = Online entry                                        
 "1" = 4680 transmission                                   
 "2" = ACCA2 (TELXON only for Indp; B/Up mode for Safeway) 
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalOrderItemQty" default="0" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalShippedItemQty" type="xs:integer" minOccurs="0"/>
			<xs:element name="QtyUOM" type="xs:string" default="" minOccurs="0"/>
			<xs:element name="TotalOrderVolumeQty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>total cube</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalShippedVolumeQty" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VolUOM" type="xs:string" default="Cube" minOccurs="0"/>
			<xs:element name="TotalOrderPalletQty" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalShippedPalletQty" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalOrderWtAmt" default="0" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalShippedWtAmt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EstimateAvailableDt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caucalated by system of record based on process date and offset days.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffsetDaysNbr" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of days from the day items were picked up to the day items will be available on store shelf.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WtUOM" type="xs:string" default="Lbs" minOccurs="0"/>
			<xs:element name="OrgMasterNameType" type="OrgMasterNameType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StoreOrderVendor">
		<xs:annotation>
			<xs:documentation>Contains vendor information related to the Store Order</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VendorId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorSubAccountNbr" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorNm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BackdoorVendorSubAccountId" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This field is used for the BDR (Back Door Receiving) system, to identify a unique vend_num, vend_sub_acnt, markon type, terms id, and usage type to the store level BDR system.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorDUNSNbr" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorContact" minOccurs="0" maxOccurs="2">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContactNm" type="xs:string" minOccurs="0"/>
						<xs:element name="PhoneNbr" type="xs:string" minOccurs="0"/>
						<xs:element name="EmailAddresstxt" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Address" type="AddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StoreOrderSupplier">
		<xs:annotation>
			<xs:documentation>Contains supplier information related to the Store Order</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SupplierId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SupplierNm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SupplierDUNSNbr" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SupplierType" type="CodeWithDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of hte supplier, warehouse, DSD, plant.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplierContact" minOccurs="0" maxOccurs="2">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContactNm" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PhoneNbr" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="EmailAddresstxt" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Address" type="AddressType" minOccurs="0"/>
			<xs:element name="PaymentMethod" type="CodeWithDescription" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>